
<footer style="background-color:#f2f2f2;padding: 30px 0;min-height:20em;">
<div style="width: 80%;margin:0 auto;>

<div class="col-md-12 col-sm-12 col-xs-12 bg-default">

<div class="row">
<div class="col-md-4 col-sm-12" style="">
    
 <!--<img src="/assets/images/applinic1.png" alt="Applinic" class="logo">-->



 <div class="list-group" style="background:transparent; padding-bottom: 20px;">
 <div class="title text-uppercase pl-0">Get in touch</div>
  <a href="" class="list-group-item list-group-item-action">
   We specialize in offering help to find your best medical solution online.
  </a>
  <!--<p class="list-group-item list-group-item-action"><b><i class="fa fa-globe"></i></b> &nbsp; 1 Nwodo street GRA Enugu,<span style="display:block"> Enugu State, Nigeria</span></p>-->
  <p class="list-group-item list-group-item-action"><b><i class="fa fa-envelope"></i></b> &nbsp;info@applinic.com</p>
  <div class="pt-1" style="font-size: 22px">
    <i class="fa fa-facebook"></i> &nbsp;&nbsp;
    <i class="fa fa-twitter"></i> &nbsp;&nbsp;
    <i class="fa fa-google"></i> &nbsp;&nbsp;
  </div>
  
</div>



</div>
<div class="col-md-5 col-sm-12 " style="float:left;">
    <div class="title text-uppercase pl-0">Featured Doctors</div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="assets/images/mrs.jpg"  class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
    <div class="col-md-12 pull-left text-capitalize  p-0">Dr. Jennifer Peters, MD 
   </div><br><sub class="text-muted text-bold m-0">Pediatrician</sub>
    
    </div></div>
</div>


<div class="dropdown-divider m-0"></div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="assets/images/mrT.jpg"  class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
 <div class="col-md-12 pull-left text-capitalize  p-0">Dr. Emeka Okafor, MD
   </div> <br>
   <sub class="text-muted text-bold m-0">General Surgeon</sub>

</div></div>
</div>

</div>

<div class="clearfix"></div>
    <div class="col-md-3 col-sm-12 col-xs-12" style="float:left;">
         <div class="title text-uppercase p-0">Useful links</div>

         <div class="list-group ">
  <!--<a href="" class="list-group-item list-group-item-action">About</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action">Lastest Blog</a>-->
    <a href="/Studyshare&Teleradiology" class="list-group-item list-group-item-action">Study Share and Teleradiology</a>
    <a href="/contact" class="list-group-item list-group-item-action">Contact Us</a>
    <a href="/terms" class="list-group-item list-group-item-action">Terms and Conditions</a>
    <a href="/privacy" class="list-group-item list-group-item-action">Privacy Policy</a>
    <!--<a href="#" class="list-group-item list-group-item-action">Feedback</a>
    <a href="#" class="list-group-item list-group-item-action">Be a Partner</a>
    <a href="#" class="list-group-item list-group-item-action">Pool Patients</a>
    <a href="#" class="list-group-item list-group-item-action">Drug Representatives</a>-->
    <a href="/how-it-works" class="list-group-item list-group-item-action">How it works</a>
</div>
    </div>

</div>
</div>

</div>
</footer>
