 <footer class="footer">
            <div class="container">
                <nav style="font-size: 14px;color:#ccc;text-transform:capitalize">
                    <ul>
                        <li>
                            <a href="/">
                                Applinic
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                Privacy Policy
                            </a> |
                            <a href="/terms">
                                Terms of service
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                unsubscribe
                            </a>
                        </li>
                       </ul>
                </nav>
                <div class="copyright" style="font-size: 14px;color:#ccc;text-transform:capitalize">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Applinic All rights reserved.
                </div>
                <!--<form action="/test">
                    <input type="text" name="phone">
                    <input type="submit" value="send">
                </form>-->
            </div>
        </footer>