<div class="col-md-12 col-sm-12 col-xs-12 bg-default pt-4" style="min-height:20em;">

<div class="row"  style="min-height:15em;">
<div class="col-md-4 col-sm-12" style="float:left;">
    
 <!--<img src="/assets/images/applinic1.png" alt="Applinic" class="logo">-->



 <div class="list-group" style="background:transparent; border:0;">
  <a href="" class="list-group-item list-group-item-action">
   We specialize in offering help to find your best medical solution.
  </a>
  <p class="list-group-item list-group-item-action">1 Nwodo street GRA Enugu, Enugu State, Nigeria</p>
  <p class="list-group-item list-group-item-action">info@applinic.com</p>
 
  
</div>



</div>
<div class="col-md-4 col-sm-12 " style="float:left;">
    <div class="title text-uppercase pl-0">Featured Doctors</div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="assets/images/mrs.jpg"  class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
    <div class="col-md-12 pull-left text-capitalize  p-0">Dr. Jennifer Peters, MD 
   </div><br> <sub class="text-muted text-bold m-0">Pediatrics Medicine</sub>
    
    </div></div>
</div>


<div class="dropdown-divider m-0"></div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="assets/images/mrT.jpg"  class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
 <div class="col-md-12 pull-left text-capitalize  p-0">Dr. Emeka Okafor, MD
   </div><br> <sub class="text-muted text-bold m-0">General Surgeon</sub>

</div></div>
</div>

</div>

<div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="float:left;">
         <div class="title text-uppercase p-0">Useful links</div>

         <div class="list-group ">
  <!--<a href="" class="list-group-item list-group-item-action">About</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action">Lastest Blog</a>-->
 
    <a href="/contact" class="list-group-item list-group-item-action">Contact Us</a>
    <a href="/terms" class="list-group-item list-group-item-action">Terms and Conditions</a>
    <a href="/privacy" class="list-group-item list-group-item-action">Privacy policy</a>
    <!--<a href="#" class="list-group-item list-group-item-action">Feedback</a>
    <a href="#" class="list-group-item list-group-item-action">Be a Partner</a>
    <a href="#" class="list-group-item list-group-item-action">Pool Patients</a>
    <a href="#" class="list-group-item list-group-item-action">Drug Representatives</a>-->
    <a href="/how-it-works" class="list-group-item list-group-item-action">How it works</a>
</div>
    </div>

</div>
</div>
