<style>
.list-group-item{
    font-size: .8em;
    padding: 10px 10px 10px 5px;
    margin: 0;
}

 .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

        .list-group-item{
            background: transparent;
            border:0;
        }

        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .navbar-transparent{
            background:rgba(0,0,0,0.4) !important;
           
        }

        .dropdown-item{
text-transform: uppercase;
padding:10px 10px;
 border-bottom:1px solid rgba(0,0,0,.5);
 color:#000;
 font-size: .8em;
        }

 .dropdown-item:hover{
 background: #71BB52;
     color:#555;
     text-transform: uppercase;
 }

 .card{
     border-radius: 10px;
 }

 .all .card img{
     margin-bottom:30px;
 }


</style>

<nav class="navbar navbar-toggleable-md bg-white" color-on-scroll="500" style="margin-bottom: 0">
        <div class="container">
            <div class="navbar-translate"><span class="text-warning pull-right mr-5 mt-2 hidden-md-up" style="display:inline-block;text-shadow:1px 1px 1px #85CE36">START</span>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" > 
                    <span class="navbar-toggler-bar bar1" style="background-color:orange!important;box-shadow:1px 1px 1px #85CE36"></span>
                    <span class="navbar-toggler-bar bar2" style="background-color:orange!important;box-shadow:1px 1px 1px #85CE36"></span>
                    <span class="navbar-toggler-bar bar3" style="background-color:orange!important;box-shadow:1px 1px 1px #85CE36"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/Logo.png" alt="Applinic">
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="assets/img/blurred-image-1.jpg">

                <ul class="navbar-nav  no-mobile-item-display" style="width: 90%; margin: 0 auto;" ng-cloak>
                    <li class="nav-item" style="margin-left: 20px">   
                        <a href="/find-doctors?" class="btn btn-simple"> <i class="fa fa-comments"></i> Chat with Live Physician</a> 
                    </li>

                    <li class="nav-item">
                         <a href="/find-drugs?" class="btn btn-simple"><i class="icon-Pills"></i> Buy Drugs &amp; Kits</a> 
                    </li>

                    <li class="nav-item">
                        <i class="fa fa-stethescope"></i> <a href="/covid-19" class="btn btn-simple"><i class="fa fa-search-lens"></i>Covid-19 Screening Test</a> 
                    </li>

                     <li class="nav-item">
                        <a href="/symptom-checker" class="btn btn-simple">Symptoms Checker</a> 
                    </li>

                    <li class="nav-item" ng-if="invest.type == 'radio'">
                        
                        <input type="text" placeholder="Enter Study ID or Accession No. or Reference No." style="width: 300px;padding:5px;border-radius: 3px;border:none" ng-model="invest.id"> <button class="btn btn-neutral" style="padding:5px;font-size:18px" ng-click="findInvestigation()"><i class="fa fa-search"></i></button>
                           
                    </li>

                    <li class="nav-item" ng-if="invest.type == 'lab'">
                        
                        <input type="text" placeholder="Enter Test Reference No." style="width: 300px;padding:5px;border-radius: 3px;border:none" ng-model="invest.id"> <button class="btn btn-neutral" style="padding:5px;font-size:18px" ng-click="findInvestigation()"><i class="fa fa-search"></i></button>
                           
                    </li>                   
                </ul>
                   


<div class="dropdown hidden-md-down">
<button class="btn btn-warning btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="/login">Login</a>

<a class="dropdown-item" href="/signup">Signup</a>

        <!--<a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>-->
        <a class="dropdown-item" href="/find-doctors">Find Specialists</a>
         <a class="dropdown-item" href="/find-laboratory">Find Laboratory Tests &amp; Centers</a>
        <a class="dropdown-item" href="/find-radiology">Find Radiology Tests &amp; Centers</a>
        
        <!--<a class="dropdown-item" href="/find-drugs">Buy Drugs and Kits</a>
        <a class="dropdown-item" href="/symptom-checker">Symptoms Checker</a>
        <a class="dropdown-item" href="/covid-19">Covid-19 Screening Test</a>-->
        <!--<a class="dropdown-item" href="/find-laboratory">Find Laboratory Tests </a>-->
<a class="dropdown-item" href="/how-it-works">How it works</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>
        <a href="/Studyshare&Teleradiology"  class="dropdown-item">Study Share and Teleradiology</a>
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>
</div>

<div class=" hidden-md-up">

   
<a class="dropdown-item" href="/login">Login</a>

<a class="dropdown-item" href="/signup">Signup</a>

        <!--<a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>-->
        <a class="dropdown-item" href="/find-doctors">Chat with Live Physicians</a>
        <a class="dropdown-item" href="/covid-19">Covid-19 Screening Test</a>
        <a class="dropdown-item" href="/find-laboratory">Find Laboratory Tests &amp; Centers</a>
        <a class="dropdown-item" href="/find-radiology">Find Radiology Tests &amp; Centers</a>
        <a class="dropdown-item" href="/find-doctors">Find Specialists</a>
        <a class="dropdown-item" href="/find-drugs">Buy Drugs and Kits</a>
        <a class="dropdown-item" href="/symptom-checker">Symptoms Checker</a>
        
<a class="dropdown-item" href="/how-it-works">How it works</a>
<a href="/Studyshare&Teleradiology"  class="dropdown-item">Study Share and Teleradiology</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>



            </div>
        </div>
    </nav>