<nav class="navbar navbar-toggleable-md bg-primary fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="/">
                   <img src="/assets/images/applinic1.png" alt="Applinic" class="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="assets/img/blurblue-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <p>Home</p>
                           </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/how-it-works">
                            <p>How it works</p>
                        </a>
                    </li>
                   <!-- <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>Top Ranking</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>blog</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>packages</p>
                        </a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">
                            <p>Contact</p>
                        </a>
                    </li>
                  </ul>
                         <a href="/login" class="get-user" style="color:#f96332;background-color:#fff">
                           Login
                        </a>
                
                        <a href="/signup" class="get-user" style="background-color:#f96332">
                           Sign up
                        </a>
                     </div>
        </div>
    </nav>