
<style>
.list-group-item{
    font-size: .8em;
    padding: 10px 10px 10px 5px;
    margin: 0;
}

 .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

        .list-group-item{
            background: transparent;
            border:0;
        }

        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .navbar-transparent{
            background:rgba(0,0,0,0.4) !important;
           
        }

        .dropdown-item{
text-transform: uppercase;
padding:10px 10px;
 border-bottom:1px solid rgba(0,0,0,.5);
 color:#000;
 font-size: .8em;
        }

 .dropdown-item:hover{
 background: #71BB52;
     color:#555;
     text-transform: uppercase;
 }

 .card{
     border-radius: 10px;
 }

 .all .card img{
     margin-bottom:30px;
 }
</style>
<nav class="navbar navbar-toggleable-md bg-primary fixed-top" >
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="/">
                   <img src="/assets/images/applinic1.png" alt="Applinic" class="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="assets/img/blurblue-image-1.jpg">
               
                   

<div class="dropdown hidden-md-down">
<!--<button class="btn btn-warning btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        START
    </button>-->
    <a  href="/login" class="btn btn-warning btn-block">Login</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="/login">Login</a>

<a class="dropdown-item" href="/signup">Signup</a>

        <!--<a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>-->
<a class="dropdown-item" href="/how-it-works">How it works</a>
<a href="/Studyshare&Teleradiology"  class="dropdown-item">StudyShare and Teleradiology</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>
</div>

<div class=" hidden-md-up">

   
<a class="dropdown-item" href="/login">Login</a>

<a class="dropdown-item" href="/signup">Signup</a>

        <a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>
<a class="dropdown-item" href="/how-it-works">How it works</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>



            </div>
        </div>
    </nav>