<style>
.list-group-item{
    font-size: .8em;
    padding: 10px 10px 10px 5px;
    margin: 0;
}

 .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

        .list-group-item{
            background: transparent;
            border:0;
        }

        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .navbar-transparent{
            background:rgba(0,0,0,0.4) !important;
           
        }

        .dropdown-item{
text-transform: uppercase;
padding:10px 10px;
 border-bottom:1px solid rgba(0,0,0,.5);
 color:#000;
 font-size: .8em;
        }

 .dropdown-item:hover{
 background: #71BB52;
     color:#555;
     text-transform: uppercase;
 }

 .card{
     border-radius: 10px;
 }

 .all .card img{
     margin-bottom:30px;
 }

 .medical-record > span {
   font-size:13px
 }

 .medical-record {
    padding: 5px 5px!important;
    width: 110px
 }


</style>

<nav class="navbar navbar-toggleable-md bg-primary fixed-top  navbar-transparent" color-on-scroll="500"  >
        <div class="container">
            <div class="navbar-translate"><!--<span class="text-white pull-right mr-5 mt-2 hidden-md-up" style="display:inline-block;">Manage</span>-->

                <a class="navbar-brand" href="/">
                    <img src="/assets/images/applinic1.png" alt="Applinic" class="logo no-mobile-item-display">
                    <img src="/assets/images/logo.png" alt="Applinic" class="logo mobile-item-display">
                </a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" > 
                    <span class="navbar-toggler-bar bar1" style="background-color:orange!important"></span>
                    <span class="navbar-toggler-bar bar2" style="background-color:orange!important"></span>

                    <span class="navbar-toggler-bar bar3" style="background-color:orange!important"></span>
                     <span class="navbar-toggler-bar bar2" style="background-color:orange!important"></span>
                </button>
               
               
            </div>
            <div class="collapse navbar-collapse" id="navigation" data-nav-image="assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav no-mobile-item-display" style="width: 90%; margin: 0 auto;" ng-cloak>
                    <li class="nav-item">                       
                     <a href="" class="btn btn-simple text-primary btn-round medical-record"  ng-click="appointments()" title="Give patient In-person meeing appointment"><span>Appointment</span></a>                           
                    </li>

                    <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="chart()">
                       <span>Vitals BP,BS...</span></a>
                           
                    </li>

                      <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="prescriptionModal()" title="Write prescription or view previous ones"><span>Prescription</span></a>
                           
                    </li>

                    <li class="nav-item">
                       
                      <a href="" class="btn btn-simple text-primary btn-round medical-record"  ng-click="laboratoryModal()" title="Request new Laboratory Investigation or view reports"><span>Laboratory</span></a>
                           
                    </li>

                     <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record"  ng-click="radiologyModal()" title="Request new Radiology Investigation or view reports"><span>Radiology</span></a>
                           
                    </li>

                  

                    <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="ultrasoundModal()" title="Write prescription or view previous ones"><span>Ultrasound</span></a>
                           
                    </li>

                    <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="ecgModal()" title="Write prescription or view previous ones"><span>ECG</span></a>
                           
                    </li>

                    <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="endoscopyModal()" title="Write prescription or view previous ones"><span>Endoscopy</span></a>
                           
                    </li>

                    <li class="nav-item">
                        
                       <a href="" class="btn btn-simple text-primary btn-round medical-record" ng-click="otherProceduresModal()" title="Write prescription or view previous ones"><span>Other Procedure</span></a>
                           
                    </li>


                  

                    

                    <!--<li class="nav-item">
                        
                       <button class="btn btn-simple text-primary btn-round" ng-click="managePatient('dashboard')">Dashboard</button>
                           
                    </li>-->
                    
                    
                    </ul>

                   


<div class="dropdown hidden-md-down">

<!--<button class="btn btn-warning btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clerk
    </button>-->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="/login">Login</a>

<a class="dropdown-item" href="/signup">Signup</a>

        <!--<a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>-->
<a class="dropdown-item" href="/how-it-works">How it works</a>
<a href="/Studyshare&Teleradiology"  class="dropdown-item">Study Share and Teleradiology</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>        
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>
</div>

<div class=" hidden-md-up">

   

<div>
<a class="dropdown-item" href="" ng-click="managePatient('appointment')" >Appointment</a> <!-- user navbar-toggler to close modal -->
<a class="dropdown-item" href="" ng-click="managePatient('vitals')">Vitals</a>
<a class="dropdown-item" href="" ng-click="managePatient('prescription')">Prescription</a>

<a class="dropdown-item" href="" ng-click="managePatient('laboratory')">Laboratory</a>
<a class="dropdown-item" href="" ng-click="managePatient('radiology')">Radiology</a>
<a class="dropdown-item" href="" ng-click="managePatient('ultrasound')">Ultrasound</a>
<a class="dropdown-item" href="" ng-click="managePatient('ecg')">ECG</a>
<a class="dropdown-item" href="" ng-click="managePatient('endoscopy')">Endoscopy</a>
<a class="dropdown-item" href="" ng-click="managePatient('other')">Other Procedure</a>


<a class="dropdown-item" href="" ng-click="managePatient('switch')">Switch To Video/Audio </a>

<a class="dropdown-item text-warning" href="" ng-click="managePatient('dashboard')">Go to Dashboard</a>
</div>






        <!--<a class="dropdown-item" href="/signup">Need Doctor</a>

        <a class="dropdown-item" href="/signup">Need Help</a>
<a class="dropdown-item" href="/how-it-works">How it works</a>
        <a class="dropdown-item" href="/contact">Contact Us</a>
        <a href="" class="dropdown-item" ng-click="logout()" ng-if="checkLogIn"> Log out</a>
    </div>-->



            </div>
        </div>
    </nav>