<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />   
   
    <title>APPLINIC - About Us</title>    
</head>

<body style="">


<div class="wrapper" style="height:90px;"></div>
<div>
    
<div class="container mt-3 pt-2">
    <div style="line-height: 25px;font-size: 18px;padding: 20px">
        <h4>ABOUT US</h4>
        <p>
          Applinic is a global platform for the delivery of telehealthand management of patients’ health information. It is a web and mobile application with multi-disciplinary interfaces and unique tools and services for different health providers including physicians, clinics, hospitals, diagnostic centers and pharmacies. It also delivers a user-friendly interface to the patient for finding providers, accessing care and archiving medical records. 
        </p>

        <p>
          The telehealth services available on the platform include tele-consultation, tele-monitoring, telediagnosis and telepharmacy including electronic prescription. 
        </p>

        <h6 class="h6 text-muted">Teleconsultation</h6>

        <p>
          Patients can find physicians on the platform by specialty, by complaints or by name and initiate communication with them via instant messaging chat. When physicians accept consultation requests from patients, the system opens other communication lines such as audio and video consultation. Applinic audio and video consultations have inbuilt clerking page which enables physicians write during the consultation. Third parties can also be invited for a video conference.
        </p>

        <h6 class="h6 text-muted">Telemonitoring</h6>

        <p>
          Patients who have measuring devices for blood pressure, sugar and temperature can record their daily or regular measurements in their mobile apps for their physicians to review at any time during clinics and off consultation periods. The date filters and  graphical display of the measured readings enable the reviewer appreciate the patterns at a glance and easily make decisions that will save lives or prevent complications. Applinic Tele-monitoring service powers an algorithm based notification which senses abnormal readings based on preset WHO reference ranges and notifies the physician for appropriate response. 
        </p>

         <h6 class="h6 text-muted">Telediagnosis</h6>

         <p>
           Physicians can use the platform to request diagnostic laboratory, radiology and cardiac investigations for their patients. The diagnostic centers can also send the results and reports to the referring physician and patients through the platform. Digital X-ray images, CT scan and MRI can be viewed by both physician and patient using the inbuilt web and mobile DICOM Viewer.   
         </p>

         <h6 class="h6 text-muted">Telepharmacy</h6>
         <p>
           Physicians can use Applinic to write electronic prescriptions for their patients who either pick up the drugs at designated pharmacies or enjoy delivery where the service is available. E-prescriptions reduce errors of drug dispensing from doctors’ bad hand writing, keep records of patients drug history and facilitates search of drugs in cities.  
         </p>

         <h5 class="mt-5">The Founders</h5>
         <div>
            <label><b>Dr Chimaroke Udeichi</b> - <span class="text-primary">Founder and CEO</span></label>
            <p>
              Dr Chimaroke Udeichi is the founder and CEO of Applinic is a medical radiographer (B.Sc) and medical doctor (MBBS) whom despite his dual clinical professions is still pursuing his passion and dream to advance the healthcare system in Africa and make it more accessible through the use and application of technology. 
              He is also the founder and CEO of Digimed Solutions Ltd which pioneered the digitization of radiology departments in Nigeria installing over 50 Computed Radiography Systems in private and government hospitals. This company installed the first Picture Archiving and Communication Systems (PACS) in the country - a system that connects digital radiology imaging modalities such as digital X-ray machines, Computed Radiography Systems, DICOM ultrasound machines, CT scans and MRIs to a DICOM PACS server for distribution of images to clinics, wards and theatres in the hospital.  This was done in at least 10 of the foremost government tertiary hospitals in Nigeria including University College Hospital Ibadan, ObafemiAwolowo teaching Hospital Ile-Ife, Ahmadu Bello University Teaching Hospital Zaria and Aminu Kano Teaching Hospital Kano between 2007 and 2014.
              He is also the Managing Director of Farelands Information Technology Ltd, an ICT firm that built custom applications such as Tradefairlive - an e-commerce site for tradefairs in Nigeria, Lands2homes - a real estate application, ARC - an Education Management Information System and FastGov – an e-government application for using web and mobile devices for accessing government services.
            </p>
            <br>
            <label><a href="https://www.linkedin.com/in/gcamon" style="color: #000"><b>Mr Ede Obinna</b></a> - <span class="text-primary">co-Founder and CTO - Full Stack Developer</span></label>
            <p>
             Mr Ede Obinna the co-founder and lead developer of Applinic. He is a well trained full stack programmer with proficiency in JavaScript, PHP, Node JS, MongoDB, MySQL, HTML/CSS and other programming languages. He obtained his professional degree in Surveying and Geoinformatics from University of Nigeria. He has years of experience in linux server management, security, Online PACS systems, web, mobile and medical software application development. 
            </p>
            <br>
            <label><b>Engr Chuma Ani </b> - <span class="text-primary">Hardware Engineering Director</span></label>
            <p>
                Engr Chuma Ani is the senior ICT engineer and a programmer, proficient in the use of MS.NET, MS-Visual Basic, VBscript, HTML, DHTML and ASP. He is skilled in the use of MS FrontPage, Dream weaver, Hot metal, MS InterDev, Personal web server   and IIS.
              He is also very experienced in computer hardware, networks and is conversant with all Microsoft Operating systems.
              He is the factor behind the deployment in the hospitals health information systems such as Picture Archiving and Communications Systems (PACS), Radiology Information Systems (RIS) and configuration of modalities such as CR, DR, CT, and MRI to PACS.
            </p>

            <br>
            <label><b>Board of Clinical Advisors</b></label>
            <ul>
              <li>Professor Kenneth Eze</li>
              <li>Dr Emmanuel Okere</li>
              <li>Dr Obinna Ozigbo</li>
              <li>Dr Ngozi Okoro</li>
              <li>Dr Buogo Oyakhire</li>
             
            </ul>

         </div>
    </div>
</div>

</body>

</html>