<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Applinic</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<!--<link rel="stylesheet" href="/assets/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/transitions.css">
	<link rel="stylesheet" href="/assets/css/color.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	 <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">

	 <script src="/assets/js/vendor2.js"></script>
     <script type="text/javascript" src="/assets/js/source.js"></script>


     <style type="text/css">
     	
     	.info-pallet {
     		display: inline-block!important;
     	}

     	a {
     		color: #000;
     	}

     	h3,h4 {
     		border:none;
     		color: rgba(0,0,0,0.6)!important;
     	}

     	.user{
     		display: block;
     		width: 100%;
     		height: 100%;
     		border-left: 1px solid grey;
     		border-right: : 1px solid grey;
     	}

     	.issues {
     		line-height: 25px;
     		width: 80%;
     		margin: 0 auto;
     		list-style: none;
     	}

     	.issues li {
     		padding: 10px;
     		font-size: 14px;
     	}

     </style>
</head>
<body ng-app = "myApp" class="ng-cloak" ng-controller="topHeaderController">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div ng-controller="adminCreateRoomController">
		<!--************************************
				Header Start
		*************************************-->
		<header style="background-color: #fff;position: relative;" class="card">
			<div class="bg-danger p-1 text-white row">
				<div class="col-sm-12 col-md-8 col-lg-8">
					<a href="/" style="padding: 10px 20px 0;color: #fff"><b>Applinic > Admin</b></a> &nbsp; | &nbsp;
					<a href="" style="padding: 10px 20px 0;color: #fff">info@applinic.com</a> &nbsp; | &nbsp;
					<a href="" style="padding: 10px 20px 0;color: #fff">{{balance}}</a> &nbsp;  &nbsp;
				</div>

				<div  class="col-sm-12 col-md-4 col-lg-4">
					<form style="display: inline-block;" ng-submit="getUser()">
						<input type="text" placeholder="Search" name="users" ng-model="user" style="color: grey;padding: 2px" />
						<input type="submit" name="" value="Find" style="padding: 3px 5px;background-color: red;color: #fff;" class="btn btn-danger">
					</form>
					<a href="/user/logout" class="btn btn-neutral btn-sm" style="float: right;color:#fff;padding-right: 20px"><b>log out</b></a>
				</div>
			</div>
			<div class="container">
				
	           	<!--<a href="/"> Applinic </a>-->
				<div class="row">
					
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-doctors"><b>Doctor</b></a><br>
						<a href="#/admin-doctors" class="text-danger"><b>{{doctors}}</b></a>
					</div>
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-patients"><b>Patient</b></a><br>
						<a href="#/admin-patients" class="text-danger"><b>{{patients}}</b></a>
					</div>
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-pharmacy"><b>Pharmacy</b></a><br>
						<a href="#/admin-pharmacy" class="text-danger"><b>{{pharmacy}}</b></a>
					</div>
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-laboratory"><b>Laboratory</b></a><br>
						<a href="#/admin-laboratory" class="text-danger"><b>{{laboratory}}</b></a>
					</div>
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-radiology"><b>Radiology</b></a><br>
						<a href="#/admin-radiology" class="text-danger"><b>{{radiology}}</b></a>
					</div>
					<div class="col-sm-12 col-md-2 ol-lg-2 pt-2 pb-2">
						<a href="#/admin-special-center"><b>Special Center</b></a><br>
						<a href="#/admin-special-center" class="text-danger"><b>{{specialCenter}}</b></a>
					</div>
		           
          		 </div>
           </div>
        </header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Home Slider Start
		*************************************-->
		
		<!--************************************
				Home Slider End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main>
			<div class="row">
				<div class="col-sm-12 col-md-2 col-lg-2 card p-4 " style="border-radius: 0">
					<h5 class="issues" class="text-muted">Requests</h5>
					<hr>
					<ul class="issues">
						<li><a href="#/admin"><i class="fa fa-home"></i> Home</a></li>
						<li><a href="">Withdrawals  &nbsp;&nbsp;<small style="color: red">{{CashOutList}}</small></a></li>
						<li><a href="">Need Help &nbsp;&nbsp;<small style="color: red">50</small></a></li>
						<li><a href="">Suggestions &nbsp;&nbsp;<small style="color: red">50</small></a></li>
						<li><a href="">complaints &nbsp;&nbsp;<small style="color: red">50</small></a></li>
						<li><a href="">Disputes &nbsp;&nbsp;<small style="color: red">50</small></a></li>
						<li><a href="">E-Scroll &nbsp;&nbsp;<small style="color: red">50</small></a></li>
					</ul>
					
				</div>
				<div  class="col-sm-12 col-md-10 col-lg-10 p-2"  ng-controller = "balanceController">
					<!--<div class="card p-2" style="float:;margin-right: 50px">
						<a href="">Balance: <b>{{balance}}</b></a>
					</div>
					<div class="card p-2" style="float: right;margin-right: 20px">
						<a href="">mail: <b>info@applinic.com</b></a>						
					</div>-->

					<div class="view-animate-container">  
		                <div class="view-animate" ng-view>
		                </div>
		                <div style="height: 200px">
		                </div>
		            </div>
					
				</div>
				
			</div>
		</main>
				
	</div>

	
		
		<!--************************************
				Footer End
		*************************************-->
	
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
		Sign In Sign Up Light Box Start
	*************************************-->
		
	<!--************************************
		Sign In Sign Up Light Box End
	*************************************-->
	<script type="text/ng-template" id='pay-user.html'>
	         <div class="modal fade">
	          <div class="modal-dialog">
	            <div class="modal-content">
	              <div class="modal-header">
	              </div>              
	              <div class="modal-body" > 
	                 <h3 style="text-align:center">cash out details</h3>
	                 <div>
	                 	<div>
		                 	<label>NAMES: </label>
		                 	<span>{{info.firstname}} {{info.lastname}}</span>
		                 	<span ng-if="!i.firstname">{{info.name}}</span>
	                 	</div>
	                 	<div>
		                 	<label>BANK: </label>
		                 	<span>{{info.bank}}</span>	                 	
	                 	</div>
	                 	<div>
		                 	<label>ACCOUNT NUMBER: </label>
		                 	<span>{{info.account_number}}</span>	                 	
	                 	</div>
	                 	<div>
		                 	<label>PHONE NUMBER: </label>
		                 	<span>+234 {{info.phone}}</span>	                 	
	                 	</div>
	                 	<div>
		                 	<label>AMOUNT TO CASH OUT: </label>
		                 	<span>{{info.amount}}</span>	                 	
	                 	</div>
	                 	<p>Request was made on {{info.date | date: 'mediumDate'}} by {{info.date | date: "mediumTime"}}</p>
	                 </div>
	              </div>
	              <div class="modal-footer">
	                <button type="button" ng-click="goBack()" class="btn btn-primary" data-dismiss="modal">Close</button>	                
	              </div>
	            </div>
	          </div>
	        </div>
	    </script>

	    <script type="text/ng-template" id='admin-view-new-user.html'>
	         <div class="modal" style="transition: opacity .15s linear;">
	          <div class="modal-dialog">
	            <div class="modal-content">
	              <div class="modal-header">
	              	<h5>{{newUserDetails.when}}</h5>
	              </div>              
	              <div class="modal-body" > 
	                <table>
	                	<tr>
	                		<thead>
	                			<th>Time</th>
	                			<th>City</th>
	                			<th>Name</th>
	                			<th>phone</th>
	                		</thead>
	                	</tr>
	                	<tr>
	                		<tbody ng-repeat="j in newUserDetails.data | orderBy: 'city'">
	                			<td>{{j.date | date: "mediumTime"}}</td>
	                			<td>{{j.city}}</td>
	                			<td><span  ng-if="!j.name">{{j.title}} {{j.firstname}}</span> <span ng-if="j.name">{{j.name}}</span></td>
	                			<td>{{j.phone}}</td>
	                		</tbody>
	                	</tr>
	                </table>
	              </div>
	              <div class="modal-footer">
	                <button type="button" ng-click="goBack()" class="btn btn-primary" data-dismiss="modal">Close</button>	                
	              </div>
	            </div>
	          </div>
	        </div>
	    </script>

	 	 <script src="/assets/js/app.js"></script>
        <script src="/assets/js/now-ui-kit.js"></script>
        <script src="/assets/js/bower_components/summernote/dist/summernote.js"></script>
        <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
       


        

       
        
        <script type="text/javascript" src="/assets/js/angularclient.js"></script>
        <script type="text/javascript" src="/assets/js/ngroute.js"></script>
        <script src="/socket.io/socket.io.js"></script>   
        <script src="/assets/js/socket.min.js"></script>
        <script src="/assets/js/jquery-ui.js"></script>

        
       
      
      
        
        
        <!--<script src="/assets/js/main.js"></script>-->
        <script src="/assets/js/angular-touch.min.js"></script>
        <script src="/assets/js/angularAnimate.js"></script>

        <script src="/assets/js/modalService.js"></script>
        <script src="/assets/js/moment.min.js"></script>     
        <script src="/assets/js/angular-moment.min.js"></script>
        <script src="/assets/js/angucomplete-alt.min.js"></script> 

        <script src="/assets/js/ui-bootstrap-tpls.js"></script>
        <script src="/assets/js/angular-clipboard.js"></script>
        <script src="/assets/js/ngresource.js"></script>
         <script src="/assets/js/ngPrint.js"></script>
        <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.min.js"></script>
        <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
        <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
         
    
</body>
</html>