<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Applinic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/assets/css/vendor.css">
         <link rel="stylesheet" href="/assets/css/app.css">
          <link rel="stylesheet" href="/assets/css/now-ui-kit.css">
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
          <link rel="stylesheet" href="/assets/css/my-edit.css">
          <script src="/assets/js/vendor2.js"></script>
          <script type="text/javascript" src="/assets/js/source.js"></script>
          <style>

              body{
                  background: url(/assets/images/bg1.jpg);
                  background-size: cover;
                  background-repeat: no-repeat;
              }

              

          </style>
    </head>

    <body ng-app="myApp">
        <nav class="header" style="height:70px; margin-top:-.5em; z-index:1000;"  ng-controller="topHeaderController">
               <div class="brand" style="margin-left:3em;" style="cursor:pointer">
                     <a ng-href="{{back}}" class="nav-link"> Back To Dashboard </a>
                 </div>
        <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
    <i class="fa fa-bars"></i></button>
             </div>
        <div class="header-block header-block-nav">
            <ul class="nav-profile">
              <li class="profile dropdown">
                    <a class="nav-link" href="" role="button" aria-haspopup="true" aria-expanded="false" ng-click="logout()" >
                        <span class="name">
                       <i class="fa fa-power-off icon"></i> Logout
                    </span> </a>
              </li>
            </ul>
        </div>
    </nav>
    <div style="height:70px"></div>
                
<div class="container " ng-controller="docProfileViewController" style="max-height: 1200px;overflow-y: scroll;">
    
    <div class="row">
        
        
        <div class="col-sm-5">
                <div class="col-sm-12"  style="background:rgba(255,255,255, 0.8)">
             <div class=" text-center userpe"><a href="">

            <img title="profile image" class="img-responsive" src="{{docInfo.profile_pic_url}}" style="max-height: 400px"></a>
        </div><br>
             <div><div class="title" ng-cloak >{{docInfo.title}}  {{docInfo.firstname}} {{docInfo.lastname}}</div>
         <sub class="text-muted" style="margin-top:-3px; font-size:1em;" ng-cloak>{{docInfo.specialty}} Specialist</sub><br><br>
          <button type="button" class="btn btn-success btn-sm" ng-click="profileBook()">Book me!</button>  
          <!--<button type="button" class="btn btn-info btn-sm" ng-click="profileAsk()">Ask Question</button>-->

          <span style="padding: 10px; float:right;background-color:#109CFF;font-size:14px;color:#fff;margin-top:-10px;opacity:0.8" ng-if="docInfo.verified == true" ng-cloak><i class="fa fa-certificate" aria-hidden="true" style="color:#D90000;font-size: 18px"></i>&nbsp; VERIFIED</span>
          <span style="color:#D90000;font-size: 18px;float:right;" ng-if="docInfo.verified == false" ng-cloak>NOT VERIFIED</span>

             </div><br>
<div class="clearfix"></div>

            <!--left col-->
             <div class="grayish" ng-cloak ><i class="text-success fa fa-map-pin"></i> <span style="font-weight: bold">{{docInfo.work_place }}|</span> <span>{{docInfo.address}} </span></div>
<div class="grayish" ng-cloak ><i class="text-success fa fa-phone"></i> +234 {{docInfo.phone }} </div>
<div class="grayish" ng-cloak ><i class="text-success fa fa-envelope-open"></i> info@fareland.com</div>
<div class="grayish" ng-cloak ><i class="text-success fa fa-home"></i> Residence: {{ docInfo.city }}, {{docInfo.country || "N/A" }}</div>
<div class="grayish" ng-cloak ><i class="text-success fa fa-tasks"></i> Experience: {{ docInfo.experience || "N/A" }} years</div>
<div class="grayish" ng-cloak ><i class="text-success fa fa-graduation-cap"></i> Degree(s): 
                              <span ng-repeat="edu in docInfo.education" ng-cloak >{{edu.certificate}}, &nbsp;</span>
                             </div>

<div class="grayish" ng-cloak ><i class="text-success fa fa-clock-o"></i> Office hours: 
                              <ul ng-cloak>
                                <li ng-repeat="office in docInfo.office_hour"  style="list-style-type: none;font-size: 16px"> 
                                <strong>{{office.day}}</strong> &nbsp;<span>{{office.from | date: "shortTime"}} - {{office.to | date: "shortTime"}}</span>
                                </li>
                              </ul>
                             </div>
<div class="grayish"> Rating: <div class="star-rating">
        <!--<span class="fa fa-star-o" data-rating="1" ng-class ="{'fa-star': rating0 === 0}"></span>
        <span class="fa fa-star-o" data-rating="2" ng-class ="{'fa-star': rating20 === 20}"></span>
        <span class="fa fa-star-o" data-rating="3" ng-class ="{'fa-star': rating40 === 40}"></span>
        <span class="fa fa-star-o" data-rating="4" ng-class ="{'fa-star': rating60 === 60}"></span>
        <span class="fa fa-star-o" data-rating="5" ng-class ="{'fa-star': rating80 === 80}"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="2.56">-->

        <span ng-repeat="rating in ratings" ng-cloak > 
        <div  class="star-rating" star-rating rating-value="docInfo.rating.current" max="docInfo.rating.max" on-rating-selected="getSelectedRating(rating)"></div>
        </span>
      </div></div>


 



          
        </div></div>
        <!--/col-3-->
        <div class="col-sm-7" contenteditable="false" >
                       <div>
                <div>
                  <div class="row">

                      <div class="col-md-12 card p-1 mb-2" >
<div class="title" style="border-bottom:1px solid #f2f2f2;" ng-cloak >{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname }}, Md note</div>
<p style="padding: 10px; font-style: italic; font-weight:100" ng-cloak>{{docInfo.introductory || "A specialist in " + docInfo.specialty + " with clinical experience in diagnosing and treating patients with various diseases."}}</p>
 </div>

                  <div class="col-md-12 card p-1 mb-2">

<div class="title" style="border-bottom:1px solid #f2f2f2;">Sub Specialty</div>
    

      <ul>
        <li ng-repeat="speciaty in docInfo.sub_specialty" ng-cloak style="padding: 5px; font-style: italic; font-weight:100">
          {{speciaty.sub_specialty}}
        </li>
      </ul>
 </div>

  <div class="col-md-12 card p-1 mb-2">
<div class="title" style="border-bottom:1px solid #f2f2f2;">Education(s)</div>
    
      <ul>
        <li ng-repeat="edu in docInfo.education" ng-cloak style="padding: 5px; font-style: italic; font-weight:100">
          <span style="display: block;">{{edu.certificate }} </span> <span>{{edu.start_year | date: "mediumDate"}} - {{edu.end_year | date: "mediumDate"}}</span>
        </li>
      </ul>
 </div>
 
 <!--<div class="col-md-12 card p-1 mb-2">
  <div class="title" style="border-bottom:1px solid #f2f2f2;">Office hours</div>
     
      <ul style="list-style: none">
        <li ng-repeat="office in docInfo.office_hour" ng-cloak style="padding: 5px; font-style: italic; font-weight:100">
            <strong>{{office.day}}</strong>: &nbsp;<span>{{office.from | date: "shortTime"}} - {{office.to | date: "shortTime"}}</span>
        </li>
      </ul>
 </div>-->

 <div class="col-md-12 card p-1 mb-2">
<div class="title" style="border-bottom:1px solid #f2f2f2;">Honors and Awards
</div>
     <ul>
       <li ng-repeat="award in docInfo.awards" ng-cloak style="padding: 5px; font-style: italic; font-weight:100">
         <strong>{{award.type_of_Award}}</strong> <span style="float:right">{{award.date | date: "mediumDate"}}</span>
         <p style="padding: 10px;">{{award.description}}</p>
       </li>
     </ul>
 </div>


<div class="card card-block">
    <div class="title" style="border-bottom:1px solid #f2f2f2;">Skills & Procedures</div>

      <ul class="skill-sects">
       <li ng-repeat="skill in docInfo.skills" ng-cloak ng-click="viewSkill(skill)">
        <div class="grayish">{{skill.skill}} <small style="float:right"> {{skill.files.length}} file(s)  attached</small></div>
       </li>
     </ul>
            </div>                                 
        </div>      
    </div>      
</div>

   
          </div>


            
        </div>
        
        
</div>
<div id="push" style="height:100px;background-color:rgba(0,0,0,0.9);text-align:center;margin-top:50px">
    <span style="display: inline-block;margin-top:40px;color:#fff;font-size:14px">2017 All Rights Reserved © Applinic</span>
</div>

<script type="text/ng-template" id="request.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h6 style="text-align: center; color: #000; font-size: 12px">{{message}}</h6>
              </div>
              <div class="modal-body">
              <h6 style="text-align: center">You want to send Consultation request 
                <span style="display:block;margin-top: 20px">To</span> 
                </h6> 
                                                                              
                    <form class="tg-form-modal tg-form-signin" style="text-align: center">                        
                            <fieldset>
                            <img ng-src="{{docInfo.profile_pic_url}}" style="width:150px; height:150px;margin-bottom: 20px;margin-top:-10px"/>
                            <h6>Dr. {{docInfo.firstname}} {{docInfo.lastname}}</h6>
                            <span style="display:block;margin-top: -10px; margin-bottom:20px">{{docInfo.specialty}}</span>
                            <p>Note: consultation fees will apply if your request is granted. </p>                                 
                        <button class="tg-btn tg-btn-lg" ng-click="sendRequest()">Continue</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
     </script>


     <script type="text/ng-template" id="question.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>
                <h6 style="color: #000; font-size: 12px;text-align: center">{{message}}</h6> 
                <div class="col-md-12 col-lg-12">
                  <img ng-src="{{docInfo.profile_pic_url}}" style="width:100px; height:100px"/>
                  <span>{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname}}</span>
                </div>                
                              
              </div>
              <div class="modal-body">                                                   
                  <form>                        
                    <fieldset>

                        <caption>What your question?</caption>

                        <div>
                            <textarea style="height: 300px; color: black" placeholder="write.." ng-model="patient.message"></textarea>
                        </div>
                        <button class="btn btn-primary" ng-click="getAnswer()">Get answer</button>
                      </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <!--<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>-->
              </div>
            </div>
          </div>
        </div>
     </script>

    <script type="text/ng-template" id="skill-modal.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <div class="row">
              <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>
               <img ng-src="{{docInfo.profile_pic_url}}" style="max-width:3em; max-height:3em"/>
               <span style="display:inline-block;padding: 10px">{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname}}  <span style="display: block;font-size: 0.7em">{{docInfo.specialty}}</span></span> 
                          
            </div>
            <div class="modal-body" style="max-height: 800px;overflow-y: auto;">  
              <h2 style="text-align:center;text-decoration: underline;">{{skill.skill}}</h2>
              <section>
                <p>{{skill.procedure_description}}</p>
                <div ng-repeat = "file in skill.files">
                  <div style="text-decoration: underline;" ng-if="file.type === 'video/mp4'">
                     <h6>Video</h6>
                     <video  style="width: 100%;height:480px" controls
                        poster="https://archive.org/download/WebmVp8Vorbis/webmvp8.gif"  class="img-responsive">  
                        <source
                          ng-src="{{file.path}}"
                          type="video/mp4">                                              
                        Your browser doesn't support HTML5 video tag.
                      </video>
                  </div>
                  <div style="text-decoration: underline;" ng-if="file.type === 'image/jpg' || file.type === 'image/jpeg' || file.type === 'image/png'">
                    <h6>Image</h6>
                    <img src="{{file.path}}" class="img-responsive" alt="Sample image" style="max-height:650px;width:100%">
                  </div>
                </div>                
              </section>                                                 
                 
            </div>
            <div class="modal-footer">
              <!--<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>-->
            </div>
          </div>
        </div>
      </div>
   </script>

     

<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/angularclient.js"></script>
<script type="text/javascript" src="/assets/js/ngroute.js"></script>
<script src="/socket.io/socket.io.js"></script>   
<script src="/assets/js/socket.min.js"></script>

<script src="/assets/js/angularAnimate.js"></script>
<script src="/assets/js/modalService.js"></script>
<script src="/assets/js/angular-touch.min.js"></script>
<!--<script src="/assets/js/angular-carousel.js"></script>-->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/angular-moment.min.js"></script>
<script src="/assets/js/ui-bootstrap-tpls.js"></script>
<script src="/assets/js/angular-clipboard.js"></script>
<script src="/assets/js/ngresource.js"></script>

<!--<script type="text/javascript">
  var $star_rating = $('.star-rating .fa');

var SetRatingStar = function() {
  return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

$star_rating.on('click', function() {
  $star_rating.siblings('input.rating-value').val($(this).data('rating'));
  return SetRatingStar();
});

SetRatingStar();
$(document).ready(function() {

});
</script>-->

        
    </body>

</html>