<!DOCTYPE html>
<html lang="en">

<head>

    <title>APPLINIC - Find Doctors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
     <link rel="icon" type="image/png" href="/assets/images/favicon.png">

     <!--<link rel="stylesheet" href="/assets/css/app.css">-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="https://kit.fontawesome.com/5d5c57c2c4.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet " href="/assets/css/vendor.css ">
    <link rel="stylesheet " href="/assets/css/app.css ">
    <link rel="stylesheet " href="/assets/css/now-ui-kit2.css ">
    <link rel="stylesheet " href="/assets/css/chat.css ">
    <link rel="stylesheet " href="/assets/css/font-awesome.min.css ">
    <link rel="stylesheet " href="/assets/css/my-edit.css ">
    <link rel="stylesheet " href="/assets/css/ngPrint.css ">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans " rel="stylesheet ">
    <style>
        .rating {
            background-color: #85CE36;
            padding: 4px 9px;
            color: #fff;
        }
        
        .avail {
            color: #85CE36;
        }
        
        .card {
            border: none;
            border-bottom: 4px solid #85CE36;
            padding-bottom: 8px;
        }
        
        .thumbnail {
            margin: 0 auto;
        }
        
        .thumbnail img {
            padding-top: 16px;
        }
        
        .video-btn button {
            /* display: inline; */
        }
        
        .p-6 {
            padding: 6px !important;
        }
        
        .card-body {
            padding: 0;
        }
        
        .p-10 {
            padding: 10px;
        }
        
        .badge {
            position: relative;
            bottom: 55px;
            float: right;
            right: 10px;
        }
        
        #search-wrap {
            border: 1px solid grey;
            position: relative;
            bottom: 13px;
            z-index: 9999;
            display: none;
        }
        
        #location:hover #search-wrap {
            display: block;
        }
        
        body {
            /* The image used */
            /*background-image: url("/assets/images/bg3.jpg");*/
            /* Add the blur effect */
            /* filter: blur(1px); */
            /* -webkit-filter: blur(1px); */
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .bg-green {
            color: #85CE36 !important;
        }
        
        .bg-white {
            background: #fff;
        }
        
        .side-nav {
            padding: 10px;
        }
        
        .side-sticky {
            position: sticky;
            top: 56px;
        }
        
        .sticky-top {
            z-index: 10;
        }
        
        #doctors-search label {
            display: block;
        }
        
        .fas,
        .fab {
            color: #85CE36;
        }
        
        .drawer-btn {
            float: left;
        }
        /* drawer */
        
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #85CE36;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        
        .sidenav a {
            padding: 8px 8px 0px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        .sidenav a:hover {
            color: #f1f1f1;
        }
        
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        .sidenav a .fas {
            color: #fff;
        }

        .dropdown-menu {
            width: 93%;
            padding: 10px;
            
        }

        .dropdown-menu a {
           color: green
        }
        
        #main-wrap {
            transition: margin-left .5s;
        }

        .btn-simple {
            border: 1px solid rgba(0,0,0,0.2)
        }

        .text-success {
          color: #28a745;
        }

        .text-right {
            text-align: right;
        }

        .line-height {
            line-height: 25px
        }

      .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E);
        }

        .custom-checkbox .custom-control-indicator {
            border-radius: 0.25rem;
        }

        .custom-control-indicator {
            position: absolute;
            top: .25rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
           
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #ddd;
            background-repeat: no-repeat;
            background-position: center center;
           
            background-size: 50% 50%;
        }

        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            margin: auto;
            /*text-align: center;*/
            font-family: arial;
        }

         .card button {
            text-align: center;
            cursor: pointer;
            max-width: 100%;
            font-size: 12px;
        }
        
        .card button:hover {
            opacity: 1 !important;
            font-size: 14px;
            color: inherit;
        }
        /* On mouse-over, add a deeper shadow */
        
        .card:hover {
            /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
             */
            width: 99%;
        }
        

        .custom-control {
                position: relative;
                display: inline-block;
                padding-left: 1.5rem;
                cursor: pointer;
            }

            .custom-control-input:checked ~ .custom-control-indicator {
                color: #fff;
                background-color: #0074d9;
            }


            .mb-2 {
                margin-bottom: 20px!important
            }

        
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }
        /* Extra small devices (portrait phones, less than 576px) */
        
        @media (max-width: 575.98px) {}
        /* Small devices (landscape phones, less than 768px) */
        
        @media (max-width: 767.98px) {
            .col-md-9 {
                background-color: honeydew;
            }
            .thumbnail {
                width: 45%;
            }
            .thumbnail img {
                padding-top: 2PX;
            }
            .doctors-profile {
                text-align: center;
                /*border-bottom: 1px solid;*/
            }
            .avail {
                margin-top: 0 !important;
            }
            .card-header {
                padding: 0.4rem 1.25rem;
            }
            .card-header h6:first-child {
                color: red;
            }
            .online {
                position: absolute;
                left: 162px;
            }
            .form-text {
                display: none;
            }
            #doctors-search .form-group,
            #doctors-search .form-group label {
                margin-bottom: 0.1rem;
            }
            .drawer-btn {
                display: none;
            }

            .video {
                height: 0;
                width: 0;
            }

            .capture {
                width: 100%!important;
                height: 320px!important;
            }
        }
        /* Medium devices (tablets, less than 992px) */
        
        @media (max-width: 991.98px) {}
        /* Large devices (desktops, less than 1200px) */
        
        @media (max-width: 1199.98px) {}
    </style>

    <!--<link rel="stylesheet" href="/assets/css/main.css">-->
    <script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/source.js"></script>

    <script type="text/javascript">
        var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
        if(Opera){
          window.location.href = "/assets/show-error.html";
        }
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128083647-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128083647-1');
    </script>
</head>

<body ng-app="myApp">
    <section id="main-wrap" ng-controller="hompageController">
        <!--<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#"><span><i class="fas fa-briefcase-medical"></i></span> Book appointment</a>
            <a href="#"><span><i class="fas fa-clinic-medical"></i></span> Pharmacy</a>
            <a href="#"><span><i class="fas fa-briefcase-medical"></i></span> Diagnostics</a>
            <a href="#"><span><i class="fas fa-briefcase-medical"></i></span> Read Health Articles</a>
            <a href="#"><span><i class="fas fa-briefcase-medical"></i></span> Read Health Articles</a>
        </div>-->
       
        <div  style="background-color: #fff;padding: 15px">
            <form class="row" id="doctors-search" ng-submit="find()">
                <div class="col-md-2 pb-3" ng-cloak>
                    <a class="navbar-brand" href="/">
                        <img src="/assets/images/Logo.png" alt="Applinic" style="vertical-align: middle;">
                    </a>
                    <div ng-show="!checkLogIn.user_id" class="pt-2">
                        <a href="" ng-click="loginIntOAcc()" class="btn btn-sm btn-simple">Log In </a>&nbsp;&nbsp;

                        <a href="/signup" class="btn btn-sm btn-simple">Sign Up </a>
                    </div>
                    <div ng-show="checkLogIn.user_id" class="pt-2">
                        <a href="" ng-click="todashboard(checkLogIn.typeOfUser)" class="btn btn-simple"><i class="fa fa-arrow-left"></i> Go to dashboard</a>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="form-group">
                        <label for="location1"><span class="mr-2"><i class="fas fa-map-marker-alt"></i></span>Location </label>
                        <input type="text" name="" placeholder="All cities" class="selectpicker show-tick form-control" ng-model="user.city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15">
                       
                        <small class="form-text text-muted">Enter closest location.</small>
                    </div>
                </div>
                <!-- 2nd col -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="type"><span class="mr-2"><i class="fas fa-stethoscope"></i></span> Specialty / Name / Procedure / Disease</label>
                        <input type="text" name="" placeholder="Any" class="selectpicker show-tick form-control" ng-model="user.item" uib-typeahead="item for item in dropDownList | filter:$viewValue | limitTo:15">
                       <!-- <select class="selectpicker show-tick" data-live-search="true" data-width="100%">
                            <option value ="{{item}}" ng-repeat="item in dropDownList">{{item}}</option>
                            <option data-divider="true"></option>
                            <option data-tokens="mustard">Surgeon</option>
                            <option data-divider="true"></option>
                            <option data-tokens="frosting">Pediatric Dentist</option>
                          </select>-->
                        <small id="doctors" class="form-text text-muted">You can search with specialty, doctor's name, centers's name, procedure or disease.</small>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" style="padding-top: 30px">
                        <input type="submit" name="" value="Search" class="btn btn-success btn-block">
                    </div>
                </div>
               
            </form>
        </div>
        <div style="height: 4px" class="bg-success"></div>
        <p class="text-center pt-2" ng-show="loading"><a href="" class="btn btn-neutral bg-white btn-sm">Loading...</a></p>
        <!--<nav class="navbar navbar-expand-sm bg-success navbar-dark sticky-top" >
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
             <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" container collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Availability
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownfilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              All Filters
                            </a>

                            <div class="dropdown-menu mega-dropdown" aria-labelledby="dropdownfilter">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <p>Gender</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="defaultCheck1">
                                              Male Doctor
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampl" value="option1" checked>
                                            <label class="form-check-label" for="defaultCheck1">
                                              Female Doctor
                                            </label>
                                        </div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <p>Consultation Fee</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRos1" value="option1" checked>
                                            <label class="form-check-label" for="defaultCheck1">
                                              Free
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="examp" value="option1" checked>
                                            <label class="form-check-label" for="defaultCheck1">
                                              1-200
                                            </label>
                                        </div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">Others</div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownRelevance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Relevance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownRelevance">
                                <a class="dropdown-item" href="#">Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>-->
        <div class="main" style="width:95%; margin: 0 auto; margin-top:30px">
            <div class="row">
                <!-- col 9 -->
                <div class="col-sm-9" ng-cloak>
                    <div class="card max-width mb-3 bg-white" ng-repeat="doc in searchResultFull">
                        <div class="row no-gutters">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <a href="{{doc.profile_url}}" alt="Profile">
                                                <img src="{{doc.profile_pic_url}}" class="card-img rounded-circle" alt="...">
                                                <div class="online text-center text-muted" ng-show="doc.verified">
                                                    <span><span><i class="fa fa-check-circle"></i></span> Verified </span>
                                                </div>
                                                <!--<div class="floating-badge" ng-show="doc.verified">
                                                    <span class="badge badge-pill badge-secondary" title="Verified"><i class="fas fa-check-circle"></i></span>
                                                </div>-->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="doctors-profile p-2">
                                            <h4 class="pt-2 ellipsis">{{doc.name}}</h4>
                                            <h6>{{doc.specialty}}</h6>
                                            <h6>{{(doc.experience) ? (doc.experience + ' years of practice') : ""}}</h6>
                                            <h6><strong>{{doc.city}}, {{doc.country}}.</strong></h6>
                                            <div>
                                                <span>{{doc.work_place}}</span>
                                            </div>
                                            <div ng-show="doc.education.length > 0">
                                                <span ng-repeat="edu in doc.education"> {{edu.certificate + ' '}} </span>
                                            </div>
                                            <!--<span class="rating rounded-pill"><span><i class="far fa-thumbs-up"></i></span> 96%</span> <span><a href="#">1352 feedback</a></span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body p-6 text-center">
                                    <!--<p class="avail mt-5"><span><i class="fab fa-line"></i></span> Availability Today</p>-->
                                    <div class="video-btn mt-3 pt-6">
                                       
                                        <button type="button" class="btn btn-success" style="margin-bottom: 5px" ng-click="consult(doc)" ng-show="!doc.isSent"><i class="fa fa-user-md"></i> Send consultation</button>
                                        <a href="" class="p-2 text-success" ng-show="doc.isSent"><i class="fa fa-check"></i> Request sent!</a>
                                       
                                        <button type="button" class="btn btn-outline-success" style="margin-bottom: 5px" ng-click="chat(doc)"><i class="fa fa-comments"></i> Start Chat</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="card max-width mb-3 bg-white" ng-repeat="doc in searchResultSub">
                        <div class="row no-gutters">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <a href="{{doc.profile_url}}" alt="Profile">
                                                <img src="{{doc.profile_pic_url}}" class="card-img rounded-circle" alt="">
                                                <!--<div class="online text-center text-muted" ng-show="doc.verified">
                                                    <span><span><i class="fa fa-check-circle"></i></span> Verified </span>
                                                </div>-->
                                                <!--<div class="floating-badge" ng-show="doc.verified">
                                                    <span class="badge badge-pill badge-secondary" title="Verified"><i class="fas fa-check-circle"></i></span>
                                                </div>-->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="doctors-profile p-2">
                                            <h4 class="pt-2 ellipsis">{{doc.name}}</h4>
                                            <h6>{{doc.specialty}}</h6>
                                            <h6>{{doc.skill}}</h6>
                                            <h6><strong>{{doc.city}}, {{doc.country}}.</strong></h6>
                                            <div>
                                                <span>{{doc.work_place}}</span>
                                            </div>
                                            <div>
                                                <label>Disease: </label>
                                                <span>{{doc.disease}}</span>
                                            </div>
                                            <a href="{{doc.ref_url}}" target="_blank">View Procedure</a>
                                            <!--<span class="rating rounded-pill"><span><i class="far fa-thumbs-up"></i></span> 96%</span> <span><a href="#">1352 feedback</a></span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body p-6">
                                    <!--<p class="avail mt-5"><span><i class="fab fa-line"></i></span> Availability Today</p>-->
                                    <div class="video-btn mt-3 pt-6 text-center">
                                       
                                        <button type="button" class="btn btn-success" style="margin-bottom: 5px" ng-click="consult(doc)" ng-show="!doc.isSent"><i class="fa fa-user-md"></i> Send Consultation</button>
                                         <a href="" class="p-2 text-success" ng-show="doc.isSent"><i class="fa fa-check"></i> Request sent!</a>
                                       
                                        <button class="btn btn-outline-success" style="margin-bottom: 5px" ng-click="chat(doc)"><i class="fa fa-comments"></i> Start Chat</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="searchResultFull.length == 0 && searchResultSub.length == 0" class="card max-width mb-3 bg-white">
                        <article class="text-center text-danger p-5 font-1_3">
                            No result was found based on the search criteria!
                        </article>
                    </div>
                    <!-- 2nd col -->
                    <!--<div class="card max-width mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/assets/images/default-avatar.png" class="card-img rounded-circle" alt="...">
                                            <div class="online text-center">
                                                <span><span><i class="fab fa-osi"></i></span> Online</span>
                                            </div>
                                            <div class="floating-badge">
                                                <span class="badge badge-pill badge-secondary"><i class="fas fa-check-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="doctors-profile p-6">
                                            <h4 class="card-header">Dr. M.R. Pujari</h4>
                                            <h6>Dentist</h6>
                                            <h6>14yrs experience overall</h6>
                                            <h6><strong>Abuja, Nigeria .</strong></h6>
                                            <div style="border-bottom: 1px dotted grey; margin-bottom: 16px">
                                                <span>32 Smiles Multispeciality Dental Clinic + 15 more
                                                    ₹200 Consultation fee at clinic</span>
                                            </div>
                                            <span class="rating rounded-pill"><span><i class="far fa-thumbs-up"></i></span> 96%</span> <span><a href="#">1352 feedback</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body p-6">
                                    <p class="avail mt-5"><span><i class="fab fa-line"></i></span> Availability Today</p>
                                    <div class="video-btn mt-3">
                                        <button type="button" class="btn btn-success">Book Appointment</button>
                                        <button type="button" class="btn btn-outline-success">Video Consultation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card max-width mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/assets/images/default-avatar.png" class="card-img rounded-circle" alt="...">
                                            <div class="online text-center">
                                                <span><span><i class="fab fa-osi"></i></span> Online</span>
                                            </div>
                                            <div class="floating-badge">
                                                <span class="badge badge-pill badge-secondary"><i class="fas fa-check-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="doctors-profile p-6">
                                            <h4 class="card-header">Dr. Obinna</h4>
                                            <h6>Med lab</h6>
                                            <h6>7yrs experience overall</h6>
                                            <h6><strong>Enugu, Nigeria .</strong></h6>
                                            <div style="border-bottom: 1px dotted grey; margin-bottom: 16px">
                                                <span>32 Smiles Multispeciality Dental Clinic + 15 more
                                                    ₹200 Consultation fee at clinic</span>
                                            </div>
                                            <span class="rating rounded-pill"><span><i class="far fa-thumbs-up"></i></span> 96%</span> <span><a href="#">1352 feedback</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body p-6">
                                    <p class="avail mt-5"><span><i class="fab fa-line"></i></span> Availability Today</p>
                                    <div class="video-btn mt-3">
                                        <button type="button" class="btn btn-success">Book Appointment</button>
                                        <button type="button" class="btn btn-outline-success">Video Consultation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                   
                    <!-- rd col -->
                    <!--<div class="card max-width mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/assets/images/default-avatar.png" class="card-img rounded-circle" alt="...">
                                            <div class="floating-badge">
                                                <span class="badge badge-pill badge-secondary"><i class="fas fa-check-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="doctors-profile p-6">
                                            <h4 class="card-header">Dr. Obinna</h4>
                                            <h6>Med lab</h6>
                                            <h6>7yrs experience overall</h6>
                                            <h6><strong>Enugu, Nigeria .</strong></h6>
                                            <div style="border-bottom: 1px dotted grey; margin-bottom: 16px">
                                                <span>32 Smiles Multispeciality Dental Clinic + 15 more
                                                    ₹200 Consultation fee at clinic</span>
                                            </div>
                                            <span class="rating rounded-pill"><span><i class="far fa-thumbs-up"></i></span> 96%</span> <span><a href="#">1352 feedback</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body p-6">
                                    <p class="avail mt-5"><span><i class="fab fa-line"></i></span> Availability Today</p>
                                    <div class="video-btn mt-3">
                                        <button type="button" class="btn btn-success">Book Appointment</button>
                                        <button type="button" class="btn btn-outline-success">Video Consultation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!-- col 4 -->
                <div class="col-sm-3">
                    <div class="container side-sticky">
                        <div class="row">
                            <section class="bg-white">
                                <div class="bg-image">
                                    <div class="card">
                                        <div class="side-nav">
                                            <h4 class="h6">Physicians you may need.</h4>
                                            <p>These are specialties you may be interested in contacting.</p>
                                            <section>
                                                <div class="">
                                                    <a href="/find-doctors?s=pediatric" class="btn btn-outline-success btn-sm">Children Specialist</a>
                                                    <a href="/find-doctors?s=orthopaedic" class="btn btn-outline-success btn-sm">Bone Specialist</a>
                                                    <a href="/find-doctors?s=gynecologist" class="btn btn-outline-success btn-sm">Female Specialist</a>
                                                    <a href="/find-doctors?s=surgeon" class="btn btn-outline-success btn-sm">Surgeon</a>

                                                    <a href="/find-doctors?s=Ophthalmologist" class="btn btn-outline-success btn-sm">Eye Specialist</a>
                                                    <a href="/find-doctors?s=Dermatologist" class="btn btn-outline-success btn-sm">Skin Care</a>
                                                    <a href="/find-doctors?s=Neurosurgeon" class="btn btn-outline-success btn-sm">Neurosurgeon</a>
                                                    <a href="/find-doctors?s=Cardiologist" class="btn btn-outline-success btn-sm">Heart Specialist</a>
                                                     <a href="/find-doctors?s=Nephrologists" class="btn btn-outline-success btn-sm">Ear Specialist</a>
                                                      <a href="/find-doctors?s=Dental" class="btn btn-outline-success btn-sm">Teeth Specialist</a>
                                                </div>
                                            </section>
                                            <hr>
                                            <div class="video-btn mt-3">
                                               <h5 class="h6">Other Services</h5>
                                               <ul class="pb-3 line-height">
                                                   <li><a href="/find-doctors?s=live-doctors" class="text-success"> Chat with live physicians</a></li>
                                                   <li><a href="/find-drugs" class="text-success">Find Drug / Buy drugs and kits</a></li>
                                                   <li><a href="/symptom-checker" class="text-success"> Use our <b>symptoms checker</b> to find the right specialist for your health problems for consultation.</a></li>
                                                  <li><a href="/covid-19" class="text-success">Covid-19 Screening Test</a></li>
                                                  <!-- <li><a href="" class="text-success">Find Laboratory test and centers near you.</a></li>
                                                   <li><a href="" class="text-success">Find Radiology test and centers near you.</a></li>-->
                                               </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

           <!-- <div class="jumbotron text-center" style="margin-bottom:0">
                <p>Footer</p>
            </div>-->
        </div>
    </section>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
            document.getElementById("main-wrap").style.marginLeft = "300px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.6)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-wrap").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>

     <script type="text/ng-template" id="find-doctor-search.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content" style="position: absolute; top:10;">
                    <div class="modal-header" style="position: relative;">
                        <h4>Hello</h4>
                    </div>
                    <div class="modal-body">
                        <p>Something is right</p>
                    </div>
            
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="auth.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">                        
                    </div>
                    <div class="modal-body">
                        <h5><b>Tell us who you are!</b></h5>
                       
                        <form ng-submit="enterAccount()" class="mt-3" ng-show="person.action == 'login'">   
                            <p  class="text-danger text-center"><b>{{loginMessage}}</b></p> 
                            <p class="text-success text-center">{{loginSuccess}}</p>                        
                            <div>
                                <label><b>Email or Phone Number</b></label><br>
                                <input type="text" name="" placeholder="Email or Phone" class="form-control" ng-model="person.username" required>
                            </div>
                            
                            <div class="pt-3" style="position: relative;">
                                <label><b>Password</b></label><br>
                                <input type="password" name="" placeholder="Password" class="form-control" ng-model="person.password" id="myPass" required>
                                 <i class="fa fa-eye" style="font-size:20px;position: absolute;bottom: 10px;right:20px;color: grey;cursor: pointer;" onclick="showPass('a')"></i>
                            </div>
                            <div class="pt-3">
                                <button type="submit" name="" class="btn btn-danger btn-block"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(loading) ? "" : "Continue"}}</button>
                            </div>

                            <p class="mt-3">Forgot password? <a href="">Change password</a></p>                           
                            <p class="mt-3">Don't have an account? <a href="" ng-click="create()">Create one for free!</a></p>
                        </form>
                        <br>
                        <form ng-show="person.action == 'signup'" ng-submit="create()">
                           
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#" class="nav-link" ng-class="{'active': person.type == 'Patient'}" ng-click="chooseType('Patient')">Patient</a></li>

                                <li class="nav-item"><a href="#" class="nav-link" ng-class="{'active': person.type == 'Doctor'}" ng-click="chooseType('Doctor')">Doctor</a></li>

                                <li class="nav-item"><a href="#" class="nav-link" ng-class="{'active': person.type == 'Pharmacy'}" ng-click="chooseType('Pharmacy')">Pharmacy</a></li>

                                <li class="nav-item"><a href="#" class="nav-link" ng-click="chooseType('Diagnostic')" ng-class="{'active': person.type == 'Diagnostic'}">Diagnostic Center</a></li>

                                <li class="nav-item"><a href="#" class="nav-link" ng-click="chooseType('Special Center')" ng-class="{'active': person.type == 'Special Center'}">Special Center</a></li>
                            </ul>

                            <br>
                            <fieldset>
                                <!--<div>
                                    <label><b>Country</b></label><br>
                                    <input type="text" name="" placeholder="Country" class="form-control" ng-model="person.country">
                                </div>-->

                               

                                <div class="col-md-4 pl-0 ml-0" ng-if="person.type == 'Patient' || person.type == 'Doctor'">
                                    <label><b>Title</b></label><br>
                                    <!--<input type="text" name="" placeholder="title" class="form-control" ng-model="person.title">-->
                                    <select placeholder="title" class="form-control" ng-model="person.title" required>
                                        <option value="" disabled selected>_select title</option>                               
                                        <option>Dr</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Miss</option>
                                        <option>Master</option>
                                        <option>Chief</option>
                                        <option>Rev</option>
                                        <option>Pastor</option>
                                        <option>Engr</option>
                                        <option>Barr</option>
                                        <option>Surv</option>
                                        <option>Hon</option>
                                        <option>Ven</option>
                                        <option>HRH</option>
                                        <option>Prof</option>
                                        <option>Justice</option>
                                    </select>
                                </div>
                                <div class="pt-3" ng-if="person.type == 'Patient' || person.type == 'Doctor'" >
                                    <label><b>Firstname</b></label><br>
                                    <input type="text" name="" placeholder="firstname" class="form-control" ng-model="person.firstname" required>
                                </div>

                                <div class="pt-3" ng-if="person.type == 'Patient' || person.type == 'Doctor'">
                                    <label><b>Lastname</b></label><br>
                                    <input type="text" name="" placeholder="lastname" class="form-control" ng-model="person.lastname" required>
                                </div>

                                <div class="pt-3" ng-if="person.type == 'Patient'">
                                    <label><b>Date of Birth</b></label><br>
                                    <input type="date" name="" placeholder="date of birth" class="form-control" ng-model="person.dob" required>
                                </div>

                                <div class="pt-3" ng-if="person.type == 'Patient'">
                                    <label><b>Sex</b></label><br>
                                    <!--<input type="text" name="" placeholder="sex" class="form-control" ng-model="person.gender" required>-->
                                    <select placeholder="sex" class="form-control" ng-model="person.gender" required>
                                        <option value="" selected disabled>_select</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>



                                <div class="pt-3" ng-if="person.type == 'Diagnostic'">
                                    <label><b>Diagnostic Type</b></label><br>
                                    <!--<input type="text" name="" placeholder="diagnostic type" class="form-control" ng-model="person.diagmosticType" required>-->
                                    <select class="form-control" ng-model="person.diagmosticType" required>
                                        <option value="" disabled selected>_select</option>
                                        <option>Laboratory</option>
                                        <option>Radiology</option>
                                    </select>
                                </div>

                                <div class="pt-3" ng-if="person.type !== 'Patient' && person.type !== 'Doctor'">
                                    <label><b>Center Name</b></label><br>
                                    <input type="text" name="" placeholder="center name" class="form-control" ng-model="person.name" required>
                                </div>


                                <div class="pt-5">
                                    <label><b>Phone Number</b></label><br>
                                    <input type="text" name="" placeholder="phone number" class="form-control" ng-model="person.phone" required>
                                </div>

                                <div class="pt-3">
                                    <label><b>City</b></label><br>
                                     <input type="text" name="" placeholder="city" class="form-control" ng-model="person.city" required uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15">
                                </div>

                                <div class="pt-3" ng-if="person.type == 'Doctor'">
                                    <label><b>Place of Work</b></label><br>
                                    <input type="text" name="" placeholder="place of work" class="form-control" ng-model="person.work_place" required>
                                </div>


                                <div class="pt-3" ng-if="person.type == 'Patient'" >
                                    <label><b>Address</b></label><br>
                                    <input type="text" name="" placeholder="address" class="form-control" ng-model="person.address" required>
                                </div>

                                <div class="pt-3" ng-if="person.type !== 'Patient'">
                                    <label><b>Center or Place of Work Address</b></label><br>
                                    <input type="text" name="" placeholder="address" class="form-control" ng-model="person.address" required>
                                </div>

                               

                                <div class="pt-3">
                                    <label><b>Email</b></label><br>
                                    <input type="text" name="" placeholder="email" class="form-control" ng-model="person.email">
                                </div>
                                
                                <div class="pt-3" style="position: relative;">
                                    <label><b>Password</b></label><br>
                                    <input type="password" name="" placeholder="password" class="form-control" ng-model="person.password" id="myPass2" required>
                                    <i class="fa fa-eye text-muted" style="font-size:20px;position: absolute;bottom: 10px;right:20px;color: grey;cursor: pointer;" onclick="showPass('b')"></i>
                                </div>

                                <div class="pt-3">
                                    <label class="custom-control custom-checkbox">
                                      <input type="checkbox"  ng-model="person.agree" required>
                                      <span class="custom-control-description" style="font-size: 14px;"> I agree with the <a href="/terms" target="_blank" >Terms of Service</a> and <a href="/privacy" target="_blank"> Privacy Policy.</a></span><br>
                                      <span class="text-danger"></span> 
                                    </label>
                                </div>

                                <div class="pt-3">
                                    <input type="submit" name="" value="Create" class="btn btn-danger btn-block">
                                </div>
                               
                                <p class="mt-3">I have an account? <a href="" ng-click="normalUser()">Sign In!</a></p>
                            </fieldset>
                        </form>
                        <form ng-if="person.action == 'verify'">
                            <h6>Verify Phone Number</h6>
                            <div class="pt-3">
                                <label>Enter the PIN we sent to {{person.phone}} below</label><br>
                                <input type="text" name="" placeholder="Enter pin" class="form-control" ng-model="person.pin">
                            </div>                            
                            <div class="pt-3">
                                <input type="submit" name="" value="Verify" class="btn btn-success btn-block">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer text-right pt-2">
                        <button  class="btn btn-danger" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">Close</button>  
                    </div>
            
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="selected-doc.html">
   <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
        <div class="title">{{message}}</div>
         <h5>Consultation Request</h5>  
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" style="color:red;font-size: 32px">&times;</button>                                
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="modal-body">
                                
                    <div class="row">
                        <div class=" col-md-3 col-sm-12">
                            <img alt="image description" height="120" ng-src="{{docInfo.profile_pic_url}}" class="image-fit">  
                        </div>
                        <div class="col-md-9 col-sm-12 pt-2 pl-4">
                            <div class="h6 pb-0">{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname}}</div>
                             <div class="">{{docInfo.specialty}}</div>
                             <div>Works at <span class="">{{docInfo.work_place}}</span> <span>{{docInfo.address}} {{docInfo.city}} {{docInfo.country}}</span></div>
                             <div><span class="">{{docInfo.experience + " years experience"}}</span></div>                                
                            <ul class="nav pt-2 pb-2">        
                                <li ng-repeat = "i in docInfo.office_hour "><span>{{i.day}}</span>, <span>from {{i.from}}</span> <span>to {{i.to}}</span></li> 
                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">                      
                           <form class="pt-1" ng-if="!status">
                               <div class="pb-1">
                                   <h5 class="h6 pt-3 pb-2">Why do yo want to consult {{docInfo.title}} {{docInfo.firstname}}?</h5>
                                   <div class="row">
                                       <div class="col-sm-12 col-md-5 col-lg-5">
                                           <div>                        
                                             <label class="custom-control custom-checkbox">
                                                I am sick.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.sick">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                           <div>                                    
                                             <label class="custom-control custom-checkbox">
                                                I am pregrant.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.pregnant" >
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                            <div>
                                              <label class="custom-control custom-checkbox">
                                                I want to get pregnant.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.getPregnant">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                            <div>                                    
                                             <label class="custom-control custom-checkbox">
                                                I had an accident.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.accident" >
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                            <div>                                    
                                             <label class="custom-control custom-checkbox">
                                                I had stroke.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.stroke" >
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                       </div>                                  

                                  
                                       <div class="col-sm-12 col-md-6 col-lg-6">
                                           <div>
                                              <label class="custom-control custom-checkbox">
                                                I am having eye problem.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.eye">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                           <div>
                                              <label class="custom-control custom-checkbox">
                                                I am having ear problem.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.ear">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                           <div>
                                              <label class="custom-control custom-checkbox">
                                                I am having teeth problem.
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.teeth">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                            <div>
                                              <label class="custom-control custom-checkbox">
                                                I need a personal doctor
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.personal">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                           <div>                                    
                                             <label class="custom-control custom-checkbox">
                                                Other
                                               <input type="checkbox" class="custom-control-input" ng-model="patient.other" >
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description" style="opacity:0;"></span>
                                              </label> 
                                           </div>
                                       </div>
                                   </div>
                                  
                               </div>
                               <hr>
                               <div ng-if="patient.sick" class="pb-1">
                                   <label>What are your Symptoms?</label>
                                   <div class="text-info">{{sympMsg}}</div>
                                   <div class="mb-2">
                                       <div ng-repeat="i in symptomsList" style="position: relative;padding-bottom: 5px">           
                                            <input  type="text" placeholder="Enter symptom" ng-model="name" uib-typeahead="name for name in symptoms | filter:$viewValue | limitTo:15" class="form-control">
                                            <i class="fa fa-times text-muted" style="cursor: pointer;position: absolute;bottom: 13px;right: 15px" ng-click="remove(i.sn)" ng-if="i.sn !== 'a'"></i>
                                            {{getSymptom(name)}}
                                        </div>
                                        <div class="text-right"> 
                                            <a href="" class="fa fa-plus btn btn-sm btn-neutral" ng-click="add()"></a> 
                                        </div>
                                   </div>
                                   <label>How long have you been experiencing the above symptom(s)?</label>
                                   <div class="mb-2">
                                     <select class="form-control" ng-model="patient.period">
                                         <option value="" selected="selected" disabled="disabled">_select</option>
                                         <option style="font-size: 14px">few days ago</option>
                                         <option style="font-size: 14px">one week</option>
                                         <option style="font-size: 14px">two weeks</option>
                                         <option style="font-size: 14px">a month</option>
                                         <option style="font-size: 14px">two months</option>
                                         <option style="font-size: 14px">about six months</option>
                                         <option style="font-size: 14px">about a year</option>
                                         <option style="font-size: 14px">more than a year</option>
                                         <option style="font-size: 14px">over two years</option>
                                         <option style="font-size: 14px">many years</option>
                                     </select>
                                   </div>
                                   <label>How do you feel right now?</label>
                                   <div class="mb-2">
                                       <textarea class="form-control pl-1" ng-model="patient.how" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                                   </div>
                                   <label>Did you use any medication or try self medication before now?</label>
                                   <div class="mb-2">
                                        <label class="custom-control custom-radio">
                                            Yes
                                           <input type="radio" value="yes" class="custom-control-input" ng-model="patient.hasMedicated">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description" style="opacity:0;"></span>
                                        </label> <br>
                                         <label class="custom-control custom-radio">
                                            No.
                                           <input type="radio" value="no" class="custom-control-input" ng-model="patient.hasMedicated">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description" style="opacity:0;"></span>
                                        </label> 
                                   </div>
                               </div>
                               <div ng-if="patient.pregnant" class="mb-2">
                                   <label>How long has the pregnancy been?</label>
                                   <div class="text-info">{{pregMsg}}</div>
                                   <div>
                                       <select ng-model="patient.duration" class="form-control">
                                           <option value="" selected="selected">_select</option>
                                           <option style="font-size: 14px" > a month</option>
                                           <option style="font-size: 14px" >less than 2 months</option>
                                           <option style="font-size: 14px" >less than 3 months</option>
                                           <option style="font-size: 14px" >less than 4 months</option>
                                           <option style="font-size: 14px" >less than 5 months</option>
                                           <option style="font-size: 14px" >less than 6 months</option>
                                           <option style="font-size: 14px" >above 6 months</option>
                                           <option style="font-size: 14px" >9 months</option>
                                       </select>
                                   </div>                                   
                               </div>
                               <div class="mb-2" ng-if="patient.getPregnant">

                                  <label>When was your last menstruation ?</label>
                                  <div>{{lmpMsg}}</div>
                                  <select class="form-control" ng-model="patient.lmp">
                                      <option value="" selected="selected" disabled="disabled">_select</option>
                                      <option style="font-size: 14px">few days ago</option>
                                      <option style="font-size: 14px">one week ago</option>
                                      <option style="font-size: 14px">two weeks ago</option>
                                      <option style="font-size: 14px">last month</option>
                                      <option style="font-size: 14px">two months ago</option>
                                      <option style="font-size: 14px">three months ago</option>
                                      <option style="font-size: 14px">about six months ago</option>
                                      <option style="font-size: 14px">about a year ago</option>
                                      <option style="font-size: 14px">two years ago</option>
                                      <option style="font-size: 14px">over two years ago</option>
                                      <option style="font-size: 14px">I am in menopause</option>
                                  </select>
                                  
                                  <div class="mb-2">
                                    <label>What complaint do you have for pregnancy ?</label>
                                      <div class="text-danger">{{getPregnantMsg}}</div>
                                      <textarea class="form-control pl-1" ng-model="patient.getPregIssue" placeholder="write..." ng-keyup="autoExpand($event)" id="textarea"></textarea>
                                  </div>
                                </div>
                               <div class="mb-2" ng-if="patient.accident">
                                     
                                    <label>Where did you sustain injuries? <span class="text-muted">(e.g I had a car accident and i broke my leg )</span></label>
                                    <div class="text-info">{{accMsg}}</div>
                                    <textarea class="form-control pl-1" ng-model="patient.injuries" placeholder="write..." ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div> 
                              
                               <div class="mb-2" ng-if="patient.stroke">
                                     
                                    <label>Where did you sustain paralysis?</label>
                                    <div class="text-info">{{paraMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.paralysis" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div>

                               <div class="mb-2" ng-if="patient.eye">
                                   
                                    <label>What is wrong with your eye?</label>
                                     <div class="text-info">{{eyeMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.eyeIssue" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div>

                               <div class="mb-2" ng-if="patient.ear">
                                    
                                    <label>What is wrong with your ear?</label>
                                     <div class="text-info">{{earMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.earIssue" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div> 
                               <div class="mb-2" ng-if="patient.teeth">
                                     
                                    <label>What is wrong with you teeth?</label>
                                    <div class="text-info">{{teeMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.teethIssue" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div>
                                <div class="mb-2" ng-if="patient.other">
                                     
                                    <label>What other issues do you have for seeing the doctor?</label>
                                    <div class="text-info">{{otherMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.otherIssue" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div>
                               <div class="mb-2" ng-if="patient.personal">
                                     
                                    <label>Why do you need a personal doctor?</label>
                                    <div class="text-info">{{personalMsg}}</div>
                                    <textarea class="form-control pl-1" placeholder="write..." ng-model="patient.personalIssue" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                               </div> 

                               <section>  
                                  <div class="mb-2">
                                    <br>
                                    <label>Do you have a PDF, Image or Video associated with the complaint?</label><br>
                                    <span style="font-size:.85em;">Not more than 6 files is allowed. File size should be less than 8mb.You can upload PDF, image or video. (On desktop, hold ctrl key to select multiple files)</span>
                                    <br><br>
                                    
                                     <input type="file" id="file" class=""  file-model = "files" multiple="multiple"> 
                                     <b style="display: block;padding: 15px 10px">Or</b> 

                                     <button ng-click="takePhoto()" class="btn btn-sm btn-simple">Take Photo</button>
                                    
                                   
                                  </div>
                                  <div style="min-height: 20px"> 
                                    <div id="canvasArea2" style="max-width: 420px;height: auto;margin: 0 auto" canvas-area>
                                      <!--<canvas id="canvas" width=150 height=120></canvas>-->
                                    </div> 
                                    
                                    <div class="clearfix"></div>
                                     
                                    <div style="text-align: center;overflow-x: hidden;">
                                      <div style="text-align: left;" ng-if="isCapture">
                                        <a href="" ng-click="closeCam()" class="btn btn-sm btn-neutral">Close Camera</a>
                                      </div>
                                     
                                  
                                      <video id="player2" autoplay class="video" ng-class="{'capture': isCapture}" player-element></video>
                                   
                                     
                                      <div style="width: 40%;margin: 5px auto" ng-hide="!isCapture">
                                        <button id="capture2" class="btn-danger  btn" style="visibility: hidden;" capture-btn>Capture</button>  
                                      </div>
                                    </div>    
                                     
                                  </div>
                                </section>                                                                                                        
                           </form>                              
                                                
                            <!--<p><i class="fa fa-info"> <small>consultation fees will be charged if your request is granted.</small></i></p> -->
                        
                        </div>
                    </div>
                </div> 
                <div class="modal-footer">
                        <div ng-show="!docInfo.isSent">
                            <button class="btn btn-info" ng-click="validate()" ng-if="patient.sick || patient.pregnant || patient.personal || patient.stroke || patient.ear || patient.eye || patient.teeth || patient.accident || patient.getPregnant || patient.other"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="docInfo.loading"></i> {{(docInfo.loading) ? '' : 'Send consultation request'}}</button>
                        </div>
                        <span ng-show="docInfo.isSent"><i class="fa fa-check text-success"></i> Request sent!</span> 
                           
                        <div class="p-2" ng-if="status">
                            <i class="fa fa-check" style="color: green;font-size: 18px" ng-if="status"> {{status}} </i>
                            <!--<div>
                                <label>If your request is granted you will have full access to: </label>
                            </div>
                            <i class="fa fa-camera text-success"> Video Chat</i> &nbsp;&nbsp;
                            <i class="fa fa-comment text-success"> Chat</i> &nbsp;&nbsp;
                            <i class="fa fa-calendar text-success"> Book an appointment</i>
                        </div>-->
                        <button class="btn btn-simple text-muted" disabled="disabled" ng-hide="patient.sick || patient.pregnant || patient.personal || patient.stroke || patient.ear || patient.eye || patient.teeth || patient.accident || patient.getPregnant || patient.other && !docInfo.isSent">{{(docInfo.loading) ? "" : 'Send consultation request'}}</button>  
                        <span ng-show="docInfo.isSent"><i class="fa fa-check text-success"></i> Request sent!</span>      
                </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
    </script>

     <!-- quick chat modal -->
   <script type="text/ng-template" id='quick-chat.html'>
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="p-2">
            <div>
                <b class="font-1_3"><i class="fa fa-comments"></i> Messaging</b>
                <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>      
            </div>
            <hr>
           
            <div class="modal-body">
                <header>
                   <b>{{center.name}}</b>
                   <span style="display: block;">{{center.address}} {{center.city}} {{center.country}}</span>
                </header>
              
                <div class="pt-3">
                    <textarea class="form-control p-1" ng-model="messageBody" placeholder="write..." style="min-height: 140px" ng-keyup="autoExpand($event)">
                    </textarea>
                </div>

                <div class="pt-2">
                    <button ng-click="sendChatSingle(center.id,center.user_id)" class="btn btn-danger btn-block" style="position: static;margin-left: 2px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(isSent) ? "Message sent!" : 'Send'}}</button>
                </div>
               
            </div>
            <div class="modal-footer">
               <p class="p-2" ng-show="isSent">This is one-way messaging. If you want to view replies or continue chatting with this doctor, please go to your dashboard and click <i class="fa fa-comments"></i> icon to use our chat interface for two-way messaging. <a href="" ng-click="todashboard(checkLogIn.typeOfUser)"><i class="fa fa-arrow-left"></i> Go to dashboard now!</a></p>
            </div>
            
          </div>
        </div>
      </div>
   </script>

    <script type="text/javascript">
      function showPass(elem) {
        var x = (elem == 'a') ? document.getElementById("myPass") : document.getElementById("myPass2");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>

    <script src="assets/js/core/tether.min.js" type="text/javascript"></script>
    <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="assets/js/now-ui-kit.js" type="text/javascript"></script>
    <script src="/assets/js/app.js"></script>


    <!--<script type="text/javascript" src="/assets/js/angularclient.js"></script>-->
    <script type="text/javascript" src="/assets/js/index.angular-client.js"></script>
    <script type="text/javascript" src="/assets/js/ngroute.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/socket.min.js"></script>



    <script src="/assets/js/angularAnimate.js"></script>
    <script src="/assets/js/modalService.js"></script>
    <script src="/assets/js/angular-touch.min.js"></script>
    <!--<script src="/assets/js/angular-carousel.js"></script>-->
    
   
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    
    <script src="/assets/js/ngresource.js"></script>
   
</body>

</html>