<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Applinic helps you consult doctors, find physicians or search Diagnostic centers near you, order medicines online, get quick prescription and much more">

    <meta name="robots" content="noindex, nofollow" />
    
    <title>Applinic - Find Doctors, Physicians, Diagnostics centers nearby</title>

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon.png">
   
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
   
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
  
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />
    <link href="/assets/css/my-edit.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
     <link rel="stylesheet" href="/assets/css/icomoon.css">
  
    <script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/source.js"></script>
    <noscript>
      <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/assets/show-error.html">
    </noscript>

    <script type="text/javascript">
        var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
        if(Opera){
          window.location.href = "/assets/show-error.html";
        }
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128083647-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128083647-1');
    </script>

    <style>

        body {
                font-family: 'Open Sans', sans-serif;
             }

        .card-block {
           text-align: center;
           padding:0px;
           min-height:340px;
        }   

        .card{
            box-shadow: none;border:1px solid #18ce0f;border-radius: inherit!important;
        }    

        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

        .title {
            text-transform: uppercase;
        }



        .dropdown-menu {
            width:330px!important;
        }

        .nav-item > a {
           color: green!important;
           text-align: left;

        }

        .below-banner-text li > a {
            font-size: 18px!important
        }


       
        .list-group-item{
            background: transparent;
            border:0;
        }

        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .make-up-bg {
            width:100%;
            height:100%
        }

        .carousel-inner {
            /*height:520px;*/
        }

        .font_1-4 {
            font-size: 1em!important;
        }

        .carousel-item.active,
        .carousel-item-next,
        .carousel-item-prev
        {
            /*SET IN BS AS FLEXBOX. SO PERSPECTIVE SCALE DID NOT WORK*/
            display:block;
        }
        .carousel-inner>.carousel-item>a>img,
        .carousel-inner>.carousel-item>img,
        .img-responsive
        {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .carousel-fade .carousel-inner .carousel-item {
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            -ms-transition-property: opacity;
            transition: opacity .7s ease-in-out;
        }
        .carousel-inner .carousel-item,
        .carousel-inner .active.carousel-item-left,
        .carousel-inner .active.carousel-item-right
        {
            opacity:0;
        }
        .carousel-inner .active,
        .carousel-inner .carousel-item-next.carousel-item-left,
        .carousel-inner .carousel-item-previous.carousel-item-right
        {
            opacity: 1;
        }
        .carousel-item.active,
        .active.carousel-item-left,
        .active.carousel-item-prev,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right
        {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }
        .list-group-item{
            background: transparent;
            border:0;
        }
        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }
        .navbar-transparent{
            background:rgba(0,0,0,0.4) !important;
        }

        .ways-to-meet {
            padding-left: 100px
        }



.carddr{
    height:10px;
}

.mobile-item-display {
    display: none!important;
  }

 @media screen and (max-width: 829px) {

            .home-pallete-content {
    font-size: 0.85em;
    min-height: 234px;
}

.carddr{
    height:10px;
}


}


@media screen and (max-width: 699px) {

            .no-mobile-item-display {
    display: none!important;
  }

 .mobile-item-display {
    display: inline-block!important;
  }

            .home-pallete-content {
    font-size: 0.85em;
    min-height: 130px;
}

.m-top{
    margin-top: 54px;
}
            .topUp{
                top:380px;
            }
            .carousel-caption {
                top:0;
                left:0;
                right: 0;
                bottom: 0;
                padding-top: 55px !important;
                 /*min-height:400px;*/
                 margin-bottom: 80px;
            }

            .d-none{
                display: block!important;
                font-size:12px;
            }

            .make-up-bg {
                min-height:350px !important;
            }

            .carousel-inner {
                /*min-height:400px !important;*/
            }

            .display-4 {
                margin-top: 20px;
                font-size:22px;
            }

            .toExpect  {
                margin-top: 120px
            }

            .section {
                padding-top: 95px!important
            }

           /* .mob-gap {
                margin-top: 70px
            }*/

            .home-pallete-content {
                height: 180px;
            }

            .patient-note {
                margin-top: 120px
            }

            .ways-to-meet {
                padding-left:50px
            }
              
        }
.title{font-size:1.2em;
font-weight:600;}

.list-group-item{
    font-size: .8em;
    padding: 10px 10px 10px 5px;
    margin: 0;
}

 .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

        .list-group-item{
            background: transparent;
            border:0;
        }

        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .navbar-transparent{
            background:rgba(0,0,0,0.4) !important;
           
        }

        .dropdown-item{
text-transform: uppercase;
padding:10px 10px;
 border-bottom:1px solid #f2f2f2;
 color:#000;
 font-size: .8em;
        }

 .dropdown-item:hover{
 background: #71BB52;
     color:#555;
     text-transform: uppercase;
 }

 .card{
     border-radius: 10px;
 }

 .all .card img{
     margin-bottom:30px;
 }

 .home-pallete-content {
    font-size: 0.85em;
    height: 130px;
 }
</style>



</head>

<body class="template-page"  style="overflow-x:hidden;position: relative;" ng-controller="hompageController">
   
    <% include ./inner/nav %>
    <!-- End Navbar -->
     <div style="height: 2px" class="bg-success">
         <h1>Stay Home and Access Healthcare</h1>
     </div>

    <div id="carouselExampleIndicators" class="slide carousel carousel-fade bg-default" role="listbox" data-ride="carousel"
        style="position: relative;" >
    
        <div class="carousel-inner" role="listbox" style="box-shadow: none;">

            <div class="carousel-item active">
                <a href="/find-doctors" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive no-mobile-item-display" src="/assets/images/Banner-1.jpg" alt="Find doctors near me">
                  
                </a>
                <a href="/find-doctors" class="mobile-item-display">
                  
                    <img class="d-block img-fluid make-up-bg img-responsive " src="/assets/images/mobile2-min.jpg" alt="Find doctors near me">
                </a>
              
                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">
                    <div class="display-4">Doctor</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 1,000 registered and verified doctors and consultants<br>
                    • Find the right doctor or specialist for your case<br>
                    • Book appointment online for consultation with a doctor<br>
                    • 24 hours Live chat/audio/video call with doctors and consultants<br>
                    • Free electronic Personal Medical Record (PMR)<br>
                    • Discount on all consultations paid through your e-wallet<br>

                    <br>
                    
                </div>-->
            </div>



            <div class="carousel-item">
                <a href="/find-doctors" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive "  src="/assets/images/Banner-2.jpg" alt="Find physicians near me">
                   
                </a>
                 <a href="/find-doctors" class="mobile-item-display">
                   
                    <img class="d-block img-fluid make-up-bg img-responsive "  src="/assets/images/mobile4-min.jpg" alt="Find physicians near me">
                </a>
               
               
                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">


                    <div class="display-4">Pharmacy</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 500 registered and verified pharmacy stores <br>
                    • Find the drug you are searching for in any city <br>
                    • 24 hours Live chat/audio/video call with pharmacists<br>
                    • All your prescriptions secure in your free Electronic Medical Record<br>
                    • Discounts on all purchases through your e-wallet<br>

                    <br>
                    
                </div>-->
            </div>

            <div class="carousel-item">
                <a href="/find-laboratory" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive" src="assets/images/Banner-lab.jpg" alt="Find specialists near me">
                   
                </a>
                 <a href="/find-laboratory" class="mobile-item-display">
                   
                    <img class="d-block img-fluid make-up-bg img-responsive" src="/assets/images/Mobile-Test-lab.jpg" alt="Find specialists near me">
                </a>
              
                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">

                    <div class="display-4">Radiology</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 500 registered and verified radiology centers<br>
                    • 24 hours Live chat/audio/video call with radiologists and radiographers <br>
                    • Find the center that performs radiological investigations in your city<br>
                    • Discounts on all radiology investigations <br>
                    • Your radiology report secure in your free Electronic Medical Record
                    <br><br>
                    
                </div>-->
            </div>

             <div class="carousel-item">
                <a href="/find-radiology" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive" src="/assets/images/Banner-radio.jpg" alt="Find radiology center near me">
                   
                </a>

                 <a href="/find-radiology" class="mobile-item-display">
                   
                    <img class="d-block img-fluid make-up-bg img-responsive" src="/assets/images/Mobile-Scan-Radio.jpg" alt="Find specialists near me">
                </a>
              
                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">

                    <div class="display-4">Radiology</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 500 registered and verified radiology centers<br>
                    • 24 hours Live chat/audio/video call with radiologists and radiographers <br>
                    • Find the center that performs radiological investigations in your city<br>
                    • Discounts on all radiology investigations <br>
                    • Your radiology report secure in your free Electronic Medical Record
                    <br><br>
                    
                </div>-->
            </div>



            <div class="carousel-item">
                <a href="/find-drugs" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive" src="assets/images/Banner-4.jpg" alt="Find drugs">
                 
                </a>

                <a href="/find-drugs" class="mobile-item-display">
                 
                    <img class="d-block img-fluid make-up-bg img-responsive" src="/assets/images/mobile1-min.jpg" alt="Find drugs near me">
                </a>

                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">
                    <div class="display-4">Laboratories</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 500 registered and verified laboratory centers and scientists<br>
                    • 24 hours Live chat/audio/video call with laboratory scientists <br>
                    • Find the center that performs laboratory investigations in your state<br>
                    • Discounts on all laboratory investigations <br>
                    • All your lab investigation results secure in your Electronic Personal Record<br>
                    <br>
                    
                </div>-->
            </div>

            <div class="carousel-item">
                <a href="/covid-19" class="no-mobile-item-display">
                    <img class="d-block img-fluid make-up-bg img-responsive " src="/assets/images/Banner-covid-19.jpg" alt="Find specialists near me">
                   
                </a>

                 <a href="/covid-19" class="mobile-item-display">
                 
                    <img class="d-block img-fluid make-up-bg img-responsive" src="/assets/images/Banner-covid-19-mobile.jpg" alt="Find specialists near me">
                </a>

              
                <!--<div class="carousel-caption d-none d-md-block text-left" style="font-size: .9rem; background:rgba(0,0,0,0.4); padding:1.5em;">
                    <div class="display-4">Laboratories</div>
                    <div class="separator01 separator-primary"></div>
                    <br>
                    • Over 500 registered and verified laboratory centers and scientists<br>
                    • 24 hours Live chat/audio/video call with laboratory scientists <br>
                    • Find the center that performs laboratory investigations in your state<br>
                    • Discounts on all laboratory investigations <br>
                    • All your lab investigation results secure in your Electronic Personal Record<br>
                    <br>
                    
                </div>-->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span style="height:40px; width:60px;" class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span style="height:43px; width:80px;" class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="clearfix"></div>


<div style="height: 2px;padding-bottom: 2px" class="bg-success"></div>

<div class="" style="background-color: #fff">
  <div class="container">
    <ul class="nav nav-tabs below-banner-text" id="myTab" role="tablist">
        <li class="nav-item text-center">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#search"  role="tab" aria-controls="profile" aria-selected="false"><b>Find Physicians and Specialists</b></a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#search1"  role="tab" aria-controls="profile" aria-selected="false"><b>Find Hospitals &amp; Clinics</b></a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home0" role="tab" aria-controls="home" aria-selected="true"><b>Find Diagnostic Tests &amp; Centers</b></a>
        </li> 

        <li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true"><b>Find Drug &amp; Pharmaceutical Centers</b></a>
        </li>


        <!--<li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true"><b>Child &amp; Adult Health Kits</b></a>
        </li> -->

         <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home3" role="tab" aria-controls="home" aria-selected="true"><b>Fertility/Sexual Health &amp; Skin Care Kits</b></a>
        </li> 

        
        <li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-selected="true"><b>Covid-19 Screening Test</b></a>
        </li> 

         <li class="nav-item text-center">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home5" role="tab" aria-controls="home" aria-selected="true"><b>Check Your Symptoms</b></a>
        </li> 

    </ul>
<div class="tab-content p-3" id="myTabContent" >
  <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-3 ">
      <div class="pt-2">

       <span>   
         <input type="radio" name="options" value="radio" ng-model="invest.type" autocomplete="off"> &nbsp;
        <label for="option2">Radiology</label>
        </span>
        
   &nbsp;     &nbsp;   
        <span>
          
             <input type="radio" name="options" value="lab" ng-model="invest.type" autocomplete="off">
      &nbsp;   <label for="option1">Laboratory</label>
          
        </span>

  


</div>
      </div>
      
  
      

    
    <div class="col-md-7" ng-cloak>
       <div ng-if="invest.type == 'radio'">
          <input class="form-control" type="text" placeholder="Enter Patient ID or Study UID or Test Reference Number" ng-model="invest.id"/>
      </div>
      <div ng-if="invest.type == 'lab'">
          <input class="form-control" type="text" placeholder="Enter Test Reference No" ng-model="invest.id"/>
      </div>
    </div>
    
    <div class="col-md-2 mt-2">
       <button class="btn btn-danger btn-block" ng-click="findInvestigation()">
                            <i class="fa fa-search"></i>
                        </button>
    </div>
      
      
    </div>
  </div>



  
  <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="profile-tab" >

    <h2 class="title text-center" style="margin-top: 10px">Find Physicians and Special Centers</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    
    <div class="row" ng-cloak>
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home2.jpg" alt="Child specialists near me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title">Pediatrician</h5>
                <p class="card-text">Chat, consult and book appointment with <b>children specialist</b> in your city.</p>
                <br>
                <a href="/find-doctors?s=pediatrics" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home1.jpg" alt="Female specialists near me">
              <div class="card-body">
                <h5 class="card-title">Gynecologist</h5>
                <p class="card-text">Chat, consult and book appointment with Specialist in <b>Female health &amp; Pregnancy</b> in any city.</p>
                <a href="/find-doctors?s=gynecologist" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="/assets/images/doc-home4.jpg" alt="Eye specialists near me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title">Ophthalmologist</h5>
                <p class="card-text">Chat, consult or book appointment with <b>Eye Specialist</b> in any city. </p>
                <br>
                <a href="/find-doctors?s=ophthalmologist" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home5.jpg" alt="Teeth specialists near me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title">Dentist</h5>
                <p class="card-text">Chat, consult and book appointment with <b>Teeth Specialists</b> near you.</p>
                <br>
                <a href="/find-doctors?s=dentist" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home6.jpg" alt="Best heart specialists near me" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Cardiologist</h5>
                <p class="card-text">Chat, consult and book appointment with a <b>heart Specialist</b> in any city.</p>
                <a href="/find-doctors?s=cardiologist" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2">
            <div class="card p-2">
                <div style="height: 55px"></div>
                <p class="text-center" style="font-size: 18px;">
                   <span>Over</span>
                   <b style="font-weight: bolder;" class="text-warning">500+</b><br>
                   <span>Specialists</span><br>
                   <span>Special Centers</span><br>
                   <span>Skills &amp; Procedures</span>
                </p>
                <a href="/find-doctors" class="btn btn-success btn-block">Find more...</a>
            </div>
        </div>
    </div>
    
  </div>

  <div class="tab-pane fade show" id="search1" role="tabpanel" aria-labelledby="profile-tab" >

    <h2 class="title text-center" style="margin-top: 10px">Find Hospitals &amp; Clinics</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    
    <div class="row" ng-cloak>
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/hos-home.jpg" alt="Specialist hospitals close to me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title ellipsis">{{specialCenterArr[0].name}}</h5>
                <p class="card-text mb-1 ellipsis" style="width: 100%" title="{{specialCenterArr[0].specialty}}">{{specialCenterArr[0].specialty}}</p>
                <p class="card-text"><b>{{specialCenterArr[0].city}} {{specialCenterArr[0].country}}</b></p>
                
                <a href="{{'/find-doctors?s='+ specialCenterArr[0].name}}" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/hos-home1.jpg" alt="Special centers near me">
              <div class="card-body">
                <h5 class="card-title ellipsis">{{specialCenterArr[1].name}} </h5>
                 <p class="card-text mb-1 ellipsis" style="width: 100%" title="{{specialCenterArr[1].specialty}}">{{specialCenterArr[1].specialty}}</p>
                <p class="card-text"><b>{{specialCenterArr[1].city}} {{specialCenterArr[1].country}}</b></p>
                <a href="{{'/find-doctors?s='+ specialCenterArr[1].name}}" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/hos-home2.jpg" alt="Neurology hospitals near me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title ellipsis">{{'MEMFYS HOSPITAL'}} </h5>
                 <p class="card-text mb-1 ellipsis" style="width: 100%" title="NEUROSURGERY, NEUROLOGY, RADIOLOGY, PEDIATRICS">{{'NEUROSURGERY, NEUROLOGY, RADIOLOGY, PEDIATRICS'}}</p>
                <p class="card-text"><b>{{'Enugu'}} {{'Nigeria'}}</b></p>
               
                <a href="{{'/find-doctors?s='+ 'MEMFYS HOSPITAL'}}" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/hos-home3.jpg" alt="Best hospitals near me" style="min-height: 190px">
              <div class="card-body">
                <h5 class="card-title ellipsis">{{specialCenterArr[3].name}}</h5>
                <p class="card-text mb-1 ellipsis" style="width: 100%" title="{{specialCenterArr[3].specialty}}">{{specialCenterArr[3].specialty}}</p>
                <p class="card-text"><b>{{specialCenterArr[3].city}} {{specialCenterArr[3].country}}</b></p>              
                <a href="{{'/find-doctors?s='+ specialCenterArr[3].name}}" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2" >
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/hos-home4.jpg" alt="Less expensive clinics" style="min-height: 205px;">
              <div class="card-body">
                <h5 class="card-title ellipsis">{{specialCenterArr[4].name}}</h5>
                <p class="card-text mb-1 ellipsis" style="width: 100%" title="{{specialCenterArr[4].specialty}}">{{specialCenterArr[4].specialty}}</p>
                <p class="card-text"><b>{{specialCenterArr[4].city}} {{specialCenterArr[4].country}}</b></p>
                <a href="{{'/find-doctors?s='+ specialCenterArr[4].name}}" class="btn btn-success">Find now!</a>
              </div>
            </div>
        </div>
         <div class="col-md-4 pt-2">
            <div class="card p-2">
                <div style="height: 55px"></div>
                <p class="text-center" style="font-size: 18px;">
                   <span>Over</span>
                   <b style="font-weight: bolder;" class="text-warning">100+</b><br>
                   <span>Hospitals &amp; Clinics</span><br>
                   <span>Special Centers</span>
                </p>
                <a href="/find-doctors?s=hospitals" class="btn btn-success btn-block">Find more...</a>
            </div>
        </div>
    </div>
    
  </div>

  <div class="tab-pane fade show " id="home0" role="tabpanel" aria-labelledby="profile-tab">
    <h2 class="title text-center" style="margin-top: 10px">Find Diagnostic Tests &amp; Centers</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    <div class="row" ng-cloak>
       <div class="col-md-6 pt-2">
           <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home13.jpg" alt="Best laboratory centers near me">
              <div class="card-body">
                <h5 class="card-title pt-2">Laboratory</h5>
                <p class="card-text">Find all kinds of <b>Laboratory Tests and Centers</b> closest to you. We have over 50+ registered and verified laboratory centers in all cities.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=malaria">Malaria Tests</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=widal">Typhoid Test</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=Kidney Function Test">Kidney Function Test (KFT)</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=Liver Function Test">Liver Function Test (LFT)</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=HPV DNA Test">HPV DNA TEST</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=Occult Blood Test">Stool for Occult Blood Test</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=Serum Creatinine Test">Serum Creatinine Test</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=B-HCG ( BLOOD PREGNANCY TEST )">B-HCG ( BLOOD PREGNANCY TEST )</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-laboratory?s=HIV 1 AND 2 SCREENING TEST">HIV 1 AND 2 SCREENING TEST</a></li>
                
              </ul>
              <div class="card-body">
                <a href="/find-laboratory" class="btn btn-success btn-block">Find more tests!</a>
                <!--<a href="#" class="card-link">Another link</a>-->
              </div>
            </div>
       </div>
       <div class="col-md-6 pt-2">
           <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home8.jpg" alt="Radiology centers near me">
              <div class="card-body mt-4">
                <h5 class="card-title">Radiology</h5>
                <p class="card-text">Find all kinds of <b>Radiology Tests and Centers</b> closest to you. We have over 50+ registered and verified radiology centers in all cities.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Chest X-ray">Chest X-ray</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Abdominal X-ray">Abdominal X-ray</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Skull X-ray">Skull X-ray</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Upper Extremities X-ray">Upper Extremities X-ray</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Lower Extremities X-ray">Lower Extremities X-ray</a></li>
                 <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=CT Scan">CT Scan</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=MRI">MRI</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=ultra Sound">3D Ultrasound</a></li>
                <li class="list-group-item font_1-4 text-danger"><a href="/find-radiology?s=Mammography">Mammography</a></li>
              </ul>
              <div class="card-body mt-1">
                <a href="/find-radiology" class="btn btn-success btn-block">Find more tests!</a>
               <!-- <a href="#" class="card-link">Another link</a>-->
            </div>
       </div>
    </div>
 
    
  </div>

</div>

<div class="tab-pane fade show " id="home1" role="tabpanel" aria-labelledby="profile-tab">
     <h2 class="title text-center" style="margin-top: 10px">Find Drug &amp; Pharmaceutical Centers</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    <div class="row" ng-cloak>
        <div class="col-md-6 pt-2">
           <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home14.jpg" alt="Pharmaceutical Centers near me">
                <div class="card-body mt-4">
                    <h5 class="card-title">Adult Health Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=diabetes self-care kit&kit=true">Diabetes Self-Care Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=anti-malaria kit&kit=true">Anti-Malaria Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=anti-Typhoid Kit&kit=true">Anti-Typhoid Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=blood pressure self-care kit&kit=true">Blood Pressure Self-Care Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=asthma care kit&kit=true">Asthma Care Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=immune booster kit&kit=true">Adult Immune Booster Kit</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=severe Acne / Pimples kit&kit=true">Severe Acne / Pimples Kit</a></li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more drugs &amp; kits!</a>
                   <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>        
        </div>
        <div class="col-md-6 pt-2">
            <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home15.jpg" alt="Quality drugs to buy" style="width: 100%">
               <div class="card-body mt-4">
                    <h5 class="card-title">Child Health Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Antimalarial Kit (Children)&kit=true">Anti-Malarial Kit (Children)</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Multivitamins & Immune booster kit (Children)&kit=true">Multivitamins &amp; Immune Booster Kit (Children)</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=measles kit (children)&kit=true">Measles Kit (Children)</a></li>
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Flu/Catarrh/Blocked Nose Kit (Children 6 Years +)&kit=true">Flu/Catarrh/Blocked Nose Kit (Children 6 Years +)</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Flu/Catarrh/Blocked Nose Kit (under 6 Years)&kit=true">Flu/Catarrh/Blocked Nose Kit (Under 6 Years)</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=cough kit (children)&kit=true">Cough Kit (Children)</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Asthma care kit (children)&kit=true">Asthma Care Kit (Children)</a></li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more drugs &amp; kits!</a>
               <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>    
        </div>
    </div>
</div>


<div class="tab-pane fade show " id="home2" role="tabpanel" aria-labelledby="profile-tab">
     <h2 class="title text-center" style="margin-top: 10px">Buy Drugs &amp; Kits</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    <div class="row" ng-cloak>
        <div class="col-md-6 pt-2">
           <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home16.jpg" alt="Child medication kits">
                <div class="card-body mt-4">
                    <h5 class="card-title">Child Health Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger">Anti-Malarial Kit (Children)</li>
                    <li class="list-group-item font_1-4 text-danger">Multivitamins &amp; Immune Booster Kit (Children)</li>
                    <li class="list-group-item font_1-4 text-danger">Measles Kit (Children)</li>
                    <li class="list-group-item font_1-4 text-danger">Flu/Catarrh/Blocked Nose Kit (Children 6 Years +)</li>
                    <li class="list-group-item font_1-4 text-danger">Flu/Catarrh/Blocked Nose Kit (Under 6 Years)</li>
                    <li class="list-group-item font_1-4 text-danger">Cough Kit (Children)</li>
                    <li class="list-group-item font_1-4 text-danger">Asthma Care Kit (Children)</li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more kits!</a>
               <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>        
        </div>
        <div class="col-md-6 pt-2">
            <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home17.jpg" alt="Common medication kits adult" style="width: 100%">
                <div class="card-body mt-4">
                    <h5 class="card-title">Adult Health Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger">Diabetes Self-Care Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Anti-Malaria Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Anti-Typhoid Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Blood Pressure Self-Care Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Asthma Care Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Adult Immune Booster Kit</li>
                    <li class="list-group-item font_1-4 text-danger">Severe Acne / Pimples Kit</li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more drugs &amp; kits!</a>
                   <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>    
        </div>
    </div>
</div>

<div class="tab-pane fade show " id="home3" role="tabpanel" aria-labelledby="profile-tab">
    <h2 class="title text-center" style="margin-top: 10px">Fertility/Sexual Health &amp; Skin Care Kits</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    <div class="row" ng-cloak>
        <div class="col-md-6 pt-2">
           <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home15.jpg" alt="Fertility and sexual health drugs" style="width: 100%">
                <div class="card-body mt-4">
                    <h5 class="card-title">Fertility &amp; Sexual Health Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=male sexual health kit&kit=true">Male Sexual Health Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=erectile dysfunction kit&kit=true">Erectile Dysfunction Supplement Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=fertility kit women&kit=true">Female Fertility Kit Women</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=general vaginitis kit&kit=true">General Vaginitis Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=menopause care kit&kit=true">Menopause Care Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=prostate care kit&kit=true">Prostate Care Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Thrush / Yeast Infection Kit&kit=true">Thrush/Yeast Infection</a></li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more drugs &amp; kits!</a>
               <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>        
        </div>
        <div class="col-md-6 pt-2">
            <div class="card p-2">
                <img class="card-img-top" src="assets/images/doc-home17.jpg" alt="Body and hair care kits" style="width: 100%">
                <div class="card-body mt-4">
                    <h5 class="card-title">Skin &amp; Hair Care Kits</h5>
                    <p class="card-text">We have over 100+ drug kits compiled by qualified doctors for easy access. We also offer home delivery services for drugs and kits purchased through the platform.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Mild Acne / Pimples kit&kit=true">Mild Acne / Pimples</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=severe Acne / Pimples kit&kit=true">Severe Acne / Pimples</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=measles kit adult&kit=true">Measles Kit Adult</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=athletes feet kit&kit=true">Athletes Feet Kit</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=Eczema (Tinea Versicolor) kit&kit=true">Eczema Kit (Tinea Versicolor)</a></li>

                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=scabies kit&kit=true">Scabies Skin Infestation</a></li>
                    
                    <li class="list-group-item font_1-4 text-danger"><a href="/find-drugs?k=dandruff kit&kit=true">Dandruff Kit</a></li>
                </ul>
                <div class="card-body mt-1">
                    <a href="/find-drugs" class="btn btn-success btn-block">Find more drugs &amp; kits!</a>
                   <!-- <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>    
        </div>
    </div>
</div>


<!--


-->


<div class="tab-pane fade show " id="home4" role="tabpanel" aria-labelledby="profile-tab">
     <h2 class="title text-center" style="margin-top: 10px">Covid-19 Screening Test</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div>
    <div ng-cloak>
        <div class="pt-3">
            <img src="/assets/images/covid-banner.jpeg" alt="covid-19 Take Covid-19 online risk assessment test">
        </div>
        <p class="text-center p-2">Take Covid-19 online risk assessment test. Get more information about your covid-19 exposure risk and find out more information about nearest covid-19 testing centers in the country. It is free!</p>
        <div class="text-center">
            <a href="/covid-19" class="btn btn-success ">Go to covid-19 online screening test now!</a>
        </div>
    </div>
</div>

<div class="tab-pane fade show " id="home5" role="tabpanel" aria-labelledby="profile-tab">   
      <h2 class="title text-center" style="margin-top: 10px">Check Your Symptoms</h2>

    <div class="separator separator-primary" style="margin-bottom: 30px"></div> 
    <div class="row" ng-cloak>
        <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/symptom-home1.jpg" alt="Symptom Checker AI" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Step 1</h5>
                <p class="card-text">Select symptoms you're currently having. Enter your gender and date of birth then submit.</p>
                <!--<a href="#" class="btn btn-success">Try it!</a>-->
              </div>
            </div>
        </div>
        <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/symptom-home.jpg" alt="Symptom checker" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Step 2</h5>
                <p class="card-text">Based on the selected symptoms, gender and age, the checker will return result of possible health problems you may be having and suggest specialties for the illness.</b></p>
                <!--<a href="#" class="btn btn-success">Try it!</a>-->
              </div>
            </div>
        </div>
        <div class="col-md-4 pt-2">
            <div class="card p-2">
              <img class="card-img-top" src="assets/images/doc-home3.jpg" alt="Symptom checker" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Step 3</h5>
                <p class="card-text">System will automatically list out specialists for your health issues who you can chat with or consult.</p>
                <!--<a href="#" class="btn btn-success">Try it!</a>-->
              </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="/symptom-checker" class="btn btn-success btn-block">Try it now!</a>
    </div>
</div>

        </div>
    </div>

    <div class="mt-4">
        <div class="container">
      
      <div class="row">
      <div class="col-md-3" style=></div>
           <div class="col-md-6 mobileAlert text-center hidden-md-up">
                <h6>Download our mobile version </h6>
                <a href="https://play.google.com/store/apps/details?id=com.farelandsnigeria.applinic"><img src="/assets/images/icons/google-play-badge.png" height="70" alt="playstore"></a>
            </div>
      </div>

        <div class="clearfix"></div>
             <div class="clearfix"></div>
             <h2 class="title text-center" style="margin-top: 30px"> WHAT TO EXPECT</h2>
            <div class="separator separator-primary"></div>

            <div class="col-md-12">
                <div class="col-md-10 col-sm-12 offset-md-1 offset-sm-0 text-center pt-2 pb-3">
                 <p class="text-muted" style="font-size: 16px">We facilitate patient-doctor communications and promote easy access to pharmacies and diagnostic centers.</p>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row all">

                    <div class="carddr">

                    </div>
                </div>

                <div class="row all">
         


                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block  text-center">

                                <div class="p-2 " style="background-color: #f2f2f2">
                                    <img src="/assets/images/finddoctor.png" alt="Find a doctor" height="100">
                                </div>
                                <div class="h6 pt-4">FIND SPECIALISTS</div>
                                <div class="text-muted p-2 home-pallete-content">Find specialists in all medical fields
                                    in your city and beyond
                                    and consult them by chat, audio, video and office meetings.

                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center" style="position:relative">

                                <div class="p-2" style="background-color: #f2f2f2">
                                    <img src="/assets/images/video-chat.png" alt="video chat with doctors" height="100">
                                </div>
                                <div class="h6 pt-4">LIVE CHAT/VIDEO CALL</div>
                                <!--<div class="h6 pt-1">Find Your doctor</div>-->
                                <div class="text-muted p-2 home-pallete-content">Available chat and video calls and
                                    conferences among patients,doctors,diagnostic centers and pharmacies including real
                                    time notication of requests.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block  text-center">
                                <div class="p-2" style="background-color: #f2f2f2">
                                    <img src="/assets/images/metting.png" alt="Book appointment with your doctor" height="100">
                                </div>
                                <div class="h6 pt-4">IN-PERSON MEETING</div>
                                <!--<div class="h6 pt-1">Find Your doctor</div>-->
                                <div class="text-muted p-2 home-pallete-content">Built in appointment schedular for
                                    clinical consultations including real time notification of appointment requests and
                                    approvals</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2">
                                    <img src="/assets/images/appointment.png" alt="Book in-person meeting appointment with a doctor" height="100">
                                </div>
                                <!--<div class="h6 text-center">appointment booking</div>-->
                                <div class="h6 pt-4">AVAILABLE MEDICAL PROCEDURES</div>
                                <div class="text-muted p-2 home-pallete-content">View the centers and doctors offering
                                    the latest
                                    non-invasive medical procedures and
                                    interventional skills in your country.
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="display-2 text-primary p-2" style="background-color: #f2f2f2"><img src="/assets/images/records.png"
                                        height="100" alt="Find diagnostic centers near you"></div>
                                <!--<div class="h6">Patients' medical records</div>-->
                                <div class="h6 pt-4">FIND DIAGNOSTIC CENTERS</div>
                                <div class="text-muted p-2 home-pallete-content">Search for laboratory and radiology
                                    centers
                                    Providing authentic diagnostic services in your city and beyond.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">
                                <div class="display-2 text-primary p-1" style="background-color: #f2f2f2">
                                    <img src="/assets/images/payment.png" alt="Pay for healthcare services online" height="100"></div>
                                <!--<div class="h6 text-center">Medipay E-wallet</div>-->
                                <div class="h6 pt-4">ELECTRONIC MEDICAL RECORDS</div>
                                <div class="text-muted p-2 home-pallete-content">View your medical records or send
                                    them to your doctor for professional advice.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2">
                                    <img src="/assets/images/prescription.png" alt="Recieve your prescription anywhere you are." height="100">
                                </div>
                                <!--<div class="h6">Electronic PRESCRIPTIONS</div>-->
                                <div class="h6 pt-4">QUICK PRESCRIPTION</div>
                                <div class="text-muted p-2 home-pallete-content">
                                    Need a quick doctor’s prescription or
                                    online drug purchase.
                                    You get instant notification when prescription is written by your physician.
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2"> <img src="/assets/images/lab.png"
                                        height="100" alt="Receive and view your laboratory results on mobile devices and PC"></div>
                                <!--<div class="h6">Electronic lab results</div>-->
                                <div class="h6 pt-4">ACCESS LABORATORY RESULTS</div>
                                <div class="text-muted p-2 home-pallete-content">Do not go back to the laboratory to
                                    collect your results.
                                    Access it right here or give access to your doctor.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2"> <img src="/assets/images/svcan.png"
                                        height="100" alt="Receive and view your radiology reports and DICOM images on mobile devices and PC"></div>
                                <!--<div class="h6">Electronic lab results</div>-->
                                <div class="h6 pt-4">ACCESS RADIOLOGY RESULTS</div>
                                <div class="text-muted p-2 home-pallete-content">Do not go back to the radiology center
                                    to collect your results.
                                    Access it right here or give access to your doctor.
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">
                                <div class="display-2 text-primary p-1" style="background-color: #f2f2f2"><img src="/assets/images/payment.png"
                                        height="100" alt="Pay for your healthcare services online"></div>
                                <!--<div class="h6 text-center">Medipay E-wallet</div>-->
                                <div class="h6 pt-4">E-WALLET SERVICES (MEDIPAY)</div>
                                <div class="text-muted p-2 home-pallete-content">You can fund your medipay wallet
                                    anytime to purchase drugs or pay for laboratory or radiology services online </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">
                                <div class="display-2 text-primary p-1" style="background-color: #f2f2f2"><img src="/assets/images/prescription.png"
                                        height="100" alt="We deliver drugs and kits to your home or work place"></div>
                                <!--<div class="h6 text-center">Medipay E-wallet</div>-->
                                <div class="h6 pt-4">DRUG DELIVERY SERVICE</div>
                                <div class="text-muted p-2 home-pallete-content">Send your prescription to an online
                                    pharmacy and
                                    have your drugs delivered to your home, office or hotel
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">
                                <div class="display-2 text-primary p-1" style="background-color: #f2f2f2"><img src="/assets/images/records.png"
                                        height="100" alt="Keep records of your medical history"></div>
                                <!--<div class="h6 text-center">Medipay E-wallet</div>-->
                                <div class="h6 pt-4">TRACK MEDICAL HISTORY</div>
                                <div class="text-muted p-2 home-pallete-content">All records of your medical activities
                                    from doctors' consultations to treatments, results of radiology/laboratory tests
                                    and prescriptions are kept for your future needs.</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6  pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2"> <img src="/assets/images/svcan.png"
                                        height="100" alt="DICOM viewer embedded in your account for viewing images"></div>
                                <!--<div class="h6">Electronic radiology results</div>-->
                                <div class="h6 pt-4">RADIOLOGY STUDIES UTILITY</div>
                                <div class="text-muted p-2 home-pallete-content">
                                    Available online PACS and DICOM viewer with 3D and other tools for advanced
                                    reporting
                                    by radiologists and viewing by referring physicians. Perfect for radiology studies
                                    and reporting.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6  pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2"> <img src="/assets/images/img/037-binoculars.png"
                                        height="100" alt="Search for drugs, doctors, diagnostic centers and investigations."></div>
                                <!--<div class="h6">Electronic radiology results</div>-->
                                <div class="h6 pt-4">ADVANCED UTILITY SEARCH</div>
                                <div class="text-muted p-2 home-pallete-content">
                                    You can search for diagnostic investigations and drugs singly or in multiples and
                                    get instant results (listed in order of availability)
                                    of centers and locations matching your search criteria.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6  pb-3 pr-3 pl-3 col-xs-12">
                        <div class="card">
                            <div class="card-block text-center">

                                <div class="p-2" style="background-color: #f2f2f2"> <img src="/assets/images/img/021-waiting-room-1.png"
                                        height="100" alt="Submit your complaint and doctors will respond to it"></div>
                                <!--<div class="h6">Electronic radiology results</div>-->
                                <div class="h6 pt-4">PATIENTS WAITING ROOM (PWR)</div>
                                <div class="text-muted p-2 home-pallete-content">
                                    When unsure of the right specialist,complete and submit the "Need a Doctor" form
                                    and the right physician will contact you.
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>

    <div style="text-align:center;padding-bottom:30px">
        <a href="/how-it-works" class="btn btn-primary text-uppercase">Learn more</a>
    </div>

    <div class="container-fluid">
        <div class="row" style="min-height:350px; background:url('assets/images/bg3-min.jpg') 50% 100%; padding:5em 0">
            <div class="col-md-6 col-sm-12 col-lg-7 ways-to-meet">
                <h3 style="text-align: center;color: #fff;font-weight: bolder">3 ways to meet a doctor</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6 pl-4 pr-5  col-xs-12">
                        <div class="card">
                            <div class="card-block text-center" style="position:relative">

                                <div class="p-2">
                                    <img src="/assets/images/speech-bubble.png" alt="Chat with physician live" height="100">
                                </div>
                                <div class="h6">Live Chat</div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pl-4 pr-5 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-block  text-center">

                                <div class="p-2">
                                    <img src="/assets/images/meeting.png" alt="Meet in-person" height="100">
                                </div>
                                <div class="h6">Office</div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 pl-4 pr-5 col-xs-12">
                        <div class="card">
                            <div class="card-block  text-center">

                                <div class="p-2">
                                    <img src="/assets/images/video-chat.png" align="Video conference and chat" height="100">
                                </div>
                                <div class="h6">Video </div>
                            </div>
                        </div>
                    </div>
                    <!--end of col -->



                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-center pt-4">

                        <a href="/signup" class="btn btn-warning btn-lg">Get Started!</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 card pt-1">
                <div class="container pt-3" style="min-height:350px;">
                    <div class="col-md-12 pt-2 col-sm-12">
                        <h3 class="title text-uppercase ml-0 mb-0 p-0">ARE YOU A DOCTOR?</h3>
                        <sub class=" text-uppercase">REGISTER NOW AND REACH THOUSANDS OF PATIENTS</sub>
                        <div class="separator01 separator-primary"></div>
                        <br>

                        <span class="home-pallete-content">Applinic is a Health Management and Information System that
                            makes doctors more visible and accessible to the world. </span>
                        <br><br><br>
                        <a href="/signup" class="get-user">SIGN UP</a>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 card pt-1 pb-5">
                <div class="container" style="min-height:350px;">
                    <div class="col-md-12 col-sm-12 pt-5">
                        <h3 class="title text-uppercase  ml-0 mb-0 p-0">DO YOU NEED A DOCTOR?</h3>
                        <sub class=" text-uppercase"">REACH THOUSANDS OF SPECIALISTS FOR YOUR CASE</sub>
<div class="
                            separator01 separator-primary">
                    </div>
                    <br>
                    <span class="home-pallete-content">We understand how difficult it is sometimes to find a doctor or
                        specialist in any field of medicine on your own, so we built Applinic to simplify that process
                        for you.
                        Register now and start accessing them.</span>


                    <br><br><br>
                    <a href="/signup" class="btn btn-info">REGISTER NOW</a>
                </div>

            </div>
        </div>


        <div class="col-md-6 col-sm-12 pt-1 pb-5">
            <div class="container" style="min-height:350px;">
                <div class="col-md-12 col-sm-12 pt-5">
                    <h3 class="title text-uppercase  ml-0 mb-0 p-0"">Do you have a center?</h3>
<sub class="
                        text-uppercase">Register now and reach thousands of patients</sub>
                        <div class="separator01 separator-primary"></div>
                        <br>


                        <span class="home-pallete-content">By registering your center and profiling your services on
                            Applinic, your practice becomes more evident and accessible to thousands of patients.
                        </span>


                        <div class="mt-5 pt-4">
                            <a href="/signup" class="btn btn-info mt-3">SIGNUP NOW</a></div>
                </div>

            </div>

        </div>

    </div>
    </div>


    <div class="container-fluid " style="background:#f8f8f8; min-height:270px; padding:3em 0;">
        <h3 class="title text-center" style="margin-bottom:2px;">Patient Feedback</h3>
        <div class="separator separator-primary"></div>
        <br />
        <div class="container">
            <div class="text-center home-pallete-content">
                In just three simple steps, applinic.com will help you find your nearest healthcare. We aim to
                facilitate you in finding your right doctor
                with just few clicks without having to ask around or wonder where to find your nearest healthcare
                facility.
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="padding:1.5em; ">
                    <div class="card  card-block"  style="text-align: center; padding: 13px; min-height: 190px;">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="height: 194px;overflow-y: hidden;">
                            <img src="assets/images/sandra-min.jpeg" alt="Testimony from Applinic patient" class="img-responsive card" style="height:auto;width: 180px">
                        </div>

                        <div class="col-md-8 col-lg-8 col-sm-12">

                            <div style="font-size:.9em; text-align:left !important;">
                                <div class="col-md-12 pull-left text-capitalize title p-0 patient-note">Sandra Nnah
                                </div><br><sub class="text-muted text-bold m-0">PATIENT</sub>
                                <div class="clearfix"></div><br>
                                <div>I had the need to see a surgeon for a medical problem in April 2018 and I was helpless about how to go about it. I hate visiting hospitals especially when I have to wait.

                                <button class="btn btn-link"></button>
                                
                                <p style="display: none;">
                                 I visited several of them and they took days and cost lots of time and money which I consider wasted, yet no tangible plan of action. 

                                    Everything was so vague  until a friend introduced Applinic to me. Within a day I signed up , got a physician and had my consultation, diagnosis  and surgery done at an affordable fee.  It was very comforting, easy and reassuring because I was very scared initially with the previous diagnosis. Now am fully healed and my doctor still calls to check on me. 
Thank you Applinic for hooking up me with a great surgeon.
One beauty of Applinic is that all my medical records are now in my account. My drugs, laboratory and radiology test results are electronically saved in my free Applinic account and I can access them anytime in the future.
                                </p>

                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="padding:1.5em;">
                    <div class="card  card-block" style="text-align: center; padding: 13px; min-height: 190px;">
                        <div class="col-md-4  col-sm-12 col-xs-12 pull-left">
                            <img src="assets/images/obinna-min.jpeg" alt="Testimony from Applinic patient" class="img-responsive  card" style="height:auto;width: 180px">
                        </div>

                        <div class="col-md-8 col-sm-12 col-xs-12 pull-right">
                            <div style="font-size:.9em; text-align:left !important;">
                                <div class="col-md-12 pull-left text-capitalize title p-0 patient-note">Ede Obinna
                                </div><br> <sub class="text-muted text-bold m-0">PATIENT</sub>
                                <div class="clearfix"></div> <br>
                                A friend told me about applinic.com, when I registered was able to find a medical
                                specialist for my illness.
                                applinic.com made communication with my doctor so easy.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <% include ./inner/footer-links %>

    <div class="clearfix"></div>
    <% include ./inner/footer %>
    </div>

    <!--************************************
                Sign In Sign Up Light Box End
        *************************************-->

    <script type="text/ng-template" id="home-page-search.html">
        <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content" style="position: absolute; top:10;">
            <div class="modal-header" style="position: relative;">
                <strong style="font-weight: 100;font-size: 22px">Hey, look what we found!</strong>
                <a href=""  style="position: absolute;right: 20px;top: 25px" class="close"  data-dismiss="modal" aria-hidden="true">&times;</a>       
            </div><hr>
             <div  style="padding: 20px;margin-bottom: 20px;font-size: 14px"> 
             <span ng-if="user.category !== 'Doctor'" class="text-info"> You can search for more items at once from your account. <a href="/login">log in</a> or <a href="/signup">create account</a> now!</span>
                <p>Showing {{searchResult.length}} result(s) for <b>{{user.item}}</b> in <b>{{user.city}}</b> category <b>{{user.category}}</b></p> 
                <div style="padding-right: 5px"><input type="text" class="form-control" placeholder="filter by name, address, work place etc" ng-model="filt" name="">

                </div>
                <div ng-repeat="found in searchResult | filter : filt" style="padding: 5px; max-height: 800px;overflow-y: auto;position: relative;">    <!--<img src="{{found.profile_pic_url}}" style="width: 75px;height: auto;float: left;">-->
                    <div style="display: inline-block;padding-left: 10px; margin:5px;">
                    <span ng-bind-html = "found.msg" class="text-info"></span>
                    <strong style="display: block;max-width: 90%;font-size: 16px">{{found.name}} <sup ng-if='found.addBy' class="font_1-2 text-danger">*</sup></strong>
                     <!--<strong style="display: block;max-width: 90%;font-size: 16px"> <span ng-if="user.category == 'Doctor'">{{found.title}}</span> {{found.firstname}} {{found.lastname}} {{found.name}}</strong>-->
                    <span style="display: block;max-width: 80%" ng-if="found.specialty"><b>{{found.specialty}}</b> <span ng-if="found.education.length > 0">|</span> <span ng-repeat="e in found.education">{{e.certificate}}</span></span>
                    <span style="display: block;max-width: 80%"> <span ng-if="found.work_place"><b>works at</b> | <em>{{found.work_place}}</em> </span><em ng-if="user.category !== 'Doctor'">{{found.address}}</em> {{found.city}} {{found.country}}</span>  
                    <p ng-if="found.skill" class="pt-1"><a href="{{found.ref_url}}" target="_blank" style="color: blue">{{found.skill}}</a></p>       
                    <small ng-click="account(found)"><i class="fa fa-comment text-muted" title="chat with {{found.firstname || found.name}}"></i></small>&nbsp;
                    <small ng-click="account(found)"><i class="fa fa-phone text-muted" title="call {{found.firstname || found.name}}"></i></small>&nbsp;
                    <small ng-click="account(found)"><i class="fa fa-video-camera text-muted" title="video chat with {{found.firstname || found.name}}"></i></small>&nbsp;
                    <small ng-click="account(found)"><i class="fa fa-share text-muted" title="forward to {{found.firstname || found.name}}"></i></small>&nbsp; <a href="{{(found.profile_url) ? found.profile_url : ('https://applinic.com/user/profile/view/' + found.id)}}" class="text-danger" target="_blank">view profile <i class="fa fa-external-link"></i></a><br>
                    </div>
                    <a href="" class="btn btn-info btn-sm" style="position: absolute;top: 10px;right: 10px" ng-click="account(found)" ng-if="user.category == 'Doctor'|| user.category == 'Special Center' || user.category == 'Disease' && user.category !=='Skills & Procedures' && user.category !=='Pharmacy' && user.category !=='Radiology' && user.category !=='Laboratory'" title="send consultation request to {{found.title}} {{found.firstname}} {{found.lastname}}">Book</a>
                    <a href="{{found.ref_url}}" target="_blank" class="" style="position: absolute;top: 10px;right: 10px"  ng-if=" user.category =='Skills & Procedures'" title="Learn more about {{found.skill}} {{found.firstname}} {{found.lastname}}"><i class="fa fa-eye" style="font-size: 26px"></i></a>
                    <a href="" class="btn btn-danger btn-sm" style="position: absolute;top: 10px;right: 10px" ng-click="account(found,user.category)" ng-if="user.category == 'Pharmacy' || user.category == 'Laboratory' || user.category == 'Radiology'" title="Forward {{user.item}} to {{found.name}}"><i class="fa fa-share"></i></a>
                    <hr class="text-muted">                
                </div> 
              
                <div ng-if="loading" style="text-align: center;margin-top: 20px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i></div>
                <p ng-if="searchResult.length == 0 && !loading" style="text-align: center">Oops! No result was found.</p>        
            </div>
        </div>
      </div>
</script>






    <!-- plug ins -->
    <!--   Core JS Files   -->

    <script src="assets/js/core/tether.min.js" type="text/javascript"></script>
    <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="assets/js/now-ui-kit.js" type="text/javascript"></script>
    <script src="/assets/js/app.js"></script>


    <!--<script type="text/javascript" src="/assets/js/angularclient.js"></script>-->
    <script type="text/javascript" src="/assets/js/home.angular-client.js"></script>
    <script type="text/javascript" src="/assets/js/ngroute.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/socket.min.js"></script>


    <script src="/assets/js/angular-clipboard.js"></script>
    <script src="/assets/js/angularAnimate.js"></script>
    <script src="/assets/js/modalService.js"></script>
    <script src="/assets/js/angular-touch.min.js"></script>
    <!--<script src="/assets/js/angular-carousel.js"></script>-->
    
   
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    
    <script src="/assets/js/ngresource.js"></script>
   
  

     <!-- Start of LiveChat (www.livechatinc.com) code -->
    <!--<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 10352687;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <noscript>
    <a href="https://www.livechatinc.com/chat-with/10352687/">Chat with us</a>,
    powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
    </noscript>-->
    <!-- End of LiveChat code -->


    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 5000,
            pause: false
        });
    </script>
</body>

</html>