<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Arial, serif;
            font-size: 9.9px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Arial, serif;
            font-size: 9.9px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Arial, serif;
            font-size: 11.2px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial, serif;
            font-size: 11.2px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(255, 255, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(255, 255, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Arial, serif;
            font-size: 18.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Arial, serif;
            font-size: 18.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(255, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(255, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        -->
    </style>

</head>

<body>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:600px;
        border:1px solid #333;  overflow:hidden">


        <div style="border: 1px solid #333; height: 100px;">
        <div style="position:absolute;left:343.03px;top:34.66px" class="cls_003">
        <span class="cls_003">Downloaded from PathProvider. SYNLAB’s online <br/>
                    results delivery  and health management platform</span></div>

        <div style="position:absolute;left:18.75px;top:63.36px; font-family: Arial, serif;
            font-size: 11.2px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none">

        <span style="font-family: Arial, serif;
            font-size: 11.2px;
            color: rgb(0, 56, 97);
            font-weight: normal;
            font-style: normal;
            text-decoration: none">Formerly PathCare
                Laboratories</span></div>
            </div>

            
        <div style="border:1px solid #333; width: 100%; height: 100px;">
            <div style="background: black; padding: 5px; margin-bottom: 30px;">
             <span style="color:#fff">Patient: Mrs. Chioma Nwankwo</span></div>
             <br/><br/>

             <div style="position:absolute;left:32.25px;top:142.15px; font-family: Arial, serif;
            font-size: 7.5px; color: rgb(0, 0, 0);
            font-weight: bold; font-style: normal; text-decoration: none">
             <span>Sex</span></div>

        <div style="position:absolute;left:281.29px;top:142.15px" class="cls_006">
        <span class="cls_006">F</span></div>

        <div style="position:absolute;left:309.04px;top:142.15px; font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none"">
        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none"">Mobile</span>
        </div>

        <div style="position:absolute;left:499.19px;top:142.15px" class="cls_006">
        <span class="cls_006">+2348022227376</span></div>

        <div style="position:absolute;left:32.25px;top:153.81px" style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">
        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">ID Number</span>
        </div>

        <div style="position:absolute;left:222.61px;top:153.81px" class="cls_006"><span
                class="cls_006">84012855132843</span></div>

        <div style="position:absolute;left:309.04px;top:153.81px; font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">

        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">Telephone</span>
        </div>

        <div style="position:absolute;left:32.25px;top:165.46px; font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">
        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">Date of Birth</span></div>

        <div style="position:absolute;left:233.62px;top:165.46px" class="cls_006">
        <span class="cls_006">1984 / 01 /28</span></div>

        <div style="position:absolute;left:309.04px;top:165.46px" style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">

        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">Email</span>
        </div>

        <div style="position:absolute;left:453.29px;top:165.46px" class="cls_006"><span
                class="cls_006">C.NWANKWO@YAHOO.COM</span></div>
                
        <div style="position:absolute;left:32.25px;top:177.11px;font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none" >
            <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none"">Age</span></div>


        <div style="position:absolute;left:277.15px;top:177.11px" class="cls_006">
        <span class="cls_006">34</span></div>

        <div style="position:absolute;left:309.04px;top:177.11px" style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">


        <span style="font-family: Arial, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none">Address</span>
        </div>
        <div style="position:absolute;left:535.31px;top:177.82px" class="cls_006"><span class="cls_006">LAGOS</span>
        </div>
        </div>
       


      
      
        <div style="border:1px solid #333; width: 100%; height: 210px;">
        <div style="background: black; width:100%; padding: 5px; color: #fff;">
        <span>Report Details</span></div>
        
        <div style="position:absolute;left:32.25px;top:239.53px" class="cls_005">
        <span class="cls_005">Requisition
                Number</span></div>
        <div style="position:absolute;left:244.59px;top:240.10px" class="cls_005">
        <span class="cls_005">371019702</span>
        </div>
        <div style="position:absolute;left:309.04px;top:239.53px" class="cls_005">
        <span class="cls_005">Specimen
                Type</span></div>
        <div style="position:absolute;left:32.25px;top:251.18px" class="cls_005">
        <span class="cls_005">Order
                Reference</span></div>
        <div style="position:absolute;left:309.04px;top:251.18px" class="cls_005">
        <span class="cls_005">Comments</span>
        </div>
        <div style="position:absolute;left:32.25px;top:262.83px" class="cls_005">
        <span class="cls_005">Collected</span>
        </div>
        <div style="position:absolute;left:216.61px;top:262.83px" class="cls_006">
        <span class="cls_006">17:23 02 Jan
                2019</span></div>
        <div style="position:absolute;left:32.25px;top:274.48px" class="cls_005">
        <span class="cls_005">Received</span>
        </div>
        <div style="position:absolute;left:216.61px;top:274.48px" class="cls_006">
        <span class="cls_006">18:45 02 Jan
                2019</span></div>

                <div style="position:absolute;left:32.25px;top:286.14px" class="cls_005">
        <span class="cls_005">Report
                Date</span></div>
        <div style="position:absolute;left:216.61px;top:286.14px" class="cls_006">
        <span class="cls_006">18:37 02 Jan
                2019</span></div>

                <div style="position:absolute;left:32.25px;top:297.79px" class="cls_005">
        <span class="cls_005">Report
                Type</span></div>

        <div style="position:absolute;left:226.78px;top:297.79px" class="cls_006">
        <span class="cls_006">FINAL
                REPORT</span></div>

    

                <div style="position:absolute;left:32.25px;top:309.44px" class="cls_005">
        <span class="cls_005">Priority</span>
        </div>

        <div style="position:absolute;left:249.87px;top:309.44px" class="cls_006">
        <span class="cls_006">ROUTINE</span>
        </div>

        <div style="position:absolute;left:309.04px;top:278.58px" class="cls_005">
        <span class="cls_005">Tests
                Ordered</span></div>
      
        <div style="position:absolute;left:309.04px;top:290.23px" class="cls_006">
        <span class="cls_006">Albumin Serum;
                Albumin/Globulin Ratio; Alkaline Phosphatase(ALP); ALT
                (SPGT); Anion Gap; AST (SGOT); Bicarbonates (CO2); Bilirubin
                Conjugated; Bilirubin Total; Bilirubin Unconjugated; Biochemistry
                Urine; Chloride Serum; Cholesterol HDL; Cholesterol LDL; CKD-EPI
                (GFR Estimate); Creatinine Serum; Full Blood Count ; Gamma
                GT; Globulin Serum; Glucose Fasting; Macroscopy Urine; Malaria
                Parasite Ag; Malaria Thick Film; Malaria Thin Film; Microscopy
                Urine; Potassium Serum; Salmonella Typhi Ag (Widal); Sodium Serum;
                Total Cholesterol; Total Protein; Triglyceride; Serum; Urea
                Serum</span></div>
            </div>



        <div style="position:absolute; top:419.65px; width: 100%; padding: 5px;
         border:1px solid #333; background: black;">
        <span style="color: #fff">Haematology Results</span></div>

        <div style="position:absolute;left:23.25px;top:455.52px" class="cls_009"><span class="cls_009">Name</span></div>
        <div style="position:absolute;left:117.01px;top:455.52px" class="cls_009"><span class="cls_009">TUM</span></div>
        <div style="position:absolute;left:205.38px;top:455.52px" class="cls_009"><span class="cls_009">Result</span>
        </div>
        <div style="position:absolute;left:302.89px;top:455.52px" class="cls_009"><span class="cls_009">Range</span>
        </div>
        <div style="position:absolute;left:400.02px;top:455.52px" class="cls_009"><span class="cls_009">Units</span>
        </div>
        <div style="position:absolute;left:492.15px;top:455.52px" class="cls_009"><span class="cls_009">Flag</span>
        </div>
        <div style="position:absolute;left:23.63px;top:476.61px" class="cls_005"><span class="cls_005">Full Blood Count
                :</span></div>
        <div style="position:absolute;left:34.88px;top:495.76px" class="cls_006"><span class="cls_006">Red Cell
                Count</span></div>
        <div style="position:absolute;left:205.38px;top:495.76px" class="cls_006"><span class="cls_006">4.92</span>
        </div>
        <div style="position:absolute;left:302.89px;top:495.76px" class="cls_006"><span class="cls_006">4.0-5.2</span>
        </div>
        <div style="position:absolute;left:400.02px;top:495.76px" class="cls_006"><span class="cls_006">x10^12/L</span>
        </div>


        <div style="position:absolute;left:34.88px;top:514.91px" class="cls_010"><span
                class="cls_010">Haemoglobin</span></div>

        <div style="position:absolute;left:205.38px;top:514.91px" class="cls_010">
        <span class="cls_010">10.94</span>
        </div>

        <div style="position:absolute;left:302.89px;top:514.91px" class="cls_010">
        <span class="cls_010">12.0-16.0</span>
        </div>

        <div style="position:absolute;left:400.02px;top:514.91px" class="cls_010">
        <span class="cls_010">g/dL</span>
        </div>

        <div style="position:absolute;left:492.15px;top:514.91px" class="cls_010">
        <span class="cls_010">Low</span></div>

     
        
        <div style="position:absolute;left:34.88px;top:529.82px" class="cls_006"><span class="cls_006">White Cell
                Count</span></div>
        <div style="position:absolute;left:205.38px;top:529.82px" class="cls_006"><span class="cls_006">7.35</span>
        </div>
        <div style="position:absolute;left:302.89px;top:529.82px" class="cls_006"><span class="cls_006">4.0-11.0</span>
        </div>
        <div style="position:absolute;left:400.02px;top:529.82px" class="cls_006"><span class="cls_006">x 10^9/L</span>
        </div>


        <div style="position:absolute;left:34.88px;top:545.97px" class="cls_006"><span class="cls_006">Neutrophils
                %</span></div>
        <div style="position:absolute;left:205.38px;top:545.97px" class="cls_006"><span class="cls_006">51.70</span>
        </div>
        <div style="position:absolute;left:400.02px;top:545.97px" class="cls_006"><span class="cls_006">%</span></div>
       
</div>



</body>

</html>
