<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
   <noscript>
        <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/assets/show-error.html">
    </noscript>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Applinic - Sign In</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
     <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
     <link href="/assets/css/my-edit.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
     <script type="text/javascript">
        var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
        if(Opera){
          window.location.href = "/assets/show-error.html";
        }
    </script>

    <script type="text/javascript" src="/assets/js/source.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128083647-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128083647-1');
    </script>-->
    
    <style>
        body {
          font-family: 'Open Sans', sans-serif;
       }

        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

       .list-group-item, .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .input-group-addon{
            border-radius:0;
            padding:0;
        }

        .form-control::-webkit-input-placeholder { color: rgba(0,0,0,0.5); font-size: 16px}  /* WebKit, Blink, Edge */
        .form-control:-moz-placeholder { color: rgba(0,0,0,0.5);font-size: 16px }  /* Mozilla Firefox 4 to 18 */
        .form-control::-moz-placeholder { color:rgba(0,0,0,0.5);font-size: 16px }  /* Mozilla Firefox 19+ */
        .form-control:-ms-input-placeholder { color: #000; font-size: 16px}  /* Internet Explorer 10-11 */
        .form-control::-ms-input-placeholder { color: #000; font-size: 16px}  /* Microsoft Edge */

        @media screen and (min-width: 768px) {
    
          .col-md-4 {
            max-width: 56.333333%;    
          }
        }
    </style>
</head>

<body ng-app = "myApp" style="overflow-x:hidden;" ng-controller = "loginController">
    <!-- Navbar -->
   <% include ./inner/nav1 %>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:60px;"></div>

<div class="page-header content-center" filter-color="purple" >
        <div class="page-header-image"></div>

           <div class="container" style="padding-top:5em;">
             <div>
              <div ng-show='!onlineStatus' style="text-align: center;padding-top: 10px;" ng-cloak>
                <span class="btn btn-warning btn-sm text-white font-1_2">No internet connections
                </span>
              </div>
              <!--<div ng-show='onlineStatus && !acknowledged && !stateIsLoading' style="text-align: center;padding-top: 10px;" ng-cloak>
                <span class="btn btn-success btn-sm text-white font-1_2">You're connected to internet
                </span>
              </div>-->   
            </div> 
   
               <div class="card col-md-5 p-4" style="box-shadow: 0px 5px 55px 20px rgba(0, 0, 0, 0.2);">
                               <p class="text-muted display-5"><b>Welcome Back!</b> <br/><sub>LOGIN TO YOUR ACCOUNT</sub></p>
                   <form class="form-group p-2" ng-submit="send()">
                            <div class="form-group col-md-12">
                              <span  style="color: red;display:block;text-align: center; font-size:16px;padding:10px 10px" ng-cloak>{{error}}</span>  
                                <input type="text" class="form-control ml-0" placeholder="Email or Phone number" ng-model = "login.username">
                            </div>
                   
                            <div class="form-group col-md-12" style="position: relative;">
                                <input type="password" class="form-control ml-0" placeholder="Password" ng-model = "login.password" id="myPass">
                                <i class="fa fa-eye" style="font-size:20px;position: absolute;top: 10px;right:20px;color: grey;cursor: pointer;" onclick="showPass()"></i>
                            </div>
                              
                           
                             <div class="form-group col-md-12" >
                             <button type="submit" href="" class="btn btn-info btn-block" ng-cloak> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>{{(loading) ? " " : "Login"}}</button><br>
 <div class="text-bold text-center text-muted"><i>Or</i></div><br>
                             <a href="/signup" class="btn btn-simple  text-lg btn-block" style="font-size:15px;">Create an Account</a>
                             </div>
                             <div>
                               <a href="" style="color: blue" data-toggle="modal" data-target="#accessl">Forgot password?</a>
                             </div>
                   
                     </form>
               </div>
           </div>

        </div></div>
    <div class="modal fade" id="accessl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding-right: 40px">
          <form>
            <div style="text-align: center;"><span ng-bind-html="cpMsg" style="font-size: 14px;"></span></div>
            <div ng-if="!isSuccess">
              <div>
                <label></label>
                <input type="text" name="" placeholder="Enter email or phone number (eg +2348064****56)" class="form-control" ng-model="changePassword.val">
              </div>
              <div style="text-align: center;padding-top: 10px">
                <button class="btn btn-danger btn-sm" ng-click="getUser()"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="isLoading"></i> {{(isLoading) ? "" : "Submit"}}</button>
              </div>
            </div>
            <div ng-if="isSuccess && !isVerified">
              <div class="text-danger" style="text-align: center;">{{verifyMsg}}</div>
              <div>
                  <p style="text-align: center;font-size: 12px">
                    cannot receive SMS? Try making a phone call to get the verification code
                    <a href="" ng-click="call(resend)"><i class="fa fa-phone"></i> Call now!</a>
                  </p> 
                  <p style="text-align: center;font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
              </div>
              <div>
                <input type="text" name="" placeholder="Enter pin" class="form-control" ng-model="changePassword.pin">
              </div>
              <div style="text-align: center;padding-top: 10px">
                <button class="btn btn-danger btn-sm" ng-click="verify()"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="isLoading"></i> {{(isLoading) ? "" : "Submit"}}</button>
              </div>
            </div>
            <div ng-if="isVerified">
              <div class="text-success" style="text-align: center;">{{passwordMsg}}</div>
              <div class="text-danger" style="text-align: center;">{{passwordErrorMsg}}</div>
              <div>
                <input type="password" name="" placeholder="Enter Password" class="form-control" ng-model="changePassword.newPassword">
              </div>
              <div>
                <input type="password" name="" placeholder="Re-type Password" class="form-control" ng-model="changePassword.newPassword2">
              </div>
              <div style="text-align: center;padding-top: 10px" ng-if="!passwordMsg">
                <button class="btn btn-danger btn-sm" ng-click="updatePassword()"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="isLoading"></i> {{(isLoading) ? "" : "Submit"}}</button>                
              </div>
              <div ng-if="passwordMsg" style="text-align: center;">
                <i class="fa fa-check text-muted"> Password changed!</i>
              </div>
            </div>
          </form>
        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>-->
      </div>
    </div>
  </div>

<div class="clearfix"></div>






<div class="clearfix"></div>
  <% include ./inner/footer %>
    
</body>

<script type="text/javascript">
  function showPass() {
    var x = document.getElementById("myPass");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/tether.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>

<script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
<!--<script type="text/javascript" src="/assets/js/angularclient.js"></script>-->
<script type="text/javascript" src="/assets/js/login.angular-client.js"></script>
<script type="text/javascript" src="/assets/js/ngroute.js"></script>
<script src="/socket.io/socket.io.js"></script>   
<script src="/assets/js/socket.min.js"></script>

<script src="/assets/js/angularAnimate.js"></script>
<script src="/assets/js/modalService.js"></script>
<script src="/assets/js/angular-touch.min.js"></script>
<script src="/assets/js/moment.min.js"></script>     
<script src="/assets/js/angular-moment.min.js"></script>
<script src="/assets/js/angucomplete-alt.min.js"></script> 
<script src="/assets/js/ui-bootstrap-tpls.js"></script>
<script src="/assets/js/angular-clipboard.js"></script>
<script src="/assets/js/ngresource.js"></script>
<script src="/assets/js/ngPrint.js"></script>
<script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/angular-underscore.js"></script>


</html>