<html>
  <head>
    <title>Privacy Policy for Oyoyo App</title>
  </head>
  <body style="padding: 20px">
  <h2>PRIVACY POLICY</h2>
  <h3>Important Information and who we are</h3>
<p>This Privacy policy between OYOYO App of the Oyoyo Wellness Centre, Society for Public Health and Social Development located at 24, 461 Road, Federal Housing Lugbe, Abuja  (SPHSD) and you, constitutes our commitment to your privacy on our application, records, websites, social media platforms and premises. We are very keen on your privacy. This document therefore discloses how your information is gathered and disseminated for the purposes of Hypertension prevention, management and control across various African countries.</p>
<h3>The Data we collect about you</h3>
<p>Personal data or information means any information about an individual from which that person can be identified. It does not include where the identity has been removed. We may collect, use, store and transfer the following personal data about you:<br>
Identity Data: First name, last name, username, title<br>
Contact data: Email address and health centre<br>
Technical data: Internet Protocol (IP) address, your login data, browser type and version time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access this website.<br>
Usage data: Information about how you use our website
Marketing and Communications Data: Your preferences in receiving marketing from us</p>

<h3>How your personal data is collected?</h3>
<p>Direct interactions: You provide us with your data by filling them in the app directly or by giving permission to other app users like the Blood Pressure commanders and Non-physician health workers to record your information in the various communities and health centres. This also includes personal data you provide when you agree for marketing information to be sent to you.</p>
Automated technologies or interactions:  As you interact with the app, we may automatically collect technical data about your equipment.<br>
<h3>How we use your personal data</h3>
<p>We will use your personal data for research purposes on a country-by-country level or in a continental manner, for data analytics to improve our app, marketing, customer relationships and experiences.</p>
<h3>Data Security</h3>
<p>We have put in place appropriate physical, technical and administrative security measures to prevent accidental loss of your personal data, its usage or access in an unauthorized manner. We also have limited use of personal data to just those who have a business need to know and are subject to a duty of confidentiality. While we do our part in protecting your information ensure you are not jeopardizing it by sharing of password and other app login details</p>

<h3>Data Retention</h3>
<p>Your personal data will be retained only for as long as is necessary to fulfil the purposes for which it was collected. This period of retention is determined by the amount, nature and sensitivity of the personal data, the potential risk of harm from unauthorized use or its disclosure and the reasons for which we collected the data.</p>
<h3>Data Confidential rights</h3>
<p>Under certain circumstances, you have the right under data protection laws in relation to your personal data. You have the right to request for personal data thus allowing you the right to receive a copy of your personal data and to check if we are processing it lawfully.
You also can request for correction of your personal data in cases of incomplete or inaccurate data recording though we may need to verify the new data being provided. 
You can also request for erasure of your personal data which means deletion or removal where there is a good reason to do so or you do not want your information to be processed or in cases where it was processed unlawfully or to comply with local law.  It is important to note also that we may not always comply with this request of removal for specific legal reasons for which you will be informed, if applicable at the time of the request.
You can object to having your personal data processed in cases where we are working on a legitimate interest or where a third party is involved and you are not at ease as you feel it affects your fundamental right or freedom or in instances where your personal data is being used for marketing purposes. In certain instances, however, we may demonstrate that we have legal grounds to process your information which override your right and freedom.<br>
Request for processing of your personal data restrictions can come about in the following scenarios<br>
• You want us to establish the accuracy of the data<br>
• Unlawful use of data but you do not want it removed<br>
• Holding of data even though we no longer need it but you do to establish, exercise or defend legal claims<br>
• You have objected to its use by use but we need to verify that we have overriding legitimate grounds permitting us to use it.<br>
Consent can be withdrawn at anytime in those cases where we are relying on consent to process your personal data. This though will not in any way affect the legalities of previous processing conducted prior to consent withdrawal.</p>

  </body>
</html>