<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
     <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
    <!-- CSS Files -->
    <link href="/assets/css/my-edit.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-kit.css" rel="stylesheet" />
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <style>
         body {
            line-height: 30px;
         }

        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

       .list-group-item, .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .input-group-addon{
            border-radius:0;
            padding:0;
        }

        .title{font-size:1.2em;
        font-weight:600;}

        .list-group-item{
            font-size: .8em;
            padding: 10px 10px 10px 5px;
            margin: 0;
        }
    </style>
</head>

<body style="overflow-x:hidden;">
    <!-- Navbar -->
    <% include ./inner/nav1 %>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:90px;"></div>
<div class="col-md-12 col-xs-12 col-sm-12 ">




    
    <div class="row">
      <!-- <div class="col-md-3 col-sm-12 col-xs-12 no-display">
             <div class="list-group" style="background:transparent; border:0; position:fixed; width:70%;">
     <a href="#" class="list-group-item list-group-item-action" style="font-size:1.7em; font-weight:300;">TABLE OF CONTENTS</a>
      <a href="#introduction" class="list-group-item list-group-item-action">Introduction</a>
      <a href="#introduction" class="list-group-item list-group-item-action">Getting started</a>
      <a href="#patients" class="list-group-item list-group-item-action">Patients</a>
      <a href="#doctors" class="list-group-item list-group-item-action">Doctors</a>
      <a href="#session" class="list-group-item list-group-item-action">session</a>
      <a href="#pharma" class="list-group-item list-group-item-action">Pharmaceutical centers</a>
      <a href="#diagnostic" class="list-group-item list-group-item-action">Diagnostic centers</a>
      <a href="#wallet" class="list-group-item list-group-item-action">Payments and wallet</a>
    </div>
        </div>-->
        <div  class="card p-2" style="font-size: 14px;width:70%;margin:0 auto">      
            <div class="container" style="padding-top:3em;">
<h2>Privacy Policy (Updated 2018-05-04)</h2>


<h4>Definition of Users </h4>
Health Service Provider (HSP)
HSP refers to individuals, corporate bodies and institutions who provide any form of health service on the Applinic platform. This includes doctors, pharmacists, laboratory and imaging scientists. Others includehospitals, clinics, pharmaceutical stores and diagnostic centers; ICUs,procedural facilities, ambulances, mobile health vans, helicopters and evacuation planes. Others are boats, barges, ships, submarine vessels and other mobile and static locations used to provide health services or tosell health products on the ground, on air or on sea through this web application. 
Consumer
Consumers are users of this application who access the services of Health Service Providers (HSPs) or donor individuals and agencies either for themselves or on behalf of others. They may be sick or healthy, located in the same city/country with the HSP or in a different location.<br>

<h4>Privacy Policy</h4>

The privacy of your personal information is of premium importance to us at Applinic and our affiliated legal entities (referred to in this policy as “the Company”, “the developer”, “we,” “us,” and similar terms). 
This Privacy Policy is a presentation of the general statement which describes how we collect, use, and process the personal and confidential information you provide on Applinic web and mobileapplications (referred to as “app”). 
We make reasonable efforts to collect, use, and disclose personal information in a manner consistent with the laws of the countries in which we collect the information. This Privacy Policy applies to this app, which is owned and operated by Applinic Ltd. <br>
You can visit Applinic without providing any personal information - you can conduct searches and read medical articles on the app without creating an account. Nevertheless if you desire to access certain health services that will require communication with the providers, then you will of absolute necessity need to create an account (even if it be with a nick name) so you can be differentiated from another user. When your account is created with or without your personal information, we adhere to the following privacy principles regarding how we collect, use, disclose, transfer, and store the information you provide. <br>

<h4>Privacy Practices</h4><br>
<h5>Information Collection.</h5> When you sign up on Applinic as any of the various user categories, we may collect or obtain from you information including but not limited to your name, center/practice name, address, e-mail address, phone number, photo, specialty, contact or profile preferences, and qualifications.
We may also collect information your internet device or web browser sends whenever you visit our site, including an Internet Protocol address. Consumers including patients may not use their real names and addresses for privacy and security reasons but phone numbers must be correct and functional for account verification and other services such as e-wallet payments and transactions which are linked to users’ phones.<br><br>

<h5>Use of Personal Information.</h5> We may use the personal information you provide to allow us to contact you, to fulfill requests you make, to seek your voluntary feedback on webapp features, content, services or to help fulfill our mission.We may also use your information for company internal purposes such as data analysis, system troubleshooting, auditing and research.In addition, we may use both the personal information you provided and the information your web browser sends to personalize your user experiences to serve you better such as by recommending drugs, physicians and centers that may be better disposed to serve your healthcare needs. These personal and browser information may also be used to detect users whose activities may pose risks and threats to our site for appropriate security reactions. <br>
We may also use statisticallyaggregated (not personal)demographic and healthinformation including patients’ complaints, medical,drug and  social histories and  physical findings, diagnoses, drug prescriptions, adverse reactions and reports ofmedical procedures and costs of  health products and servicesfor thedevelopment and formulation of polices, health press releases, advocaciesfor the promotion of possible community interventions by individuals, NGOs, donor agencies and Charities includinghealth organizations and governments. These integrated statisticsmay also be shared with drug and equipment manufacturers to strategize their product designs, sales and productions.<br>
Under no circumstance will your personal information whether demographic or medical be used or released singly for any purpose without a written and validated permission or request from you.<br>
If your information will be used for any purpose besides those outlined above, we will specifically inform you and obtain your consent, if legally required.From time to time, we may also make you aware of options to opt out of using or opt in to use certain features.<br><br>

<h5>Use of Practice Information. </h5>
During registration, health practices, hospitals and special centers provide information of their services including procedures, products and practitioners as well as locations, open hours and experiences. These information are not considered confidential, so are shared with the public especially with siteusers who are in search of such information. Such publicly shared information is in the benefit of the practice and in the interest of the purpose of the application. Any individual or HSP which does not want such information of its services shared publiclycannot and should not create an Applinic account or use the platform to enhance its practice in any way. <br><br>

<h5> Content Submissions. </h5>
Health providers and medical professionals may submit or upload medical articles and videosfor public medical enlightenment and procedural descriptive purposesbut Applinic may not successfully protect these contents from copying or reproduction because they are in the public domain. Consequently we do not promise responsibility for the copyright and security of your content against piracy. However we will do the basic and possible needful to notify the public of the copyright protection and reservation of all content you publish in Applinic. We will do so in two ways:<br>
• Homepage placement of a general copyright reservation statement for all the site content.<br>
• Source labeling/tagging of your videos and other Intellectual Property posted in our site if you request and meet with the terms.<br>
Due to the fact that your content submissions will be made publically available or shared with other third parties, we here and now ask for your express agreement that you use caution at the time you create it to avoid posting information that could cause harm or injury, or risk of harm or injury, to yourself or others and that you post no content that will reveal or disclose private health information of your patient, your practice or employer and any other person or party without a written consent to do so.<br>

All types of content you submit will be stored either on our systems or the systems of our affiliates or third parties. While industry security standards will be used to safeguard them from unauthorized modification, we cannot guarantee that. Though we are under no obligation to monitor your content submissions, we reserve the right to do so at our sole discretion. We also reserve the right to block or remove any content we deem inappropriate, revealing, privacy violating, obscene, unprofessional, implicating, harassing, defamatory, libelous, illegal, threatening, or otherwise objectionable. Since we do not review all content submitted in our site, we cannot guarantee that we will be able to take protective measures in the event you provide content disclosing information about a person who is a patient, an HSP or a victim of harm or abuse or is at risk of becoming a victim of harm or abuse.<br> <br>

When we become aware of content that we consider to be offensive or inappropriate or that could compromise the privacy of the personal or confidential information of another person, group of persons, family or HSPs. we will make all relevant effort to block or remove such content.  <br><br>

<h5>Retention.</h5> We retain collected personal information and submissions for a reasonable period of time to fulfill the collection purpose and then delete it from our records, with the exception of high demand articles and videos and some patients’ personal medical informationretained as part of a permanent medical record.<br><br>

<h5>Access.</h5> We endeavor to maintain the accuracy of personal and practice/institutional information and rely on you to ensure yourinformation is complete and accurate (except for patients who elect to use nick names and pseudonyms, which is highly recommended). You may verify, correct, or remove your personal information through your account profile to use other names.<br><br>

<h5>Information Sharing and Disclosure.</h5> We regard your personal information as confidential and do not sell it to anyone. We do not share your personal information with other parties except in circumstances where we specifically inform you and obtain your prior consent. <br><br>

<h5> Protection of Information.</h5>  To the best of our ability and available technology, all personal and medical information of patients and providers including institutions are protected from loss, misuse, abuse and unauthorized alterations using technical and organizational measures. We also recommend how our users can help with this protection through strict guarding of login credentials and use of nick names or pseudonyms for patients. We regularly review our security procedures, protocols and processes to consider adoptionof appropriate cutting-edge security technologies. We also use current encryption technology to encrypt the transmission of data on our log-in pages. However, because we cannot guarantee the complete security of these encryption technologies, we advise you tobe very cautious when submitting personal medical information online. Consequently, we neither guarantee a fool proof of the ability of technology to protect your information or that of our organizational measures. <br><br>

<h5>Passive Data Collection: Tracking Technologies, Clear GIFs and Cookies. </h5>
Our servers or filters may collect information your web browser sends whenever you visit a website. This information may include but is not limited to your browser type, your operating system, any web page you visited which referred you to our site, the date and time of each visitor request, and the type of information you search for on our site.<br>

We also use cookies to collect information. A cookie is a small bit of data used to transfer information to either your computer’s hard drive or your web browser for record-keeping purposes. A cookie serves as a sort of label that allows our sites to recognize your web browser when you return to our sites.  A clear GIF (also termed as a web beacon) is deployed with cookies to help us understand how you interact with our sites. A clear GIF is basically a transparent graphic image placed on a website to allow us monitor your actions when you open a web page. 
We collect this information to better understand how you use our application in order to improve your experience. We may also share this information with our employees, contractors, service providers, and affiliated third parties to help us serve you better.<br>

You can change your web browser settings to stop accepting cookies or to prompt you before accepting a cookie from the sites you visit. If you do not accept cookies, however, you may not be able to use some sections or functions of our sites.
To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit http://www.allaboutcookies.org.<br>

To opt out of being tracked by Google Analytics across all websites visit https://tools.google.com/dlpage/gaoptout.<br><br>


<h5>For Enquiries and Policy Compliance Issues.</h5> Ourdata privacy staff will be glad to help ensure compliance with this Privacy Policy and answer your questions about data privacy or security issues. This officer also helps educate staff concerning compliance. Inquiries concerning this Privacy Policy or the security of personal, health or organizational privateinformation that we process may be sent through e-mailto him at:
E-mail:   PrivacyPolicy@applinic.com <br><br>

<h5> Privacy of Children's Information.</h5> Children’s accounts are registered under their parents’ or guardians’ account for the family. We do not knowingly collect information from children under the age of 13 years. Such family accounts should be operated by adults on behalf of children when they need to access healthcare. We strongly recommend that minors under the age of 18 ask their parents for permissionbefore sending any personal health information to anyone over the Internet, or better still to assist themfor any clerking, treatment and video conference sessions. <br>

<h5>Links to Third-Party Sites.</h5> We are not responsible for the privacy practices or content of third-party sites that ours may be linked to. You should review the policies of other sites to ensure they meet your personal privacy expectations for your own protection.<br><br>

<h5>Changeability of Our Privacy Policy. </h5>
We regularly review this Privacy Policy and may alter, change, modify, add, or remove portions as necessary. If we change this Privacy Policy in ways that affect how we use your personal medical practice or company information, we will notify you here or on our home page. We encourage you to keep yourself updated on these changes from time to time by visiting this page regularly. 


            </div>
        </div>
    </div>  
</div>

<div class="clearfix"></div>

<div style="height: 200px"></div>
<% include ./inner/footer-links %>



<div class="clearfix"></div>
       <% include ./inner/footer %>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/tether.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>

</html>