<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />
     <link href="/assets/css/my-edit.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <script type="text/javascript" src="/assets/js/source.js"></script>
    <style>
    input {color:#333 !important;
    font-size:.7em !important;}

    .noBorder{
      border:0px;
      padding: 0;
      margin: 0;
    }
        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }
        .list-group-item{
            background: transparent;
            border:0;
        }
        .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .form-control::-webkit-input-placeholder { color: rgba(0,0,0,0.5); font-size: 16px}  /* WebKit, Blink, Edge */
		.form-control:-moz-placeholder { color: rgba(0,0,0,0.5);font-size: 16px }  /* Mozilla Firefox 4 to 18 */
		.form-control::-moz-placeholder { color:rgba(0,0,0,0.5);font-size: 16px }  /* Mozilla Firefox 19+ */
		.form-control:-ms-input-placeholder { color: #000; font-size: 16px}  /* Internet Explorer 10-11 */
		.form-control::-ms-input-placeholder { color: #000; font-size: 16px}  /* Microsoft Edge */
		select {
			color: rgba(0,0,0,0.5);
			font-size: 14px
		}

		strong {
			font-size: 18px!important
		}

		.btn {
			background-color: #109cff;
			color: #fff!important
		}
    </style>
</head>

<body ng-app = "myApp" style="overflow-x:hidden;">
    <!-- Navbar -->
    <% include ./inner/nav1 %>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:60px;"></div>

<section class="container-fluid" ng-controller = "signupController">
   <div class="col-md-12 col-sm-12 col-xs-12 bg-info" style="padding:0; margin:1em 0;">
       <div class="row">
       <div class="col-md-4 col-sm-12 col-xs-12" style=" background:url('assets/images/bg3.jpg'); background-size:cover;">
       </div>

        <div class="col-md-8 col-sm-12 col-xs-12 bg-white p-1" style="padding:2em;" >
       <!-- Nav tabs -->
       <div class="pl-3">
        <ul class="nav nav-tabs ml-2" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#patient" ng-click="userType('Patient')" role="tab">Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#doctor" ng-click="userType('Doctor')" role="tab">Doctor</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pharmacy" ng-click="userType('Pharmacy')" role="tab">Pharmaceutical Center</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#diagnostic" role="tab">Diagnostic center</a>
          </li>
           <!--<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#special-center" role="tab">Special center</a>
          </li>-->
        </ul>
</div>

<!-- Tab panes -->
<div class="container">
<div class="tab-content p-1" style="min-height:540px;" ng-if="!isPhoneVerify">
    <!--patient sign up starts here-->
  <div class="tab-pane active" id="patient" role="tabpanel" ng-cloak>
      <div class="alert alert-info"><strong>Patient Signup : </strong>Please complete the form below. Ensure your phone number is active.</div>
  <form class="row">

    <div class="col-md-12">
    <select class="custom-select form-control col-md-12" ng-model="user.title" >
        <option value="" disabled selected>Select Title</option>                                           
        <option>Dr</option>
        <option>Mr</option>
        <option>Mrs</option>
        <option>Miss</option>
        <option>Master</option>
        <option>Chief</option>
        <option>Rev</option>
        <option>Pastor</option>
        <option>Engr</option>
        <option>Barr</option>
        <option>Surv</option>
        <option>Hon</option>
        <option>Ven</option>
        <option>HRH</option>
        <option>Prof</option>
        <option>Justice</option>
    </select>
  </div>  


  <div class="col-md-6 col-sm-12">     
    <input type="text" class="form-control" placeholder="First Name"  ng-model="user.firstname" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{FirstNameMessage}}</span>  
  </div>
  <div class="col-md-6 col-sm-12">    
    <input type="text" class="form-control" placeholder="Last Name"  ng-model="user.lastname" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{lastNameMessage}}</span> 
  </div>

  
  <div class="col-md-6 col-sm-12">
  <select class="custom-select form-control col-md-12" ng-model="user.age" >
  <option value="" disabled selected>Age category</option>                                           
	<option>0 - 28 days (newborn)</option>
	<option>29 days - 1 year (infant)</option>
	<option>1 - 5 years (younger child)</option>
	<option>6 - 12 years (older child)</option>
	<option>13 - 16 years (adolescent)</option>
	<option>17 - 29 years (young adult)</option>
	<option>30 - 39 years (adult)</option>
	<option>40 - 49 years (adult)</option>
	<option>50 - 64 years (adult)</option>
	<option>65 years - over (senior)</option>
  </select>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{ageMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <select class="custom-select form-control col-md-12" ng-model="user.gender">
        <option value="" disabled selected>Sex</option>                                           
        <option>Male</option>
        <option>Female</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{genderMessage}}</span> 
  </div>

  <div class="col-md-12">
  <hr>
  </div>
  <div class="col-md-6 col-sm-12">
    <!--<input type="text" class="form-control" placeholder="Country" ng-model="user.country" >-->
    <select class="custom-select form-control col-md-12" ng-model="user.country">
      <option value="" selected disabled >{{status}}</option>
      <option ng-repeat="country in countries" value="{{country.geonameId}};{{country.countryCode}};{{country.countryName}}">{{country.countryName}}</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{countryMessage}}</span> 
  </div>
 <!-- <div class="col-md-6 col-sm-12" style="position: relative;">
   
    <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext1"></small>
   <select class="custom-select form-control col-md-12" ng-model="user.state"  >
      <option value="" selected disabled >{{status1}}</option>
      <option ng-repeat="state in states" value="{{state.geonameId}} {{state.name}}">{{state.name}}</option>
    </select>
  </div>


  <div class="col-md-6 col-sm-12" style="position: relative;">
   <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext2"></small>
      <select class="custom-select form-control col-md-12" ng-model="user.region"/>
      <option value="" selected disabled >{{status3}}</option>
      <option ng-repeat="region in regions" value="{{region.geonameId}} {{region.name}}">{{region.name}}</option>
    </select>
  </div>-->
  <div class="col-md-6 col-sm-12" style="position: relative;">
   <!--<small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext3"></small>-->
    <input type="text" class="form-control" placeholder="Enter City or Town name" ng-model="user.city"  ng-cloak >
    <!--<select class="custom-select form-control col-md-12" ng-model="user.city"  ng-cloak ng-if="isEdit === false" >
      <option value="" selected disabled >{{status2}}</option>
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
      <option value="edit">_Other</option>
    </select>-->
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{cityMessage}}</span> 
  </div>


 
 
 <div  class="col-md-6 col-sm-12" style="position: relative;">
  
      <input type="number" name="callingcode" style="position:absolute; top:19px; background:transparent;  left:35px; border: none; width: 55px; outline:0;"  placeholder="{{(user.callingCode) ? user.callingCode : 'Code'}}" ng-model= "user.callingCode"/>
      <input type="number" class="form-control" noBorder" placeholder="Mobile number" ng-model="user.phone" style="padding-left: 80px"/>  
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{phoneMessage}}</span>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{numberError}}</span>  
 </div>


 <div  class="col-md-6 col-sm-12">
      <input type="text" name="address" class="form-control" placeholder="Address" ng-model="user.address" />
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span>   
 </div>
 


 <!-- <div class="row col-md-12">
  <div class="col-md-6 col-sm-12 pr-0">  

  <div class="row col-md-12 p-0 mr-3 inputCreach" >
  <div class="col-md-3 col-sm-3 m-0 p-0">
    <input type="text"  class="form-control noBorder" placeholder="Code" value="{{callingCode}}"></div>
    <div class="col-md-9 col-sm-9 m-0 p-0">
    <input type="number" string-to-number class="form-control noBorder" placeholder="Mobile number" ng-model="user.phone"></div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12" style="border: 1px solid blue">
   <input type="text" class="form-control" placeholder="Address" ng-model="user.address" style="margin-left: 10px">    
  </div>
</div>


  <div class="col-md-6 col-sm-12">
   <input type="text" class="form-control" placeholder="Address" ng-model="user.address" >    
  </div>-->
<div class="col-md-12">
<hr>
</div>

  <div class="col-md-6 col-sm-12">
  
    <input type="text" name="username" class="form-control" placeholder="User Name" ng-model="user.username" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{usernameMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="email" name= "email" class="form-control" placeholder="Email" ng-model="user.email" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{emailMessage}}</span> 
  </div>


  <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{passwordMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password2" ng-class="{'password2':misMatch === true}" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{passwordError}}</span> 
  </div>

<div class="col-md-12">
<label class="custom-control custom-checkbox" style="margin-top:20px">
  <input type="checkbox"  ng-model="user.agree"  style="width:22px;height:22px" >
  <span class="custom-control-description" style="font-size: 14px;display:inline-block;padding-left:10px"> I agree with the terms of service</span>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{termMessage}}</span> 
</label>
</div>
<div class="clearfix"></div>
<br><br>
<button class="btn btn-simple" ng-click="submit('Patient')"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:blue" ng-if="loading"></i>
<span class="sr-only">Loading...</span> Create Account</button>
</form>
</div>



<!--Doctor signup starts here-->
<div class="tab-pane" id="doctor" role="tabpanel">
<div class="alert alert-info"><strong>Doctor signup :</strong> Please complete the form below. Ensure your phone number is active.</div>
<form class="row">
      
  <div class="col-md-6 col-sm-12">
  <select class="custom-select col-md-12" ng-model="user.title">
  <option  value="" disabled selected>Select Title</option>
  <option value="Dr">Dr</option>
  <option value="Prof">Prof</option>  
</select>
<span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{titleMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
   <input type="text" class="form-control" placeholder="Enter specialty" ng-model="user.specialty" ng-if="isSpeciaty === true" ng-cloak >
   <select class="custom-select col-md-12"  ng-model="user.specialty" ng-if="isSpeciaty === false" >
  <option value="" disabled selected>Select Specialty</option>
  <option>Acupunture</option>
      <option>Addiction Medicine</option>
      <option>Adolescent Medicine</option>
      <option>Aerospace Medicine</option>
      <option>Allergy</option>
      <option>Allergy/Immunology</option>
      <option>Anesthesiology</option>
      <option>Audiologist</option>
      <option>Bariatrician</option>
      <option>Cardiac Electrophysiology</option>
      <option>Cardiology</option>
      <option>Chiropractic</option>
      <option>Clinical Laboratory Immunology</option>
      <option>Clinical Pathology</option>
      <option>Colon/Rectal Surgery</option>
      <option>Critical Care</option>
      <option>Cythopathology</option>
      <option>Dermatology</option>
      <option>Dermatopathology</option>
      <option>Diabetes</option>
      <option>Diagnostic</option>
      <option>Emergency Medical Tech</option>
      <option>Emergency Medicine</option>
      <option>Endocrinology</option>
      <option>Endovascular Surgical Neuroradiology</option>
      <option>Family Practice</option>
      <option>Gastroenterology</option>
      <option>General Practice</option>
      <option>General Surgery</option>
      <option>Genetics</option>
      <option>Geriatrics</option>
      <option>Gynecology</option>
      <option>Gynecology Oncology</option>
      <option>Hand Surgery</option>
      <option>Hand and Neck Surgery</option>
      <option>Hematology</option>
      <option>Hematology/Oncology</option>
      <option>Hepatology</option>
      <option>Holistic Medicine</option>
      <option>Hospitalist</option>
      <option>Immunology</option>
      <option>Infectious Disease</option>
      <option>Internal Medicine</option>
      <option>Interventional Cardiology</option>
      <option>Legal Medicine</option>
      <option>Medical Oncology</option>
      <option>Medical Toxicology</option>
      <option>Neonatology</option>
      <option>Nephrology</option>
      <option>Neurology</option>
      <option>Neuroradiology</option>
      <option>Nuclear Cardiology</option>
      <option>Nuclear Cardiology</option>
      <option>Neurosurgeon</option>
      <option>Nutrition</option>
      <option>Obstetrics/Gynecology</option>
      <option>Occupational Medicine</option>
      <option>Oncology</option>
      <option>Opthalmology</option>
      <option>Optometry</option>
      <option>Orthopedic Foot & Ankle</option>
      <option>Orthopedic Reconstructive Surgery</option>
      <option>Orthopedic Spine Surgery</option>
      <option>Orthopedic Surgery</option>
      <option>Osteopathy</option>
      <option>Otorhinolaryngology</option>
      <option>Pain Management</option>
      <option>Pathology</option>
      <option>Pediatric Allergy</option>
      <option>Pediatric Cardiology</option>
      <option>Pediatric Critical Care</option>
      <option>Padiatric Emergency Medicine</option>
      <option value="edit-specialty">Other</option>
</select>
<span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{specialtyMessage}}</span> 
  </div>

  <div class="col-md-6 col-sm-12">
    <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstname" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{FirstNameMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastname" >
        <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{lastNameMessage}}</span>
  </div>
 <div class="col-md-12">
  <hr>
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="text" class="form-control" placeholder="Place of Work" ng-model="user.work_place">
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{workMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Address of Place of Work" ng-model="user.address" >
        <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span>
  </div>

  <div class="col-md-6 col-sm-12">
    <!--<input type="text" class="form-control" placeholder="Country" ng-model="user.country" >-->
    <select class="custom-select form-control col-md-12" ng-model="user.country"  >
      <option value="" selected disabled >{{status}}</option>
      <option ng-repeat="country in countries" value="{{country.geonameId}};{{country.countryCode}};{{country.countryName}}">{{country.countryName}}</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{countryMessage}}</span>
  </div>
 <!-- <div class="col-md-6 col-sm-12" style="position: relative;">
   
    <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext1"></small>
   <select class="custom-select form-control col-md-12" ng-model="user.state"  >
      <option value="" selected disabled >{{status1}}</option>
      <option ng-repeat="state in states" value="{{state.geonameId}} {{state.name}}">{{state.name}}</option>
    </select>
  </div>


  <div class="col-md-6 col-sm-12" style="position: relative;">
   <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext2"></small>
      <select class="custom-select form-control col-md-12" ng-model="user.region"/>
      <option value="" selected disabled >{{status3}}</option>
      <option ng-repeat="region in regions" value="{{region.geonameId}} {{region.name}}">{{region.name}}</option>
    </select>
  </div>-->
  <div class="col-md-6 col-sm-12" style="position: relative;">
   <!--<small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext3"></small>-->
    <input type="text" class="form-control" placeholder="Enter City or Town name" ng-model="user.city"  ng-cloak >
    <!--<select class="custom-select form-control col-md-12" ng-model="user.city"  ng-cloak ng-if="isEdit === false" >
      <option value="" selected disabled >{{status2}}</option>
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
      <option value="edit">_Other</option>
    </select>-->
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{cityMessage}}</span> 
  </div>


  <div class="row col-md-12">
   <div  class="col-md-6 col-sm-12" style="position: relative;">
  
      <input type="number"  style="position:absolute; top:19px; background:transparent;  left:35px; border: none; width: 55px; outline:0;"  placeholder="{{user.callingCode || 'Code'}}" ng-model= "user.callingCode">
      <input type="number" string-to-number class="form-control" noBorder" placeholder="Mobile number" ng-model="user.phone" style="padding-left: 80px">  
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{phoneMessage}}</span>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{numberError}}</span>
 </div>


 <div  class="col-md-6 col-sm-12">
      <input type="email" class="form-control" placeholder="Email" ng-model="user.email" >  
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{emailMessage}}</span>
 </div>
 
 
</div>

<div class="col-md-12">
<hr></div>


  <div class="col-md-12">   
    <input type="text" class="form-control" placeholder="User Name" ng-model="user.username" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{usernameMessage}}</span>
  </div>
 



  <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{passwordMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password2" >
        <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{passwordError}}</span>
  </div>

<div class="col-md-12">
<label class="custom-control custom-checkbox" style="margin-top:20px">
  <input type="checkbox"  ng-model="user.agree"  style="width:22px;height:22px">
  <span class="custom-control-description" style="font-size: 14px;display:inline-block;padding-left:10px"> I agree with the terms of service</span>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{termMessage}}</span>
</label>
</div>
<br><br>
<div class="clearfix"></div>
<button class="btn btn-simple btn-lg" ng-click="submit('Doctor')"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:blue" ng-if="loading"></i>
<span class="sr-only">Loading...</span> Create Account</button>
</form>
  </div>

  <!--diagnostic sign up starts here-->

  <div class="tab-pane" id="diagnostic" role="tabpanel">
      <div class="alert alert-info"><strong>Diagnostic Center Signup :</strong> Please complete the form below. Ensure your phone number is currently active.</div>
      <form class="row">
    
  <div class="col-md-6 col-sm-12">
    <select  class="custom-select col-md-12" ng-model="center.type" >
        <option  value="" disabled selected> _Please select type</option>                                           
        <!--<option>Clinic</option>-->
        <option>Radiology</option>
        <option>Laboratory</option>
        <!--<option>Fitness</option>-->
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{typeMessage}}</span>
    </div>

  <div class="col-md-6 col-sm-12">
 <input type="text" class="form-control" placeholder="Center Name" ng-model="user.name" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{nameError}}</span>
  </div>

  <div class="col-md-12">
  <hr>
  </div>
  <div class="col-md-6">
 <input type="text" class="form-control" placeholder="Address" ng-model="user.address" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span>
  </div>


  <div class="col-md-6 col-sm-12">
    <select class="custom-select form-control col-md-12" ng-model="user.country"  >
      <option value="" selected disabled >{{status}}</option>
      <option ng-repeat="country in countries" value="{{country.geonameId}};{{country.countryCode}};{{country.countryName}}">{{country.countryName}}</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{countryMessage}}</span>
  </div>
  <!-- <div class="col-md-6 col-sm-12" style="position: relative;">
   
    <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext1"></small>
   <select class="custom-select form-control col-md-12" ng-model="user.state"  >
      <option value="" selected disabled >{{status1}}</option>
      <option ng-repeat="state in states" value="{{state.geonameId}} {{state.name}}">{{state.name}}</option>
    </select>
  </div>


  <div class="col-md-6 col-sm-12" style="position: relative;">
   <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext2"></small>
      <select class="custom-select form-control col-md-12" ng-model="user.region"/>
      <option value="" selected disabled >{{status3}}</option>
      <option ng-repeat="region in regions" value="{{region.geonameId}} {{region.name}}">{{region.name}}</option>
    </select>
  </div>-->
  <div class="col-md-6 col-sm-12" style="position: relative;">
   <!--<small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext3"></small>-->
    <input type="text" class="form-control" placeholder="Enter City or Town name" ng-model="user.city"  ng-cloak >
    <!--<select class="custom-select form-control col-md-12" ng-model="user.city"  ng-cloak ng-if="isEdit === false" >
      <option value="" selected disabled >{{status2}}</option>
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
      <option value="edit">_Other</option>
    </select>-->
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{cityMessage}}</span> 
  </div>

 <div  class="col-md-6 col-sm-12" style="position: relative;">
  
      <input type="number"  style="position:absolute; top:19px; background:transparent;  left:35px; border: none; width: 55px; outline:0;"  placeholder="{{user.callingCode || 'Code'}}" ng-model= "user.callingCode">
      <input type="number" string-to-number class="form-control" noBorder" placeholder="Mobile number" ng-model="user.phone" style="padding-left: 80px">  
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{phoneMessage}}</span>
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{numberError}}</span>
 </div>


 
  <div class="col-md-6 col-sm-12">
 <input type="email" class="form-control" placeholder="Email Address" ng-model="user.email" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{emailMessage}}</span>
  </div>



  <div class="col-md-6">
 <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{usernameMessage}}</span>
  </div> 

  <div class="col-md-6 col-sm-12">
 <input type="password" class="form-control" placeholder="Password" ng-model="user.password" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{passwordMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
 <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password2" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{passwordError}}</span>
  </div>

<div class="col-md-12">
<label class="custom-control custom-checkbox" style="margin-top:20px">
  <input type="checkbox"  ng-model="user.agree"  style="width:22px;height:22px">
  <span class="custom-control-description" style="font-size: 14px;display:inline-block;padding-left:10px"> I agree with the terms of service</span>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{termMessage}}</span>
</label>
</div>
<br><br>

<div class="col-md-12">
<button class="btn btn-simple btn-lg" ng-click="submit(user.typeOfUser,'normal')"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:blue" ng-if="loading"></i>
<span class="sr-only">Loading...</span> Create Account</button></div>
</form>



  </div>
  <!--diagnostic signup ends here-->

<!-- special center signup starts here -->

  <!-- special signup ends here -->

<!--pharmacy signup starts here-->
<div class="tab-pane" id="pharmacy" role="tabpanel">
  	<div class="alert alert-info"><strong>Pharmacy Signup : </strong>Please complete the form below. Ensure your phone number is active.</div>
      <form class="row">

  

  <div class="col-md-12 col-sm-12">
  <input type="text" class="form-control" placeholder="Center Name" ng-model="user.name" >
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{nameError}}</span>
  </div>

 
  <div class="col-md-6 col-sm-12">
 <input type="text" class="form-control" placeholder="Address" ng-model="user.address">
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span>
  </div>

  <div class="col-md-6 col-sm-12" style="position: relative;">
  
    <!--<input type="text" class="form-control" placeholder="Country" ng-model="user.country" >-->
    <select class="custom-select form-control col-md-12" ng-model="user.country"  >
      <option value="" selected disabled >{{status}}</option>
      <option ng-repeat="country in countries" value="{{country.geonameId}};{{country.countryCode}};{{country.countryName}}">{{country.countryName}}</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{countryMessage}}</span>
  </div>
  <!-- <div class="col-md-6 col-sm-12" style="position: relative;">
   
    <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext1"></small>
   <select class="custom-select form-control col-md-12" ng-model="user.state"  >
      <option value="" selected disabled >{{status1}}</option>
      <option ng-repeat="state in states" value="{{state.geonameId}} {{state.name}}">{{state.name}}</option>
    </select>
  </div>


  <div class="col-md-6 col-sm-12" style="position: relative;">
   <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext2"></small>
      <select class="custom-select form-control col-md-12" ng-model="user.region"/>
      <option value="" selected disabled >{{status3}}</option>
      <option ng-repeat="region in regions" value="{{region.geonameId}} {{region.name}}">{{region.name}}</option>
    </select>
  </div>-->
  <div class="col-md-6 col-sm-12" style="position: relative;">
   <!--<small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext3"></small>-->
    <input type="text" class="form-control" placeholder="Enter City or Town name" ng-model="user.city"  ng-cloak >
    <!--<select class="custom-select form-control col-md-12" ng-model="user.city"  ng-cloak ng-if="isEdit === false" >
      <option value="" selected disabled >{{status2}}</option>
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
      <option value="edit">_Other</option>
    </select>-->
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{cityMessage}}</span> 
  </div>

  <div  class="col-md-6 col-sm-12" style="position: relative;">
  
      <input type="number"  style="position:absolute; top:19px; background:transparent;  left:35px; border: none; width: 55px; outline:0;"  placeholder="{{user.callingCode || 'Code'}}" ng-model= "user.callingCode" >
      <input type="number" string-to-number class="form-control" noBorder" placeholder="Mobile number" ng-model="user.phone" style="padding-left: 80px">  
        <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{phoneMessage}}</span>
        <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{numberError}}</span>
 </div>


 <!--<div  class="col-md-6 col-sm-12">
      <input type="text" class="form-control" placeholder="Address" ng-model="user.address" > 
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span> 
 </div>
 
  <div class="col-md-6 col-sm-12">
 <input type="text" class="form-control" placeholder="Website Url(if any)" ng-model="user.website">
  </div>

  <div class="col-md-12">
<hr>
</div>-->

  <div class="col-md-6 col-sm-12">
  
  <input type="text" class="form-control" placeholder="User Name" ng-model="user.username">
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{usernameMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
 <input type="email" class="form-control" placeholder="Email" ng-model="user.email" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{emailMessage}}</span>
  </div>

  <div class="col-md-6 col-sm-12">
  <input type="password" class="form-control" placeholder="Password" ng-model="user.password" >
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{passwordMessage}}</span>
  </div>
  <div class="col-md-6 col-sm-12">
 <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password2" >
 <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{passwordError}}</span>
  </div>


 <div class="col-md-12">
<label class="custom-control custom-checkbox" style="margin-top:20px">
<small style="font-size:12px;color:green;padding-left: 20px;display: inline-block;" ng-cloak ng-if="usernameInfo">{{agreeInfo}}</small>
  <input type="checkbox"  ng-model="user.agree"  style="width:22px;height:22px">
  <span class="custom-control-description" style="font-size: 14px;display:inline-block;padding-left:10px"> I agree with the terms of service</span>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{termMessage}}</span>
</label></div>
<br><br>
<div class="col-md-12">
<button class="btn btn-simple btn-lg" ng-click="submit('Pharmacy','normal')"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:blue" ng-if="loading"></i>
<span class="sr-only">Loading...</span> Create Account</button></div>
</form>
  </div>

  <!--pharmacy sign up ends here-->
</div>

</div >
		<section class="phone-verify" ng-controller="verifyPhoneController" ng-if="isPhoneVerify" style="height: 540px" ng-cloak>
			<div class="container">
				<!--<p >Enter the pin sent to {{formData.phone}} below</p>-->
        <div class="col-md-12 pl-4">
        <p style="font-size: 14px">{{verifyInfo}}</p>
        <div style="color:blue; font-size: 16px">{{error}}</div>
        </div>
				
        <div class="form-group col-md-6 col-sm-12">
				<input type="text" placeholder="Enter verification pin" ng-model="verify.pin" class="form-control">
        </div>
				<div class="col-md-12 pl-4">
				<button class="btn btn-danger" ng-click="sendForm()"><i class="fa fa-spinner fa-pulse fa-1x fa-fw text-danger" ng-if="loading"></i>
                <span class="sr-only">Loading...</span> Continue</button>
				</div>
			</div>
		</section>

       </div>
       </div>
   </div>

</section>







<div class="clearfix"></div>
        <% include ./inner/footer %>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/tether.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>



<script type="text/javascript" src="/assets/js/angularclient.js"></script>
<script type="text/javascript" src="/assets/js/ngroute.js"></script>
<script src="/socket.io/socket.io.js"></script>   
<script src="/assets/js/socket.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/map/jquery.gomap.js"></script>-->
<script src="/assets/js/countdown.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".drp-of-msg").niceScroll({cursorcolor:"#ccc",cursorwidth:"5px"});                
        $(".view-animate-container").niceScroll({cursorcolor:"#ccc",cursorwidth:"3px"});
        $("#my-doctors-list").niceScroll({cursorcolor:"#ccc",cursorwidth:"5px"})
    })
</script>


<script src="/assets/js/angularAnimate.js"></script>
<script src="/assets/js/modalService.js"></script>
<script src="/assets/js/angular-touch.min.js"></script>
<script src="/assets/js/angular-carousel.js"></script>
<script src="/assets/js/moment.min.js"></script>     
<script src="/assets/js/angular-moment.min.js"></script>
<script src="/assets/js/angucomplete-alt.min.js"></script> 
<script src="/assets/js/ui-bootstrap-tpls.js"></script>
<script src="/assets/js/angular-clipboard.js"></script>
<script src="/assets/js/ngresource.js"></script>
 <script src="/assets/js/ngPrint.js"></script>
 <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.min.js"></script>    

</html>
