<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>APPLINIC - Studyshare and Teleradiology</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />-->
    
     <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />
     <link href="/assets/css/my-edit.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- CSS Just for demo purpose, don't include it in your project -->

    <style type="text/css">
      .normalize {
        text-align: left!important;
        font-size: 20px;
      }

      .normalize button {
        color: blue!important;

      }

      .card-body {
        padding: 15px
      }
    </style>
   
    
</head>

<body style="">
    <!-- Navbar -->
    <% include ./inner/nav1 %>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:90px;"></div>
<div>




    
<div class="container mt-3 pt-2">
            <div class="card">
                <h4 class="card-header normalize">Teleradiology</h4>


                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="" id="headingOne">
                            <h2 class="mb-0 normalize">
                              <button class="btn btn-link" type="button" style="display: block;"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Study Share &amp; Teleradiology?
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                StudyShare is Applinic’s proprietary name for the service of sharing digital radiological studies 
                                in the cloud for others to view while Teleradiology is the practice of sending radiological images 
                                and studies including videos of dynamic investigations such as digital fluoroscopy (XA) and 
                                ultrasonography (US) via the internet to a remote physician usually a radiologist for opinion, 
                                assessment and reporting. It follows a communication protocol – Digital Imaging and Communication 
                                in Medicine (DICOM) to enable software programs in modalities and computers talk to each other 
                                irrespective of the manufacturer, platform and device.  
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="" id="headingTwo">
                            <h2 class="mb-0 normalize">
                              <button class="btn btn-link collapsed" style="display: block;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Who benefits from Study Share &amp; Teleradiology?
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                As in all other healthcare innovations, the patient is the greatest beneficiary of StudyShare &amp; Teleradiology. 
                                The ability to provide professional report of radiological studies within minutes or a few hours of completion of 
                                the investigation in a center where a radiologist is not physically present is a leverage that is expected to reduce 
                                morbidities and mortalities and facilitate quick patient management, thereby reducing hospital stay and patients’ bills. <br/><br/>
                                Secondly, some patients who plan to travel abroad or get a second opinion on their conditions need to share radiology 
                                studies with other physicians who are home or abroad. Uploading their studies for them to share with the physician is
                                 a premium service a center using Applinic StudyShare can render. This is faster and more convenient than sending hardcopy 
                                 x-ray films or CDs which the new trend has placed on the path to becoming obsolete. <br/><br/>
                                Other beneficiaries of the technology include the center and the Teleradiologist because of their enablement to be of 
                                service to more patients than they would have without the technology, which translates to a more fulfilling practice, 
                                more satisfactory patient care and a more business turn over. In summary, teleradiology is a win-win for all.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="" id="headingThree">
                            <h2 class="mb-0 normalize">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What Does Study Share &amp; Teleradiology Require?
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                The first basic requirement for a center to practice StudyShare &amp; Teleradiology is to have digital and DICOM compliant modalities. Examples of such are DR, CR, 
                                CT, MRI, US, MG, XA, NM, PET, SPECT. All radiology modalities must obey the DICOM protocol to be able to communicate with other computers and servers. If your x-ray 
                                machines are still analogue, never mind, we can help you them and set you on the path to the digital journey using Computed Radiography (CR) systems or Flat Panel detectors (DR). <br/><br/> 
                                The next requirement is a PACS system. PACS is the acronym for Picture Archiving and Communications System. It is a computer server software for receiving, archiving and distribution of all 
                                digital images which conform to the DICOM protocol. It is required to upload your studies to the Applinic cloud, if you don’t have one, don’t worry, we can install one for you at a highly 
                                affordable cost and integrate all your modalities into one local server from where you can report all your studies locally or upload them online for teleradiology and sharing.  <br/><br/> 
                                Please click here to open your free Applinic account and start taking your studies to the cloud.
                                The final requirement for StudyShare and Teleradiology is the ability to upload the studies to the Applinic Cloud PACS server and then view them on a computer or mobile device with 
                                a special software called DICOM viewers whether online or offline. These latter requirements are provided for free on the Applinic platform.
                            </div>
                          </div>
                        </div>

                        <div class="card">
                            <div class="" id="headingFour">
                              <h2 class="mb-0 normalize">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    How Can I Create An Applinic Account For Study Share &amp; Teleradiology 

                                    
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                              <div class="card-body">
                                To create a free Applinic account, you need to visit www.applinic.com/signup, select Radiology under Diagnostic Center and fill the form. 
                                This will create a free account for your center. This account is ready for Study Share &amp; Teleradiology, nevertheless there are more 
                                uses for the account than just these as you will discover when you log in. To learn the other uses of this platform account after log in, 
                                please click the Getting Started button on the left menu of your Radiology Dashboard.
                              </div>
                            </div>
                          </div>


                          <div class="card">
                            <div class="card-heade" id="headingFive">
                              <h2 class="mb-0 normalize">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                        How Does Applinic Study Share &amp; Teleradiology Service Work
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                              <div class="card-body">
                               <div class="col-md-12">
                                <p>
                                        The first step to implementing Applinic StudyShare &amp; Teleradiology service is Setting up Your 
                                        Computer to Push Studies to the Applinic Cloud. <br/>
                                        This is explained below. If the study was performed with a Study ID that was generated from your 
                                        Applinic account before pushing to the Applinic Cloud PACS, then it is ready for viewing and sharing 
                                        from any internet device, whether web or mobile after the push, but if the study had been done before 
                                        Applinic was implemented or it was performed in another center, then it has to be integrated with the 
                                        Applinic web service after the push, before it can be accessible by others or shared. <br/><br/> Both options are described 
                                        below as Integrating New and Old Studies respectively. 
                               </div>
                               <div class="col-md-10">
                                <h4>-Setting up your computer to push studies to the Applinic cloud service </h4>
                                <p>
                                    As mentioned above, this is the first step to implementing StudyShare &amp; Teleradiology on the Applinic platform. There are three options of sources for sending digital radiology studies from your center to Applinic cloud for archival, viewing and sharing. They are:
                                    &nbsp;&nbsp;&nbsp; i.From the DICOM Viewer on your viewing station; 
                                    &nbsp;&nbsp;&nbsp; ii.From your local PACS Server; 
                                    &nbsp;&nbsp;&nbsp; iii.From your Modality Workstation 
                                </p>
                               </div>

                               <div class="col-md-12">
                                Regardless of the option you choose, the network configuration is the same but the system must have an internet connection. You need to apply the network configuration settings below in the computer station you chose as your source to set up it for the service:
                               </div>

                               <div class="col-md-10">
                                <p>
                                    LOGIC NAME: APPLINIC 
                                IP ADDRESS: (Contact Us)
                                AE TITLE: (Contact Us)
                                PORT NUMBER FOR NORMAL STUDIES: 11112
                                PORT NUMBER FOR DYNAMIC STUDIES (FLUOROSCOPY, ULTRASONOGRAPHY, ETC): 10104
                                </p>
                               </div>

                               <div class="col-md-12">
                                After the configuration, select your study of interest on the work list and click transfer or send to the Applinic cloud destination you preset.
                                After this upload, you need to link the study to the Applinic web service if the study is an old study or was done with a study ID that was not generated from Applinic but if the study ID was generated from Applinic, that is a new study, then it’s ready for viewing and sharing with the Study ID as soon as it has been successfully pushed to the Applinic cloud PACS.
                               </div>

                               <div class="col-md-10">
                               <br>
                               <b> -How to integrate a new study</b>
                                <p>
                                    To integrate a new study on the platform, you need to have captured it originally with a Study ID 
                                generated on your Applinic radiology account for the unique identification of that study on our web platform. 
                                This number will be used for the registration of the study in your modality such as CR, DR, CT or MRI before 
                                performing the study. After completing the study, the study needs to be uploaded to the Applinic online PACS Server for cloud storage. 
                                The section above on Setting Up Your Device for Push to Applinic Cloud already explained how the upload is done. Thereafter, the study 
                                ID can be used at any time to find or share the study on the Applinic platform.  
                                To generate a Study ID from Applinic for a new investigation before performing it, click on Create Study on your Radiology 
                                dashboard, select Applinic Patient if the patient is already registered on Applinic. If he is not, then select Non Applinic patient. 
                                To confirm if a patient has an Applinic Account, enter his phone number in the space displayed upon clicking Applinic Patient and click Find. 
                                The system will use the phone number to search for the patient in the database. If the patient has an Applinic account, it will 
                                display and you may continue the process but if it is not there, it will prompt you to
                                 register the patient. Follow the prompts until the Study ID is generated, then use it 
                                 to create the study in the modality workstation before performing the investigation. 
                                 Push the study to Applinic Cloud upon completion and it will be ready for view on 
                                 Applinic homepage by anyone who has the Study ID.       
                                </p> 
                                
                               </div>


                               <div class="col-md-10">
                              <b>  -How to integrate an old study</b>
                                <p>
                                    Previously completed studies need to be uploaded to the Applinic Cloud Server and 
                                integrated with the Applinic web service before they can be viewed or shared. 
                                This upload requires two simple steps which can be done from any of the three workstations - 
                                from the DICOM Viewer on your viewing station; from your local PACS Server; or from your 
                                Modality Workstation depending on which has internet connection. This upload can be done 
                                only after setting up the device destination configuration to push studies to the Applinic 
                                cloud service. The section above on Setting Up Your Device for Push to Applinic Cloud already 
                                explained how to do this this set and upload. DICOM studies on CDs and other storage drives 
                                can also be imported into a local DICOM Viewer in a computer before upload to Applinic Cloud 
                                Service.
                                </p>
                                
                                <p>
                                    After an old study has been uploaded to the Applinic cloud, it needs to be linked to the Applinic 
                                Web application from your Applinic Radiology account dashboard before it can viewed online or 
                                shared with others. These two steps are explained next.
                                </p>
                               </div>

                               <div class="col-md-10">
                               <b> -Linking an old study with the Applinic web/mobile platform</b><br/>
                                <p>
                                    Following a successful upload of the study to the Applinic PACS server, its credentials have to be linked to the Applinic web application for anyone to view it from a web or mobile application. This requires the following few steps:<br/>
                                &nbsp;&nbsp;&nbsp;i. &nbsp;&nbsp;&nbsp;Log into https://applinic.com<br/>
                                &nbsp;&nbsp;&nbsp;ii. &nbsp;&nbsp;&nbsp;Click the Start button on the home page and Sign up as a Radiology center or Sign in if your center already has an account.<br/>
                                &nbsp;&nbsp;&nbsp;iii. &nbsp;&nbsp;&nbsp;Click LINK DICOM STUDY on your Radiology dashboard<br/>
                                &nbsp;&nbsp;&nbsp;iv. &nbsp;&nbsp;&nbsp;Select the type of study, and enter the Study ID for the old study you want to link and fill other patient details and send. A bill will be displayed, click Pay.<br/>
                                &nbsp;&nbsp;&nbsp;v.&nbsp;&nbsp;&nbsp; Pay the fee for the archival storage and sharing by accepting the offer (Your account must be funded to do this. If your account is not funded, click the Payment &amp; 
                                Wallet button on the left hand Menu of the radiology dashboard to fund your wallet with an ATM card or bank account details.<br/>
                                &nbsp;&nbsp;&nbsp;vi. &nbsp;&nbsp;&nbsp;If this is successful, the study will become available for viewing from the Applinic home page from the browser of any web or mobile device for anyone who has the Study ID. <br/>
                               
                                </p>
                               </div>

                               <div class="col-md-10">
                               <b> -Viewing and sharing new or old studies with others</b><br/>
                                Once studies have been uploaded to Applinic Cloud Services anyone – radiologists, referring physicians, other doctors can be authorized by the patient to view them. The authority is the possession of the Study ID. This study is secured and can only be viewed by third parties the patient shares the Study ID with.
                               </div>

                               <div class="col-md-12">
                               <br>
                                <b>What Is the Cost of Applinic Teleradiology Services</b><br/>
                                Most of the studies done in diagnostic radiology have been grouped into three for billing purposes:
                               </div>

                               <div class="col-md-10">
                                <p>
                                    &nbsp;&nbsp;&nbsp;i.&nbsp;&nbsp;&nbsp;SINGLE VIEW<br/>
                                SINGLE AP OR LATERAL OR OTHER VIEW OF SKULL/SPINE/CHEST/ABDOMEN/PELVIS/EXTREMETIES - 1USD/N350<br/>
                                &nbsp;&nbsp;&nbsp;ii.&nbsp;&nbsp;&nbsp;MULTIPLE VIEWS<br/>
                                MULITPLE ROUTINE VIEWS, CONTRAST STUDIES AND MAMMOGRAPHY – 2USD/N700 <br/>
                                &nbsp;&nbsp;&nbsp;iii.&nbsp;&nbsp;&nbsp;SERIAL STUDIES  <br/>
                                CT/MRI/PET/SPECT – 3USD/N1, 000  
                                </p>
                               </div>

                               <div class="col-md-12">
                                <b>Loyalty Rewards for Archiving Radiology Studies in Applinic Cloud</b> <br/>
                                <p>
                                    Referring physicians who request for studies to be sent to them through Applinic StudyShare service 
                                will receive a loyalty reward of 50 cents (N175), 1USD (N350) and 1.5USD (N525) respectively for Single 
                                view, Multiple view and Serial studies respectively. This will be paid into their Applinic accounts and they 
                                can cash out at any time. 
                                </p>
                               </div>

                               
                              </div>
                            </div>
                          </div>

                          <div class="card">
                                <div class="card-heade" id="headingSix">
                                  <h2 class="mb-0 normalize">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                      What is in the Future for Education and Research?
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p>Before the end of September 2019, Fellowship Colleges and radiologists involved in teaching residents and 
                                        other doctors will be able to use Applinic to conduct webinars on reporting. They will be able to schedule 
                                        teaching/reporting sessions and invite or accept requests from residents and doctors anywhere to join them. 
                                        They will be able to share their screens and use them to teach the participants while reporting or reviewing 
                                        studies. This can be either a personally arranged free or paid service, or an institutionally scheduled academic 
                                        work/career responsibility.  <br/><br/>Group chats, audio and video conferences will be possible on the platform during the 
                                        reporting/teaching sessions through Voice Over Internet Protocol (VOIP) and Web Real Time Communication (Web RTC) 
                                        to enable communication among participants.
                                      </p>
                                </div>
                                </div>
                              </div>

                          <div class="card">
                            <div class="" id="headingSix">
                              <h2 class="mb-0 normalize">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                   How Can We Contact You For Further Enquiries Or Support
                                </button>
                              </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                              <div class="card-body">
                                    <p>
                                            We are always at your service to help you set up your center for StudyShare &amp; Teleradiology. We are also available to deploy a local or an Enterprise Online PACS for your center or hospital and to digitize your radiology practice using CR system or Flat Panel detectors if your X-ray machines are still analogue. 
                                            <br/><br/>
                                            Fill the Contact Us form and a Teleradiology/DICOM Specialist will contact you within 24-72 hours or call +2349080045678 for urgent attention. 
                                           </p>
                              </div>
                            </div>
                          </div>

                         
                      </div>

                </div>
            </div>
        </div>
        <div style="height: 100px"></div>

<% include ./inner/footer-links %>



<div class="clearfix"></div>
       <% include ./inner/footer %>
    </div>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>