<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/assets/css/my-edit.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-kit.css" rel="stylesheet" />
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <style>
         body {
            line-height: 30px;
         }

        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

       .list-group-item, .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .input-group-addon{
            border-radius:0;
            padding:0;
        }

        .title{font-size:1.2em;
        font-weight:600;}

        .list-group-item{
            font-size: .8em;
            padding: 10px 10px 10px 5px;
            margin: 0;
        }
    </style>
</head>

<body style="overflow-x:hidden;">
    <!-- Navbar -->
    <% include ./inner/nav1 %>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:90px;"></div>
<div class="col-md-12 col-xs-12 col-sm-12 ">




    
    <div class="row">
      <!-- <div class="col-md-3 col-sm-12 col-xs-12 no-display">
             <div class="list-group" style="background:transparent; border:0; position:fixed; width:70%;">
     <a href="#" class="list-group-item list-group-item-action" style="font-size:1.7em; font-weight:300;">TABLE OF CONTENTS</a>
      <a href="#introduction" class="list-group-item list-group-item-action">Introduction</a>
      <a href="#introduction" class="list-group-item list-group-item-action">Getting started</a>
      <a href="#patients" class="list-group-item list-group-item-action">Patients</a>
      <a href="#doctors" class="list-group-item list-group-item-action">Doctors</a>
      <a href="#session" class="list-group-item list-group-item-action">session</a>
      <a href="#pharma" class="list-group-item list-group-item-action">Pharmaceutical centers</a>
      <a href="#diagnostic" class="list-group-item list-group-item-action">Diagnostic centers</a>
      <a href="#wallet" class="list-group-item list-group-item-action">Payments and wallet</a>
    </div>
        </div>-->
        <div  class="card p-2" style="font-size: 14px;width:70%;margin:0 auto">      
            <div class="container" style="padding-top:3em;">
<h2>GENERAL TERMS AND CONDITIONS</h2><br><br>

<h4>INTRODUCTION </h4>
Applinic is a Platform as a Service (PaaS) solution for online health care delivery involving all key players in the health industry – patients, doctors, hospitals, pharmacies and diagnostic centers (radiology and laboratory).The usage of the platform for health information service, health care delivery andconsumption of both services is on the terms of the innovators, developers and maintainers of the application – Applinic Ltd. 
Aside the general terms and conditions for using this application as presented here, all Health Service Providers (HSPs)on the platform have specific terms and conditions applicable to their usage and engagement of the platform. These specific terms are accessible upon successfully verified registration. Only the general terms applicable to all users are presented here. Please review the specific terms applicable to your user type upon sign up before continuing the usage. If the conditions presented are not acceptable, kindly discontinue the registration or delete your account if you have already registered. By using this site, you agree to the conditions set forth below (this "Agreement"). If you disagree with any of the conditions of this Agreement, do not use this site.<br><br>

<h4>TERMS, CONDITIONS AND UPDATES</h4>
We reserve the right to change this Agreement at any time, so please check for changes to this Agreement each time you use this site. Your continued use of this site following the posting of changes to this Agreement means that you accept those changes.Ignorance of these changes and updates are not acceptable excuses for their violation or failure of compliance. 
Only users will be responsible for the consequences that may arise from their ignorance of the rules that will prevail on this platform at any instance or era. <br><br>

<h4>LICENSES AND RESTRICTIONS</h4>
This site is owned and operated by Applinic Ltd (hereinafter "we", "us", or a similar term). All material found at this site (including visuals, text, icons, displays, databases, media, and general information) is owned or licensed by us. Unless otherwise indicated, or approval given in writing after a written request, individuals may not: <br><br>
•   Download, print, copy and use information of doctors, pharmacies, diagnostic centers, hospitals or other users of this site for personal, commercial or non-commercial use aside their personal health information from their own account for their own personal health purposes and for no other purpose. <br>
•   Download, and print materials such as articles, texts, videos from this site for their own personal, noncommercial use. <br> 
•   Post material from the Video Gallery of this site to another website or on a computer network for their own personal, commercial or noncommercial use.<br>
In addition, materials from this site may not be reproduced by media personnel for use in traditional public news forums unless otherwise indicated. Any other use of information or materials found at this site, including any use by organizations or legal entities, is not permitted without our prior written permission.<br>
Consequent upon the foregoing, we reserve sole discretion and right to deny, revoke, or limit use of this site, including the reproduction and any other use of any materials available through this site. <br>

<h4>DISCLAIMERS GENERAL</h4>
<blockqoute>
THIS SITE AND THE MATERIALS AT THIS SITE AND ANY LINKED SITE ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE AND IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE FUNCTIONS OF THIS SITE WILL BE UNINTERRUPTED OR ERROR FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.<br>
SPECIFIC
APPLINIC IS NEITHER A HOSPITAL NOR A HEALTH CENTER AND IS NOT DESIGNED TO REPLACE THE CONVENTIONAL DOCTOR/PATIENT RELATIONSHIP THAT HAPPENS IN THE CLINIC SETTING. IT IS RATHER A PLATFORM FOR QUICK SEARCH, DISCOVERY AND ACCESS OF HEALTH CARE SERVICE PROVIDERS AND PRODUCTS. BY CONTINUING TO USE THIS SOLUTION, YOU AGREE THAT YOU UNDERSTAND THIS CONCEPT AND THE LIMITATIONS IT POSES TO THOSE WHO WANT TO USE IT AS A RESOURCE FOR HEALTH CARE.<br>
APPLINIC IS NOT AND SHOULD NOT BE USED FOR EMERGENCIES. EMERGENCY CASES SHOULD BE REFERRED TO APPROPRIATE MEDICAL CENTERS DESIGNATED FOR THE MANAGEMENT OF SUCH. MEDICAL DOCTORS WHO PRACTICE ON APPLINIC BY USING THE PLATFORM AGREE  TO NOT RECEIVE, ATTEND TO OR MANAGE MEDICAL EMERGENCIES BUT TO RATHER REFER OR DIRECT THE PATIENTS OR THEIR AGENTS TO THE APPROPRIATE CENTERS PREPARED AND EQUIPPED FOR THE MANAGEMENT OF MEDICAL EMERGENCIES. <br>
APPLINIC DOES EMPLOY OR HAVE ITS OWN DOCTORS OR OTHER PRACTITIONERS, RATHER IT VERIFIES THE IDENTITY AND QUALIFICATIONS OF PATIENTS AND HEALTH SERVICE PROVIDERS (HSPs) RESPECTIVELY WITH THEIR LICENSING BY NATIONAL AND INTERNATIONAL PROFESSIONAL BODIES AND GIVES THEM A PLATFORM TO MEET PATIENTS AND PLAN HEALTH CARE DELIVERY FOR NON-EMERGENCY CASES. <br>
CONSEQUENTLY, APPLINIC DOES NOT GUARANTEE THE SUCCESS, THE INTEGRITY, THE STANDARDS AND ACCURACY OR THE CORRECTNESS OF THE QUALITY OF SERVICES AND PRODUCTS DOCTORS AND HSPs MAY PROVIDE OR RENDER ON THE PLATFORM ANY MORE THAN THE PROFESSIONAL BODIES WHO LICENSE THEM GUARANTEE AND SO IS NOT LIABLE FOR ANY FAILURE OF DELIVERY OF THE QUALITY OR TYPE OF HEALTH SERVICES OR PRODUCTS DESIRED, AGREED, PAID FOR OR PROMISED BY ANY HSP. 
TO OBTAIN THE BEST OF SERVICES, USERS ARE RESPONSIBLE FOR THE INVESTIGATION AND VERIFICATION OF THE PROFESSIONAL CLAIMS AND SKILLS OF HSPs AND MUST DO ALL IN THEIR POWER TO INDEPENDENTLY VALIDATE THE DIAGNOSTIC PROFICIENCIES AND RESULTS FROM DIAGNOSTIC CENTERS ON APPLINIC THROUGH THE SAME CHANNELS AND RESOURCES THEY WOULD USE IN REAL LIFE SITUATIONS IN THEIR COUNTRIES. <br>
IN THE SAME VEIN, APPLINIC DOES NOT GUARANTEE THE EFFICACY OR VALIDITY OF DRUGS PURCHASED FROM THE PLATFORM PHARMACIES. PATIENTS AND CONSUMERS OF HEALTH PRODUCTS SHOULD CHECK FOR VALIDITY OF DRUGS USING MEANS AND SOLUTIONS PROVIDED BY THE REGULATORY AGENCIES OF THEIR COUNTRIES. BY GOING AHEAD TO USE THE SERVICES OF HSPs PROVIDED ON APPLINIC, YOU AGREE TO INDEMNIFY YOURSELF OR THE ORGANIZATION YOU REPRESENT OF ANY LIKELY CONSEQUENCES OF OBTAINING SUBSTANDARD PRODUCTS AND SERVICES THROUGH THE PLATFORM. YOU ALSO AGREE TO NOT INSTITUTE ANY LEGAL PROCEEDINGS AGAINST THE APPLINIC TEAM OR TO JOIN THEM IN ANY LEGAL PROCESS OR LITIGATION DIRECTLY OR INDIRECTLY THROUGH ANY HSP AS A RESULT OF DISSATISFACTION OR MALPRACTICE.</blockqoute><br>

<h4>THE USERS</h4>
Applinic has various types and categories of users. This listing will increase as the application expands to provide more health-related services to other players in the industry. For now, below is the inexhaustive list of our users<br>
-   Patient<br>
-   Doctor <br>
-   Special Center<br>
-   Pharmacy Store<br>
-   Radiology Center<br>
-   Laboratory Center<br>
All Users referred to in this terms of use refer either generally to this list or specifically to the user when the category or type is specified.<br><br>

<h4>PRIVACY POLICY</h4>
All information about all users above provided at registration and sign up are used according to our Privacy Policy. Please review this section for more information before proceeding to use Applinic. Your usage of Applinic means you have reviewed the Privacy Policy and agree to the terms stated therein. <br><br>

<h4>ETHICS OF CONDUCT</h4>
All users of Applinic are expected to observe the highest standard of ethics of conduct in relation to co-users. The use of inappropriate, abusive and vulgar languages when relating with others on the platform is strictly forbidden and may attract penalties. The rating of HSPs and reporting of abuses and scams are ethical ways of expressing feelings associated with encounters with others. By signing up to use Applinic, you accept to observe a high standard of conduct when relating to others on the platform and to give a feedback to us for appropriate reactions  whenever you feel disrespected, abused or dishonored. <br>

<h4>HEALTH SERVICE PROVIDERS (HSPs)</h4>
HSPs include doctors, health centers, pharmacies, radiology and laboratory centers. Generally they are qualified to practice their professions in their countries. By signing up, HSPs attest to their qualification and pledge to succumb to the verification of their professional claims. Failure to provide the necessary documentary evidence of their claims upon request by Applinic may cause the deactivation of their account. By continuing to use the platform, they agree to cooperate with the verification requirements and other terms and conditions specific to their profession. The terms specific for HSPs are available on their dashboard,accessible only after account creation and basic professional verification.   <br>  


<h4>REGISTRATION</h4>
Account registration of all users is mandatory for advanced use of the application services which require communication with HSPs. Registration must be by individuals, families, companies or organizations whether as providers or consumers of health services and products. Robotic registrations are forbidden. It is against the law of Applinic to design, develop, or deploy artificial intelligence systems and robots for the purpose of registration, hacking or accessing the Applinic database to create or delete accounts without following the established protocol.<br>

<h4>VERIFICATIONS</h4>
All types of users on Applinic are verified. Whilst patients are verified for identity using their phones to prevent scripted registrations, HSPs are verified for both identity and qualification claims to prevent registration of and access to unqualified practitioners. The usage of the platform by all parties imply their acceptance that all identity and qualification claims presented on registration  including phone numbers and email are true and that any theft, forgery or misrepresentation of facts is a criminal offence and may be subject to legal actions. <br>


<h4>CONSULTATIONS</h4>
Consultation services for treatment are provided only by doctors and special centers on the platform. All doctors and special medical centers registered to use the application for consultations and treatments are verified for location and professional qualifications. All certificates presented to verifiers are assumed to have been validly received from the professional and regulatory bodies responsible for the profession in the country and continent of practice but if at any time, additional <br>information or our inquiries reveal that such certificates are forged, crafted, mutilated or tampered with in any way to deceive the verifiers, then the doctor or center’s account will be deactivated and they may be handed over to the law of the state or country for trial. It is a criminal offence to forge documents to deceive the verifying team or to gain access to an Applinic account for the practice of any medical profession not qualified for.  Your continual use of this platform implies your acceptance of this clause of practice.<br>
The services rendered to Applinic patients are to be provided with the utmost professional standards and code and care of practice. Medical practice on Applinic must meet with global standards and must notrepresent, reflect or portray substandard practice in any way, shade or style. For more specific details on the terms and conditions for doctors and medical centers, please review the relevant section after registration and successful verification  <br>
By registering to use Applinic, doctors and special medical centers agree to comply with these standards.<br>

<h4>PATIENTS CONSULTING DOCTORS</h4>
Patients and patrons of doctors and medical centers are responsible for assessing the expertise of the medical practitioners independently of the verified professional qualification of the personnel. Under no circumstance does Applinic endorse, ratify or recommend any doctor or medical center without reservations. Applinic does not accept responsibility for malpractice, inappropriate practice, poor treatment and or quackery by any health practitioner using the platform. By using the platform all patients and patrons indemnify themselves and accept responsibility for any undesirable outcome including death of a patient arising from their patronage of the platform practitioners. <br>

<h4>DIAGNOSTIC SERVICES</h4>
All laboratory and radiological diagnostic centers registered to use the application for delivery of diagnostic services are verified for phone numbers, location and professional qualification and location. All certificates presented to verifiers are assumed to have been validly received from the professional and regulatory bodies responsible for the profession in the state, country or continent of practice but if at any time, additional information reveals that such certificates are forged, crafted, mutilated or tampered with in any way to secure successful verification, then the center’s account will be deactivated and they may be handed over to the law of the state or country for prosecution. It is a criminal offence to forge documents to deceive the verifying team or to gain access to an Applinic account for the practice of any medical profession not qualified for.  Your continual to use this platform implies your acceptance of this clause of practice.<br>
The services rendered to Applinic patients are to be provided with the utmost professional standards and code and care of practice. Diagnostic results and reports issued Applinic patients must meet with global standards and must notrepresent,  reflect or portray substandard practice in any way, shade or style.<br>
Applinic does not endorse, ratify or recommend any diagnostic center without reservations. All patrons of diagnostic centers are responsible for validating the professional excellence and capabilities of the center and their staff independently of the platform; we do not accept responsibility for any wrong, inappropriate or false reports and results of tests done through any of the diagnostic centers on the platform. 
Users accessing the services of diagnostic centers do so at their own risks.

<h4>SALES AND PURCHASE OF DRUGS AND HEALTH PRODUCTS</h4>
All pharmaceutical centers registered to use the application for the sales of drugs and health products are verified for location and professional qualification before allowed to practice. All certificates presented to verifiers are assumed to have been validly received from the professional and regulatory bodies responsible for the profession in the country or continent of practice but if at any time, additional information or informant reveals that such certificates are forged, crafted, mutilated or tampered with in any way to deceive the verifiers and fraudulently obtain the verification, then thecenter’s account will be deactivated and they may be handed over to the law of the state or country for prosecution. It is a criminal offence to forge documents to deceive the verifying team or to gain access to an Applinic account for the practice of any medical profession not qualified for. <br>  
Buying and selling of pharmaceutical products on Applinic are strictly based on the premise that the products are genuine. By signing up to use Applinic to sell health products, pharmacies agree to only sell approved preparations.  Pharmacy stores are not permitted to sell on the platform products that are not registered and approved by local or international regulatory agencies for foods and drugs in the country or region. Violation of these terms may attract penalties including account forfeiture. <br>
Consumers have the responsibility for validating the genuineness of drugs before purchasing them. Applinic does not endorse, ratify or recommend any pharmaceutical center without reservations. All patrons of pharmacy stores are responsible for validating the professional excellence and capabilities of the center, their staff and products independently of the platform. Applinic does not accept responsibility for fake, adulterated and counterfeit drugs and pharmaceutical preparations sold or procured on the platform. <br>

<h4>DISPATCH DELIVERY OF DRUGS (DDD) </h4>
In cities where this service is available, DDD is a value added service that will deliver drugs to patients and customers. The payment for both drugs and their deliveries are made through the e-wallet. Cash payments for drugs or deliveries are both forbidden. Dispatch riders in operational cities are often locals who have been trained to conduct self courteously and to relate with others in a most visit manner. Customers are to also relate with them appropriately. Courtesy, respect and politeness in relating with dispatch riders is expected of all users. All forms of abuse – verbal and physical, disrespect and discourtesy is prohibited in relating with dispatch riders. <br>
Drugs procured for dispatch and delivery are paid before lifting. The buyer may confirm the validity check at delivery and if the standards do not meet expectations, the buyer may return the drug and request electronic refund from the pharmacy. This refund is done immediately and not more than 6 hours after the first request except network infrastructure make electronic refunds not feasible at the time.<br>
Users of dispatched drugs must verify the authenticity of the drug preparations in the presence of the dispatch rider before his departure so that it will be returned to him immediately and transactions reversed if supply was not acceptable. This verification process should not last more than 15 minutes. Unnecessary delay of the rider may attract a bill of 1USD per extra minute spent.
By using DDD services, you agree to comply with these standards.


<h4>PLATFORM COMMUNICATIONS</h4>
Free multimedia communications (IM chat, Audio, Video calls) are available on the platform between and among patients and HSPs. The welfare and wellbeing of the patient is the purpose of this service. The communication is not for social reasons. Users are prohibited from using the platform for mere social communication purposes that do not directly impact on the patient or improvement of health care delivery. By registration on the platform, all users agree to use the instant messaging chat, audio and video calls for only health care delivery purposes. They also agree to the likely consequences of violating this requirement which may include account suspension. <br>

<h4>ELECTRONIC HEALTH RECORDS (EHR)</h4>
Applinic automatically creates personal electronic health records for patients as they are managed on the platform. This record comprises doctor’s reports, prescriptions, diagnostic results and treatment plans for every condition and management session.  Patients’ health records are accessible by default  by only the patients and the doctors managing them. This record is encryptedly stored in the cloud but decrypted for the authorized users including third parties the patient may grant access to. Third party access requires specific request which generates an OTP sent to patient’s phones by SMS which the patient needs to disclose to the third party before access to record can be granted. <br>
Patients and other HSP account holders must also ensure they don’t engage in practices that compromise the integrity and security of their accounts such as sharing user names, passwords or OTPs with third parties. Handing of phones to friends and relations without close observation may also jeopardize security of confidential health information. <br>
Despite these security measures, Applinic acknowledges that technology, cryptography and hacking are constantly evolving and therefore does not give  impeccable guarantee of safety of patients records in the cloud. 
Applinic will constantly upgrade and stiffen its security apparatus and will always employ and deploy the most contemporary and cutting edge, up-to-date and available web security technologies, firewalls and SSL, including anti-hacking, anti-malware tools, codes, encryptions and server infrastructures to secure the health information of our customers and clients. <br>
Despite all these measures, due to the fact that breaches may still result from the users’ indiscretion, Applinic does not provide a fool-proof warranty of the security of health information of patients in the cloud and under no circumstance do we accept responsibility for the safety of patients’ cloud stores of Electronic Health Records.
By continuing to use Applinic, patients and HSPs accept responsibility for any and all breaches that may occur in their EHRs and practice records archived in our servers.<br>

<h4>PAYMENTS</h4>
All payments for health services and products on Applinic are to be made through the e-wallet. Users who pay for services on the platform hereby agree to credit their wallets using electronic bank cards, USSD and electronic debits from bank accounts or direct bank deposits to Applinic bank accounts.  Direct cash payments to health service providers are prohibited and engagement in outlawed financial practices constitutes a violation of the terms and conditions of the application and could lead to penalties including account deactivations. <br>

<h4>CASH OUT</h4>
Health Service Providers cash out income earned from provision of services and sales of products. Patients and other service consumers don’t cash out except they are also service providers. 
Most cash out requests will be completed within 24-48 hours except there is a verification or validation issue which needs to be confirmed before approval in the interest of the security of users finances.  <br>
The Cash Out functionality is a third party payment gateway which traverses and engages banks servers and other gateways. Consequently there may be occasional delays in crediting accounts when users intend to cash out but this will never be in excess of 72 hours except when there is a serious technical challenge and therefore will be an exception rather than the rule. 
All users of Applinic agree to this condition when they sign up to use the application.<br>


<h4>LINKING AND THIRD PARTY SERVICES </h4>
For now, this site does not have links to other third party sites that provide content but may do in the future for your convenience. The only third party sites currently associated with Applinic are servers for specialized services such as video streaming but all content in such servers are provided by us and our users.
You therefore indemnify yourself or selves of the consequences of downtimes, halts, freezes, and complete outages of such third party services experienced while you use them. We apologize for them if they occur and regret their interruption of your enjoyment of our services. Your prompt report of such dissatisfying services is very necessary for our early intervention and rapid correctional efforts. <br> 
In the future this site may contain links to content-providing third party websites operated by others and which we will not maintain or control and consequently will not be responsible for their content. Nevertheless we sure will make a good faith effort to link only useful, ethical and appropriate sites but if any contains inappropriate or questionable content, please notify us immediately.<br>
We believe that those who make information available on the Internet expect that it will be publicly and widely available. Therefore, we believe that linking to other sites is legally permissible, sometimes very useful and informative and consistent with the expectations of those who use the Internet. In fact any content-site we will link to this application must have value and information which will surely enrich your experience beyond what it would have been without the linkage, however, if you feel access to a particular website should be restricted, do not hesitate to promptly notify us.<br>

<h4>JURISDICTION AND APPLICABLE LAW</h4>
This Agreement shall be governed by the laws of the federal Republic of Nigeria as applied to agreements entered into and to be performed entirely within the country, without giving effect to any principles of conflicts of law. Any action you bring to enforce this Agreement or any matters related to this site shall be brought in either the state or federal courts located in the country and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. If any provision of this Agreement is unlawful, void, or unenforceable in whole or in part, the remaining provisions shall not be affected, unless we determine that the invalid or unenforceable provision is an essential term to the Agreement, in which case we may at our sole discretion amend this Agreement.<br>

<h4>LIMITATIONS OF LIABILITY</h4>
We are not liable for any special or consequential damages resulting from your use of, or your inability to use, this site or the materials in this site or any linked site, including, but not limited to, lost profits, business interruption, and loss of programs or other data on your information handling system. In no event shall our total liability to you for all damages, losses, and causes of action exceed the amount paid by you, if any, for accessing this site or any linked site.<br>

<h4>TRADEMARKS</h4>
The following is a non-exhaustive list of Applinic trademarks and service marks:<br>
Applinic <br>
Medipay<br>
HealthpAid<br>
Medipedia<br>


These marks are identifiers of Applinic Ltd and are registered in Nigeria and other countries. <br>

<h4>UNSUBSCRIPTION</h4>
On the users’ dashboard is the unsubscribe button. Click it to delete all registration details. When you unsubscribe, all details of your account will be removed from our database. Due to the importance of medical information and to avoid accidental account deletion, an OTP will be sent to confirm the request when the unsubscribe button is clicked. Once unsubscribed, Applinic does not restore the account of customers or their health information. Each unsubscribed customer will have to register afresh to create a new account and previously deleted account information will be lost forever. <br>
Continuing to use this functionality means the customer understands and agrees with its implications as explained and will not hold Applinic responsible for loss of health information.<br>



<h3>TERMS AND CONDITIONS FOR DOCTORS, PHARMACIES, LABORATORIES AND RADIOLOGICAL CENTERS
DOCTORS, SPECIAL CENTERS AND HOSPITALS</h3>

<b>Participation</b><br>
Online consultation/patient management and telemedical practice are still evolving practices and any doctor intending to apply technology in patient care must be willing not only to abide by the evolutionary terms and conditions of the platform, but must also be cooperative and keep learning and abiding by the new terms and conditions that may evolve as we learn what will work best for the benefit of all users.
By signing up to use or practice on Applinic as a doctor, you hereby agree to comply with the current terms and conditions of the service as explained below. Your thorough study and understanding of the terms and conditions explained in this section is highly recommended.<br><br>

<b>Practice Model</b><br>
The model for practice on Applinic is explained clearly in the Information Palettes and FAQs for doctors presented in the doctors’ dashboard. Please study these releases to understand the rules of the use of the application and play by them. Any shortcutting, circumvention, bypassing, side stepping or outsmarting of the application for personal interests and agenda in such a way as to undermine, compromise or frustrate the models and purposes of the solution will be regarded as malpractice and may attract penalties and sanctions including account suspension. <br><br>
<b>Practice Indemnity</b><br>
By signing up on Applinic you hereby indemnify your patients, clients and customers whether individuals or groups of the result or consequence of any malpractice, complication, harm, damage, death or any other undesirable complication or event involvingthem arising from your use of the platform. You and your center alone (if applicable) will be involved in any litigation proceeding arising therefrom and you agree to not join, involve or engage the Applinic team in such a legal proceeding.<br><br>     
<b>Practice Ethics and Standards</b><br>
Your medical practice on Applinic or on patients obtained through the platform including your relationship and association with other Health Service Providers should be at a standard not less than that acceptable in your country of practice and that of the patient you are managing or other HSPs you relate with on the platform. 
All standards of courtesy, politeness, empathy, patient care, privacy and cooperation observed in the medical world between patients and doctors as well as between doctors and other HSPs must be observed and replicated on Applinic.  <br><br>
<b>Patients’ Confidentiality</b>
The privacy and confidentiality of patients’ health information is of utmostand crucial importance to us at Applinic. Doctors and all health providers who receive, handle and manage private information of patients either of identity or of health are under strict obligation to guard, protect and secure such information with all efforts, means and tools no less than that which they would deploy in protecting their own personal health information. 
By registering and using Applinic, doctors and special centers accept responsibility for securing and keeping confidential, all the information about patientsrevealed, divulged or confided in the health provider. HSPs who handle and manage patients’ information with less than adequate privacy and care or who through any fault of theirs let or facilitate access of third parties to patients’ information violate this confidentiality clause and may be liable tosanctions and penalties including account suspension andprosecution.<br><br>
<b>Registration</b><br>
Your registration involves a provision of some personal information for identification and verification. These include names, phone numbers, qualifications, specialty, skills and so forth. By creating an Applinic account, you affirm that all information you provide about your person, your skills,your qualificationsor those of the center you represent are true and correct to the best of your knowledge and agree that any misrepresentation may lead to your suspension, eventual de-subscription and possible litigation if such misrepresentation culminated in harm, damage, mismanagement or fraudulent practice.<br><br>
<b>Privacy Policy</b><br>
All personal and practice information provided at registration and sign up are used according to our Privacy Policy. Please review this section for more information before proceeding to use Applinic. Your usage of Applinic means you have reviewed the Privacy Policy and agree to the terms stated therein. <br><br>
<b>Verification</b><br>
Verification of phone numbers and professional qualifications are done for every doctor to ensure we are dealing with humans not robots and that the doctors are certified to practice medicine in their countries and not impostors.
The phone verification involves entering the One Time Password sent to the User’s phone into the space provided for validation of the number while verification of professional qualification involves validation with the registered professional body of the applying doctor. All information entered here must be correct and by going ahead with the registration,the doctor agrees with this requirement of strict honesty. Any false professional claims made upon Sign Up may result in suspension and possible de-subscription of the client. <br><br>     

<b>Your Profile</b><br>
Your profile includes your identity and professional declarations which tell who you are and the medical skills youpossess. The more elaborate your skills are, the more likely you will be found by a seeking patient. You are under obligation to state only those skills and procedures you possess and perform. A statement or declaration in your profile of skills and qualifications not possessed is a violation of the Terms and Conditions of strict professional honesty required for your usage of Applinic. By going ahead to use the application you pledge to abide by this requirement in creating your profile. Claims of skills and qualifications not possessed may lead to disciplinary measures including account suspension. <br><br>

<b>Patients Waiting Room (PWR)</b><br>
The PWR is a dynamic pool of patients with real complaints awaiting response from doctors for a possible acceptance of management.   When doctors accept to manage patients in the PWR, they agree to abide by the policies governing the PWR. These include strict observance of patients’ privacies as explained in the section on multimedia communications; no double consultation fee in event of a need for physical consultation after patient has paid for an initial online consultation; and most importantly not accepting cases you don’t specialize in. It is a waste of time and resources for the patient when a doctor accepts to manage a patientknowingly of his case but thereafter discovers the complicated nature and then decides at the last minute to refer him to the appropriate specialist. To find specialists in the house, please use the “Searches” button to select Find Doctor or Find Skills and Procedures depending on how you want to discover the specialists. The patient will not need to pay consultation fee for this initial referral service  since the managing consultant will still require the fee of the patient, nevertheless the referring doctor is entitled to a Loyalty Reward which will come at the end of the treatment if it was vertical referral. Please see the section on Referrals for more information. <br><br>



<b>E- Case Notes</b><br>
By registering on Applinic, every patient automatically gets an e- case note. This case note is made up of sessions. A session is a collection of doctor/patient interactions (chat, audio, video, consultations, prescriptions, diagnostic requests and all documentations) kept during the management of a particular disease or set of complaints.
Each doctor can access his sessions with a patient but cannot access that of another doctor with the same patient except the patient grants him access through an OTP (One Time Password). Doctors can access E-case notes from all devices including mobile phones and tablets so that sessions can be reviewed on the go. The confidentiality and privacy policy of patients records are vital to the use of e-case notes. <br>
By using Applinic to manage patients, doctors are obligated to maintain this privacy and confidentiality by observing all principles described earlier in the section on Patients Confidentiality to ensure that third parties do not see, view or access the contents of patients’ e-case notes. All relevant and necessary efforts for preserving and conserving this privacy must be put in place by doctors, Failure to do so or violation of these terms of confidentiality may attract penalties.<br><br>

<b>Investigations</b><br>
Aside centers who have their in-house diagnostic centers, the primary centers for investigations –laboratory, radiological and other procedural tests are diagnostic centers registered on the platform. If you have preference for non-registered centers, please advise them to register. It is free. One of the purposes of Applinic is to create an Electronic Patients Records (EPR) for all patients. All investigations conducted on the platform automatically update the results in the patients EPR.  Sending patients for investigations in non-registered centers imply this part of the health record will be lost. Consequently doctors who use Applinic agree to use only diagnostic centers registered with the platform. The only rare exception to this policy is when no center in the platform provides such investigations, in which case the doctor will explain to the patient the implication of the non-inclusion of the results in his or her EPR.  <br>
Centers who have in-house diagnostic centers need to register such services separately and independently in the appropriate category. Their e-wallet accounts are run separately even though they may be operated by the same personnel.
Applinic does not guarantee the validity and accuracy of results and reports received from diagnostic centers on the platform to patients. Doctors must ensure to validate or verify the quality and acuity of reports from radiologists, imaging scientists, pathologists and laboratory scientists before sending investigations to them. Applinic does not take or accept responsibility for consequences of wrong, inappropriate or incorrect diagnostic results and reports issued patients through the platform. 
Continuing to use Applinic implies agreement with these policies. Failure to observe the clause of sending investigation requests to only registered diagnostic centers, thereby jeopardizing the medical records of the patient as explained above is a violation of Applinic Terms of Use and may attract sanctions including account suspension.<br><br>

<b>Prescriptions</b><br>
Aside centers who have their in-house pharmacies, the primary drug prescription service centers are pharmacies registered on the platform. If you have preference for non-registered pharmaceutical centers, please advise them to register. It is free. One of the purposes of Applinic is to create an Electronic Patients Records (EPR) for all patients. All prescriptions purchased by patients on the platform automatically update the patients drug history in the patients EPR.  Sending patients to buy prescriptions in non-registered pharmacy stores imply this part of the patient’s health record will be lost. Consequently doctors who use Applinic agree to use only pharmacies registered with the platform. The only rare exception to this policy is when no center in the platform has such drugs in store in which case the doctor will explain to the patient the implication of non-inclusion of the prescription in his or her EPR. <br> 
Centers who have in-house pharmacies need to register such services separately and independently in the appropriate category. Their e-wallet accounts are run separately even though they may be operated by the same personnel.
Applinic does not guarantee the efficacy of any drug sold on the platform to patients. Doctors must ensure to validate or verify pharmacies and their products before sending prescriptions to them. Applinic does not take or accept responsibility for consequences of bad, expired or adulterated pharmaceutical preparations procured for patients through the platform. 
Continuing to use Applinic implies agreement with these policies. Failure to observe the clause of sending prescriptions to only registered pharmacies, thereby jeopardizing the medical records of the patient as explained above is a violation of Applinic Terms of Use and may attract sanctions including account suspension.<br><br>

<b>Medical Reports</b><br>
Every patient managed on Applinic is by policy entitled to a free medicalreport upon completion of management of each condition or before referral. This report summary is written in the appropriate field in the session page. The final patients’ bills are remitted to the doctor only after this report has beensubmitted.<br>
Doctors may specifically charge patients for medical reports ONLY if they did not manage the patient prior to the request and in which case they must conduct the necessary physical examination and relevant investigations before issuing suchreports. The investigations conducted for medical reports remain subject to the Terms described above on Investigations. Medical reports have medico-legal implications and the issuance of them through Applinic is a service that must comply with global best practices just as other services. By signing up to manage patients on Applinic, you agree to comply with the terms in this section. <br><br>

<b>Referrals (Under Development)</b><br>
There are two types of referrals – vertical and horizontal. Vertical referrals happen when junior doctors refer patients to specialists whilst horizontal referrals occur when specialists refer to their fellows.
Even though vertical referrals attract Loyalty Rewards to encourage junior doctors referring patients to their senior colleagues, horizontal referrals doesn’t attract any such rewards.   <br>
During the registration, doctors are required to correctly fill their qualifications because they will be verified. Any false claims of qualifications may lead to denial of completion of the account registration. By registering to practice on Applinic you agree to provide the correct and accurate details of your medical qualifications. <br><br>

<b>Multimedia Communications</b><br>
Applinic provides free multimedia communications between patients and doctors, pharmacies, laboratories, radiology centers and other platform users to enable more efficient patient management through real time communication and information exchange with all stakeholders. 
Chats, audio/video calls and video conferences may reveal or expose patient private information such as health conditions and identities to third parties if not practiced in a secure manner. Consequently, health service providers must practice secure communications by ensuring through all possible means and efforts there are no third parties hearing, seeing, peeping, peeking or eaves dropping to an ongoing or previous multimedia communication between patients and providers. 
If the leakage of patients’ private information to third parties occurs due to a less than an appropriate secure communication practice by the provider then the legal consequences of such leakages will be borne by the doctor. Applinic or any of its staff and partners will not be held liable or responsible for such a breach of confidence.<br><br>

<b>Consultation Fees</b><br>
Doctors charge an optional consultation fee before management of patients. This fee is fixed by each doctor in his dashboard and can be reviewed at will. Fees should not be so high as to scare patients at first sight, rather they should be inviting. The promoted practice on the platform is for doctors to respond to the patient’s complaints first with a brief overview of their understanding of the case, the various differentials and the possible management plan and then a conclusion with the consultation fee.  When the patient is in agreement with this plan and the fee, he will then accept the offer. His account will be debited and the doctor’s credited. Then communication tools (chat, audio, video), investigation, prescription and the appointment menu will all be activated. <br>
This is Applinic’s promoted ethical practice for online consultation on the platform and all doctors on Applinic are encouraged, but not mandatorily so, to comply with this recommended policy standard. <br><br>

<b>Payments</b><br>
All payments by patients from consultation to discharge are to be compulsorily made through the e-wallet. Patients credit their e-wallets through the payment gateway or direct bank deposit and then pay for health services through their e-wallet. The history of all transactions is accessible on the doctor’s dashboard. 
By registering to use the Applinic platform, you agree to receive all payments for your services and products from patients only through the e-wallet. You also sign to not accept cash, cheque, electronic or other payments from the patient or corporate client without passing it through the platform e-wallet system. Any collection of payments through means aside the acceptable channel is a violation of the terms of usage of Applinic and may attract penalties except when the e-wallet system is experiencing downtime in which case conventional channels may be used but with the intent and agreement to provide a record of the transaction when the e-wallet service resumes.<br><br>

<b>Platform Discounts </b><br>
The costs of medical treatments and procedures are determined by the doctors and their practices and not by Applinic. These costs are to be significantly cheaper for patients who access the services through Applinic than for those who do so through the conventional means. We created the Applinic Discount to achieve this and other impacts.
By using Applinic, you agree to make your charges and fees for service and treatment through the platform cheaper than your normal charges. <br>
This discount practice is expected to increase the turn over for each doctor and practice and in the long term make up for the rebate because more patients from a wider perimeter will be informed and enabled to access their services even remotely. 
By using Applinic services and accepting this discount plan, you also contribute to the promotion of the use of the application and this will increase the patronage of qualified health personnel in every locale, reduce avoidable morbidities and mortalities because of increased professionalism and reduced quackery. This will promote the availability and accessibility of electronic health records for platform patients for a more efficient health care delivery.    <br>
In addition to sustaining the Applinic service, you will by discounting your service on Applinic also be contributing to Applinic’s global humanitarian drive to support and assist sick African patients who cannot afford to pay their medical bills. 
For more details on how the discount is used, please see the section below on Use of platform discounts.   <br><br>

<b>Discount Percentages</b><br>
A Twenty percent (20%) discount stands for consultation fees while other charges including treatment, professional, surgical and procedural fees are discounted at Twelve and half percent (12.5%).   
The requestedplatform management discount of 12.5% of the final patient’s bills includes the fees for admission, investigations, surgeries, drugs and other procedures performed on the patient by centers who render all the services. For doctors who outsource pharmacy and diagnostic services the discount will be solely on their professional charges and other bills for procedures they perform. Discounts for drugs and investigations outsourced from platform pharmacies and diagnostic centers are collected directly from them. <br>
Patients make all payments through the e-wallet while the discount is debited when the patient pays the bills. 
Using Applinic implies your acceptance of the Discount Plan and its associated benefits to your practice, to the platform, to the patients and to humanity as explained above.<br>
Circumventing, diverting, evading, by-passing and sidestepping of patients’ payments through other channels aside the platform wallet is a violation of the terms of usage of this application and may attract sanctions.   <br><br>

<b>Use of platform Discounts</b><br>
Commissions and discounts earned by Applinic are used according to platform business and humanitarian policies. Applinic reserves the right to use a percentage of its earnings for charities, loyalty rewards, extended discounts and other purposes. 
By using Applinic, patients and Health Service providers consent they have no rights to decide, suggest, vote or intervene over how Applinic disburses its discount collections.<br>  
Below is the current discount disbursement configuration but can change without prior notice: <br>
-   Sustainability of Application and Service – 5% <br>
-   Humanitarian – 2.5% (Pool of funds for paying bills of certified indigent patients)<br>
-   Discount Incentive to Patients  – 5%<br><br>

<b>Cashing Out</b><br>
As a doctor or medical center, you cash out earnings at will through your profiled bank account. This account cannot be changed without a verification of the request through your registered phone number. If your registered phone line is lost or misplaced, you are obliged to notify the Applinic Team immediately to suspend all cash outs until it is retrieved. Any failure to do this exonerates Applinic from liability or responsibility for possible associated loss(es).
All monies of patients are to be used within the platform for payment for health goods and services. Consequently patients do not have the cash out privilege in their accounts. It is against the terms of this contract to act as an agent, channel or outlet for cashing out for a patient. By continuing to use Applinic, you hereby agree to comply by this condition the violation of which may lead to account suspension or other disciplinary measures.  <br><br>








<h4>UNIQUE TERMS AND CONDITIONS FOR PHARMACIES</h4>
The Terms of Service in this segment is a professional-specific continuation from the general terms for all users. While the general part presented the universally applicable terms and conditions for all users irrespective of category, This part specifies the usage conditions strictly applicable for pharmacists who intend to engage in the sales of pharmaceutical products on Applinic.<br>
You must have read and understood the general section before proceeding here. In case you have not, you are advised to return and thoroughly study or review it before continuing with this section.  <br><br>

<b>Registration</b><br>
Your registration is the submission of basic information about your practice for identification and categorization. These information must be valid. Names, phone numbers, addresses and e-mails must be authentic for the registration to be successfully completed. By signing up an Applinic account you attest that all information provided for the registration of your pharmaceutical practice is correct. You also accept responsibility for any false or incorrect information you provide, whether deliberately or mistakenly. <br><br>

<b>Verification</b><br>
To practice pharmacy on Applinic, intending practitioners must be qualified and licensed by the regulatory professional body of their country or continental sub-region. 
By going ahead to register, you attest that you are certified to practice pharmacy in your locale. It is illegal to pretend to be licensed to practice any medical profession in any way, onsite or online without certification. Going ahead to use the Applinic platform if your qualification is questionable is a criminal offence punishable by law. If you are not licensed or your license has expired, you should not open or operate this account. In that case, you need to unsubscribe until you are certified. A verification team will contact you to validate your acclaimed licensure.
Any discovery of violation or actual intent to violate or defy this requirement may necessitate revocation of your account and possible disclosure of this defiance to the professional regulatory body of your country of practice for possible legal action.
Your continual use of this application means consent and willingness to comply with this  policy.<br><br>


<b>Prescriptions</b><br>
Dispensing of drugs aside Over The Counter (OTC) preparations must be by doctors prescriptions. Opioids, tranquilizers, sedatives and hypnotics, medical marijuanas and other centrally acting or addictive drugs with sales restrictions and control by acts of government and regulatory agencies of countries must be sold following prescriptions by doctors and in accordance with the acts and regulatory policies of the country. Pharmacies may chat with doctors to confirm prescriptions before dispensing if in doubt.
Sales of drugs and health products<br>
All pharmaceutical and health products sold on Applinic must be genuine and approved by the regulatory and standard agencies of the country. By signing up to use Applinic for the sales of health products, pharmacies agree to sell only genuine versions of approved preparations.  Pharmacy stores are not permitted to sell products that are not registered and approved by local or international regulatory agencies for foods and drugs in the country or region of the registration of the pharmacy. It is also forbidden to sell expired drugs or to deceitfully retag the expiration date of drugs to postdate it. Violation of these terms may attract penalties beyond just account forfeitures.<br>

<b>Payment For Products </b><br>
All payments for drugs and other pharmaceutical products sold on Applinic must be made by the platform e-wallet - MediPay. Direct cash collections are outlawed. By signing up to use Applinic, you agree to collect all payments for your products through the platform wallet. Your value can be transferred directly to your bank account through the cash out service. <br>

<b>The Cash Out</b><br>
Transfer of financial values earned on Applinic is done through the Cash Out system on the Applinic e-wallet (MediPay). For the security of your values, every cash out request or changing of the profiled bank account for Cash Out requires an OTP sent to your registered phone for validation. Consequently you are required to always secure your phone and to report to Applinic if it is missing so that OTPs will be disabled on the account until you recover it. This way, your account is secured from your wing. Neither Applinic nor any of its team members will be responsible for any financial loss arising from your breach of this security protocol consequent upon your negligence with securing your phone. 
By continuing to use Applinic, you agree to this security and financial policy of the application.  <br><br>

<b>Applinic Discount </b><br>
Depending on the city and country of practice, Applinic earns a 5-20% discount on pharmaceutical products sold through the platform. This discount is deducted at payment. A history of all transactions is accessible from the pharmacy account dashboard. 
See the invoice page for the percentage discount earned by Applinic in your area. 
By continuing with the application, you agree to the percentage discount deduction policy for using the platform.<br><br>

<b>Use of platform Discounts</b><br>
Commissions and discounts earned by Applinic are used according to platform business and humanitarian policies. Applinic reserves the right to use a percentage of its earnings for charities, loyalty rewards, extended discounts and other purposes. 
By using Applinic, pharmacies consent they have no rights to decide, suggest, vote or intervene over how Applinic uses or disburses its discount collections.<br><br>

<b>Dispatch Deliveries </b><br>
Drugs procured for dispatch delivery are paid for by customers through the e-wallet before shipping. Upon delivery, the buyer has the inalienable right to confirm the validity of the delivery before the rider leaves. This validity check must be done in the presence of the dispatch rider. Client is not allowed to go inside or to any location with the drug beyond the view of the rider unless he has accepted the purchase.  If the product or its standards do not meet his expectations, he can return the drugs to the rider and request a refund from the pharmacy. This request can be done by chat or call to the pharmacy. It must be accompanied by a genuine reason. The pharmacy should oblige with the refund request immediately by transferring the money back to the patient through the e-wallet, and that should not take more than 30 minutes after the first request, except network failure makes refund unfeasible at the time. <br>
Users of dispatched drugs will by policy verify the authenticity of the preparations in the presence of the rider before he leaves so that if the supply is not satisfactory, it can be returned to the rider immediatelyfor forwarding to the pharmacy and for a reversal of the transaction.<br>
The pharmacy accepts the returned product from the rider and reverses the transaction by transferring the money back to the buyeras long as the packages and seals have not been broken. All of these should be completed within 6 hours.   By using Applinic, pharmacy store agrees to comply with this policy.<br><br>

<h4>UNIQUE TERMS AND CONDITIONS FOR RADIOLOGISTS</h4>
The Terms of Service in this segment is a professional-specific continuation from the general terms for all users. While the general part presented the universally applicable terms and conditions for all users irrespective of category, this part specifies the usage conditions strictly applicable for radiologists and imaging scientists who intend to partner with Applinic to use the platform and its tools for rendering radiological services. 
You must have read and understood the general section before proceeding here. In case you have not, you are advised to return and thoroughly study or review it before continuing with this section.<br><br>

<b>Registration</b><br>
Your registration is the submission of basic information about your practice for identification and categorization. These information must be valid. Names, phone numbers, addresses and e-mails must be authentic for the registration to be successfully completed. By signing up an Applinic account you attest that all information provided for the registration of your radiological practice is correct. You also accept responsibility for any false or incorrect information you provide, whether deliberately or mistakenly. <br><br>

<b>Verification</b><br>
To practice radiology on Applinic, intending practitioners must be qualified and licensed by the regulatory professional body of their country or continental sub-region. 
By going ahead to register, you attest that you are certified to practice radiology and imaging science in your locale. It is illegal to pretend to be licensed to practice any medical profession in any way, onsite or online without certification. Going ahead to use the Applinic platform if your qualification is questionable is a criminal offence punishable by law. If you are not licensed or your license has expired, you should not open or operate this account. In that case, you need to unsubscribe until you are certified. A verification team will contact you to validate your acclaimed licensure.<br>
Any discovery of violation or actual intent to violate or defy this requirement may necessitate revocation of your account and possible disclosure of this defiance to the professional regulatory body of your country of practice for possible legal action.
Your continual use of this application means consent and willingness to comply with the requirements explained here.<br><br>

<b>Payment For Services</b>
All payments for radiological services rendered on Applinic must be made by the platform e-wallet (MediPay). Direct cash collections are outlawed. By signing up to use Applinic, you agree to collect all payments for your services through the platform wallet. Your value can be transferred directly to your bank account through the cash out service. <br><br>

<b>The Cash Out</b>
Transfer of financial values earned on Applinic is done through the Cash Out system on the Applinic e-wallet (MediPay). For the security of your values, every cash out request or changing of the profiled bank account for Cash Out requires an OTP sent to your phone for validation. Consequently you are required to always secure your phone and to report to Applinic if it is missing so that OTPs will be disabled on the account until you recover it. This way, your account is secured from your wing. Neither Applinic nor any of its team members will be responsible for any financial loss arising from your breach of this security protocol consequent upon your negligence with securing your phone. 
By continuing to use Applinic, you agree to this security and financial policy of the application.  <br><br>

<b>Applinic Discount </b><br>
Depending on the city and country of practice, Applinic earns a 5-20% discount on radiological services rendered through the platform. This discount is deducted at payment before your account is credited. A history of all transactions is accessible from the pharmacy account dashboard. <br>
See the invoice page for the percentage discount earned by Applinic in your area. 
By continuing with the application, you agree to the percentage discount deduction policy for using the platform. <br><br>

<b>Use of platform Discounts</b><br>
Commissions and discounts earned by Applinic are used according to platform business and humanitarian policies. Applinic reserves the right to use a percentage of its earnings for charities, loyalty rewards, extended discounts and other purposes. 
By using Applinic, diagnostic centers consent they have no rights to decide, suggest, vote or intervene over how Applinic uses or disburses its discount collections. <br><br> 

<b>Home Service </b> <br>
The provision of ultrasonography services using mobile ultrasound machines and devices and other portable radiological modalitiesfor patients at home, offices, hotels and other locations outside the center through Applinic is subject to the professional laws governing such practice in your country if any. In the absence and presence of such laws, the practitioner must apply every scientific knowledge and standard professional guidelines for patient care, ultrasonography, radiography and reporting in rendering the service. Applinic requires that professional guidelines are strictly followed during home service as much as they are during practice at the diagnostic center.<br>
Payment for home services is made through the e-wallet function just as other services. Patients ought to pay for the service through the e-wallet before provider leaves his center to avoid post-service disappointment. It is advisable to render services to known patients in trusted locations. Carrying equipment to patient’s location for diagnostic investigations is fraught with many risks including theft, damage, misplacement, kidnapand other exigencies. Home service providers must ensure that all possible risks are ameliorated and insured against before engagement. Rendering of Home Services is at the risk of the provider. Applinic is not liable for any risks, harms, losses, damages and other contingencies diagnostic centers may incur or encounter while rendering services outside their centers.
By signing up to use Applinic for Home Service, you agree to abide by the above terms.
















<h4>UNIQUE TERMS AND CONDITIONS FOR LABORATORIES</h4>
The Terms of Service in this segment is a professional-specific continuation from the general terms for all users. This part specifies the usage conditions strictly applicable for Laboratory scientists and Pathologists who intend to practice their profession on the platform while the general part presented the universally applicable terms and conditions for all users irrespective of category.<br>
You must have read and understood the general section before proceeding here. In case you have not, you are advised to return and study it before continuing with this review. <br><br> 

<b>Registration</b><br>
Your registration is the submission of basic information about your practice for identification and categorization. These information must be valid. Names, phone numbers, addresses and e-mails must be authentic for the registration to be successfully completed. By signing up an Applinic account you attest that all information provided for the registration of your radiological practice is correct. You also accept responsibility for any false or incorrect information you provide, whether deliberately or mistakenly. <br><br>

<b>Verification</b><br>
To practice radiology on Applinic, intending practitioners must be qualified and licensed by the regulatory professional body of their country or continental sub-region. 
By going ahead to register, you attest that you are certified to practice radiology in your locale. It is illegal to pretend to be licensed to practice any medical profession in any way, onsite or online without certification. Going ahead to use the Applinic platform if your qualification is questionable is a criminal offence punishable by law. If you are not licensed or your license has expired, you cannot open or operate this account. In that case, you need to unsubscribe until you are certified. A verification team will contact you to validate your acclaimed licensure.
Any discovery of violation or actual intent to violate or defy this requirement may necessitate revocation of your account and possible disclosure of this defiance to the professional regulatory body of your country of practice for possible legal action.
Your continual use of this application means consent and willingness to comply with this mandatory policy or preparedness to face the consequences of its violation. <br><br> 

<b>Payment For Services</b><br>
All payments for drugs and other pharmaceutical products sold on Applinic must be made by MediPay – the platform e-wallet. Direct cash collections are outlawed. By signing up to use Applinic, you agree to collect all payments for your services through the platform wallet. Your value can be transferred directly to your bank account through the cash out service. <br><br>

<b>The Cash Out</b>
Transfer of financial values earned on Applinic is done through the Cash Out system on the Applinic e-wallet (MediPay). For the security of your values, every cash out request or changing of the profiled bank account for Cash Out requires an OTP sent to your phone for validation. Consequently you are required to always secure your phone and to report to Applinic if it is missing so that OTPs will be disabled on the account until you recover it. This way, your account is secured from your wing. Neither Applinic nor any of its team members will be responsible for any financial loss arising from your breach of this security protocol consequent upon your negligence with securing your phone. 
By continuing to use Applinic, you agree to this security and financial policy of the application. <br><br>

<b>Applinic Discount </b><br>
Depending on the city and country of practice, Applinic earns a 5-20% discount per laboratory services sourced or provided through the platform. This discount is deducted at payment before your account is credited. A history of all transactions is accessible from the account dashboard. 
See the invoice page for the percentage discount earned by Applinic in your area. 
By continuing with the application, you agree to this service charge deduction policy for using the platform. <br><br>

<b>Use of platform Discounts</b><br>
Commissions and discounts earned by Applinic are used according to platform business and humanitarian policies. Applinic reserves the right to use a percentage of its earnings for charities, loyalty rewards, extended discounts and other purposes. 
By using Applinic, pharmacies consent they have no rights to decide, suggest, vote or intervene over how Applinic uses or disburses its discount collections.  <br><br>

<b>Home Service </b> <br>
The collection of laboratory samples and conduction of some basic investigations for patients at home, offices, hotels and other locations through Applinic is subject to the professional laws governing such practice in your locale if any. In the absence of such laws, the practitioner must apply every scientific knowledge and standard professional guidelines to ensure that the phlebotomist or other sample collector is qualified and well trained and among the most experienced in his practice and must strictly follow the standard guidelines for sample collection, preservation and transportation. Applinic requires that professional guidelines are strictly followed during home service as much as they are during practice at the center.
Payment for home services is made through the e-wallet function just as other services. Patients ought to pay for the service through the e-wallet before provider leaves his center to avoid post-service disappointment. It is advisable to render services to known patients in trusted locations. Carrying equipment to patient’s location for diagnostic investigations is fraught with many risks including theft, damage, misplacement, kidnap and other exigencies. Home service providers must ensure that all possible risks are ameliorated and insured against before engagement. Rendering of Home Services is at the risk of the provider. Applinic is not liable for any risks, harms, losses, damages and other contingencies diagnostic centers may incur or encounter while rendering services outside their centers.   
By signing up to use Applinic for Home Service, you agree to abide by these conditions <br>

            </div>
        </div>
    </div>  
</div>

<div class="clearfix"></div>

<div style="height: 200px"></div>
<% include ./inner/footer-links %>



<div class="clearfix"></div>
       <% include ./inner/footer %>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/tether.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>

</html>