<!doctype html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang=""  ng-app = "rtcVideo"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Applinic video</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/transitions.css">
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
      <script src="/assets/js/vendor2.js"></script>-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link rel="stylesheet" href="/assets/css/font-awesome.min.css">-->
     <link type="style/css" rel="stylesheet" href="/assets/css/video.css">
    <!--<script type="text/javascript" src="/assets/js/source.js"></script>-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/adapter.js"></script>
    <script type="text/javascript" src="/assets/js/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
    </script>

    <!--<script type="text/javascript" src="/assets/js/angular-source.js"></script>-->
   <script src="/assets/js/ngresource.js"></script>
    <script src="/assets/js/modalService.js"></script>
     <script src="/assets/js/moment.min.js"></script>  
    <script src="/assets/js/angular-moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/angularVideo.js"></script>
        
</head>
<body style="overflow-x: hidden;">
    <main class="container-fluid" style="padding: 0;margin: 0" ng-cloak>
        <header style="margin-bottom: 3px;background-color: #d9edf7;padding: 10px 30px" ng-controller="LocalStreamController as localStream" class="row">
            <div class="col-sm-12 col-md-6 col-lg-6"> 
                <div style="text-align: center;">               
                    <a  href="" ng-click="goToDashbaord()" class="btn text-danger"> <i class="fa fa-arrow-left"></i> Back to dashboard</a>
                    <span ng-cloak>{{localStream.getControlId('<%= person.controlId %>')}}</span>
                    <!--Appear as: <input ng-model="localStream.name" class="form-control" style="width: 50%;display: inline-block;"/>-->
                    <a href ng-click="localStream.toggleCam()" class="btn btn-danger" style="color:#fff;float: right">{{ (localStream.cameraIsOn === true) ? 'Streaming... ( stop / disconnect )' : localStream.cameraStatus }}</a>  
                </div>              
            </div>
            <div  class="col-sm-12 col-md-6 col-lg-6">
                <div style="">
                    <!--<a href=""><i class="fa fa-camera" ng-click="streamControl()"> videos</i></a>&nbsp;&nbsp;-->
                    <!--<a href="" class="btn btn-success" ng-click="invite()"><i class="fa fa-user"></i> invite</a>&nbsp;&nbsp;--> 
                    <p class="text-danger" style="display: inline-block;float: right;font-weight: bold;">{{(connectionStatus === true) ? message : "Waiting for partner..."}}</p>
                </div>                
            </div>
        </header>

       
        <section class="row" ng-controller='RemoteStreamsController as rtc'> <!--ng-controller='siteRemoteStreamsController as rtc' -->  
            
            <div class="col-sm-9 col-md-9 col-lg-9" style="margin-top:10px;padding: 0">
                <div style="width: 80%;margin: 0 auto">
                    
                    <div style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                        <video id="localVideo" muted="muted" autoplay="true" style="width:auto;height:250px;margin-top: -4px"></video>
                    </div>                   
                    <div id="remoteVideosContainer" style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        
                    </div>                    
                </div> 
                <span style="visibility: hidden;">{{rtc.siteLink('<%= person.controlId %>')}}</span>               
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;padding-right: 30px">
                <h5 style="padding: 10px 0;color:green">Available live streams</h5>                  

                <div ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}" style="font-size: 14px;margin-top: 10px">
                    <button ng-click="rtc.view(stream)" class="btn btn-success" style="padding: 5px 10px;font-size: 12px">view</button>&nbsp;&nbsp;
                    <span>{{stream.name}}</span>
                    <!--<button ng-click="rtc.call(stream)"><a>Call</a></button>-->
                </div>
                <h5 style="padding: 10px 0;color:green">Treatments</h5>
                <div ng-repeat="j in rtc.prescriptions" style="max-height: 300px;overflow-y: auto;border-bottom: 1px solid #000">
                       <b style="display: inline-block;padding-top: 10px">{{j.type}}</b>
                       <b>Written by: <em>{{j.by}}</em></b>
                       <table class="table">
                           <thead>
                               <th><small></small></th>
                               <th><small>Name</small></th>
                               <th><small>Dosage</small></th>
                               <th><small>Frequency</small></th>
                               <th><small>Duration</small></th>
                           </thead>
                           <tbody ng-repeat="drug in j.drugList">
                               <td>{{drug.sn}}</td>
                               <td>{{drug.drug_name}}</td>
                               <td>{{drug.dosage}}</td>
                               <td>{{drug.frequency}}</td>
                               <td>{{drug.duration}}</td>
                           </tbody>
                       </table>
                       <div>
                            <b>{{j.center.name}}</b>                            
                            <address><span>{{j.center.address}}</span> <span>{{j.center.city}} </span> 
                            <span>{{j.center.country}}</span>
                            <span style="display: block;">{{j.center.phone}}</span>
                            </address>
                            <b>Reference Number: <em>{{j.ref_id}}</em></b>
                        </div>
                    </div>
                    <div ng-repeat="test in rtc.investigations" style="max-height: 300px;overflow-y: auto;border-bottom: 1px solid #000">
                        <b style="display: inline-block;padding-top: 10px">{{test.type}}</b>
                        <b>Written by: <em>{{test.by}}</em></b>
                        <ol>
                            <li ng-repeat="item in test.testList">
                                {{item.name}} 
                            </li>
                        </ol>
                        <div>
                            <b>{{test.center.name}}</b>
                            <address><span>{{test.center.address}}</span> <span>{{test.center.city}} </span> 
                            <span>{{test.center.country}}</span>
                            <span style="display: block;">{{test.center.phone}}</span>
                            </address>
                            <b>Reference Number: <em>{{test.ref_id}}</em></b>
                           
                        </div>
                    </div>
            </div>
             
        </section>
    </main>


    <script src="/assets/js/modalService.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    
</body>
</html>


<!---

    <header style="margin-bottom: 3px;background-color: #d9edf7;padding: 10px" class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                 <a href="{{}}">Back to dashboard</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href=""><i class="fa fa-camera" ng-click="streamControl()"> videos</i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-user" ng-click="invite()"> invite</i> </a>&nbsp;&nbsp;
            </div>          
        </header>        
        <section class="row">
           <div class="col-sm-12 col-md-9 col-lg-9" style="margin-top:10px;padding: 0">
                <div  style="width: 70%;margin: 0 auto">
                    <div style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                        <video id="localVideo" muted="muted" autoplay="true" style="width:auto;height:280px;margin-top: -10px"></video>
                    </div>                   
                    <div id="remoteVideosContainer" style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        
                    </div>                    
                </div>                
            </div>
-->