<!doctype html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang=""  ng-app = "rtcVideo"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Applinic Video</title>
    <meta name="description" content="">
    <meta content='width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <base href="/" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/transitions.css">
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
      <script src="/assets/js/vendor2.js"></script>-->

 <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link rel="stylesheet" href="/assets/css/font-awesome.min.css">-->
     <link type="style/css" rel="stylesheet" href="/assets/css/video.css">
    <!--<script type="text/javascript" src="/assets/js/source.js"></script>-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/adapter.js"></script>
    <script type="text/javascript" src="/assets/js/rtcClient.js"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
    </script>-->

    <script type="text/javascript" src="/assets/js/angular-source.js"></script>
   <script src="/assets/js/ngresource.js"></script>
    <script src="/assets/js/modalService.js"></script>
     <script src="/assets/js/moment.min.js"></script>  
    <script src="/assets/js/angular-moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/angularVideo.js"></script>
    <script type="text/javascript">
        var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
        if(Opera){
          window.location.href = "/assets/show-error.html";
        }
    </script>
    
     <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128083647-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128083647-1');
        </script>
        
</head>
<body style="overflow-x: hidden;">
    <main class="container-fluid" style="padding: 0;margin: 0" ng-cloak>
        <header  style="margin-bottom: 3px;background-color:#fff; padding: 10px 30px" ng-controller="LocalStreamController as localStream" class="row">
            <div class="col-md-6 col-lg-6"> 
                <div style="padding-top: 10px">               
                    <a  href="" ng-click="goToDashbaord()" class="text-danger"> <i class="fa fa-arrow-left"></i> Back</a>
                    <span ng-cloak>{{localStream.getControlId('<%= person.controlId %>')}}</span>
                    <!--Appear as: <input ng-model="localStream.name" class="form-control" style="width: 50%;display: inline-block;"/>-->
                    <a href ng-click="localStream.toggleCam()" class="btn btn-danger btn-sm" style="color:#fff;float: right">{{ (localStream.cameraIsOn === true) ? 'Streaming... ( disconnect )' : localStream.cameraStatus }}</a>  
                </div>              
            </div>
            <div  class="col-md-6 col-lg-6">
                <div>
                    <!--<a href=""><i class="fa fa-camera" ng-click="streamControl()"> videos</i></a>&nbsp;&nbsp;-->
                    <select ng-model="invite.type" class="form-control" style="width: 50%;">
                        <option value="" selected="selected" disabled="disabled"><i class="fa fa-user text-danger"></i> Invite</option>
                        <option value="Doctor"><i class="fa fa-user"></i> Invite a Doctor</option>
                        <option value="Patient"><i class="fa fa-user"></i> Invite a Patient</option>
                        <option value="Center"><i class="fa fa-hospital"></i> Invite a Center</option>
                    </select>
                    <div style="width: 80%;position: absolute;top:40px;left: 0px;background-color: #fff;z-index: 999;padding: 5px;border: 1px solid #d9edf7" ng-if="findInvitee">
                        <div style="text-align: right;">
                            <i class="fa fa-times" style="padding: 5px;cursor: pointer;" ng-click="closeInvite()"></i>
                        </div>
                        <div style="text-align: center;">
                            <input type="text" name="" ng-model="invite.name" placeholder="{{inviteInfo}}" class="form-control" style="width: 80%;display: inline-block;">
                            <button class="btn btn-info btn-sm" ng-click="getInvitee()">Go</button>
                        </div>
                        <div style="max-height: 400px;overflow-y: auto;">                        
                            <div ng-repeat="invitee in inviteeList" style="padding-top: 10px" ng-if="userId !== invitee.user_id">
                                <div ng-if="invite.type === 'Doctor'" >
                                    <img src="{{invitee.profile_pic_url}}" style="width: 42px; height: 42px;float: left;">
                                    <article style="display: inline-block;padding-left: 10px">
                                        <strong style="display: block;margin-top: -5px" class="ellipsis"><small>{{invitee.name}}</small></strong>
                                        <span style="display: block;margin-top: -5px" class="ellipsis"><small>{{invitee.specialty}}</small></span>
                                        <span style="display: block;margin-top: -5px" class="ellipsis"><small>{{invitee.work_place}} {{invitee.address}} {{invitee.city}}</small></span>
                                    </article>
                                    <a  href="" style="padding: 3px 5px;font-size: 14px;float: right;margin-top:20px" ng-click="sendInvitation(invitee.user_id)">{{(deliveryMsg) ? deliveryMsg : 'invite'}}</a>
                                    <span ng-if="invitee.presence === true" class="online" style="margin-top: 5px;margin-right: -30px; float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: green"></span><span ng-if="invitee.presence !== true" class="online" style="background-color: grey;margin-top: 5px;margin-right: -30px;float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #ccc"></span>
                                </div>
                                 <div ng-if="invite.type === 'Patient'" >
                                    <img src="{{invitee.profile_pic_url}}" style="width: 42px; height: 42px;float: left;">
                                    <article style="display: inline-block;padding-left: 10px">
                                        <strong style="display: block;margin-top: -2px" class="ellipsis"><small>{{invitee.firstname}}</small></strong>                                     
                                        <span style="display: block;margin-top: -5px" class="ellipsis"><small>{{invitee.address}} {{invitee.city}} {{invitee.country}}</small></span>
                                    </article>
                                    <a  href="" style="padding: 3px 5px;font-size: 14px;float: right;margin-top:20px" ng-click="sendInvitation(invitee.user_id)">{{(deliveryMsg) ? deliveryMsg : 'invite'}}</a>
                                    <span ng-if="invitee.presence === true" class="online" style="margin-top: 5px;margin-right: -30px; float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: green"></span><span ng-if="invitee.presence !== true" class="online" style="background-color: grey;margin-top: 5px;margin-right: -30px;float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #ccc"></span>
                                </div>
                                <div ng-if="invite.type === 'Center'" >
                                    <img src="{{invitee.profile_pic_url}}" style="width: 42px; height: 42px;float: left;">
                                    <article style="display: inline-block;padding-left: 10px">
                                        <strong style="display: block;margin-top: -2px" class="ellipsis"><small>{{invitee.name}}</small></strong>                                     
                                        <span style="display: block;margin-top: -5px" class="ellipsis"><small>{{invitee.address}} {{invitee.city}} {{invitee.country}}</small></span>
                                    </article>
                                    <a  href="" style="font-size: 14px;float: right;margin-top:20px" class="btn btn-danger btn-sm" ng-click="sendInvitation(invitee.user_id)">{{(deliveryMsg) ? deliveryMsg : 'invite'}}</a>
                                    <span ng-if="invitee.presence === true" class="online" style="margin-top: 5px;margin-right: -30px; float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: green"></span><span ng-if="invitee.presence !== true" class="online" style="background-color: grey;margin-top: 5px;margin-right: -30px;float: right;display: inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #ccc"></span>
                                </div>
                            </div>
                            <div style="text-align: center;padding-top: 40px" ng-if="loading">
                                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ></i>
                            </div>
                        </div>
                    </div>                  
                    <small class="text-danger" style="display: inline-block;float: right;margin-top: 15px">{{(connectionStatus === true) ? message : "Waiting for partner..."}}</small>
                </div>                
            </div> 
        </header>

       
        <section class="row" ng-controller='RemoteStreamsController as rtc'> <!--ng-controller='siteRemoteStreamsController as rtc' -->  
            
            
            <div class="col-sm-12 col-md-2 col-lg-2 card" style="margin-top:10px;">
                <div style="padding: 10px 15px 0;color:green; border-bottom: 1px solid #ccc"><b>Remote Stream</b></div>
                <p class="p-1" ng-show="rtc.remoteStreams.length > 0"><small>'Click' on button below to Open / Close partner(s) video stream</small></p>
                <hr>    
                <div ng-repeat="stream in rtc.remoteStreams"  style="font-size: 14px;margin-top: 10px;padding-left: 20px">
                  <a  href="" ng-click="rtc.view(stream)" class="" style="padding: 5px 10px;font-size: 12px" id="{{stream.id}}"><i class="fa fa-video-camera text-muted"></i> &nbsp;<b>{{(stream.isPlaying === false) ? stream.name + '( view )' : stream.name + ' ( hide )'}}</b></a>
                    <!--<button ng-click="rtc.view(stream)" class="btn btn-info btn-sm" style="padding: 5px 10px;font-size: 12px" id="{{stream.id}}">{{stream.name}}</button>-->
                    <!--<span>{{stream.name}}</span>-->
                    <!--<button ng-click="rtc.call(stream)"><a>Call</a></button>-->
                </div>
                <!--<div ng-repeat="j in rtc.prescriptions" style="max-height: 300px;overflow-y: auto;border-bottom: 1px solid #000">
                       <b style="display: inline-block;padding-top: 10px">{{j.type}}</b>
                       <b>Written by: <em>{{j.by}}</em></b>
                       <table class="table">
                           <thead>
                               <th><small></small></th>
                               <th><small>Name</small></th>
                               <th><small>Dosage</small></th>
                               <th><small>Frequency</small></th>
                               <th><small>Duration</small></th>
                           </thead>
                           <tbody ng-repeat="drug in j.drugList">
                               <td>{{drug.sn}}</td>
                               <td>{{drug.drug_name}}</td>
                               <td>{{drug.dosage}}</td>
                               <td>{{drug.frequency}}</td>
                               <td>{{drug.duration}}</td>
                           </tbody>
                       </table>
                       <div>
                            <b>{{j.center.name}}</b>                            
                            <address><span>{{j.center.address}}</span> <span>{{j.center.city}} </span> 
                            <span>{{j.center.country}}</span>
                            <span style="display: block;">{{j.center.phone}}</span>
                            </address>
                            <b>Reference Number: <em>{{j.ref_id}}</em></b>
                        </div>
                    </div>-->
                    <!--<div ng-repeat="test in rtc.investigations" style="max-height: 300px;overflow-y: auto;border-bottom: 1px solid #000">
                        <b style="display: inline-block;padding-top: 10px">{{test.type}}</b>
                        <b>Written by: <em>{{test.by}}</em></b>
                        <ol>
                            <li ng-repeat="item in test.testList">
                                {{item.name}} 
                            </li>
                        </ol>
                        <div>
                            <b>{{test.center.name}}</b>
                            <address><span>{{test.center.address}}</span> <span>{{test.center.city}} </span> 
                            <span>{{test.center.country}}</span>
                            <span style="display: block;">{{test.center.phone}}</span>
                            </address>
                            <b>Reference Number: <em>{{test.ref_id}}</em></b>
                           
                        </div>
                    </div>-->
            </div>

            <div class="col-sm-12 col-md-7 col-lg-7" style="margin-top:10px;padding: 0">
                <div style="width: 95%;margin: 0 auto" id="remoteVideosContainer">                    
                    <div style="padding: 15px 8px 0 8px;border:2px solid #d9edf7;margin-top: 10px" class="row">
                        <!--<p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">You</p>
                        <video id="localVideo" muted="muted" autoplay="true" style="width:auto;height:240px;margin-top: -4px"></video>-->
                        <section class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                           <video id="localVideo" autoplay="true" muted="muted" style="width:100%;margin-top: -4px"></video>  
                        </section> 
                       <!--<section class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                           <div style="width:100%;height:268px;margin-top: -4px;border: 1px solid red">
                               zzxzx
                           </div>
                       </section>
                        <section class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                           <div style="width:100%;height:268px;margin-top: -4px;border: 1px solid red">
                               zxxz
                           </div>
                       </section>    
                       <section class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                           <div style="width:100%;height:268px;margin-top: -4px;border: 1px solid red">
                               zxzzx
                           </div>
                       </section>-->
                    </div>                   
                    <!--<div  style="display: inline-block;padding: 8px 8px 0 8px;">
                        
                    </div> -->
                    <!--border:2px solid #d9edf7 -->                   
                </div> 
                <span style="visibility: hidden;">{{rtc.siteLink('<%= person.controlId %>')}}</span>               
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3" style="margin-top:10px;padding: 0">
                <div style="width: 90%;margin: 0 auto">                    
                    <h6>Pharmaceutical</h6> 
                    <div ng-repeat="j in rtc.prescriptions">
                        <table class="table table-responsive">
                           <thead>
                               <!--<th><small></small></th>-->
                               <th><small>Name</small></th>
                               <th><small>Dosage</small></th>
                               <th><small>Frequency</small></th>
                               <th><small>Duration</small></th>
                           </thead>
                           <tbody ng-repeat="drug in j.drugList">
                               <!--<td>{{drug.sn}}vccv</td>-->
                               <td>{{drug.drug_name}}</td>
                               <td>{{drug.dosage}}</td>
                               <td>{{drug.frequency}}</td>
                               <td>{{drug.duration}}</td>
                           </tbody>
                       </table>
                       <div>                                                  
                            <address>
                            <span>{{j.center.name}}</span> <br> 
                            <span>{{j.center.address}}</span> <span>{{j.center.city}}</span> 
                            <span>{{j.center.country}}</span>
                            <span>{{j.center.phone}}</span><br>
                            <span>Ref No: <em>{{j.ref_id}}</em></span>
                            </address>
                            
                        </div>
                        <hr>
                    </div>

                    <h6 ng-if="rtc.investigations">Investigation</h6> 
                    <div ng-repeat="test in rtc.investigations">
                        <label style="display: inline-block;padding-top: 10px">{{test.type}}</label>
                        <b></b></em></b>
                        <ol>
                            <li ng-repeat="item in test.testList">
                                {{item.name}} 
                            </li>
                        </ol>
                        <div>                            
                            <address>
                            <span>{{test.center.name}}</span><br>
                            <span>{{test.center.address}}</span> <span>{{test.center.city}} </span> 
                            <span>{{test.center.country}}</span>
                            <span>{{test.center.phone}}</span><br>
                            <span>Ref No: <em>{{test.ref_id}}</em></span>
                            </address>                          
                        </div>
                        <hr>
                    </div>  
                </div>
            </div> 
        </section>
    </main>


    <!--<script src="/assets/js/modalService.js"></script>-->
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    
</body>
</html>


<!---

    <header style="margin-bottom: 3px;background-color: #d9edf7;padding: 10px" class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                 <a href="{{}}">Back to dashboard</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href=""><i class="fa fa-camera" ng-click="streamControl()"> videos</i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-user" ng-click="invite()"> invite</i> </a>&nbsp;&nbsp;
            </div>          
        </header>        
        <section class="row">
           <div class="col-sm-12 col-md-9 col-lg-9" style="margin-top:10px;padding: 0">
                <div  style="width: 70%;margin: 0 auto">
                    <div style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        <p style="text-align: center;padding: 4px;color: orange;background-color: #d9edf7">Your Cam</p>
                        <video id="localVideo" muted="muted" autoplay="true" style="width:auto;height:280px;margin-top: -10px"></video>
                    </div>                   
                    <div id="remoteVideosContainer" style="display: inline-block;padding: 8px 8px 0 8px;border:2px solid #d9edf7">
                        
                    </div>                    
                </div>                
            </div>
-->