<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Applinic Vitals Check</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="/assets/css/styles.7a9ecdd071af54b12315.css"></head>
<body>
  <app-root></app-root>
<script src="/assets/js/runtime-es2015.a4dadbc03350107420a4.js" type="module"></script><script src="/assets/js/runtime-es5.a4dadbc03350107420a4.js" nomodule defer></script><script src="/assets/js/polyfills-es5.70dd5cb09c809e0ab6f2.js" nomodule defer></script><script src="/assets/js/polyfills-es2015.6aaa461584ce78f4870a.js" type="module"></script><script src="/assets/js/main-es2015.b3bcbee176a3a930d55c.js" type="module"></script><script src="/assets/js/main-es5.b3bcbee176a3a930d55c.js" nomodule defer></script></body>
</html>


