<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Applinic - Vitals Check</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Applinic Vital Check helps you check your Blood Pressure, Respiratory Rate, Pulse, SpO2 and Stress level.">   
  <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">

  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon.png">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="/assets/css/styles.7a9ecdd071af54b12315.css"></head>
<body>
<h1 style="visibility: hidden;font-size: 1px">Check your BP, Pulse, Respiratory Rate, Oxygen and Stress level</h1>
  <app-root></app-root>
  <div style="text-align: center;color: blue;margin-top: 50px">
  	<a href="/">Go to home</a>&nbsp;&nbsp;
  	<a href="/login">Log into your account</a>
  </div>

<script src="/assets/js/runtime-es2015.a4dadbc03350107420a4.js" type="module"></script><script src="/assets/js/runtime-es5.a4dadbc03350107420a4.js" nomodule defer></script><script src="/assets/js/polyfills-es5.70dd5cb09c809e0ab6f2.js" nomodule defer></script><script src="/assets/js/polyfills-es2015.6aaa461584ce78f4870a.js" type="module"></script><script src="/assets/js/main-es2015.5aebec2399acf677e7a2.js" type="module"></script><script src="/assets/js/main-es5.5aebec2399acf677e7a2.js" nomodule defer></script></body>
</html>



