
<script type="text/ng-template" id='chat.html'>

<style type="text/css">
	.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 35%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 450px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 65%;
  overflow-y: auto;
  max-height: 600px;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 416px;
  overflow-y: auto;
}

.progress-bar {
  width: 100%;
  background-color: grey;
}

.inner-bar {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}





</style>

<div class="container no-mobile-item-display">
<div>
  <a href="#/chats-notification" class="btn btn-neutral" style="padding: 3px 10px"><i class="fa fa-arrow-left"></i> Back</a>
</div>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Messages</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" style="border: none;padding: 8px"  placeholder="Search" ng-model="ft">
                <!--<span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>--> </div> <!-- active_chat -->
            </div>
          </div>
          <div class="inbox_chat bg-white">
            <div class="chat_list " ng-class="{'text-success' : !chat.is_read,'active_chat': chat.partnerId == partner.partnerId}" ng-repeat="chat in chatsList | orderBy : '-status' | filter: ft" ng-click="viewChat(chat)" ng-if="chat.partnerId !== checkLogIn.user_id" style="position: relative;">
              <div class="chat_people">
             
                <div class="chat_img"> <img src="{{chat.profilePic}}" alt="image"> </div>
                <div class="chat_ib">
                  <h5 style="text-transform: capitalize;">{{chat.name}} <span class="chat_date" >{{ (chat.messages[chat.messages.length - 1].time  || chat.messages[chat.messages.length - 1].received ) | amCalendar}}</span></h5>
                  <p class="ellipsis">{{(!chat.typing) ? (chat.messages[chat.messages.length - 1].msg || chat.messages[chat.messages.length - 1].received || chat.messages[chat.messages.length - 1].sent ) : chat.typing }}</p>
                  <span style="position: absolute;right: 4px; bottom: 5px" class="online" ng-show="chat.status" title="Online"></span>
                  <span style="position: absolute;right: 4px; bottom: 5px;background-color: #ccc" title="Offline" class="online" ng-show="!chat.status"></span>
                    <a href="" ng-show="!chat.status && !chat.isSent" class="btn btn-sm btn-success" style="position: absolute;right: 2px; bottom: 0;" ng-click="inviteOnline2(chat)" ng-show="!chat.loading" title="Invite online">invite online</a>
                  <span ng-show="!chat.status && chat.isSent" style="position: absolute;right: 5px; bottom: 0;color:green">Inviting...</span>
                </div>

              </div>
              <div style="height: 30px" class="clearfix"></div>
            </div>
        
            <!--
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>
                </div>
              </div>
            </div>-->

            <!--
 <div ng-if="isChat || isChat === undefined">
		               
		                <div class="panel-body msg_container_base bg-default" id="base" style="height: 360px">

		                    <div id="sentmessage">
		                        
		                    </div>
		                    <div style="position: absolute;top:170px;left:250px" ng-if="loading">
		                    	<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;font-size: 32px" ></i>
		                    </div>
		                </div>

		                
		              

			               
		                    <div class="mt-1 pb-2" style="position: relative;">
		                        <textarea contenteditable="true" class="chat-text-area" ng-model="user.text1"  placeholder="Type a message..."  id="textarea2" ng-keypress="getkeys($event)" style="box-shadow: none!important;"> <span class="textout" >{{typeMessage}}</span> </textarea>
		                        <button type="submit" class="chat-btn btn btn-neutral text-warning"><i class="fa fa-send"></i></button>
		                    </div>
		                    <div class="clearfix"></div>
		                    <hr>
		                    <div style="position: relative;">
		                        <input type="file" id="file" file-model-chat="files">
		                    </div>
		                </form>

		             
		            </div>

            -->
          </div>
        </div>
        <div class="mesgs" ng-if="isChat || isChat === undefined" style="position: relative;">
        	<div style="position: absolute;left: 25px;top: 5px">
	        	 <span class="ellipsis" ng-cloak><b>{{partner.name}}<!--{{partner.partnerType}}--> </b>&nbsp;
	            	<span>
	                <em ng-if="partner.typing" style="font-size: 14px;color: green"><small>{{partner.typing}}</small></em> 
	                <em ng-if="partner.status && !partner.typing" style="font-size: 12px;color: green" ng-cloak>Online</em>
	                <em ng-if="!partner.status && !partner.typing" ng-cloak style="color:orange;font-size: 12px"><!--{{lastSeen(partner)}}--> Offline</em>
	                </span>
	            </span>
            </div>
            <div style="position: absolute;right: 25px;top: 0;"> 
            	
            	<label for="file-input">
				  <i class="fa fa-paperclip text-muted" aria-hidden="true" style="cursor: pointer;" title="Attach a file"></i>
				</label>&nbsp;&nbsp;&nbsp; <input type="file" class="file-input hide" name="file-input" id="file-input" file-model-chat="files">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="" title="Make audio call"  ng-click="audioChat(partner)">
                <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>         

				<a href="" title="Make video call" ng-click="videoChat(partner)" ng-show="partner.partnerType == 'Doctor' || partner.partnerType == 'Patient' ">
            		<i class="fa fa-video-camera text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            	</a>           	
				  
        		<!--<a href="" class="ellipsis" ng-if="partner.partnerType === 'Doctor' && checkLogIn.typeOfUser !== 'Doctor'"  ng-click="chatPrivate(partner)">Single Chat</a>-->
        		<a href="#{{'/doctor-patient/treatment/' + partner.partnerId}}" class="text-success text-danger " style="font-size: 14px;" ng-if="partner.partnerType === 'Patient' && checkLogIn.typeOfUser === 'Doctor' "  title="Go to e-treatment to generate bill for treatment or consultation, refer to a specialist, write prescription, request diagnostic investigation or view medical records, etc." ><i class="fa fa-folder-open text-warning"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        		
        	</div>

          	<div class="msg_history msg_container_base" id="base">

          	<div id="sentmessage">
	            <!--<div class="incoming_msg">
	              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	              <div class="received_msg">
	                <div class="received_withd_msg">
	                  <p>Test which is a new approach to have all
	                    solutions</p>
	                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
	              </div>
	            </div>
	            <div class="outgoing_msg">
	              <div class="sent_msg">
	                <p>Test which is a new approach to have all
	                  solutions</p>
	                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
	            </div>-->         
            </div>
            <div style="position: absolute;top:170px;right:320px" ng-if="loading">
            	<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;font-size: 32px" ></i>
            </div>


         
          </div>
          <form class="type_msg" ng-submit="sendChat1()">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" ng-model="user.text1" />
              <button type="submit" class="msg_send_btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              <!--<button type="submit" class="msg_send_btn"><i class="fa fa-paperclip" aria-hidden="true"></i></button>-->
            </div>
          </form>
        </div>
      </div>      
    </div>
   </div>

</script>















    
	











































