
<script type="text/ng-template" id='report-ultrasound.html'>
    <style type="text/css">
        input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 300px;
  position: relative;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}

.hide-temp {
  visibility: hidden;
}
    </style>
    <div class="card-center-1">
        <a href="#/messages" class="btn btn-neutral"><i class="fa fa-arrow-left"></i> Back</a>
    </div> 
    <div class="card-center-1">
        <h4 class="h6">Write Ultra-sound Report </h4>
    </div>
    <form class="card pl-2 pr-2 pb-2 card-center-1">    
        <section class="mt-2 row">
            <div class="col-md-6 col-xs-6">
                <label>Patient Name: </label> <span>{{ultraRefData.radiology.patient_title}} {{ultraRefData.radiology.patient_firstname}} {{ultraRefData.radiology.patient_lastname}}</span><br>
                <label>Age: </label> <span>{{ultraRefData.radiology.patient_age}}</span><br>
                <label>Gender: </label> <span>{{ultraRefData.radiology.patient_gender}}</span><br>
                <label>Phone: </label> <span>{{ultraRefData.radiology.patient_phone}}</span><br>
               
            </div>
            <div class="col-md-6 col-xs-6">
                <label>Physician: </label> <span>{{ultraRefData.referral_title}} {{ultraRefData.referral_firstname}}</span><br>
                <label>Phone: </label> <span>{{ultraRefData.referral_phone}}</span><br>
                <label>Ref No: </label> <span>{{ultraRefData.ref_id}}</span><br>
                <label>Date requested: </label> <span>{{ultraRefData.date | date: 'fullDate'}} ( <span am-time-Ago="ultraRefData.date"></span> )</span><br>
            </div>
        </section>
        <br>
        <div class="text-center">
            <h4 class="h5 pb-0 mb-0">{{ultraRefData.radiology.test_to_run[0].name}}</h4>
            <div><span>{{ultraRefData.date | date: 'fullDate'}}</span></div>
        </div>
       
         <div>
            <label>Indication:</label>
            <div style="padding-left: 20px ">
            <span>{{ultraRefData.radiology.indication || "N/A"}}</span>

            </div>
        </div>
        <br>
        <div>
            <label>Clinical Summary:</label>
            <div style="padding-left: 20px ">
            <span>{{ultraRefData.radiology.clinical_summary || "N/A"}}</span>
            </div>
        </div>
        <br>
        <div>
            <label>Findings:</label><br>
            <textarea class="form-control pl-1" style="height: 150px"  placeholder="Write" ng-model="ultraRefData.radiology.findings" required></textarea>
        </div>
        <br>
        <div>
            <label>Conclusion:</label><br>
            <textarea class="form-control pl-1" style="height: 150px" placeholder="Write" ng-model="ultraRefData.radiology.conclusion" required></textarea>
        </div>
        <br>
        <div>
            <label>Advice/Further Investigations:</label><br>
            <textarea class="form-control pl-1" style="height: 150px" placeholder="Write" ng-model="ultraRefData.radiology.advice" required></textarea>
        </div>
        <br>
        <div>
            <label>Your Full Name:</label><br>
            <input type="text" name="fullname" class="form-control" ng-model="ultraRefData.radiology.staffname" required>
        </div>
        <br>
        <div>
            <label>Your Designation or Specialty:</label><br>
            <input type="text" name="designation" class="form-control" ng-model="ultraRefData.radiology.designation"  required>
        </div>
        <br>
        <!--<div>
            <label>Drugs (optional):</label><br>
            <textarea class="form-control pl-1" style="height: 120px" placeholder="Write" ng-model="ultraRefData.radiology.drugs"></textarea>
        </div>
        <br>-->
        <div>
            <label>Attach Images:</label><br>
            <div class="wrapper">
              <div class="drop">
                <div class="cont">
                  <i class="fa fa-cloud-upload"></i>
                  <div class="tit">
                    Drag & Drop
                  </div>
                  <div class="desc">
                    your files here, or 
                  </div>
                  <div class="browse" style="background-color: orange">
                    Click here to browse file system
                  </div>
                </div>
                <output id="list" style="z-index: 9999"></output><input id="files" multiple="true" name="files[]" type="file" />
              </div>
            </div>            
        </div> 
        <br>  
        <button class="btn btn-primary btn-block" ng-click="preview(ultraRefData)">{{ (loading) ? ('Processing... ' + progress + '%') : 'Preview'}}</button>
    
    </form>
</script>


