
<section style="padding: 20px">
	<header style="position: relative;">
		<h4> 
		<i class="fa fa-motorcycle"></i> Courier Services <span style="font-size: 16px;display: inline-block;">( {{courierRequests.length}} requests )</span> &nbsp;&nbsp; <span style="font-size: 14px;display: block;">Field 	Agent URL: </span>
		<a href="{{fieldagentUrl}}" target="_blank" style="font-size: 14px"> {{fieldagentUrl}}</a>
		</h4>
		
		<!--<input type="text" placeholder="Filter" class="form-control">-->

		<div class="card p-2" style="">
			<button class="btn-courier" ng-click="current()" style="margin-right:20px" ng-class="{'orange-bg': selected1 == true}"> Current requests</button>
			<button class="btn-courier" ng-click="attended()" ng-class="{'orange-bg': selected2 == true}"> Attended requests</button>

			<a href="" ng-click="refresh()" style="float: right;font-size: 18px"><i class="fa fa-refresh"></i></a>
		</div>
		<!--<a href="/bicboy/judepharmacy6768/y2kisawesome">Field agent</a>-->
	</header>

	<div class="card" ng-repeat="request in courierRequests | orderBy: '-date'" style="padding: 20px;line-height: 32px">
		<div class="col-sm-12 col-md-3 col-lg-3">
		<h6 style="text-decoration: underline;">Sender detail</h6>
			<div>
				<i class="fa fa-user"> {{request.title}} {{request.firstname}} {{request.lastname}} </i>
			</div>
			<div>
				<i class="fa fa-globe"> {{request.address}} ( {{request.city}} )</i>
			</div>
			<div>
				<i class="fa fa-clock-o"> {{request.date | date : "mediumDate"}} | {{request.date | date : "mediumTime"}}</i>
			</div>	
			<div>
				<i class="fa fa-phone"> {{request.phone1}}, {{request.phone2}}</i>
			</div>					
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
		<h6 style="text-decoration: underline;">Prescription detail</h6>
			<table class="table table-striped table-responsive">
				<tr>
					<thead>
						<th>S/N</th>
						<th>cost</th>
						<th>drug</th>
						<th>dosage</th>
						<th>frequency</th>
						<th>duration</th>		    						
					</thead>        					
				</tr>
				<tr>
					<tbody ng-repeat="prescription in request.prescription_body">		    						
						<td>{{prescription.sn}}</td>
						<td>{{(!prescription.cost) ? "N/A" : toCurrency(prescription.cost)}}</td>
						<td>{{prescription.drug_name}}</td>
						<td>{{prescription.dosage}}</td>
						<td>{{prescription.frequency}}</td>
						<td>{{prescription.duration}}</td>		    							    						
					</tbody>
				</tr>
			</table>
			<div ng-if="request.total_cost"> <strong>Total:</strong> {{toCurrency(request.total_cost)}}</div>
		</div>
		<div class="col-sm-12 col-md-3 col-lg-3" style="line-height: 25px">
			<h6 style="text-decoration: underline;">Delivery report</h6>
			<div><strong>Status :</strong> <span ng-if="request.attended !== true">Not yet billed</span> <span style="color:red" ng-if="request.attended == true"> Billing sent! <small>( {{request.verification_date | date: 'mediumDate'}} | {{request.verification_date | date: 'mediumTime'}} ) </small></span></div>
			<div><strong>Delivery status :</strong> <span ng-if="!request.receipt_date">pending</span> <span ng-if="request.receipt_date">Delivered! Package in receipt @ {{request.address}}</span></div>
			<div><strong>Payment confirmation :</strong> <span ng-if="!request.receipt_date">No</span> <span ng-if="request.receipt_date">Yes! Paid <b>{{toNaira(request.total_cost)}}</b> on {{request.receipt_date | date : 'fullDate'}} | {{request.receipt_date | date : 'mediumTime'}}</span></div>
			
		</div>
		<div class="clearfix"></div>
		<div style="text-align:right;margin-top:10px" >
			<button ng-click="courierBilling(request)" ng-class="{'btn btn-success' : request.attended == true}" class="btn btn-info" ng-if="!request.completed">{{(request.verified) ? "Re-send billing" : "Bill patient"}}</button> &nbsp;
			<button ng-click="decline(request)"  class="btn btn-danger" ng-if="!request.verified"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;" ng-if="request.loading"></i>{{(request.loading) ? "" : "Decline"}}</button>
		</div>
	</div>
	<div ng-if="!courierRequests" style="text-align: center;padding: 20px">
		<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 18px" ng-if="loading"></i>
	</div>
	
</section>