<div class="card p-2 card-center-1">
	<h4 class="h6">Write Prescription</h4>
	<br>
    <div class="col-md-11">
       
        <section ng-show="!isNewPatient && !isSearchToSend">
            <form ng-submit="validatePatient()">
                <label>Enter Patient's Phone Number </label> &nbsp;<i class="fa fa-question-circle tip text-primary"><span>This should be the number patient used to register in 'Applinic'. But you can proceed if the number is not yet registered by adding few details about the patient to enable system create record for the patient. However, details and reference to the prescription(s) will be sent to the patient via SMS.</span></i> &nbsp;  <span class="text-danger">{{phoneErr}}</span><br>
                <input type="text" name="mobile" class="form-control" placeholder="Enter patient's phone number" ng-model="patient.patient_phone" uib-typeahead="p.patient_phone for p in patientList | filter:$viewValue | limitTo:15" required>               
                <br>
                <label>Add Prescriptions</label><br>           
                <table class="table-respnsive table-striped no-mobile-item-display">       
                    <thead>
                        <th class="tbm-0">&nbsp;</th>
                        <th class="tbm-1"> Drug Name </th>
                        <th class="tbm-2"> Dosage </th>
                        <th class="tbm-3"> Frequency </th>
                        <th class="tbm-4"> Duration </th>
                    </thead>
                
                    <tbody ng-repeat="prescription in drugList">                                
                        <td style="padding-left: 10px" class="tbm-0"><b>{{prescription.sn}}</b></td>
                        <!--<td><textarea ng-model="prescription.drug_name" style="max-width: 200px;max-height: 80px"></textarea></td>-->
                        <td class="tbm-1"><input  type="text" placeholder="Enter drug name" ng-model="prescription.drug_name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15" class="form-control">
                        </td>
                        <td class="tbm-2"><input name="dose" type="text" ng-model="prescription.dosage" placeholder="Enter dosage" class="form-control"></td>
                        <!--<td class="tbm-3"><input type="text" ng-model="prescription.frequency" class="form-control"></td>-->
                        <td class="tbm-1"><input  type="text" placeholder="Enter frequency" ng-model="prescription.frequency" uib-typeahead="f for f in frequencies | filter:$viewValue | limitTo:15" class="form-control">
                        </td>
                        <!--<td class="tbm-4"><input type="text" ng-model="prescription.duration" class="form-control"></td>-->
                        <td class="tbm-1"><input  type="text" placeholder="Enter duration" ng-model="prescription.duration" uib-typeahead="d for d in durations | filter:$viewValue | limitTo:15" class="form-control" style="">
                        </td>
                    </tbody>                             
                </table>
                <div class="mobile-item-display">                            
                    <table class="table" ng-repeat="prescription in drugList">
                        <thead><th>sn: </th> <td>{{prescription.sn}}</td></thead>
                        <thead><th>Drug name: </th> <td><input  type="text" placeholder="Enter drug name" ng-model="prescription.drug_name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15" class="form-control"></td></thead>
                        <thead><th>Dosage: </th> <td><input type="text" name="dose" ng-model="prescription.dosage" placeholder="Enter dosage" class="form-control"></td></thead>
                        <thead><th>Frequency: </th> <td><input  type="text" placeholder="Enter frequency" ng-model="prescription.frequency" uib-typeahead="f for f in frequencies | filter:$viewValue | limitTo:15" class="form-control"></td></thead>
                        <thead><th>Duration: </th> <td><input  type="text" placeholder="Enter duration" ng-model="prescription.duration" uib-typeahead="d for d in durations | filter:$viewValue | limitTo:15" class="form-control" style=""></td></thead>
                        <hr class="bg-warning">
                    </table>
                </div>
                
                <div style="text-align: right;margin: 10px 0">
                    <i class="fa fa-plus btn btn-neutral" style="cursor:pointer; margin-right: 10px" title="Add field" ng-click="addDrug()"></i>
                        <i class="fa fa-minus btn btn-neutral" style="cursor:pointer" title="Remove last field" ng-click="removeDrug()"></i>
                </div>
                <div>
                    <!--<textarea class="form-control p-1" placeholder="Complain" ng-model="treatment.complain"></textarea>-->
                    <label>Instructions / explanations for prescription(s) above (optional)</label><!--</span> Diagnosis ( Provisional or Final ) </label>--><br>
                  
                    <textarea class="form-control p-1" name="drug intake guide" placeholder="For eg. Take Ibuprofen only after meals" ng-model="patient.explanation" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                
                </div>
                <br>
                <div>
                    <input type="submit" name="" value="Continue" class="btn btn-info"  ng-if="!loading">
                    <span ng-if="loading">Processing...</span>
                </div>  
                </form>          
            </section>
            <section class="col-md-10" ng-show="isNewPatient">
                <div>
                    <a href="" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back </a>
                </div>
                <p class="pt-1 pb-1 text-danger">Patient with the phone number ( {{patient.patient_phone}} ) was not found but you can proceed after quickly creating a dummy account for this patient. Details and reference to this prescription will be sent to the patient via SMS.</p>
                <form ng-submit="createPatient()">
                    <label>Title</label><br>
                    <select ng-model="patient.patient_title" required>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Master</option>
                        <option>Miss</option>
                        <option>Dr</option>
                        <option>Prof</option>
                    </select><br><br>
         
                    <label>Firstname</label><br>
                    <input type="text" name="" class="form-control" ng-model="patient.patient_firstname" required><br>
                    <label>Lastname</label><br>
                    <input type="text" name="" class="form-control" ng-model="patient.patient_lastname" required><br>
                    <label>Gender</label><br>
                    <select  class="form-control" ng-model="patient.patient_gender" required>
                        <option>Male</option>
                        <option>Female</option>
                    </select><br>
                    <label>Date of Birth</label><br>
                    <input type="date" name="" class="form-control" ng-model="patient.dob" required><br>
                    <input type="submit" name="" class="btn btn-warning" value="Continue" ng-show="!loading"> <span ng-show="loading">Processing...</span>
                </form>
            </section>
            <section ng-show="isSearchToSend" class="col-md-10">
                <div>
                    <a href="" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back </a>
                </div><br>
                <form ng-submit="findPharmacy()">
                    <div class="col-md-8 col-sm-8 col-xs-8 pl-0 ml-0">
                        <input type="text" name="" ng-model="city" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-3 pl-0 ml-0">
                        <input type="submit" name="" value="Search" class="btn btn-info">
                    </div>
                </form>
                <div class="clearfix"></div>
                <hr>
                <div>
                    <div>
                        <label>Patient: <span class="text-muted">{{patient.patient_title}} {{patient.patient_firstname}} {{patient.patient_lastname}}</span></label>
                    </div>
                    <br>
                    <div ng-show="searchResult.length > 2">
                        <input type="text" name="" placeholder=" Filter list" ng-model="item">
                    </div>
                    <br>
                    <div ng-repeat='j in searchResult | filter: item' style="position: relative;" class="mb-1">
                        <label class="pb-0 mb-0">{{j.name}}</label><br>
                        <span>{{j.address}} {{j.city}} {{j.country}}</span><br>
                        <span>{{j.phone}}</span>
                        <span style="position: absolute;bottom: 0;right: 5px">
                            <button class="btn btn-sm btn-simple" ng-click="sendDrug(j)" ng-show="!j.isSent">{{(j.loading) ? 'Sending...' : 'Send'}}</button><i class="fa fa-check btn btn-sm btn-neutral" style="color: #85CE36" ng-show="j.isSent"></i>
                        </span><br>
                    </div>
                </div>
                <div ng-show="isLoading" class="mt-2" style="text-align: center;">
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange"> </i>
                </div>
            </section>
        
    </div>
   
</div>