
<div class="card-center-1">
	<a href="#{{path || '/referred-patients'}}" class="btn btn-neutral"><i class="fa fa-arrow-left"></i> Back</a>
</div>

<div class="card card-center-1 p-2">
<div >
	
	<div class="row">
		
		<div class="pt-1 col-md-12" >
			<div style="position: relative;">
				<button class="collapsed dropdown-toggle btn btn-simple" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{'test' + refData.ref_id}}" aria-expanded="false" aria-controls="collapsefifty">View Details</button>
				<span am-time-Ago="refData.date" style="position: absolute;top:5px;right: 20px"></span>
			</div>
			<div class="clearfix"></div>
			<div id="{{'test' + refData.ref_id}}" class="panel-collapse collapse p-1" role="tabpanel" aria-labelledby="headingfifty">
				<div style="max-height: 120px;max-width: 120px;display: inline-block;float: left">		
					<img class="img-responsive card" src="{{refData.pharmacy.patient_profile_pic_url}}">
				</div>	
				<div style="display: inline-block;float: left;padding-left: 15px">
					<div><strong>{{refData.pharmacy.patient_firstname}} {{refData.pharmacy.patient_lastname}}</strong></div>
					<div><strong>{{refData.pharmacy.patient_address}}, {{refData.pharmacy.patient_city}}, {{refData.pharmacy.patient_country}}</strong></div>
					<div><strong>{{refData.pharmacy.patient_age}}</strong></div>
					<div><strong>{{refData.pharmacy.patient_gender}}</strong></div>
				</div>
				<div class="clearfix"></div>		
				<hr>
				<ul class="nav font-1_1" style="line-height: 30px">
					<li style="font-weight: bold;">Referred By :  <span style="font-weight: 300">{{refData.referral_title}} {{refData.referral_firstname}} {{refData.referral_lastname}} </span></li>
					<li style="font-weight: bold;">Date Received :  <span am-time-ago="refData.date" style="font-weight: 300;"></span></li>
					<!--<li><strong>Time </strong>| {{refData.date | date: "mediumTime"}}</li>-->
					<li style="font-weight: bold;">Reference No: <span class="text-danger" style="font-weight: 300;">{{refData.ref_id}}</span></li>
					<li ng-show="refData.pharmacy.doctor_id"><strong style="font-weight: bold;">Prescribed By:</strong><br> 
					<span>{{refData.pharmacy.title}} {{refData.pharmacy.doctor_firstname}} {{refData.pharmacy.doctor_lastname}}</span><br>
					<span>{{refData.pharmacy.doctor_specialty}}</span><br>
					<span>{{refData.pharmacy.doctor_address}}, {{refData.pharmacy.doctor_city}}, {{refData.pharmacy.doctor_country}}</span><br>
					<span>{{refData.pharmacy.doctor_phone}}</span><br>
					
					</li>
				</ul>
				<!--<div  ng-if="refData.pharmacy.doctor_id">
					<h6 class="pb-1 h6">Prescribed by: </h6>
					<div class="row">
						<div class="col-sm-6 col-md-2 col-lg-2">			
							<img class="img-rounded card" src="{{refData.pharmacy.doctor_profile_pic_url}}" style="max-height:120px; max-width:120px">
						</div>
						<div class="col-sm-6 col-md-10 col-lg-10" style="line-height: 25px;padding: 10px">								
							<strong class="font-1_1"> {{refData.pharmacy.title}} {{refData.pharmacy.doctor_firstname}} {{refData.pharmacy.doctor_lastname}}</strong><br>
							<span class="text-muted">{{refData.pharmacy.doctor_specialty}}</span>
							<span>{{refData.pharmacy.doctor_phone}}</span><br>
							<span><strong>{{refData.pharmacy.doctor_work_place}}</strong>| {{refData.pharmacy.doctor_address}}, {{refData.pharmacy.doctor_city}}, {{refData.pharmacy.doctor_country}}</span><br>
							<a href="{{refData.pharmacy.doctor_profile_url}}">View  profile.</a>						
						</div>
					</div>
				</div-->			
			</div>	
			<br>
			<h6 class="pb-1 mt-2 h6">Prescription Details: <i class="fa fa-question-circle text-primary tip"><span>Initially, all drugs are ticked as available in your center. You can untick any drug that is not available and forward to another center. You can add dosage, frequency and duration if such values are missing. </span></i></h6>	
			<table class="table table-striped no-mobile-item-display">				
				<tr>
					<thead>
						<th><label>S/N</label></th>
						<th><label>Drug name</label></th>
						<th><label>Dosage</label></th>
						<th><label>Frequency</label></th>
						<th><label>Duration</label></th>
						<th>&nbsp;</th>
					</thead>
				</tr>
				<tr>
					<tbody ng-repeat="prescription in refData.pharmacy.prescription_body">											
						<td ng-if="!prescription.unavail">{{prescription.sn}}</td>
						<td  ng-if="!prescription.unavail">{{prescription.drug_name}}</td><!-- 	ng-class="{strike: prescription.picked}" -->				
						<td  ng-if="!prescription.unavail">{{prescription.dosage}}<input type="text" name="dosage" ng-model="prescription.dosage" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.dosage"></td>
						<td  ng-if="!prescription.unavail">{{prescription.frequency}}<input type="text" name="dosage" ng-model="prescription.frequency" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.frequency"></td>
						<td  ng-if="!prescription.unavail">{{prescription.duration}}<input type="text" name="dosage" ng-model="prescription.duration" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.duration"></td>
						<td ng-if="!prescription.unavail">
						<div>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" ng-model= "prescription.picked" >
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description" style="opacity:0;">.</span>
					</label>
					</div>
					</td>
					</tbody>
				</tr>
				
			</table>
			<div class="mobile-item-display">	

	    		<table class="table" ng-repeat="prescription in refData.pharmacy.prescription_body">
	    		    <thead ng-if="!prescription.unavail"><td><label>sn:</label> {{prescription.sn}}</td></thead>
	    		    <thead><td><label>Drug:</label> {{prescription.drug_name}}</td></thead>
	    			
	    			<thead ng-if="!prescription.unavail"><td><label>Dosage:</label> {{prescription.dosage}}<input type="text" name="dosage" ng-model="prescription.dosage" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>Frequency:</label> {{prescription.frequency}}<input type="text" name="dosage" ng-model="prescription.frequency" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>Duration:</label> {{prescription.duration}}<input type="text" name="dosage" ng-model="prescription.duration" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>&nbsp;</label> <label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" ng-model= "prescription.picked" >
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description" style="opacity:0;">.</span>
					</label></td></thead>
	    			<hr>
	    		</table>
	    	</div>
	    	<div style="text-align: right;">
	    		<button class="btn btn-neutral btn-sm" ng-click="toAnotherPharmacy()" ng-if="isForwardable === true">Refer to another <i class="fa fa-arrow-right"></i></button> 
	    	</div>
			
			<div style="list-style:none;font-size:14px" ng-if="!refData.pharmacy.is_paid">
                <div>  
                	<h6 class="pb-1 mt-2" ng-if="isFilled === true">Compute Cost:</h6>
                     <table class="table">
                     	<tr>
                     		<thead ng-if="isFilled === true">
                     			<th>Drug</th>
                     			<th>Cost</th>
                     		</thead>
                     	</tr>
                     	<tr>
                     		<tbody ng-repeat = "j in drugsForSurchage">
                     			<td style="width: 55%;padding:10px;color: darkRed;font-weight: bold;">{{j.name}} <span ng-show="j.dosage">( {{j.dosage}} )</span></td>
                     			<td><input type="number" ng-model="j.amount" style="padding:10px" class="form-control"></td>
                     		</tbody>
                     	</tr>
                     </table>
                     <div class="pt-2 pb-2">
                     	<strong  ng-if="isFilled === true">Total : <em>{{str}}</em></strong>                     	
                     	<strong style="display: block;" ng-if="isFilled === true">You'll receive : {{commissionedAmount}} &nbsp;<span style="font-weight: normal;">( platform {{checkLogIn.city_grade}}% discount applied )</span></strong>
                     </div>
                </div>
            </div>
            <div ng-if="!refData.pharmacy.doctor_id && isFilled !== true"><i class="fa fa-warning text-danger"></i> <span> The source of the above prescription is <strong>not trusted!</strong> It may have been prescribed by the patient or non-professional. <strong>Do Enquire</strong> from  this patient about the source before continuing.</span>
            </div>
			<div style="margin-top: 20px; margin-bottom: 30px">
				<!--<button  class="btn btn-simple" disabled="disabled" style="cursor: no-drop;" ng-if="isFilled !== true">Request Payment</button>-->
				<button class="btn btn-danger btn-sm" ng-click="sendBill(refData.pharmacy.patient_id)" ng-if="isFilled && !isOTP && !refData.pharmacy.is_paid && !loading">Request Payment</button> <span ng-if="loading">Sending...</span>&nbsp;&nbsp;
				<!--<button class="btn btn-info btn-sm" ng-click="toList(refData.pharmacy.patient_firstname,refData.pharmacy.patient_lastname,refData.pharmacy.patient_profile_pic_url,refData.ref_id,refData.date)" ng-if="allNote.length !== 0 && isFilled !== true">Add to attendance list</button>-->
				<!--<button class="btn btn-neutral btn-sm" ng-click="toAnotherPharmacy()" ng-if="isForwardable === true">Refer to another <i class="fa fa-arrow-right"></i></button> -->
				
				<!--<button class="btn btn-success btn-sm" ng-click="done()">Done</button>
				<button class="btn btn-default btn-sm" ng-click="toAnotherPharmacy()">Forward unticked drug to a pharmacy</button>
				<button class="btn btn-info btn-sm" ng-click="toList(refData.pharmacy.patient_firstname,refData.pharmacy.patient_lastname,refData.pharmacy.patient_profile_pic_url,refData.ref_id,refData.date)" ng-if="allNote.length !== 0">Attend later</button>	-->	

				<div ng-if="isOTP && !refData.pharmacy.is_paid" ng-controller="billingController">
					<h6 class="p-0">Billing confirmation</h6><hr>
					<div>						
						<article>
							<p><strong>To: {{refData.pharmacy.patient_firstname}} {{refData.pharmacy.patient_lastname}}</strong></p>			
							<p><strong>Amount billed: </strong> {{refData.amount}}</p>
							<!--<small>Get OTP from this patient to confirm payment. Note OTP expires in <strong>5 minutes</strong></small>-->
						</article>
						<!--<a href=""  ng-click="sendBill(resendPatientId,resend)">Resend OTP</a><br>-->
						<p>
				            cannot receive SMS? <a href=""  ng-click="sendBill(resendPatientId,resend)" class="text-info">resend OTP via SMS</a> <b> or </b> Try making a phone call to get the OTP code<br>
				            <a href="" ng-click="call(resendPatientId,resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
				        </p> 
				        <p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
					</div>
					
				        
					<div class="p-0">	
						<div style="width: 90%">	
					    	<input type="text" class="form-control" placeholder="Enter OTP" ng-model="pay.otp">
					    </div>
					    <div>
					    	<small>Otp will auto submit when the six digits are completed</small> 
					    </div>
				    </div>
					<div class="pt-1">
						
					</div>
				    <div class="clearfix"></div>
				</div>

				<div ng-if="refData.pharmacy.is_paid" style="padding: 10px 15px;position: relative;margin-top: 20px;border:1px dashed rgba(0,0,0,0.6)">					
					<h5><i class="fa fa-check pb-0" style="color:green"> Payment successful!</i></h5>
					<article style="font-size: 14px">
						<div><b>Amount paid: {{refData.pharmacy.detail.amount}}</b></div>
						<div><b>Date of payment: {{refData.pharmacy.detail.date | date: "mediumDate"}} ( <span am-Time-Ago="refData.pharmacy.detail.date"></span> )</b></div>
					</article>	
					<a href="" class="btn btn-sm" style="position: absolute;top:10px;right:10px" ng-click="newPayment()">request new</a>
				</div>

			</div>
			
			
		</div>
	</div>
</div>
</div>


