
<div class="card p-2 card-center-1">
	<div>
        <label class="custom-control custom-radio">
           Appointments
           <input type="radio" class="custom-control-input" value="all" ng-model="treatment.appoint">
           <span class="custom-control-indicator"></span>
           <span class="custom-control-description" style="opacity:0;"></span>
        </label> &nbsp;&nbsp;&nbsp;


        <label class="custom-control custom-radio ml-0">
           Set New Appointment
           <input type="radio" class="custom-control-input" value="new" ng-model="treatment.appoint">
           <span class="custom-control-indicator"></span>
           <span class="custom-control-description" style="opacity:0;"></span>
        </label>    
    </div>
    <hr>
    <div ng-show="treatment.appoint == 'new'">
    	<form class="col-md-10" style="line-height: 25px" ng-show="isNewAppointment" ng-submit="validatePatient()"> 
            <div class="mb-1">
                <h5 class="h6">Set New Appointment For Patient</h5>
            </div>
            <div  class="mb-1">
                <label class="custom-control custom-radio">
                   Choose from your patients' list
                   <input type="radio" class="custom-control-input" value="mine" ng-model="treatment.patientType">
                   <span class="custom-control-indicator"></span>
                   <span class="custom-control-description" style="opacity:0;"></span>
                </label> 
                <!-- <label class="custom-control custom-radio ml-0">
                   Phone number of a patient
                   <input type="radio" class="custom-control-input" value="other" ng-model="treatment.patientType">
                   <span class="custom-control-indicator"></span>
                   <span class="custom-control-description" style="opacity:0;"></span>
                </label> -->
            </div>
            <div ng-if="treatment.patientType === 'other'">
                <label>Enter Patient's Phone Number </label> &nbsp;<i class="fa fa-question-circle tip text-primary"><span>This should be the number patient used to register in 'Applinic'. But you can proceed if the number is not yet registered by adding few details about the patient to enable system create record for the patient. However, details and reference to the prescription(s) will be sent to the patient via SMS.</span></i> &nbsp;  <span class="text-danger">{{phoneError}}</span><br>
                <input type="text" class="form-control" placeholder="Enter patient's phone number" ng-model="treatment.patient_phone" uib-typeahead="p.patient_phone for p in patientList | filter:$viewValue | limitTo:15" required>
            </div>
            <div ng-if="treatment.patientType == 'mine'">
                <select  class="form-control" ng-model="treatment.patient_identifier" required>
                   <option disabled value="" selected="">_Select a patient</option> 
                   <option value="{{p.patient_phone + '/' + p.patient_id}}" ng-repeat="p in patientList">{{p.patient_firstname}} {{p.patient_lastname}}</option>
                </select>
            </div> 
            <br>    
            <div>
                <input type="submit" class="btn btn-success" value="Continue" ng-show="!loading"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-show="loading"> </i>
            </div>
        </form>
       <div class="clearfix"></div>   
        <section class="col-md-10" ng-show="isNewPatient">
        	<div>
        		<a href="" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back </a>
        	</div>
        	<p class="pt-1 pb-1 text-danger">Patient with the phone number was not found but you can proceed after quickly creating a dummy account for this patient. Details and reference to this investigation(s) will be sent to the patient via SMS.</p>
        	<form ng-submit="createPatient()">
        		<label>Title</label><br>
        		<select ng-model="treatment.patient_title" required>
        			<option>Mr</option>
        			<option>Mrs</option>
        			<option>Master</option>
        			<option>Miss</option>
        			<option>Dr</option>
        			<option>Prof</option>
        		</select><br><br>
     
        		<label>Firstname</label><br>
        		<input type="text" name="" class="form-control" ng-model="treatment.patient_firstname" required><br>
        		<label>Lastname</label><br>
        		<input type="text" name="" class="form-control" ng-model="treatment.patient_lastname" required><br>
        		<label>Gender</label><br>
        		<select  class="form-control" ng-model="treatment.patient_gender" required>
        			<option>Male</option>
        			<option>Female</option>
        		</select><br>
        		<label>Date of Birth</label><br>
        		<input type="date" name="" class="form-control" ng-model="treatment.dob" required><br>
        		<input type="submit" name="" class="btn btn-info" value="Continue" ng-show="!loading"> <span ng-show="loading">Processing...</span>
        	</form>
        </section>
        <section ng-show="isSearchToSend" class="col-md-10">
        	<div>
        		<a href="" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back </a>
        	</div>
            <br>
        	
        	<hr>
        	<div>
        		<div>
        			<label>Patient: <span class="text-muted">{{treatment.patient_title}} {{treatment.patient_firstname}} {{treatment.patient_lastname}}</span></label><br>
                    <label>Gender: <span class="text-muted">{{treatment.patientDetails.gender}}</span></label><br>
                    <label>Age: <span class="text-muted">{{treatment.patientDetails.age}}</span></label><br>
        		</div>
        		<div style="text-align: center;">
                    <a href="" class="btn btn-success btn-block" ng-click="setAppointment(treatment.patientDetails)">Set Appointment</a>
                </div>
        	</div>
        	<div ng-show="loading" class="mt-2" style="text-align: center;">
        		<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange"> </i>
        	</div>
        </section>

    </div>
    <div ng-show="treatment.appoint == 'all'">
        <h5>Appointments </h5>
        <br>
        <div>
            <label class="custom-control custom-radio">
               All
               <input type="radio" class="custom-control-input" value="all" ng-model="treatment.duration">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description" style="opacity:0;"></span>
            </label> &nbsp;&nbsp;


            <label class="custom-control custom-radio">
               Today
               <input type="radio" class="custom-control-input" value="today" ng-model="treatment.duration">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description" style="opacity:0;"></span>
            </label>  &nbsp;&nbsp;

            <label class="custom-control custom-radio">
               Tomorrow
               <input type="radio" class="custom-control-input" value="tomorrow" ng-model="treatment.duration">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description" style="opacity:0;"></span>
            </label> &nbsp;&nbsp;

            <label class="custom-control custom-radio ml-0">
               This Week
               <input type="radio" class="custom-control-input" value="week" ng-model="treatment.duration">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description" style="opacity:0;"></span>
            </label> &nbsp;&nbsp;

            <label class="custom-control custom-radio ml-0">
               This Month
               <input type="radio" class="custom-control-input" value="month" ng-model="treatment.duration">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description" style="opacity:0;"></span>
            </label>
        </div>
        <hr>

        <div class="col-md-6">
            <input type="text" name="" class="simple-border" ng-model="ft" placeholder="Search">
        </div>

        <div class="clearfix"></div>
        <br>
        <div class="mb-2" style="position: relative;" ng-repeat="app in appointmentList | orderBy: '-date' | filter: ft">
            <a href="{{'#/doctor-patient/treatment/' + app.patient_id}}">
                <b style="font-size: 16px" class="text-muted" ng-class="{'text-primary': app.isToday,'text-danger': app.isPassed }"> {{app.date | amCalendar}}</b><br>
                <span>{{app.patient_title}} {{app.patient_firstname}} {{app.patient_lastname}}</span><br>
                <span>{{app.date | date : 'mediumDate'}}</span><br>
                <span>{{app.address}}</span>
            </a>
            <time style="position: absolute;top: 2px; right: 5px;font-size: 16px" class="text-muted" ng-class="{'text-primary': app.isToday && !app.isTime,'hide': app.isPassed, 'text-warning': app.isTime }"><b>{{app.time | date: 'shortTime'}}</b></time>
            <article style="position: absolute;bottom: 0; right: -5px;font-size: 16px">
                <!--<i class="btn btn-simple btn-sm fa fa-pencil"></i>-->
                <a href="" ng-click="cancelAppointment(app)" ng-show="!app.loading"><i class="btn btn-simple btn-sm fa fa-trash"></i></a>
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-show="app.loading"> </i>
            </article>
        </div>
        <p ng-show="appointmentList.length == 0" class="p-2 text-muted">Oops! Your appointment list is empty. Go to <a href="#/manage-patients">My Patients</a> if you wish to book an in-person meeting appointment with any of them.</p>
        <p style="text-align: center;font-size: 18px">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-show="loading"> </i>
        </p>
      
    </div>

</div>