
<div class="card-center-1">
	<h4>Charts <span style="font-size: 14px">BP, Blood Sugar &amp; Temperature</span></h4>
	<a href="#{{path}}" class="btn btn-neutral" ng-show="checkLogIn.type !== 'Patient' "><i class="fa fa-arrow-left"></i> Back</a>
</div>
<div class="card p-2 card-center-1" style="position: relative;">
	<header>
		
		<h4 class="h6">Blood Pressure</h4>
		<div style="position: absolute;right: 25px;top:20px">
			<select ng-model="chart.year">
				<option value="{{year.year}}" selected ng-repeat="year in yearList">{{year.year}}</option>
			</select>
		</div>
		<div ng-show="checkLogIn.type !== 'Patient' ">
			<!--<div class="img-col">                                                    
                <img class="img" style="background-image: url({{holdPatientForChart.profile_pic_url}})"></div>
            </div>-->
            <div class="body-col">                                                    
               <b class="block">{{holdPatientForChart.name}}</b>
               <span>{{holdPatientForChart.gender}}</span><br>
               <span>{{holdPatientForChart.age}}</span><br>
               <a href="" ng-click="userPatient(holdPatientForChart.userId,false)" style="text-decoration: underline;" ng-show="checkLogIn.typeOfUser === 'Doctor'"><i class="fa fa-folder-open text-warning"></i> Go to e-treatment</a>
            </div>
		</div>
	</header>
	<hr>
	<div style="position: relative;">

		<a href="" style="display: inline-block;width: 30px;background-color: #45b7cd;height: 10px;content: ' '"></a> <span> &nbsp;Pulse</span>&nbsp;&nbsp;&nbsp;

		<a href="" style="display: inline-block;width: 30px;background-color: #ff6384;height: 10px;content: ' '"></a> <span> &nbsp;Systol</span>&nbsp;&nbsp;&nbsp;

		
	    <a href="" style="display: inline-block;width: 30px;background-color:#FDB45C;height: 10px;content: ' '"></a> <span> &nbsp;Diastol</span>

	    <button href="#dataEntry" class="grayish collapsed btn btn-sm btn-success dropdown-toggle" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapsefifty" style="position: absolute;right: 0px;top: -10px;color: #fff">Data</button>
	</div>
	<br>
	<div id="dataEntry" class="panel-collapse collapse p-1" role="tabpanel" aria-labelledby="headingfifty">
		<div style="text-align: right;">
			<label>Unit: mmHg</label>
		</div>
		<form class="row" ng-submit="sendDataBP()">
			<div class="col-md-2 pr-1">
				<label>Pulse</label><br>
				<input type="text" name="" class="form-control" required ng-model="chart.readings.pulse">
			</div>
			<div class="col-md-2 pr-1">
				<label>Systol</label><br>
				<input type="text" name="" class="form-control" required ng-model="chart.readings.systol">
			</div>
			<div class="col-md-2 pr-1">
				<label>Diastol</label><br>
				<input type="text" name="" class="form-control" required ng-model="chart.readings.diastol">
			</div>
			<div class="col-md-3">
				<label>Time</label><br>
				<input type="time" name="" class="form-control" required ng-model="time">
			</div>
			<div class="col-md-3">	
				<label style="content: ''"></label><br>		
				<input type="submit" name="" class="btn btn-info" value="Save" style="margin-top: 10px" ng-show="!loadingBP">
				<span ng-show="loadingBP" style="margin-top: 20px;display: inline-block;">Saving...</span>
			</div>
		</form>

		<section class="mt-2" style="margin-left: -15px" ng-if="chartData.bp_readings">
			<label>Data Entries:</label>
			<div style="max-height: 550px;overflow: auto;">
				<table class="table">
					<thead>
						<th>Pulse</th>
						<th>Systol</th>
						<th>Diastol</th>
						<th>Time</th>
						<th>Action</th>
					</thead>
					<tbody ng-repeat="i in chartData.bp_readings">
						<td>
							<span ng-show="!i.isEdit">{{i.pulse || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.pulse">
							</div>
						</td>
						<td>
							
							<span ng-show="!i.isEdit">{{i.systol || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.systol">
							</div>

						</td>
						<td>
							
							<span ng-show="!i.isEdit">{{i.diastol || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.diastol">
							</div>

						</td>
						<td>
							<span ng-show="!i.isEdit">{{i.label || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.label">
							</div>
						</td>
						<td>
							<div ng-if="!i.isEdit">
								<a href="" class="btn btn-sm btn-simple round mr-1" ng-click="editReading(i)">
									<i class="fa fa-pencil"></i>
								</a>
								<a class="btn btn-sm btn-simple round" ng-click="deleteChartReadingBP(i)">
									<i class="fa fa-trash-o" ng-show="!i.loading"></i>
									<span ng-show="i.loading">Deleting...</span>
								</a>
							</div>
							<div ng-show="i.isEdit">
								<a href="" class="btn btn-info btn-sm mr-1" ng-click="updateReading(i,'bp_readings')">{{(i.isloading) ? "Saving..." : "Save"}}</a>
								<a href="" class="btn btn-simple btn-sm" ng-click="cancelEdit(i)"><i class="fa fa-times"></i></a>
							</div>
						</td>
					</tbody>
					<!--
								<div ng-if="!i.isEdit">
								<a href="" class="btn btn-sm btn-simple round mr-1" ng-click="editReading(i)">
									<i class="fa fa-pencil"></i>
								</a>
								<a class="btn btn-sm btn-simple round" ng-click="deleteChartReadingTemp(i)">
									<i class="fa fa-trash-o" ng-show="!i.loading"></i>
									<span ng-show="i.loading">Deleting...</span>
								</a>
							</div>
							<div ng-show="i.isEdit">
								<a href="" class="btn btn-info btn-sm mr-1" ng-click="updateReading(i,'temp_readings')">{{(i.isloading) ? "Saving..." : "Save"}}</a>
								<a href="" class="btn btn-simple btn-sm" ng-click="(i)"><i class="fa fa-times"></i></a>
							</div>
					-->
					
				</table>
			</div>
		</section>
		
	</div>
	<hr>
	<section ng-if="chartData.bp_readings">
	    <canvas id="line" class="chart chart-line" chart-data="data" chart-colors="colors"
		chart-labels="labels" chart-series="series"
		chart-dataset-override="datasetOverride" chart-click="onClick">
		</canvas>
		<div style="text-align: center;padding-top: 10px" class="text-muted">
			<span>Year: {{chart.year}}</span>&nbsp;&nbsp;&nbsp;
			<span>Unit: mmHg</span>
		</div>
	</section>
	<p class="text-muted p-2" style="text-align: center;" ng-if="!chartData.bp_readings">No data to display</p>
	
	<div style="position: relative;" ng-show="chartData.bp_readings">
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; left: 45px" ng-click="setChart('negative')" ng-hide="bpMarker == 0"><i class="fa fa-arrow-left"></i> previous</button>
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; right: 45px" ng-click="setChart('positive')" ng-hide ="bpMarker === megaArrBP.length - 1">next <i class="fa fa-arrow-right"></i> </button>
	</div>
	<div  style="height: 80px">
		
	</div>
</div>

<div style="height: 50px"></div>


<!-- blood Sugar Chart Template -->
<div class="card p-2 card-center-1" style="position: relative;">
	<header>
		<h4 class="h6">Blood Sugar</h4>
		<div style="position: absolute;right: 25px;top:20px">
			<select ng-model="chart.year">
				<option value="{{year.year}}" selected ng-repeat="year in yearList">{{year.year}}</option>
			</select>
		</div>
		<div ng-show="checkLogIn.type !== 'Patient' ">
			<!--<div class="img-col">                                                    
                <img class="img" style="background-image: url({{holdPatientForChart.profile_pic_url}})"></div>
            </div>-->
            <div class="body-col">                                                    
               <b class="block">{{holdPatientForChart.name}}</b>
               <span>{{holdPatientForChart.gender}}</span><br>
               <span>{{holdPatientForChart.age}}</span><br>
               <a href="" ng-click="userPatient(holdPatientForChart.userId,false)" style="text-decoration: underline;" ng-show="checkLogIn.typeOfUser === 'Doctor'"><i class="fa fa-folder-open text-warning"></i> Go to e-treatment</a>
            </div>
		</div>
	</header>
	<hr>
	<div style="position: relative;">
		<a href="" style="display: inline-block;width: 30px;background-color: #45b7cd;height: 10px;content: ' '"></a> <span> &nbsp;Fasting Blood Sugar (FBS)</span>&nbsp;&nbsp;&nbsp;

		<a href="" style="display: inline-block;width: 30px;background-color: #ff6384;height: 10px;content: ' '"></a> <span> &nbsp;Random Blood Sugar (RBS)</span>&nbsp;&nbsp;&nbsp;

	    <!--<a href="" style="display: inline-block;width: 30px;background-color:#FDB45C;height: 10px;content: ' '"></a> <span> &nbsp;Diastol</span>-->

	    <button href="#dataEntry1" class="grayish collapsed btn btn-sm btn-success dropdown-toggle" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapsefifty" style="position: absolute;right: 0px;top: -10px;color: #fff">Data</button>
	</div>
	<br>
	<div id="dataEntry1" class="panel-collapse collapse p-1" role="tabpanel" aria-labelledby="headingfifty">
		<div style="text-align: right;">
			<label>Unit: mmol/L</label>
		</div>
		<form class="row" ng-submit="sendDataBS()">
			<div class="col-md-2 pr-1">
				<label>FBS</label><br>
				<input type="text" name="" class="form-control" ng-model="chart.readings1.fasting">
			</div>
			<div class="col-md-2 pr-1">
				<label>RBS</label><br>
				<input type="text" name="" class="form-control" ng-model="chart.readings1.random">
			</div>
			<!--<div class="col-md-2 pr-1">
				<label>Diastol</label><br>
				<input type="text" name="" class="form-control" required ng-model="chart.readings.diastol">
			</div>-->
			<div class="col-md-3">
				<label>Time</label><br>
				<input type="time" name="" class="form-control" required ng-model="time">
			</div>
			<div class="col-md-3">	
				<label style="content: ''"></label><br>		
				<input type="submit" name="" class="btn btn-info" value="Save" style="margin-top: 10px" ng-show="!loadingBS">
				<span ng-show="loadingBS" style="margin-top: 20px;display: inline-block;">Saving...</span>
			</div>
		</form>

		<section class="mt-2" style="margin-left: -15px" ng-if="chartData.bs_readings">
			<label>Data Entries:</label>
			<div style="max-height: 550px;overflow: auto;">
				<table class="table">
					<thead>
						<th>FBS</th>
						<th>RBS</th>
						
						<th>Time</th>
						<th>Action</th>
					</thead>
					<tbody ng-repeat="i in chartData.bs_readings">
						<td>
							<span ng-show="!i.isEdit">{{i.fasting || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.fasting">
							</div>
						</td>
						<td>
							<span ng-show="!i.isEdit">{{i.random || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.random">
							</div>
						</td>
						
						<td>
							<span ng-show="!i.isEdit">{{i.label}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.label">
							</div>
						</td>
						<td>
							<div ng-if="!i.isEdit">
								<a href="" class="btn btn-sm btn-simple round mr-1" ng-click="editReading(i)">
									<i class="fa fa-pencil"></i>
								</a>
								<a class="btn btn-sm btn-simple round" ng-click="deleteChartReadingBS(i)">
									<i class="fa fa-trash-o" ng-show="!i.loading"></i>
									<span ng-show="i.loading">Deleting...</span>
								</a>
							</div>
							<div ng-show="i.isEdit">
								<a href="" class="btn btn-info btn-sm mr-1" ng-click="updateReading(i,'bs_readings')">{{(i.isloading) ? "Saving..." : "Save"}}</a>
								<a href="" class="btn btn-simple btn-sm" ng-click="cancelEdit(i)"><i class="fa fa-times"></i></a>
							</div>
						</td>
					</tbody>					
				</table>
			</div>
		</section>
		
	</div>
	<hr>
	<section ng-if="chartData.bs_readings">
	    <canvas id="line" class="chart chart-line" chart-data="data1" chart-colors="colors1"
		chart-labels="labels1" chart-series="series1"
		chart-dataset-override="datasetOverride" chart-click="onClick1">
		</canvas>
		<div style="text-align: center;padding-top: 10px" class="text-muted">
			<span>Year: {{chart.year}}</span>&nbsp;&nbsp;&nbsp;
			<span>Unit: mmol/L</span>
		</div>
	</section>
	<p class="text-muted p-2" style="text-align: center;" ng-if="!chartData.bs_readings || chartData.bs_readings.length == 0">No data to display</p>
	
	<div style="position: relative;" ng-show="chartData.bs_readings">
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; left: 45px" ng-click="setChart1('negative')" ng-hide="bsMarker == 0"><i class="fa fa-arrow-left"></i> previous</button>
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; right: 45px" ng-click="setChart1('positive')" ng-hide ="bsMarker === megaArrBS.length - 1">next <i class="fa fa-arrow-right"></i> </button>
	</div>
	<div  style="height: 80px">
		
	</div>
</div>

<div style="height: 50px"></div>

<!-- Temperature Chart Template -->
<div class="card p-2 card-center-1" style="position: relative;">
	<header>
		<h4 class="h6">Temperature</h4>
		<div style="position: absolute;right: 25px;top:20px">
			<select ng-model="chart.year">
				<option value="{{year.year}}" selected ng-repeat="year in yearList">{{year.year}}</option>
			</select>
		</div>
		<div ng-show="checkLogIn.typeOfUser !== 'Patient' ">
			<!--<div class="img-col">                                                    
                <img class="img" style="background-image: url({{holdPatientForChart.profile_pic_url}})"></div>
            </div>-->
            <div class="body-col">                                                    
               <b class="block">{{holdPatientForChart.name}}</b>
               <span>{{holdPatientForChart.gender}}</span><br>
               <span>{{holdPatientForChart.age}}</span><br>
               <a href="" ng-click="userPatient(holdPatientForChart.userId,false)" style="text-decoration: underline;" ng-show="checkLogIn.typeOfUser === 'Doctor'"><i class="fa fa-folder-open text-warning"></i> Go to e-treatment</a>
            </div>
		</div>
	</header>
	<hr>
	<div style="position: relative;">
		<a href="" style="display: inline-block;width: 30px;background-color: #FDB45C;height: 10px;content: ' '"></a> <span> &nbsp;Temperature</span>&nbsp;&nbsp;&nbsp;

		

	    <!--<a href="" style="display: inline-block;width: 30px;background-color:#FDB45C;height: 10px;content: ' '"></a> <span> &nbsp;Diastol</span>-->

	    <button href="#dataEntry2" class="grayish collapsed btn btn-sm btn-success dropdown-toggle" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapsefifty" style="position: absolute;right: 0px;top: -10px;color: #fff">Data</button>
	</div>
	<br>
	<div id="dataEntry2" class="panel-collapse collapse p-1" role="tabpanel" aria-labelledby="headingfifty">
		<div style="text-align: right;">
			<label>Unit: °C</label>
		</div>
		<form class="row" ng-submit="sendDataTemp()">
			<div class="col-md-2 pr-1">
				<label>Temperature</label><br>
				<input type="text" name="" class="form-control" required ng-model="chart.readings2.temperature">
			</div>
			
			<div class="col-md-3">
				<label>Time</label><br>
				<input type="time" name="" class="form-control" required ng-model="time">
			</div>
			<div class="col-md-3">	
				<label style="content: ''"></label><br>		
				<input type="submit" name="" class="btn btn-info" value="Save" style="margin-top: 10px" ng-show="!loadingTemp">
				<span ng-show="loadingTemp" style="margin-top: 20px;display: inline-block;">Saving...</span>
			</div>
		</form>

		<section class="mt-2" style="margin-left: -15px" ng-if="chartData.temp_readings">
			<label>Data Entries:</label>
			<div style="max-height: 550px;overflow: auto;">
				<table class="table">
					<thead>
						<th>
							Temperature
						</th>
			
						<th>Time</th>
						<th>Action</th>
					</thead>
					<tbody ng-repeat="i in chartData.temp_readings">
						<td>
							<span ng-show="!i.isEdit">{{i.temperature || '-'}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.temperature">
							</div>
						</td>					
						<td>
							<span ng-show="!i.isEdit">{{i.label}}</span>
							<div ng-show="i.isEdit">
								<input type="text" name="" ng-model="i.label">
							</div>
						</td>
						<td>
							<div ng-if="!i.isEdit">
								<a href="" class="btn btn-sm btn-simple round mr-1" ng-click="editReading(i)">
									<i class="fa fa-pencil"></i>
								</a>
								<a class="btn btn-sm btn-simple round" ng-click="deleteChartReadingTemp(i)">
									<i class="fa fa-trash-o" ng-show="!i.loading"></i>
									<span ng-show="i.loading">Deleting...</span>
								</a>
							</div>
							<div ng-show="i.isEdit">
								<a href="" class="btn btn-info btn-sm mr-1" ng-click="updateReading(i,'temp_readings')">{{(i.isloading) ? "Saving..." : "Save"}}</a>
								<a href="" class="btn btn-simple btn-sm" ng-click="cancelEdit(i)"><i class="fa fa-times"></i></a>
							</div>
						</td>
					</tbody>
					
				</table>
			</div>
		</section>
		
	</div>
	<hr>
	<section ng-if="chartData.temp_readings">
	    <canvas id="line" class="chart chart-line" chart-data="data2" chart-colors="colors2"
		chart-labels="labels2" chart-series="series2"
		chart-dataset-override="datasetOverride" chart-click="onClick2">
		</canvas>
		<div style="text-align: center;padding-top: 10px" class="text-muted">
			<span>Year: {{chart.year}}</span>&nbsp;&nbsp;&nbsp;
			<span>Unit: °C</span>
		</div>
	</section>
	<p class="text-muted p-2" style="text-align: center;" ng-if="!chartData.temp_readings || chartData.temp_readings.length == 0">No data to display</p>
	
	<div style="position: relative;" ng-show="chartData.temp_readings">
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; left: 45px" ng-click="setChart2('negative')" ng-hide="tempMarker == 0 && megaArrTemp.length > 0"><i class="fa fa-arrow-left"></i> previous</button>
		<button class="btn btn-sm btn-simple" style="position: absolute;top: 15px; right: 45px" ng-click="setChart2('positive')" ng-hide ="tempMarker === megaArrTemp.length - 1">next <i class="fa fa-arrow-right"></i> </button>
	</div>
	<div  style="height: 80px">
		
	</div>
</div>


<div style="height: 200px"></div>