<div class="container">
	<div class="card">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4 p-1" >
				<h6 class="pl-1">Chats</h6>
				<hr>
				<div class="pl-1 ellipsis" style="max-height: 600px; overflow-y: auto">
					<div ng-repeat="chat in chatsList | orderBy : '-realTime'" ng-click="viewChat(chat)" class="pl-0" ng-if="chat.partnerId !== checkLogIn.user_id">
						<img src="{{chat.profilePic}}" style="float: left;max-height: 62px;width:62px">			
						<a href="" class="chat-header-text ellipsis" ng-class="{'chat-header-text-new' : !chat.is_read}" style="font-size: 12px;display: inline-block;padding-left: 10px;width: 85%;position: relative;">
							<strong style="display: block;" >{{chat.name}}</strong>
							<span style="display: block;">{{chat.partnerType}}</span>
							 <span style="display:block;" class="ellipsis">{{chat.messages[chat.messages.length - 1].received || chat.messages[chat.messages.length - 1].sent}} <small style="display:block;" am-time-ago="chat.messages[chat.messages.length - 1].time  || chat.messages[chat.messages.length - 1].received" ng-cloak></small></span> 
							 <span style="position: absolute;bottom: 0;right: 5px"><span ng-if="chat.status" class="online" style="background-color: #85CE36"></span><span ng-if="!chat.status" class="online" style="background-color: #ccc;"></span></span>
							 <!--<i class="fa fa-comment-o" style="position: absolute;top:3px;right:5px" ng-if="chat.isUnRead"></i>-->
						</a>
						<hr class="bg-muted">
					</div> <!--<time  am-time-ago="i.sent_date" style="position: absolute;right: 0;top:2px;font-size: 12px"></time>-->
				</div>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="panel panel-default">
	                <div class="top-bar" style="border-bottom:1px solid rgba(0,0,0,0.2);box-shadow:0px 5px 5px #ccc">
	                    <div class="col-md-7 col-sm-12 col-xs-12">
	                    	<img src="{{partner.profilePic}}" style="float: left;max-height: 42px;width:42px">	
	                      <!--<button class="btn btn-simple text-danger" style="font-size: 16px" ng-click="chatLive()">Chat</button> &nbsp;&nbsp;-->
	                        <span class="ellipsis" style="display:inline-block;font-size: 12px;padding: 3px 5px" ng-cloak><b>{{partner.name}} ( {{partner.partnerType}} )</b>&nbsp;
	                        	<span style="display: block;">
	                            <em ng-if="typing" style="font-size: 12px;color: green"><small>{{typing}}</small></em> 
	                            <em ng-if="partner.status && !typing" style="font-size: 12px;color: green" ng-cloak>Online</em>
	                            <em ng-if="!partner.status && !typing" ng-cloak style="color:red;font-size: 12px">Offline</em>
	                            </span>
	                        </span>
	                    </div>
	                    <div class="col-md-5 col-sm-12 col-xs-12 " style="text-align: right;">
	                    	<div ng-if="checkLogIn.typeOfUser === 'Patient' || checkLogIn.typeOfUser === 'Doctor'">
	                    		<small><button class="btn btn-success ellipsis" ng-if="partner.partnerType === 'Doctor' && checkLogIn.typeOfUser !== 'Doctor'"  ng-click="chatPrivate(partner)">Single Chat</button>
	                    		<button class="btn btn-success ellipsis" ng-if="partner.partnerType === 'Patient'"  ng-click="chatPrivate(partner)">Manage Patient</button>
	                    		</small>
	                    	</div>
	                    </div>
	                </div>


					<!-- removable div-->
		            <div ng-if="isChat || isChat === undefined">
		               
		                <div class="panel-body msg_container_base bg-default" id="base" style="height: 360px">

		                    <div id="sentmessage">
		                        
		                    </div>
		                    <div style="position: absolute;top:170px;left:250px" ng-if="loading">
		                    	<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;font-size: 32px" ></i>
		                    </div>
		                </div>

		                
		                <form class="panel-footer" ng-submit="sendChat1()" style="position: relative;">
		                <textarea contenteditable="true" style="padding-top: 30px;word-break: normal;padding-right: 30px" ng-model="user.text1"  ng-keypress="getkeys($event)" placeholder="Type a message..."> <span class="textout" >{{typeMessage}}</span> </textarea>
		                <button type="submit" class="btn btn-neutral btn-sm fa fa-send chat-send-btn csbg" style="font-size: 25px"></button>
		                </form>

		             
		            </div>
	    		</div>
				
			</div>
		</div>		
	</div>
	<div style="height: 300px">
		
	</div>
</div>