
<div class="card-center-1">
      <a href="#{{path}}" class="btn btn-neutral"><i class="fa fa-arrow-left"></i> Back</a>
</div>
<section class="card-center-1 card p-2">
	 <div class="h6 pt-1">Buy Drugs &amp; Kits</div>
	 <div> 	
	 	<!--<div class="no-mobile-item-display">
	 		<ul style="display: inline-block;list-style: none;" class="nav nav-tabs">
	 			<li class="list-tabs">
	 				<button class="btn btn-simple block" ng-click="selectedKit('Drug','Anti Malaria')" ng-class="{'bg-info text-white': isSelected == 'Anti Malaria'}">Anti Malaria Kit</button>
	 			</li>
	 			<li class="list-tabs">
	 				<button class="btn btn-simple block" ng-click="selectedKit('Drug','Anti Typhoid')" ng-class="{'bg-info text-white': isSelected == 'Anti Typhoid'}">Anti Typhoid Kit</button>
	 			</li>
	 			<li class="list-tabs">
	 				<button class="btn btn-simple block" ng-class="{'bg-info text-white': isSelected == 'Other'}" ng-click="selectedKit('Drug','Other')">Other</button>
	 			</li>	 			
	 		</ul>
	 	</div>-->
	 	<br>
	 	<div>
	 		<label>Select Kit: </label>
	 	</div>
	 	<div class="col-md-9 pl-0" style="font-size: 16px;line-height: 30px">	 		
	 		<select class="form-control" ng-model="drug.kitsList">
	 			<option value="" disabled selected>_Select</option>
		 		<option ng-repeat="n in allKits" ng-value="n.name" class="p-2">{{n.disease}}</option>
		 		<option ng-value="Other">Other</option>
	 		</select>
	 	</div>
	 	<div class="clearfix"></div>
	 	<hr>
	 	<div>
	 		<section ng-show="isSelected !== 'Other'">
		 		<label>{{kits[0].name}} Kit Contents:</label>
		 		<div class="pt-1">
			 		<blockquote class="p-1">
			 		<i class="fa fa-warning"></i> Please confirm you have {{kits[0].disease}} before using {{kits[0].name}} medications.  <!--<a href="" class="text-info">Confirm Now!</a>-->
			 		</blockquote>
		 		</div>
		 		<div>
		 			<label class="custom-control custom-radio" ng-repeat="kit in kits">
						<input type="radio" value="{{kit._id}}" ng-model="drug.package" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description font-1_1"> <b>{{"Package " + kit.package}}</b></span>
					</label>
		 		</div>
		 		<div class="p-1" style="text-align: center;">		 			
		 			<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-show="kitLoading"></i>
		 		</div>
		 		<div ng-if="selectedPackage">
		 			<ul style="line-height: 20px;">
		 				<li ng-repeat="d in selectedPackage.content" class="pt-1">
		 					<label>{{d.drug_name}} </label> &nbsp;
		 					<span>{{(d.dosage) ? d.dosage : "(see leaflet)"}}</span>
		 					<span>{{d.frequency}}</span>
		 					<span>{{d.duration}}</span>
		 				</li>
		 			</ul>
		 		</div>
	 		</section>
	 		<section ng-show="isSelected == 'Other'" class="row">
	 			<div ng-repeat="d in selectedPackage.content">
	 				<div class="col-md-5">
		 				
		 				<input type="text" name="" class="form-control" placeholder="Enter drug name" ng-model="d.drug_name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15">
	 				</div>
	 				<div class="col-md-4" style="">
	 					
		 				<input type="text" name="" placeholder="Enter Quantity" ng-model="d.dosage" class="form-control" uib-typeahead="dose for dose in dosageList | filter:$viewValue | limitTo:15">
	 				</div>
	 			</div>
	 			
	 			<div style="text-align: right;" class="col-md-9">
	 				<i class="fa fa-plus btn btn-neutral" ng-click="addDrug()"></i>
	 				<i class="fa fa-minus btn btn-neutral" ng-show="selectedPackage.content.length > 1" ng-click="remove()"></i>
	 			</div>
	 		</section>

	 		<div class="clearfix"></div>
	 		<br>
	 		<div>
	 			<label class="custom-control custom-checkbox">
                   Request home delivery of the above prescription(s) &nbsp;<i class="fa fa-question-circle tip text-primary"><span>Checking this option activates the home delivery request. Please note extra charges for delivery do apply. Our field agent will bring the drug to your location after contacting you. You will have to make payment before the delivery is activated. Please do check the icon <i class="fa fa-motorcycle"></i> on top right corner of this page for update on your request.</span></i><br>
                <input type="checkbox" class="custom-control-input" ng-model="drug.courier" >
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description" style="opacity:0;"></span>
                </label> 
	 		</div>
	 		<div ng-show="drug.courier" class="col-md-9">
	 			<label>Enter Delivery Address:</label><br>
	 			<input type="text" name="" ng-model="drug.address" placeholder="Enter your address" class="form-control">
	 		</div>
	 		<div class="clearfix"></div>
	 		<br>
	 		<div class="pt-1 pb-1">	
	 			<label>Forward above drug(s) to a center:</label>
	 			<div class="row">
	 				<div class="col-md-8 col-xs-9">
	 					<input type="text" name="" class="form-control" ng-model="drug.city">
	 				</div>
	 				<div class="col-md-2 col-xs-3">
	 					<button class="btn btn-danger" ng-click="find()"><i class="fa fa-search"></i></button>
	 				</div>
	 			</div>
	 			<br> 

	 			<div class="pt-1 mb-2 relate" ng-repeat="c in centers">
	 				<label class="pb-0 mb-0">{{c.name}}</label><br>
	 				<span>{{c.address}}, {{c.city}} {{c.country}}</span><br>
	 				<span>{{c.phone}}</span>
	 				<article class="ab-bottom">
	 					<i class="fa fa-comments btn btn-neutral" ng-click="sendChat(c)"></i>
	 					<i class="fa fa-share btn btn-neutral" ng-show="!c.loading && !c.success" ng-click="forwardDrug(c)"></i>
	 					<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="c.loading"></i>
	 					<span class="text-primary" ng-show="c.success">Sent!</span>
	 				</article>
	 			</div>
	 			<div class="pt-2" ng-show="loading" style="text-align: center;">
	 			 	<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i>
	 			</div>
	 			<p ng-show="centers.length == 0" class="pt-2 text-danger" style="text-align: center;">No center was found based on you search criteria</p>
	 		</div>
	 	</div>

	 </div>
 </section>