
<div class="card-center-1">
  <a href="#/my-doctors" class="btn btn-neutral"><i class="fa fa-arrow-left"></i> Back</a>
  <div class="h4 pt-0">Find A Doctor</div>
</div>

<div class="card-center-1">
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=gynecologist')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>GYNECOLOGIST</h6>
          <p class="text-muted">Consult, chat and book appointment with specialists in female health, sexual health & Pregnancy</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=gynecologist')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=pediatrics')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>PEDIATRICIAN</h6>
          <p class="text-muted">Consult, chat and book appointment with children specialists, child health physicians in your city.</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=pediatrics')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=ophthalmologist')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>OPHTHALMOLOGIST</h6>
          <p class="text-muted">Consult, chat and book appointment with eye specialists in your city.</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=ophthalmologist')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
         <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=dentist')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>DENTIST</h6>
          <p class="text-muted">Consult, chat and book appointment with teeth specialists, dental surgeons near you.</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=dentist')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=cardiologist')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>CARDIOLOGIST</h6>
          <p class="text-muted">Consult, chat and book appointment with heart specialists near you.</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=cardiologist')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card p-1">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=orthopedic')"><i class="icon-stethoscopetwo text-primary" style="font-size: 32px"></i></a>
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
          <h6>Orthopedic</h6>
          <p class="text-muted">Consult, chat and book appointment with bone, fracture, nerve and burnt specialists near you.</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
          <a href="" ng-click="getSpecialtyCategory('/general/homepage-search?category=Doctor&item=orthopedic')" class="btn btn-sm btn-primary round mt-2"><i class="fa fa-arrow-right text-white"></i></a>
      </div>
      <div class="clearfix"></div>
  </div>
</div>

 <div class="card card-center-1 p-1">
<h6>Over <b class="text-warning">500+</b> Specialists, Special Centers, Skills & Procedures</h6>
 <form class="col-md-10">
     <div>
        <label for="lastname">Search options: </label>
        <select class="form-control" ng-model="user.creteria" style="font-size: 14px!important">
          <option selected value="doctorname">Find by name (default)</option>
          <option value="specialty">City &amp; Doctor's Specialty</option>
          <option value="doctorId">Find by doctor's ID</option>
          <option value="disease">Find by disease</option>
        </select>
     </div>
     <br>
      <div ng-if="isName === true">
        <label for="lastname" class="pl-0">Doctor's name:</label>
        <!--<input type="text" class="form-control" placeholder="e.g Dr Ede or Ede" ng-model="user.name" style="font-size: 14px!important">-->
        <input type="text" class="form-control" placeholder="e.g Dr Ede or Ede"  id=""  uib-typeahead="name.name for name in names | filter:$viewValue | limitTo:15" ng-model="user.name" style="font-size: 14px!important">
      </div>

       <div ng-if="isSpecialty === true">
           <label for="lastname">City: </label>
        <input type="text" class="form-control" placeholder="Enter city name"    uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" ng-model="user.city" style="font-size: 14px!important">
        {{getCity(city)}} 
      </div>
      <br>
      <div ng-if="isSpecialty === true">
          <label for="specialty">Specialty: </label>
           <input type="text" class="form-control" placeholder="Enter specialty"  id=""  uib-typeahead="specialty for specialty in allSpecialties | filter:$viewValue | limitTo:15" ng-model="user.specialty" style="font-size: 14px!important">
      </div>

      <div  ng-if="isDoctorId === true">
          <label for="doctorId">Doctor's ID:</label>
        <input type="text" class="form-control"  placeholder="Enter Doctor's ID" ng-model="user.doctorId" style="font-size: 14px!important">
      </div>

      <div  ng-if="isDisease === true">
        <label for="disease">Disease: </label>
        <!--<input type="text" class="form-control"  placeholder="Enter disease eg Malaria" ng-model="user.disease" style="font-size: 14px!important">-->
         <input type="text" class="form-control" placeholder="Enter e.g sickle cell"    uib-typeahead="disease for disease in diseases | filter:$viewValue | limitTo:15" ng-model="user.disease" style="font-size: 14px!important">
      </div>
      
      <br>
      <div>
        <button class="btn btn-primary btn-block" ng-click ="find()"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color: #fff" ng-if="loading"></i> {{(loading) ? "" : "Search"}}</button>
      </div>
</form>
 </div>
 
<div class="card card-center-1 mt-2">
  <p class="p-2">
    <b>Do you have a personal doctor not yet in Applinic?</b> <a href="" ng-click="inviteDoc()">Click here </a> to invite the doctor to join Applinic. 
  </p>
</div>
 <div style="height: 200px">
   
 </div>
 

 