
 <div class="container">
    <div class="card card-center-1 p-2">
    <h4 style="margin-top: 2px">Need a Doctor?</h4>
 <div class="font-1_0">Fill your complaints below for the right specialist to contact you at the Patient Waiting Room (PWR).</div>
 <p class="p-2 text-center" ng-if="statusMsg" style="color: #000;background-color: orange;text-align: center;font-size: 14px">{{statusMsg}}</p>
 <label class="font-1_2 pt-2">Why do you need a doctor? </label>
 <div class="row p-1">

                               <div class="col-sm-12 col-md-5 col-lg-5">                               	
                                   <div>                        
                                     <label class="custom-control custom-checkbox">
                                        I am sick.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.sick">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                   <div>                                    
                                     <label class="custom-control custom-checkbox">
                                        I am pregrant.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.pregnant" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                   <div>
                                      <label class="custom-control custom-checkbox">
                                        I want to get pregnant.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.getPregnant">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                    <div>                                    
                                     <label class="custom-control custom-checkbox">
                                        I had an accident.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.accident" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                   
                               </div>                                  

                          
                               <div class="col-sm-12 col-md-6 col-lg-6">
                                   <div>
                                      <label class="custom-control custom-checkbox">
                                        I am having eye problem.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.eye">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                   <div>
                                      <label class="custom-control custom-checkbox">
                                        I am having ear problem.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.ear">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                   <div>
                                      <label class="custom-control custom-checkbox">
                                        I am having teeth problem.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.teeth">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                    <div>                                    
                                     <label class="custom-control custom-checkbox">
                                        I had stroke.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.stroke" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>
                                  
                                    <!--<div>
                                      <label class="custom-control custom-checkbox">
                                        I need a personal doctor.
                                       <input type="checkbox" class="custom-control-input" ng-model="user.personal">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="opacity:0;"></span>
                                      </label> 
                                   </div>-->
                               </div>
                           </div>
<div class="row">

<div class="col-md-12 col-sm-12">
	<div class="pb-2 pt-1">
		<label style="color: grey">Where do you prefer to see doctor ? (optional) </label>
		<input name="" id="states" style="width: 90%" type="text" placeholder="Enter city name" ng-model="city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" class="form-control">		
			{{getCity(city)}} 
	</div>
</div>
<div class="col-md-12 col-sm-12" ng-if="user.sick">
	
	<div class="pb-2 pt-1">
		<label style="color: grey">What are your complaints ? <span class="text-danger">*</span></label>
		<div ng-repeat="i in symptomsList" style="position: relative;padding-bottom: 5px">			
			<input name="" id="states" style="width: 90%" type="text" placeholder="Enter your symptom(s)" ng-model="name" uib-typeahead="name for name in symptoms | filter:$viewValue | limitTo:15" class="form-control">
			<i class="fa fa-times text-muted" style="cursor: pointer;position: absolute;bottom: 10px;right: 8px" ng-click="remove(i.sn)" ng-if="i.sn !== 'a'"></i>
			{{getSymptom(name)}}
		</div>
		<div style="text-align: right;margin-top: 15px"> 
			<button class="fa fa-plus btn btn-simple round  text-danger" ng-click="add()"></button> 
		</div>

		<div class="pt-1">
			<label style="color: grey">How long have you been experiencing the above symptom(s) ?</label>
			<select class="form-control" style="width:90%" ng-model="user.period">
                <option value="" selected="selected" disabled="disabled">_select</option>
                <option style="font-size: 14px">few days ago</option>
                <option style="font-size: 14px">one week</option>
                <option style="font-size: 14px">two weeks</option>
                <option style="font-size: 14px">a month</option>
                <option style="font-size: 14px">two months</option>
                <option style="font-size: 14px">about six months</option>
                <option style="font-size: 14px">about a year</option>
                <option style="font-size: 14px">more than a year</option>
                <option style="font-size: 14px">over two years</option>
                <option style="font-size: 14px">many years</option>
            </select>
		</div>

		<div class="pt-1">
		<label style="color: grey">How do you feel right now ? <span class="text-danger">*</span><br><small>(e.g I am having body pains, I feel so weak, etc.)
		</small></label>
		<textarea placeholder="Write..."  ng-model="user.how" class="form-control pl-1" style="height: 120px;width: 90%"></textarea>
	</div>
		
	</div>
	
</div>
<div class="col-md-12 col-sm-12" ng-if="user.pregnant">
	<label style="color: grey">How long has the pregnancy been ?</label>
    <div class="text-info">{{pregMsg}}</div>
    <div>
        <select ng-model="user.lmp" class="form-control" style="width: 90%">
        	<option value="" selected="selected">_select</option>
          	<option style="font-size: 14px" > a month</option>
            <option style="font-size: 14px" >less than 2 months</option>
            <option style="font-size: 14px" >less than 3 months</option>
            <option style="font-size: 14px" >less than 4 months</option>
            <option style="font-size: 14px" >less than 5 months</option>
            <option style="font-size: 14px" >less than 6 months</option>
            <option style="font-size: 14px" >above 6 months</option>
            <option style="font-size: 14px" >9 months</option>
        </select>
    </div>                                   
</div>


<div class="col-md-12 col-sm-12 pt-1" ng-if="user.getPregnant">

  <label style="color: grey;">When was your last menstruation ?</label>
  <div>{{lmpMsg}}</div>
  <select class="form-control" style="width:90%" ng-model="user.lmp">
      <option value="" selected="selected" disabled="disabled">_select</option>
      <option style="font-size: 14px">few days ago</option>
      <option style="font-size: 14px">one week ago</option>
      <option style="font-size: 14px">two weeks ago</option>
      <option style="font-size: 14px">last month</option>
      <option style="font-size: 14px">two months ago</option>
      <option style="font-size: 14px">three months ago</option>
      <option style="font-size: 14px">about six months ago</option>
      <option style="font-size: 14px">about a year ago</option>
      <option style="font-size: 14px">two years ago</option>
      <option style="font-size: 14px">over two years ago</option>
      <option style="font-size: 14px">I am in menopause</option>
  </select>
  
  <div class="pt-1">
    <label style="color: grey">What complaint do you have for pregnancy ? <span class="text-muted"></span></label>
      <div class="text-danger">{{getPregnantMsg}}</div>
      <textarea class="form-control pl-1" ng-model="user.getPregIssue" placeholder="write..." style="height: 200px;width: 90%"></textarea>
  </div>
</div>


<div class="col-md-12 col-sm-12 pt-1" ng-if="user.accident">
	<label style="color: grey">Where did you sustain injuries ? <span class="text-muted">(e.g I had a car accident and i broke my leg )</span></label>
    <div class="text-danger">{{accMsg}}</div>
    <textarea class="form-control pl-1" ng-model="user.injuries" placeholder="write..." style="height: 200px;width: 90%"></textarea>
</div>
<div class="col-md-12 col-sm-12 pt-1" ng-if="user.stroke">
	<label style="color: grey">Where did you sustain paralysis ?</label>
    <div class="text-danger">{{paraMsg}}</div>
    <textarea class="form-control pl-1" placeholder="write..." ng-model="user.paralysis" style="height: 200px;width: 90%"></textarea>
</div>
<div class="col-md-12 col-sm-12 pt-1" ng-if="user.eye">
	<label style="color: grey">What is wrong with your eye ?</label>
    <div class="text-danger">{{eyeMsg}}</div>
    <textarea class="form-control pl-1" placeholder="write..." ng-model="user.eyeIssue" style="height: 200px;width: 90%"></textarea>
</div>
<div class="col-md-12 col-sm-12 pt-1" ng-if="user.ear">
	<label style="color: grey">What is wrong with your ear ?</label>
    <div class="text-danger">{{earMsg}}</div>
    <textarea class="form-control pl-1" placeholder="write..." ng-model="user.earIssue" style="height: 200px;width: 90%"></textarea>	
</div>
<div class="col-md-12 col-sm-12 pt-1" ng-if="user.teeth">
	<label style="color: grey">What is wrong with you teeth ?</label>
    <div class="text-danger">{{teeMsg}}</div>
    <textarea class="form-control pl-1" placeholder="write..." ng-model="user.teethIssue" style="height: 200px;width: 90%"></textarea>
</div>
<hr>
<div  class="col-md-12 col-sm-12">	
	<div class="pt-2">
		<label style="color: grey">Do you have an image or video associated with the complaint ?</label>
		
		 <input type="file" id="file" class=""  file-model = "files" multiple="multiple"> 
		 <b style="display: block;padding: 15px 10px">Or</b> 

		 <button ng-click="takePhoto()" class="btn btn-sm btn-danger">Take Photo</button>
		
		<div class="pt-2"><i class="fa fa-warning">&nbsp;</i> <span class="text-muted" style="font-size:.85em;">Not more than 6 files is allowed.File size must be less than 8mb.Type jpeg,jpg,png,mp3,mp4</span></div>

	</div>
	<div class="pt-2 row"> 
		<div class="col-sm-12 col-md-12 col-lg-12" id="canvasArea">
			<!--<canvas id="canvas" width=150 height=120></canvas>-->
		</div> 
		<div class="clearfix"></div>
		<hr>         
		<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
			<div style="text-align: left;" ng-if="isCapture">
				<a href="" ng-click="closeCam()" class="btn btn-sm btn-neutral">Close Camera</a>
			</div>
     
			<video id="player"  autoplay style="width:100%;height:auto;"></video>
     
			<div style="width: 40%;margin: 10px auto">
			 	<button id="capture" class="btn-danger  btn" style="visibility: hidden;">Capture</button>  
			</div>
		</div>		
		 
	</div>
</div>


<!--<div class="clearfix"></div>
<div class="col-md-6 col-sm-12">
	<label>Briefly describe how you feel right now *<br><small>(e.g I am having body pain,can't eat,i feel so weak, i vomit sometimes but not regular.)</small></label>
	<textarea placeholder="Write..." ng-model="user.description" class="form-control pl-1" style="height: 100px"></textarea>
</div>-->

<!--<div  class="col-md-6 col-sm-12">
	<label>You can attach video or image file(s) associated with this illness(if any)</label>
<label class="custom-file">
  <input type="file" id="file" class="custom-file-input"  file-model = "files" multiple="multiple">
  <span class="custom-file-control"></span>
</label>
<br> <i class="fa fa-warning">&nbsp;</i> <span class="text-muted" style="font-size:.85em;">Not more than 5 files is allowed.File size must be less than 8mb.Type jpeg,jpg,mp3,mp4</span>



 <div class="progress-container progress-primary">
<div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="progress-value">60%</span>
    </div>
</div>
</div>-->

</div>

<div class="clearfix"></div>
<div style="margin-top: 20px">
	<i class="fa fa-check pull-right font-1_4" style="color: #7dbb00" ng-if="statusMsg"> sent!</i>	
	<button class="btn btn-success pull-right" style="background-color: #7dbb00" ng-click="validate()" ng-if="!statusMsg">{{(progress) ? progress + '% sending...'  : 'Submit Complaint'}}</button>
</div>

</div>

</div>
    

