<style type="text/css">
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
</style>

<div class="" ng-if="checkLogIn.typeOfUser === 'Patient'">

	<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">          
            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 pt-1 text-center">Chat with our Stand-by Doctors</div>
            <div class="text-muted p-2 home-pallete-content">
             	These are qualified and verified doctors who you can contact quickly to explain your health issues.
            </div> 
            <div class="text-right">
            	<button class="btn btn-neutral" ng-click="sendChatSingle()" style="font-size: 18px">Chat now!</button>
            </div>        
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">Consult a Physician</div>
            <div class="text-muted p-2 home-pallete-content">
            	Write your complaint and submit to a Physician / Consultant of your choice for consultation.
            </div>
            <div class="text-right">
            	<a href="#/consult-specialist/default" class="btn btn-neutral" style="font-size: 18px">Consult a physician now!</a>
            </div>       
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">Buy Drugs and Kits</div>
            <div class="text-muted p-2 home-pallete-content">Buy your routine drugs and kits from certified pharmaceutical centers closest to you in the city.
            </div>
            <div class="text-right">
            	<a href="#/drugs-and-kits" class="btn btn-neutral" style="font-size: 18px">Buy drugs and kits now!</a>
            </div>       
        </div>
    </div>
    <!--<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">My Appointment with doctors</div>
            <div class="text-muted p-2 home-pallete-content">
               See all in-person meeting schedules you have with your doctors in their respective consulting offices.
            </div>
            <br><br>
             <div class="text-right">
            	<button class="btn btn-neutral">View appointment schedules!</button>
            </div>       
        </div>
    </div>
     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">Do Lab Test</div>
            <div class="text-muted p-2 home-pallete-content">
            	We have certified laboratory centers in the platform where you can forward your lab test request and get the report in your account which you can share with your physicians.
            </div>
            <div class="text-right">
            	<button class="btn btn-neutral">View lab test optios!</button>
            </div>       
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">           

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">X-ray / CT / MRI</div>
            <div class="text-muted p-2 home-pallete-content">
            	We have certified radiology centers where you can run your test and view the images and report in your account and you can share with your physicians.
            </div>
            <div class="text-right">
            	<button class="btn btn-neutral">Go to X-ray / CT / MRI!</button>
            </div>       
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">Ultra Sound Scan</div>
            <div class="text-muted p-2 home-pallete-content">
            	We also have certified radiology centers where you can run your scan and view the images and report in your account and you can share with your physicians. 
            </div>
            <div class="text-right">
            	<button class="btn btn-neutral">Go to Ultra Sound!</button>
            </div>       
        </div>
    </div>
     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">My Prescriptions</div>
            <div class="text-muted p-2 home-pallete-content">
            	We keep records of all the drugs you had taken and prescriptions that was prescribed on your 
            	behalf by your doctors.
            </div>
            <br>
            <div class="text-right">
            	<button class="btn btn-neutral">View prescriptions!</button>
            </div>       
        </div>
     </div>
     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">My Lab Test Results</div>
            <div class="text-muted p-2 home-pallete-content">
            	We keep records of all your laboratory test requests sent to diagnostic centers and the accompanied results which you can view or share anytime.
            </div>
            <br>
            <div class="text-right">
            	<button class="btn btn-neutral">View lab tests!</button>
            </div>       
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">            

            <div class="p-2" style="background-color: #f2f2f2;text-align: center;">
                <img src="/assets/images/finddoctor.png" style="width: 32px;height:auto;">
            </div>
            <div class="h6 text-center pt-1">My radiology images and Reports</div>
            <div class="text-muted p-2 home-pallete-content">
            	We keep records of all your radiology study requests sent to diagnostic centers and the accompanied DICOM images and report which you can view or share anytime.
            </div>
            <div class="text-right">
            	<button class="btn btn-neutral">View studies and reports!</button>
            </div>       
        </div>
    </div>-->



</div>
<div class="clearfix"></div>
<div style="height: 200px">
	
</div>