  
<div class="card-center-1 pb-2">
    <h4 class="h4"> Messages </h4>
</div>
<div  ng-repeat = "msg in allMsg | orderBy: '-date'" class="card-center-1">
    <div class="notification-item card p-1"  class="msg-drp-list"  ng-if="msg.category === 'outPatientBilling' && msg.category !== 'need_doctor'" style="cursor: pointer;">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-user-md text-primary" style="font-size: 35px"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
            <p> <span class="accent" ng-cloak>{{msg.firstname}}</span> <span style="display:block">{{msg.message}}</span> <small am-time-ago="msg.date" style="display:block" ng-cloak></small> </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <a href="" class="btn btn-sm btn-primary round mt-2" ng-click= "viewBill(msg.message_id)"><i class="fa fa-arrow-right text-white"></i></a>
        </div>
         <div class="clearfix"></div>
    </div>

    <div class="notification-item card p-1"  class="msg-drp-list" ng-if="msg.message == 'Consultation Fee'" style="cursor: pointer;">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-user-md text-primary" style="font-size: 35px"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
            <p> <span class="accent" ng-cloak>{{msg.title}} {{msg.firstname}} {{msg.lastname}} </span> <span style="display:block">{{msg.message}}</span> <small am-time-ago="msg.date" style="display:block" ng-cloak></small> </p>
        </div>
         <div class="col-md-2 col-sm-2 col-xs-2">
            <a href="" class="btn btn-sm btn-primary round mt-2" ng-click= "viewConsultationFee(msg.consultationFeeId,msg.message_id)"><i class="fa fa-arrow-right text-white"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="notification-item card p-1"  ng-if="msg.category === 'need_doctor' && msg.category !== 'outPatientBilling' ">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-user-md text-primary" style="font-size: 35px"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 pr-1">
            <p class="font-1_1"> <span class="accent" ng-cloak>{{msg.complaint_id}}</span> <span style="display:block">{{msg.message}}</span> <small am-time-ago="msg.date" style="display:block" ng-cloak></small> </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <a href="" class="btn btn-sm btn-primary round mt-2" ng-click="viewResponse1(msg.user_id,msg.complaint_id)"><i class="fa fa-arrow-right text-white"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>