<!--<div style="margin-top: 30px">
	<h4>Enter criteria below</h4> 
	<div style="text-align: right;padding: 0px 37px 10px">
		<form style="width: 200px;display:inline-block">
		<span><em>Use: {{search.category}}</em></span>
		<select style="height:2px;border:none" value="search.category" ng-model="search.category">
			<option>Test Name</option>
			<option>Reference number</option>
		</select>
		</form>
	</div>
	<form class="row" >
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div style="margin-bottom: 30px">
			<input name="states" id="states" type="text" placeholder="Enter city name" ng-model="city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" class="form-control" style="width: 95%">		
				{{getCity(city)}} 
			</div>
			
			<div ng-repeat="i in testList" ng-if="notRef">				
				<input name="states" id="states" type="text" placeholder="Enter test name" ng-model="test.name" uib-typeahead="test.name for test in tests | filter:$viewValue | limitTo:15" class="form-control" style="width: 95%">
				{{getTest(test.name)}} 
				<i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey" ng-click="remove(i.sn)" ng-if="i.sn !== 'a'"></i>				
			</div>
			<div ng-if="isRef">
				<input placeholder="Enter Ref NO" ng-model="user.refId" class="form-control"  style="width: 95%">
			</div>
		</div>
		<div style="text-align:right;padding: 20px" ng-if="notRef">
			<i class="fa fa-plus btn" style="cursor: pointer" ng-click="add(test.name)">&nbsp;Add</i> 
		</div>
		<div style="padding-left: 20px" ng-if="notRef">
			<input type="button" value="Find" ng-click="findTest(test.name)" class="btn btn-primary" >
		</div>
		<div style="padding-left: 20px;margin-top:50px" ng-if="isRef">
			<input type="button" value="Find" ng-click="findWithRef(user.refId)" class="btn btn-primary" >
		</div>		
	</form>
</div>-->


<div class="container">
<div class="card card-center-1 p-2">
	<div class="row">
		
		<h3 class="pl-1 pb-0 font-1_4">Find {{type}} Tests</h3> 	

		<div ng-if="checkLogIn.typeOfUser !== 'Patient'">
	        <div class="col-md-7 form-inline mt-2">
				<label for="lastname">Option: </label>
				<select class="custom-select form-control" value="search.category" ng-model="search.category">
					  <option selected>{{search.category}}</option>
					  <option>Test Name</option>
					  <option>Reference number</option>
				</select>
			</div>
		</div>
		
	</div>
	<hr>
	<div class="row" >
		<div class="col-sm-12 col-md-9 col-lg-9 form-group">
			 <div style="padding: 15px 4px 0;width: 90%"><label for="City">City: </label>
			<input name="states" id="states" type="text" placeholder="Enter city name" ng-model="city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" class="form-control" style="width: 95%">		
				{{getCity(city)}} 
			</div>
		</div>
	</div>
	<div class="row" ng-if="notRef">
		<div class="col-md-9 col-sm-12">
		<label for="City">Test name: </label>	
			<div style="padding: 5px;position: relative;" ng-repeat="i in testList">				
				<div class="" style="width: 90%">	
					<input  type="text" placeholder="Enter test name" ng-model="test.name" uib-typeahead="test.name for test in tests | filter:$viewValue | limitTo:15" class="form-control" style="width: 95%">
					{{getTest(test.name)}} 
					<i class="fa fa-times text-danger" style="cursor: pointer;font-size: 18px;position: absolute;right: 30px;bottom: 10px" ng-click="remove(i.sn)" ng-if="i.sn !== 'a'"></i>				
				</div>			
			</div>

			<div style="text-align:right;padding: 5px">
				<i class="fa fa-plus btn btn-simple text-danger btn-round" style="cursor: pointer;font-size: 18px;padding: 10px" ng-click="add(test.name)"></i> 
			</div>
        	<div class="clearfix"></div>
			<span ng-if="notRef">
				<button ng-click="findTest(test.name)" class="btn btn-info" > <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>{{(loading) ? "" : 'Find'}}</button>
			</span>
		
		</div>
	</div>
	<div class="row" ng-if="isRef">
		<div class="col-md-9 col-sm-12 pr-0">
			 <div style="padding: 10px 4px 0;width: 90%"><label for="City">Reference Number: </label>
				<input placeholder="Enter Ref NO" ng-model="user.refId" class="form-control"  style="width: 94%">
				
				<button ng-click="findWithRef(user.refId)" class="btn btn-info mt-2" ><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>{{(loading) ? "" : 'Find'}} </button>				
			</div>	
		</div>
		
	</div>
</div>
<div style="height: 300px"></div>
</div>


