<div class="container">
   <div class="card-center-1">
         <a href="" ng-click="goBack()"><i class="fa fa-arrow-left btn btn-simple"> &nbsp;Back</i></a>
  </div>
  <div class="card card-center-1 p-2">
    <h3 class="p-0">Search Result</h3>
    <input type="text" placeholder="Filter by place of work or doctor's name or specialty" ng-model="list.work_place" class="form-control" style="width: 70%">
    <div>        
        <div class="row">            
            <article class="tg-doctor-profile" ng-repeat="i in searchResult | filter: list.work_place" style="padding-bottom: 5px;max-height: 720px;overflow-y: auto">
                <div class="card p-1">
                   
                        <div style="display: inline-block;float: left">                       
                           
                            <a ng-href="{{i.profile_url}}"><img ng-src="{{i.profile_pic_url}}" class="img-rounded img-responsive" style="max-width: 100px;max-height: 100px" alt="image description"></a>                                                     
                           
                        </div>                                             
                        <div style="display: inline-block;float: left;padding-left: 2px;width: 72%">                      
                                <div style="position: relative;" class="p-0"> 
                                    <strong class="">{{i.title}} {{i.firstname}} {{i.lastname}}</strong>
                                    <span style="display:block">{{i.specialty}}</span>
                                    <span  style="display:block;padding-bottom: 10px"><b>{{i.work_place}}</b> {{i.address}}  {{i.city}}, {{i.country || "N/A"}}</span>
                                    <a href="{{i.profile_url}}" class="" title="View {{i.firstname}} profile" style="color: blue;margin-right: 20px">View Profile</a>
                                    <a href="" class="text-danger" ng-click="ask(i)" title="send chat message"><i class="fa fa-comment-o"></i> Send chat message</a>

                                     <button class="btn btn-danger btn-sm" ng-click="consultation(i)" ng-if="checkLogIn.typeOfUser === 'Patient'" style="position: absolute;right: 2px;bottom: 0px">Consult now!</button>
                                </div>
                              
                                <!--<div>
                                    <i class="fa fa-phone"></i>
                                    <span class=" font-1_1" style="font-weight: bold"></span>
                                    <span class=" font-1_1"> {{i.phone}}</span>
                                </div>-->
                                <!--<div>
                                     <a href="info@applinic.com" style="display:inline-block; text-decoration:none; color:#555;"> jhon@company.com</a>
                                </div>-->           
                                               
                                                                     
                        </div>
                    </div> 
               
            </article>   

        </div>
    
    
        <div class="tg-btnarea">
            <!--<a class="tg-btn" href="#" ng-if="data">load more</a>-->
            <div class="info-div" ng-show="isNotFound">
                <p class="alert alert-warning">Oops! No match found based on your search criteria.<br>
                Try again..</p>           
            </div>
        </div>
    </div>

        </div>
            </div>
    
    
