<!--<div class="col-sm-12 col-md-12 col-lg-13">
	<h3 style="text-align: center">{{type}}</h3>
  <ul ng-repeat="test in pendingTest" style="margin-bottom: 30px; padding: 10px; box-shadow: 2px 2px 2px #ccc; border-bottom:1px solid #ccc" class="pending">
    <li style="text-align: right; list-style-type:none"><strong>Ref NO:</strong> <em style="font-size: 18px">{{test.ref_id}}</em></li>
    <li><strong>Date sent: </strong> &nbsp;{{test.sent_date | date : "mediumDate"}}&nbsp; {{test.sent_date | date : "mediumTime"}}</li>
    <li><strong>Status :</strong> {{test.conclusion}}</li>
    <li><strong>Test to run : </strong><ol style="list-style: inherit"><li ng-repeat="rantest in test.test_to_run" style="margin-left: 150px;list-style-type: lower-roman">{{rantest.name}}</li></ol></li>
    <li style="margin-top: 20px"><strong>Center name : </strong> {{test.center_name}}</li>
    <li><strong>Address :</strong> <span>{{test.center_address}}, {{test.center_city}}, {{test.center_country}}<span></li>
    <li>
      <span style="font-size: 24px; font-weight: 100">Contact Through: </span>            
          <i class="fa fa-desktop" style="font-size:22px;color:grey;padding: 20px; cursor:pointer; margin-right: 10px" title="Video chat with {{test.center_name}}" ng-click="makeVideoCall(test.center_id,test.center_name,test.patient_id)"></i>  
          <i class="fa fa-comments" style="font-size:22px;color:grey;padding: 20px; cursor:pointer" title="Chat with {{test.center_name}}" ng-click="liveChat(test.center_id,test.center_name,test.patient_id)"></i>
          <i class="fa fa-phone" style="font-size:22px;color:grey;padding: 20px;margin-right: 10px" title="Make an audio call to {{test.center_name}}"> &nbsp;{{test.center_phone}}  </i>      
    </li>
  </ul>

</div>-->



<!--<div class="container">
<div class="card p-2">
<div class="col-sm-12 col-md-12 col-lg-13">
  <h3 style="text-align:center; font-1_7">{{type}}</h3>
  <ul ng-repeat="test in pendingTest" class="card nav">
    <li style="text-align: right; ">
        <b>Ref No:</b> <em>{{test.ref_id}}</em></li>
    <li><b>Date sent: </b> &nbsp;{{test.sent_date | date : "mediumDate"}}&nbsp; {{test.sent_date | date : "mediumTime"}}</li>
    <li><b>Status :</b> {{test.conclusion}}</li>
    <li><b>Test to run : </b><span ng-repeat="rantest in test.test_to_run" style="list-style-type: lower-roman">{{rantest.name}}</span></li>
    <li class="mt-1"><b>Center name : </b> {{test.center_name}}</li>
    <li><b>Address :</b> <span>{{test.center_address}}, {{test.center_city}}, {{test.center_country}}<span></li>
    </ul>
    <div class="col-md-5 col-sm-12 p-1"  style="background:#f2f2f2;">
      <span class="font-1_1">Contact Through: </span>            
          <i class="fa fa-desktop text-muted font-1_1 mr-1" style="cursor:pointer;" title="Video chat with {{test.center_name}}" ng-click="makeVideoCall(test.center_id,test.center_name,test.patient_id)"></i>  
          <i class="fa fa-comments text-muted font-1_1 mr-1" style="cursor:pointer;" title="Chat with {{test.center_name}}" ng-click="liveChat(test.center_id,test.center_name,test.patient_id)"></i>
          <i class="fa fa-phone text-muted font-1_1 mr-1" style="cursor:pointer;" title="Make an audio call to {{test.center_name}}"> &nbsp;{{test.center_phone}}  </i>      
    </div>
  

</div>

</div>
</div>-->


<div class="container">
  
  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row"> 
    <div class="prescription-options col-sm-12 col-md-7 col-lg-7">
      <h5 style="padding:15px;text-transform: capitalize;">{{type}}</h5>
    </div>
        
      <!--<ul class="prescription-options col-sm-12 col-md-7 col-lg-7" style="padding-left: 0">     
        <li ng-click="recent()" ng-class="{highlight: isRecent === true}">most recent</li>
        <li ng-click="three()" ng-class="{highlight: isThree === true}">last three months</li>
        <li ng-click="six()" ng-class="{highlight: isSix === true}">last six months</li>
        <li ng-click="all()" ng-class="{highlight: isAll === true}">all</li>
      </ul>-->
      <div class="col-sm-12 col-md-5 col-lg-5 prescription-options" style="padding-bottom: 2px">
        <input type="text" name="" placeholder="Filter by test name, center name, date sent, date received, etc" ng-model="filterResult" class="form-control" style="width: 90%">
      </div>
    </div>
  </div>
</div>

  <section style="padding: 30px;" class="row card" ng-repeat="test in pendingTest | filter : filterResult | orderBy: '-sent_date'" id="{{test.ref_id}}" ng-if="test.report == 'Pending'">    
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="tg-widget tg-widget-doctor" style="padding: 10px 0px">
         <h6 style="text-decoration: underline;">Investigation by</h6>
      <img src="{{test.center_profile_pic}}" style="max-width:72px; max-height:72px" ng-if="test.center_profile_pic"> <br>
      <b>{{test.center_name}} </b>
            <div style="padding: 5px 0"><i class="fa fa-globe"></i>{{test.center_address}} {{test.center_city}} {{test.center_country}}</div>   
            <div> <i class="fa fa-phone"></i> {{test.center_phone}} </div>         
            <a href="{{test.center_profile_url}}" title="view profile" ng-if="test.center_profile_url">View profile</a>
        </div>
      </div>


      <div class="col-sm-12 col-md-9 col-lg-9" style="padding: 10px 10px 0;">         
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8"> 
            <h6 style="text-decoration: underline;">Investigation details</h6>
            <p><strong>Reference Number:</strong> : <span>{{(test.copy) ? "Copied!" : test.ref_id}}</span> <button clipboard supported="supported" text="test.ref_id" on-copied="success(test)" on-error="fail(err)" title="{{copy}}" class="btn btn-info fa fa-copy" style="padding: 5px"> Copy</button></p>
             <p><strong>Date sent:</strong> : <span>{{test.sent_date | date : "mediumDate"}}  ( <span am-time-Ago="test.sent_date" ng-if="test.sent_date"></span> ) </span></p>
              <p ng-if="test.report === 'Pending'"><strong>Status: </strong> <span style="color: red">Awaiting test result</span></p>
            <!--<p><strong>Date sent: </strong>{{test.sent_date | date : "mediumDate"}} &nbsp; <strong>Time: </strong>{{test.sent_date | date : "shortTime"}}</p>-->
            <p><strong>Date received: </strong>{{test.receive_date | date: "mediumDate" || "Pending"}}  <span am-time-Ago="test.receive_date" ng-if="test.receive_date"></span> </p>
            <div><strong>Test to run:</strong> 
              <ol style="background-color: #d7dde4;line-height: 25px">
                <li ng-repeat="ranTest in test.test_to_run">
                  <span style="display: inline-block;width: 80%">{{ranTest.name}}</span>
                  <label class="custom-control custom-checkbox" style="">
                      <input type="checkbox" class="" ng-model= "ranTest.picked" >
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description" style="opacity:0;"></span>
                  </label>
                </li> 
              </ol>
            </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4" style="">
              <h6 style="text-decoration: underline;">Investigation Report</h6>
              <div ng-if="test.report !== 'Pending'" class="patient-tests">
                <article ng-repeat = "testRan in test.test_to_run">
                  <div><strong>{{testRan.name}}:</strong></div>
                  <p><em>{{testRan.data}}</em></p>                  
                </article>
                <div><strong>Conclusion:</strong></div>
                <p><em>{{test.conclusion}}</em></p>               
              </div>
              <!--<ul ng-i="test.report !== 'Pending'" style="list-style: none;">             
              <li>                
                <li ng-repeat = "testRan in test.test_to_run"><strong>{{testRan.name}} : ccvvcvcvc</strong> <em>{{testRan.data}}</em></li>                
              </li>
              <li><strong>Conclusion : </strong> <em>{{test.conclusion}}dffdfddffdfdfdfddffdfd</em></li>
            </ul>-->
            <p ng-if="test.report == 'Pending'" style="text-align: center;font-size: 12px;padding: 40px"> No report received a this time</p>


            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 10px 15px 0;position: relative;text-align: right;">
                  <div>  
                    <i class="fa fa-user-md btn btn-info" aria-hidden="true" style="font-size: 18px;margin-right:0px;cursor:pointer;padding: 5px 15px" title="send test result to your doctor(s)" ng-click="sendDocTest(test)" ng-if="test.report !== 'Pending'"></i>
                  <i class="fa fa-user-md btn btn-simple" aria-hidden="true" style="color:#ccc;font-size: 18px;margin-right:0px;cursor:pointer;padding: 5px 15px" title="send test result to your doctor(s)"  ng-if="test.report === 'Pending'"></i>             
                    <i ng-print  print-element-id="{{test.ref_id}}" class="fa fa-print btn btn-danger" aria-hidden="true" style="font-size: 18px;margin-right:0px;cursor:pointer;padding: 5px 15px" title="Print this lab investigation"></i>
                    <i class="fa fa-share btn btn-success" aria-hidden="true" style="font-size:18px;margin-right:0px;cursor:pointer;padding: 5px 15px" title="Forward this investigation to another center" ng-click="forwardTest(test)"></i>
                    
                  </div>
                </div>
                    
              </div>
            </div>      
          </div>
      </div>
  

