
<!--<div class="container">
<div class="card card-center-1 p-2">
<div class="col-md-12 col-lg-12 col-sm-12">
	<div class="row">		
		<div class="col-md-12 col-lg-12 col-sm-12">			
			<h4 class="p-0">Find Prescription</h4>
			<button class="btn btn-danger btn-sm" style="cursor: pointer;float: right;;margin-top: -60px" ng-click="showOption()">Toggle option</button>
		</div>	
		<div class="clearfix"></div>	
	</div>	
    <div class="row">
		<form class="col-md-12 col-lg-12 col-sm-12" ng-if="isNotOption" style="">
		<div>
			<label style="padding: 20px 5px">Prescription reference Number</label>	
		</div>			
			<input type="text" class="form-control" placeholder="Enter referrence number" ng-model="patient.ref_id" style="width:60%;display: inline-block;padding: 20px 10px"/>
			<button type="submit" class="btn btn-success"  ng-click="findPrescription()" style="">Find</button>
		</form>

		<form class="col-md-12 col-lg-12 col-sm-12" ng-if="isOption">
		<div>
			<label style="padding: 20px 5px">Patient's phone Number</label>	
		</div>
			<input type="number" class="form-control" placeholder="Enter phone number" ng-model="patient.phone" style="width:60%;display: inline-block;padding:20px 10px"/>
			<button type="submit" class="btn btn-success"  ng-click="findPrescription()" style="">Find</button>
		</form>
    </div>
    <br>
	<div  ng-if="foundData[0].ref_id">	
		<div ng-repeat="item in foundData | orderBy: '-date'" class="row">	
	        <div class="col-md-2">
	        	<img src="{{item.pharmacy.patient_profile_pic_url}}" style="max-width:120px; max-height: 120px">
	        </div>
			<div class="col-md-7"> 
				<strong class="">{{item.pharmacy.patient_firstname}} {{item.pharmacy.patient_lastname}}</strong><br>				
				<span class="">Ref No: {{item.ref_id}}</span><br>
				<span am-Time-Ago = "item.date"></span>				
			</div>  
			<div class="col-md-2 pt-2">
				<button class="btn btn-simple btn-sm"  ng-click="viewPatientPrescription(item)">view prescription</button>
			</div>
		</div>     
	</div>
	<div ng-if="loading" style="padding-top: 50px;width: 60%;text-align: center;">
		  <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 22px" ng-if="loading"></i>
	</div>
	<p class="font-1_2" style="padding: 30px;color: red;" ng-if="!foundData[0].ref_id">{{error}}</p>

</div>

</div>
</div>-->



<div class="card p-2 card-center-1">
	<h4 class="h6">Prescription Requests</h4>
	<br>
	<form class="row" ng-submit="searchTests()">
		<div class="col-md-4">
			<label> From </label>
			<input type="date" name="" class="form-control" ng-model="patient.from">
		</div>
		<div class="col-md-4">
			<label> To </label> 
			<input type="date" name="" class="form-control" ng-model="patient.to">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form-control" placeholder="Reference Number" ng-model="patient.refId">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form-control" placeholder="Patient's Phone Number" ng-model="patient.patienPhone">
		</div>

		<div class="col-md-4">
			<input type="submit" name="" value="Search" class="btn btn-info btn-sm">&nbsp;
			<input type="button" name="" value="Clear" class="btn btn-simple btn-sm" ng-click="clear()">
		</div>
	</form>
	<hr>
	<div class="no-mobile-item-display">	
		<div style="text-align: right;">
			<input type="text" name="" placeholder="filter list" ng-model="filter">
		</div>	
		<table>
			<thead>
				<th>Patient Name</th>
				<th>Reference No.</th>
				<th>Patient Phone</th>
				<th>Prescription(s)</th>
				<th>Time</th>
			</thead>
			<tbody ng-repeat="pres in requestList | date : '-date' | filter : filter" style="line-height: 25px" ng-show="requestList.length > 0">
				<td>{{pres.pharmacy.patient_firstname}} {{pres.pharmacy.patient_lastname}}</td>
				<td>{{pres.ref_id}}</td>
				<td>{{pres.pharmacy.patient_phone}}</td>
				<td>					
					<div ng-repeat="k in pres.pharmacy.prescription_body"><small> - {{k.drug_name}} {{k.dosage}}</small></div>
				</td>
				<td style="position: relative;"><span am-time-ago="pres.date "></span><br><br> <i class="fa fa-ellipsis-h text-muted" style="float: right;padding: 2px 1px;cursor: pointer;" title="Manage test" ng-click="popup(pres)"></i>
					<div ng-class="{'popup': pres.isManage == true}" ng-if="pres.isManage" style="line-height: 35px">
					  <div style="position: absolute;top:4px;right: 10px" ng-click="closePop(pres)"><i class="fa fa-times text-info"></i></div>
					  <a href=""  ng-click="viewPatientPrescription(pres)"><i class="fa fa-gear"></i> Attend to Request </a><br>
					</div>
				</td>
			</tbody>
		</table>
		<div style="text-align: center;padding-top: 20px" ng-show="loading">
			<span class="text-warning">Loading...</span>
		</div>	
		<div style="text-align: center;padding-top: 40px" ng-show="requestList.length == 0">
			<span class="text-muted">No request(s) found based on the search criteria!</span>
		</div>			
	</div>

	<div class="mobile-item-display">
		<article style="margin-bottom: 10px">
			<input type="text" name="" placeholder="filter list" ng-model="filter">
		</article>
		<a href="" style="display: block;border-bottom: 1px solid #eee;padding: 5px 0;position: relative;color: #000"  ng-repeat="pres in requestList | date : '-date' | filter : filter">
			<label class="pb-0 mb-0"><b>{{pres.pharmacy.patient_firstname}} {{pres.pharmacy.patient_lastname}}</b></label><br>
			<span>{{pres.ref_id}}</span><br>
			<span>{{pres.pharmacy.patient_phone}}</span>
			<i class="fa fa-arrow-right text-primary" ng-click="viewPatientPrescription(pres)" style="position: absolute;right: 5px;bottom: 2px;padding: 10px"></i>
		</a>
		<div style="text-align: center;padding-top: 20px" ng-show="loading">
			<span class="text-warning">Loading...</span>
		</div>	
		<div style="text-align: center;padding-top: 40px" ng-show="requestList.length == 0">
			<span class="text-muted">No request(s) found based on the search criteria!</span>
		</div>		
	</div>
	
</div>
<div style="height: 300px"></div>