


<div class="card card-center-1" ng-if="data">	
  
	    <!--<div class="col-md-4 col-lg-4 col-sm-12">    	
	    	<div>
	        	<img ng-src="{{data.sender_profile_pic_url}}" class="img-responsive" style="height: auto;max-width: 300px">
	        </div>
	        <div style="line-height: 35px">
	        	<div><b>Name:</b> {{data.sender_firstname}} {{data.sender_lastname}}</div>
	        	<div><b>gender:</b> {{data.sender_gender}}</div>
				<div><b>Age:</b> {{data.sender_age}}</div>			
				<div><b>Location:</b> {{data.sender_location}}</div>
	        </div>
	    </div>-->
	    
	<h4 class="p-1">Consultation</h4>
	<div class="row">
		<div class="col-md-3 p-2">
        	<img ng-src="{{data.sender_profile_pic_url}}" class="img-responsive" style="height: auto;max-width: 200px; object-fit: contain">
        </div>
        <div class="col-md-9 p-2">
        	<div><b>Name:</b> {{data.sender_firstname}} {{data.sender_lastname}}</div>
        	<div><b>gender:</b> {{data.sender_gender}}</div>
			<div><b>Age:</b> {{data.sender_age}}</div>			
			<div><b>Location:</b> {{data.sender_location}}</div>
			<div><span style=""><b>Date received:</b> {{data.date | amCalendar}}</span></div>
        </div>
	
	</div>
	<div class="p-1">				
		<p style="display: block;padding: 10px 0">Dear {{checkLogIn.title}} {{checkLogIn.firstname}},<br>
		<span>{{data.sender_firstname}} {{data.sender_lastname}} request for your consultation. Below are the details of the request:</span></p>
		<p style="" ng-bind-html="data.message"></p>
		<span>Consultation fee do apply if you accept this request.</span>
	</div>	   


	<div class="p-1">Regards, <span style="display:block"><b>Applinic Management</b></span></div>

	<div class="p-1">
	<button class="btn btn-success btn-sm" ng-click="accept()">Accept</button>
	<button class="btn btn-danger btn-sm" ng-click="decline()">Decline</button>
	<button class="btn btn-info btn-sm" ng-click="referToAnother()">Refer to a specialist</button>
	</div>
</div>











