

<div style="height:5px"></div>
                
<div class="container target">
    
    <div class="row">       
        
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="row">
                <div class="col-sm-12"  style="background:rgba(255,255,255, .8)">
                    <div class=" text-center userpe"><a href="">
                        <img title="profile image" class="img-responsive" ng-src="{{docInfo.profile_pic_url}}" style="max-width:200px;max-height:250px"></a>
                    </div><br>
                     <div>
                        <div class="title">{{(docInfo.title) ? docInfo.title : "Dr."}} {{docInfo.firstname}} {{docInfo.lastname}}</div>

                        <sub class="text-muted" style="margin-top:-3px; font-size:1em;">{{docInfo.specialty}}</sub>
                        <hr>
                         <div style="font-weight:bold;padding:5px 0;">Place of work: <span style="">{{docInfo.work_place}}</span></div>
                            <div style="font-weight:bold;padding:5px 0">Address: <span style="">{{docInfo.address}} {{docInfo.city}} {{docInfo.country}}</span></div>
                            <div style="font-weight:bold;padding:5px 0">Experience: <span style="">{{docInfo.experience + " years"}}</span></div>
                            <div><a ng-href= "{{docInfo.profile_url}}" style=""  class="btn btn-success">view doctor's profile</a></div>

                     </div><br>

                     <div class="clearfix"></div>
        
                </div>
            </div>
        </div>
            <!--left col-->
             
          
        
        <div class="col-sm-12 col-md-9 col-lg-9" contenteditable="false">
           <div class="row">
              <div class="col-xs-12 col-md-12 p-0">
                <div class="panel panel-default">
                    <div class="top-bar" style="border-bottom:1px solid rgba(0,0,0,0.2);box-shadow:0px 5px 5px #ccc">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                          <button class="btn btn-simple text-danger" style="font-size: 16px" ng-click="chatLive()">Chat</button> &nbsp;&nbsp; 
                            <span class="" style="display:inline-block;" ng-cloak style="font-size: 16px">{{docInfo.title}} {{docInfo.firstname}} is <em ng-if="typing">{{typing}}</em> 
                                <em ng-if="dispalyPresence && !typing" ng-cloak>Online</em>
                                <em ng-if="!dispalyPresence" ng-cloak style="color:red">Offline</em>
                            </span>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 row " style="text-align: right;">
                             <a class="ick pull-right" href="" style="padding-right:15px" ng-click="deleteChat()" title="Delete chat"><span class="fa fa-trash-o"></span></a>
                            <a class="ick pull-right" href="" style="padding-right:15px" title="Video chat with {{docInfo.firstname}}" ng-click="videoRequest('Video Call',docInfo)"><span class="fa fa-video-camera"></span></a>
                            <!--<a  class="ick pull-right" href="" style="padding-right:15px" title="Make an audio call to {{docInfo.firstname}}" ng-click="audioRequest('Audio Call',docInfo)"><span class="fa fa-phone"></span></a>-->
                             <a class="ick pull-right" href="" style="padding-right:15px" title="Book appointment with {{docInfo.firstname}}"  ng-click="inPersonRequest('Meet In-Person',docInfo)"><span class="fa fa-calendar"></span></a>

                        </div>
                    </div>

                </div>        
            
                
                <div class="panel-body msg_container_base bg-default" id="base1" style="height: 360px">

                    <div id="sentmessage1">
                        
                    </div>
                    
                </div>
                
                <form class="panel-footer" ng-submit="sendChat1()" style="position: relative;">
                    <textarea contenteditable="true"  style="padding-top: 30px;padding-right: 30px" ng-model="user.text1"  ng-keypress="getkeys($event)" placeholder="Type a message..."> <span class="textout" >{{typeMessage}}</span> </textarea>
                    <button type="submit" class="btn btn-neutral btn-sm fa fa-send chat-send-btn" style=""></button>
                    
                </form>

            </div>
        </div>
 
        </div>
</div>
</div>



<!--<div class="panel-body msg_container_base bg-default">
                    <div ng-repeat="u in message1">
                        <div class="talk-bubble tri-right left-top" ng-if="u.received">
                            <div class="talktext">
                                <div>                      
                                    <p>{{u.received}}</p>
                           
                                </div>
                                <time datetime="2009-11-13T20:00">&nbsp;{{u.time | date: "shortTime"}}</time>                                
                            </div>
                        </div>
                        <div class="row msg_container base_sent" ng-if="u.sent">
                            <div class="talk-bubble tri-right right-top bg-info">
                                <div class="talktext">
                                    <div ng-class="{'msg_sent' : u.sent}">
                                        <p>{{u.sent}}
                                        </p>
                           
                                    </div>
                                    <time datetime="2009-11-13T20:00">&nbsp;{{u.time | date: "shortTime"}}</time>
             
                                    <i class="fa fa-check" style="font-size:10px;" ng-class="{'msg-received': u.isReceived === true}"></i>
                                    <i class="fa fa-check" style="font-size:10px;margin-left:-10px;margin-top:3px" ng-class="{'msg-received': u.isReceived === true}" ng-if="u.isSent === true">{{(u.isReceived === true) ? ' seen' : ""}}</i>    
                                </div>
                            </div>  
                        </div>                        
                    </div>
                  
                    <div>
                        <div class="messages" ng-if="typing" style="max-width: 20%;">  
                            <p> {{typing}} </p>                                
                        </div>
                    </div>
                     
                </div>-->
