<div style="font-size: 14px">
	
	<h6> <a href="{{goBack()}}"><i class="fa fa-arrow-left"></i> Back</a> &nbsp;&nbsp;&nbsp;Forwarding Investigations to a center</h6>	
	<ul style="list-style: none;display: inline-block;float: left;width: 90%;font-size: 14px">
		<li style="float: left; padding: 5px">Investigations: </li>
		<li style="float: left; padding: 5px" ng-repeat="test in testToRun">@ {{test.name}}</li>
	</ul>	

	<form style="display: inline-block;">
		<div style="float: left;padding: 10px">
		<label>Country</label>
		<input type="" name="country" ng-model="criteria.country" class="form-control" >
		</div>
		<div style="float: left;padding: 10px">
		<label>City/Town</label>
		<input type="" name="country" ng-model="criteria.city" class="form-control" style="float: left;">
		</div>
		<div style="float: left;padding-top: 40px">
		<label>&nbsp;</label>
		<input type="button" ng-click="findCenter()" value="find" class="btn btn-success">
		</div>
	</form>

	<div>
		<p style="padding: 5px" class="shadow">Search result ( {{centerLists.length}} ) centers in {{criteria.city}} {{criteria.country}} <span class="text-danger" ng-if="centerLists.length === 0">{{message}}</span> <input type="text" name="address" placeholder="Filter by address or center name" ng-model="criteria.address"></p>
		<div ng-repeat="center in centerLists | filter : criteria.address || criteria.name" class="shadow" style="padding-left: 20px;width: 70%;position: relative;max-height: 600px;overflow-y: auto;">
			<img src="{{center.profile_pic_url}}" style="max-width: 40%; max-height: 72px;float: left;">
			<article style="display: inline-block;padding-left: 20px;width:60%">
				<strong>{{center.name}}</strong>
				<address><i class="fa fa-globe"></i> {{center.address}}</address>
				<address><i class="fa fa-phone"></i> (+234) {{center.phone}}</address>
				<i class="fa fa-share btn btn-simple" aria-hidden="true" style="color:green;position: absolute;right: 10px; bottom: 10px;font-size:18px;cursor:pointer;padding: 5px 15px" title="Forward above investigations to {{center.name}}"  ng-click="forwardInvestigtion(center)"></i>
				
			</article>
		</div>
	</div>
</div>