<div class="card p-2 card-center-1" >
        <div>
            <div class="col-md-7">
                <h5 class="text-muted">Consultation Requests ( {{consultation.length}} )</h5>
                <input type="text" name="" placeholder=" Search list" ng-model="consults" class="form-control">                
            </div>
            <div class="clearfix"></div>
            <div class="col-md-8 mt-2" ng-repeat="j in consultation | orderBy: '-date' | filter : consults" style="position: relative;">               
                <img src="{{j.sender_profile_pic_url}}" style="height: 75px;width: 75px">                
                <div style="position: absolute;right: 30px; top: 11px">
                   <span style="display: block;"><label style="width: 120px;float: left;" class="ellipsis">{{j.sender_firstname}} {{j.sender_lastname}}</label>&nbsp;&nbsp;
                   <span am-time-ago="j.date" class="text-muted"></span></span>
                   <button class="btn btn-neutral btn-sm" ng-click= "view(j)">View details</button>&nbsp;&nbsp;
                   <button class="btn btn-info btn-sm" ng-click="acceptOnce(j)" ng-show="!j.loading">Accept</button>&nbsp;&nbsp; <button class="btn btn-neutral btn-sm" ng-show="j.loading"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></button>

                </div>                
            </div>
            <p ng-show="consultation.length == 0" style="text-align: center;padding-top: 30px">You have no consultation requests at the moment</p>            
        </div>	
		<!--<div>
			<h6 class="text-muted "><i class="fa fa-envelope"></i> Messages</h6><br>
			<ul class="landing-ul ">
				<li  ng-repeat = "msg in allMsg | orderBy: '-date'" class="landing">
                    <div class="notification-item msg-drp-list" ng-click= "viewBill(msg.message_id)" ng-if="msg.category === 'outPatientBilling' && msg.category !== 'need_doctor'" style="cursor: pointer;">
                       
                        <div class="body-col">
                            <p> <span class="accent" ng-cloak>{{msg.firstname}}</span> <span style="display:block">{{msg.message}}</span> <small am-time-ago="msg.date" style="display:block" ng-cloak></small> </p>
                        </div>
                    </div>
                    <div class="notification-item" ng-click= "viewResponse1(msg.user_id,msg.complaint_id)" ng-if="msg.category === 'need_doctor' && msg.category !== 'outPatientBilling' " style="cursor: pointer;">
                      
                        <div class="body-col">
                            <p> <span class="accent" ng-cloak>Ref {{msg.complaint_id}}</span> <span style="display:block">{{msg.message}}</span> <small am-time-ago="msg.date" style="display:block" ng-cloak></small> </p>
                        </div>
                    </div>
                    <div class="notification-item" ng-click= "viewMessage(msg.user_id,msg)" ng-if="msg.category !== 'need_doctor' && msg.category !== 'outPatientBilling'" style="cursor: pointer;">
                        <div class="img-col">
                            <div class="img" style="background-image: url({{msg.profile_pic_url}})"></div>
                        </div>
                        <div class="body-col">
                            <p> <span class="accent" ng-cloak>{{msg.title}} {{msg.firstname}} {{msg.lastname}}</span> <span style="display:block" ng-class="{'text-danger': msg.reason}" ng-cloak>{{msg.message}}</span> <small style="display:block" am-time-ago="msg.date" ng-cloak></small></p>
                        </div>
                    </div>
                </li>
			</ul>
		</div>-->
	</div>