<div class="card-center-1">
    <a href="#/manage-patients" class="btn btn-neutral"><i class="fa fa-arrow-left"></i> Back</a>
</div>
<div class="card-center-1">
    <h4 class="h4"><i class="fa fa-folder-open text-warning"></i> E-case Records</h4>
</div>
                
<div class="target" style="position: relative;">
    
   
        
        
        <div class="card p-2 card-center-1">

            <div>
                
             <div class="offset-sm-0 userpe col-md-4"><a href="">
                <img title="profile image" src="{{patientInfo.profile_pic_url}}"></a>
                <div class="mt-1" style="text-align: center;"> 
                    <b ng-cloak style="font-size: 14px;color: green">
                        <em ng-if="typing">{{typing}}</em> 
                        <em ng-if="patientOnlineStatus && !typing" class="text-primary" ng-cloak>Online</em>
                        <em ng-if="patientOnlineStatus == false" ng-cloak style="color:red">Offline</em>
                    </b>
                </div>
            </div>
             <div class="col-md-8">
                <h6 class="mb-0 pb-0"><b>{{patientInfo.title}} {{patientInfo.firstname}} {{patientInfo.lastname}}</b>
                </h6>
                <div class="pb-1">
                     <span class="block">{{patientInfo.age}}</span>
                     <span class="block">{{patientInfo.gender}}</span>
                    <!--<sub class="text-muted" style="margin-top:-3px; font-size:1em;">{{patientInfo.body_weight}}</sub><br> -->     
                     <span class="block">{{patientInfo.phone}}</span>
                     <span class="text-muted block">{{patientInfo.city}} {{patientInfo.country}}</span>
                    
                </div>
                 <div class="mt-2 pl-0">
                    <a href="" style="padding-left:15px"  class="btn btn-simple btn-sm" ng-click="viewChat2()" title="chat with {{patientInfo.firstname}}"><i class="fa fa-comment"></i></a>

                    <a href="" style="padding-left:15px"  class="btn btn-sm btn-simple" ng-click="audioChat(patientInfo)" title="Audio with {{patientInfo.firstname}}"><i class="fa fa-phone"></i></a>
  
                    <a class="btn btn-sm btn-simple" href="" style="padding-left:15px" title="Video chat with {{patientInfo.firstname}}" ng-click="videoRequest('video',patientInfo)"><span class="fa fa-video-camera"></span></a>
                     <a class="btn btn-sm btn-simple" href="" style="padding-left:15px" title="Book appointment with {{patientInfo.firstname}}"  ng-click="appointment(patientInfo)"><span class="fa fa-calendar-alt"></span></a>
                </div>
                <div class="mt-2 pl-0">
                    <a href="" class="btn btn-sm btn-simple" ng-click="inviteOnline(patientInfo)" ng-show="!inviteSent">Invite Online</a><span ng-show="inviteSent">invitation sent! </span>
                    <a href="" class="btn btn-primary btn-sm" ng-click="consultationFee()">Consultation Fees</a>
                </div>
              
               
             </div>

            <div class="clearfix"></div>
            <br>
            <section class="">
           
             <h6 class="mb-1"> <a href="">Medical Records</a></h6>
           
          

            <a href="{{'#/e-case-prescription/' + patientInfo.user_id }}" class="ick grayish" ng-class="{'btn-info': isToPrescribe}" style="position:relative;padding: 15px 10px"><i class="icon-Pills text-primary"></i> Prescription  <span>( {{patientInfo.medications.length}} )</span>
                 <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
            </a>

            <a href="{{'#/e-case-laboratory/' + patientInfo.user_id }}" class="ick grayish" ng-click="viewLabReport()" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-microscope text-primary">
              </i> Laboratory   <span>( {{patientInfo.medical_records.laboratory_test.length}} )</span>
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
              <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>

          
            <a href="{{'#/e-case-radiology/' + patientInfo.user_id }}" class="ick grayish" ng-click="viewRadioReport()" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-radiation text-primary">
              </i> Radiology  <span>( {{patientInfo.medical_records.radiology_test.length}} )</span>
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span> 
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>

            <a href="#{{'/e-case-ultra-sound/ + patientInfo.user_id'}}" class="ick grayish" ng-click="" ng-show="patientInfo.gender == 'Female'" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-radiation-alt text-primary">
              </i> Ultra-Sound   <span>( {{patientInfo.medical_records.ultra_sound_result.length}} )</span> 
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>


            <a href="#{{'/e-case-ecg/' + patientInfo.user_id}}" class="ick grayish" ng-click="" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-radiation-alt text-primary">
              </i> ECG   <span>( {{patientInfo.medical_records.ecg_result.length}} )</span> 
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>

            <a href="#{{'/e-case-endoscopy/' + patientInfo.user_id}}" class="ick grayish" ng-click="" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-search text-primary">
              </i> Endoscopy  <span>( {{patientInfo.medical_records.endoscopy_result.length}} )</span>  
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>


           

             <a href="#{{'/e-case-other-procedures/' + patientInfo.user_id}}" class="ick grayish" ng-click="" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-file-alt text-primary">
              </i> Other Procedures  <span>( {{patientInfo.medical_records.other_procedures.length}} )</span>
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>

              <a href="#{{'/e-case-chart/' + patientInfo.user_id}}" class="ick grayish" ng-click="viewPatientChart(patientInfo)" ng-class="{'btn-info': isOutChart}"  style="position:relative;padding: 15px 10px">
                <i class="fa fa-bar-chart text-primary" title="Blood Pressure, Blood Sugar, Temperature etc, Charts">
                </i>Chart (BP,BS,Temp etc)
                <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
            </a>


            <a href="#{{'/e-case-medical-reports/' + patientInfo.user_id}}" class="ick grayish" ng-click="" ng-class="{'btn-info': isToViewLabPrescriptionReq}" style="position:relative;padding: 15px 10px">
              <i class="fa fa-file text-primary">
              </i> Medical Reports <span>( {{patientInfo.medical_reports.length}} )</span>
               <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                <!--<span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>-->
            </a>

            <!--<a href="" class="ick grayish" ng-click="viewLabPrescriptionRequest()" ng-class="{'btn-info': isToViewLabPrescriptionReq}">
              <i class="fa fa-flask text-info"  style="position:relative">
              </i> Other Laboratory  
                <span class="tag tag-info pull-right" ng-if="labLen > 0">{{labLen}}</span>
            </a>


            <a href="" class="ick grayish" ng-click="viewRadioPrescriptionRequest()" ng-class="{'btn-info': isToViewRadPrescriptionReq}">
            	<i class="fa fa-flask text-warning" style="position:relative" title="Patient recent radiology test for your prescription">
                </i> Other Radiology
                <span class="tag tag-info pull-right" ng-if="radioLen > 0">{{radioLen}}</span>
            </a>-->
            <!--<a href="" class="ick grayish" ng-click="viewSession()" ng-class="{'btn-info': isToViewSession}" style="position:relative;padding: 15px 10px"><i class="fa fa-folder-open text-primary"></i> Treatment Sessions
              <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
             </a>

            <a href="" class="ick grayish"  ng-click="viewMedicalHistory()" ng-class="{'btn-info': isToSeeRecord}" style="position:relative;padding: 15px 10px" ><i class="fa fa-medkit text-primary"></i> <span>Imported Medical Records</span> 
             <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
            </a>-->

             <a href="#{{'/e-case-refer-specialist/' + patientInfo.user_id}}" class="ick grayish" ng-click="referToAnother()" ng-class="{'btn-info': isOutRefer}" style="position:relative;padding: 15px 10px">
                <i class="fa fa-user-md text-primary"  style="position:relative" title="Refer this patient to a specialist.">
                </i> Refer to a Specialist

                 <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
                
            </a>

            <a href="{{'#/e-case-generate-bill/' + patientInfo.user_id}}" class="ick grayish"  style="position:relative;padding: 15px 10px">
                <i class="fa fa-money text-primary" style="position:relative" title="Bill patient for completed medical care expenses">
                </i> Generate Bill
                 <span class="fa fa-arrow-right text-muted text-primary" style="position: absolute;right: 10px;bottom: auto;"></span>
            </a>
           
           
            </section>


           
      </div>
</div>

        
