<div class="tg-widget p-2 card tg-widget-doctor" ng-controller="patientProfileEditController">
    <!--<h5 style="border-bottom: 1px solid rgba(0,0,0,0.3); width: 35%">Edit Profile Picture </h5>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">          
            <img alt="image description" ng-src="{{userData.profile_pic_url}}" style="width: 200px;height: 200px">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">  
           <h5 style="font-weight: 100">Tips:</h5>
           <ul style="margin-bottom: 10px">
                <li>
                    File size must be less than 2mb.
                </li>
                <li>
                    Picture must be a portrait
                </li>
                <li>
                    File extension accepted are png and jpeg.
                </li>
           </ul>
           <div>
               <input type="file" name="file" id="file" file-model = "user.profilepic"/>
                <button ng-click="update('patient')" style="background-color:rgba(0,200,0,0.8); padding:10px 105px; color:#fff;border-radius:5px;margin:10px auto">Upload</button>
           </div>

        </div>
    </div>-->
    <div class="row">        
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h5 style="font-weight: 100;padding: 10px 5px;width: 30%;border-bottom: 1px solid rgba(0,0,0,0.3)"> Edit Profile </h5>
            <form class="form-group" ng-submit="sendUpdate()" style="width: 60%">
                <div  class="p-1">
                    <input type="text" placeholder="Center Name" class="form-control" name="" ng-model="centerInfo.name">                    
                </div>
                 <div  class="p-1">
                    <input type="text" placeholder="Center Address" class="form-control" name="" ng-model="centerInfo.address">                    
                </div>
                <div  class="p-1">
                    <input type="text" placeholder="Center City" class="form-control" name="" ng-model="centerInfo.city">                    
                </div>
                <div  class="p-1">
                    <input type="text" placeholder="Center Country" class="form-control" name="" ng-model="centerInfo.country">                    
                </div>

                <div  class="p-1">
                    <button  class="btn btn-danger"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(status) ? "Updated successfully!" : 'Submit' }}</button>                    
                </div>
            </form>
        </div>
    </div>
                             
</div>
