

<div class="col-sm-12 col-md-12 col-lg-12 card-center-1">
<!--<header style="padding: 0 10px 10px; font-size: 18px;font-weight: bold;"><i class="fa fa-arrow-left" style="cursor: pointer" ng-click="refresh()" ng-if="refInfo.radiology.test_to_run.length > 0"> &nbsp;Back</i></header>-->
	<div class="row">
		
	<!--<header  class="col-sm-12 col-md-3 col-lg-3" ng-if="!reportSuccess">
		<div class="card"  style="text-align: center">
			<img src="{{refInfo.radiology.patient_profile_pic_url}}" style="max-width: 100%; max-height: auto;">
			<div>
				<strong>{{refInfo.radiology.patient_firstname}} {{refInfo.radiology.patient_lastname}}</strong> 
				<span style="display: block"> (Patient)</span>
			</div>
			<hr>
			<div style="padding: 5px;text-align: left;">
				<span>{{refInfo.radiology.patient_address}}</span>
			</div>	
			<hr>
			<div style="padding: 5px;text-align: left;">
				<span> Age | &nbsp;{{refInfo.radiology.patient_age}}</span>  
				<span style="display:block;padding-top: 20px">Sex | &nbsp;{{refInfo.radiology.patient_gender}}</span> 
				<span style="display:block;padding-top: 20px">Phone | &nbsp;{{refInfo.radiology.patient_phone}}</span>
			</div>	
		</div>
	</header>-->
	
	<div ng-if="refInfo.radiology.test_to_run.length > 0" class="col-sm-12 col-md-12 clo-lg-12">
		<div class="row">
			
			<div class="col-sm-12 col-md-12 col-lg-12 card pt-2" ng-if="hasSent && !isPreview">
			<div style="display: inline-block;float: left">
					<img src="{{refInfo.radiology.patient_profile_pic_url}}" style="max-width: 150px; max-height: 150px;">
				</div>
				<div style="display: inline-block;padding-left: 10px">
					<strong style="display: block;" class="ellipsis">{{refInfo.radiology.patient_title}} {{refInfo.radiology.patient_firstname}} {{refInfo.radiology.patient_lastname}}</strong>
					<span style="display: block;">{{refInfo.radiology.patient_gender}}</span>
					<span style="display: block;">{{refInfo.radiology.patient_age}}</span>					
					<span style="display: block;">{{refInfo.radiology.patient_phone}}</span>
					<span style="position: absolute; top: 25px;right: 20px;color: darkRed" am-time-ago="refInfo.date"></span>
					<i class="fa fa-check-circle" style="font-size: 42px;color: #85CE36;position: absolute; top: 65px; right: 40px;" ng-if="refInfo.radiology.is_paid || paymentStatus"></i>
				</div>
				<div class="clearfix"></div>
				<hr>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview">
					 <div class="mb-0 mt-0 pl-0 font-1_2" style="display: inline-block;padding-bottom: 5px"><b>Clinical Summary </b></div>
					<p class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.radiology.clinical_summary">
						<em>{{refInfo.radiology.clinical_summary}}
						</em>
					</p>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview">
					 <div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>Indication </b></div>
					<p class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.radiology.indication">
						<em>{{refInfo.radiology.indication}}
						</em>
					</p>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview && refInfo.radiology.patient_gender === 'female'">
					 <div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>Parity</b></div>
					<p class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.radiology.parity">
						<em>{{refInfo.radiology.parity}}
						</em>
					</p>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview && refInfo.radiology.patient_gender === 'female'">
					 <div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>LMP </b></div>
					<p class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.radiology.lmp">
						<em>{{refInfo.radiology.lmp}}
						</em>
					</p>
				</div>
					
		
		
				<div class="col-sm-12 card" style="padding:20px" ng-if="!isPreview">					
					<div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>Tests To Run</b></div>
    				<div class="mt-1"  ng-repeat = "test in refInfo.radiology.test_to_run" >
						<label class="custom-control custom-checkbox">
		    				<input type="checkbox" ng-model="test.select"  class="custom-control-input">
		    				<span class="custom-control-indicator"></span>
		    				<span class="custom-control-description">{{test.name}}</span>
    					</label>
    				</div>
				</div>	
					

				<p style="padding:30px"><i class="fa fa-warning text-danger"></i>  If <strong>any</strong> of the tests to run services above is <b>not</b> available in your center please <b>uncheck it (if checked)</b> and <a href="" style="color: #85CE36;font-size:16px;text-decoration: unset;" ng-click="redirectTest()"> refer to another center.</a> Unchecked test is regarded as <b>not</b> available service in your center.</p>
				

		</div>

		<div class="row" ng-if="!reportSuccess">
			<div class="col-sm-12 col-md-12 col-lg-12" ng-if="hasSent">

				<div id="accordion">
                <!--<h6 style="color: #fff;padding:5px;margin:15px 0 20px">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="background-color:#e97147; font-size: 14px;color:#fff;border-radius:10px;padding:10px;margin-right: 20px">Bill Patient</a>
                     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="background-color:#e97147; font-size: 14px;color:#fff;border-radius:10px;padding:10px" ng-click="result(refInfo)"ng-if="!isPreview">Enter test result</a>
                </h6>                 
                <div style="list-style:none;font-size:16px" id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven"> -->
                <div style="padding: 20px" class="card" ng-if="!isPreview">
                	<article ng-if="!otpMsg && !paymentStatus">
	                	<div class="mb-0 mt-0 pl-0 font-1_2"  style="border-bottom: 4px solid #85CE36;display: inline-block;padding-bottom: 5px"><b>Compute Cost</b></div>
                	 <p class="danger-mine" ng-if="compute && compute !== '' ">{{compute}}</p>                            
                     <table class="table table-responsive">
                    
                     	<tr>
                     		<thead>
                     			<th>Test name</th>
                     			<th>Cost</th>
                     		</thead>
                     	</tr>
                     	<tr>
                     		<tbody ng-repeat = "j in testsForSurchage">
                     			<td style="width: 55%;padding:10px;color:#000">{{j.name}}</td>
                     			<td style="width: 45%"><input type="number" ng-model="j.amount" style="padding:10px"></td>
                     		</tbody>
                     	</tr>
                     </table>
                     <div>
                     	<strong class="text-success">Total : <em>{{str}}</em></strong>
                     	<strong style="display: block;" class="text-success">You'll receive : {{commissionedAmount}} &nbsp;<span style="font-weight: normal;">( platform {{checkLogIn.city_grade}}% discount applied )</span></strong>
                     	<button class="btn btn-danger" style="float: right;" ng-click="sendBill(refInfo.radiology.patient_id,resend)" ng-if="grabRawAmount > 0"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> Request Payment </button>
                     </div>
                     </article>
                     <article ng-if="otpMsg">
                     	<div  class="p-2 col-md-12" class="text-center text-success font-1">
                     		<p class="bg-warning p-1 text-danger" ng-if="otpError">{{otpError}}</p>
							<p class="text-muted">{{otpMsg}} </p>
							<p>
					            Cannot receive SMS?  <a href="" ng-click="sendBill(refInfo.radiology.patient_id,resend)" class="text-info">Re-send OTP via SMS</a> <b> or </b> Try making a phone call to get the OTP code<br>
					            <a href="" ng-click="call(refInfo.radiology.patient_id,resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
					        </p> 	
					        <p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>		
							<input type="text" class="form-control" placeholder="Enter OTP you sent to this patient" ng-model="lab.otp" ng-if="grabRawAmount > 0">
							<div style="padding-left: 5px;text-align: center;">
								<button class="btn btn-success" ng-click="verifyPay(refInfo)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>  Confirm</button>
							</div>
							<p class="text-success">Amount: {{str}}</p>
							<p ng-if="grabRawAmount <= 0"><span class="text-danger">Report will not be sent, patient is not billed for the service(s)</span>
							</p>							
						</div>
						<!--<div class="p-2 col-md-3">
							
							
							<div>
								<a href="" ng-click="sendBill(refInfo.radiology.patient_id,resend)"><i class="fa fa-refresh"></i> Resend OTP</a>
							</div>
						</div>-->
                     </article>

                     <article ng-if="refInfo.radiology.is_paid || paymentStatus">
                     	<div class="p-2">
                     		<i class="fa fa-check-circle" style="font-size: 42px;color: #85CE36;float: left;"></i>
                     		<aside style="padding: 20px;display: inline-block;margin-top: -20px">
	                     		<strong style="">Payment has been made for this service successfully!</strong>
	                     		<span style="display: block;"><b>Amount Paid:</b> {{paymentDetail.amount}}</span> 
	                     		<span ><b>Date:</b> {{paymentDetail.date | date: "mediumDate"}} ( <span am-time-ago="paymentDetail.date"></span> ) </span>
	                     		<span style="display: block;"><b>Time:</b> {{paymentDetail.date | date: "shortTime"}}</span>
                     		</aside>
                     	</div>
                     </article>
                     <div>&nbsp;</div>
                </div>


               
               	<!--<p style="text-align:center; text-decoration: underline" ng-if="hasPreviewed"><button ng-click="result(refInfo)">Enter test result</button></p>-->
				
				<!-- for accordion <div ng-if="isResult" id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">-->
				<!--<div style="padding:20px" class="card" ng-if="!isPreview">
					<h4 class="mb-0 mt-0 pl-0 font-1_4">Specimen collected: </h4>
					<ul style="list-style: none;">
						<li ng-repeat="item in specimen" style="display: inline-block;padding: 20px;float: left">
							<input type="checkbox" name="" ng-model="item.status">
							<span>{{item.name}}</span>
						</li>
					</ul>
				</div>-->

				<div ng-if="isResult && refInfo.radiology.is_paid || paymentStatus"  style="padding: 20px" class="card">
					
					<p style="text-align:right; text-decoration: underline" ng-if="isRefresh"><button ng-click="refresh()" class="fa fa-refresh"> Refresh</button></p>
					
						
					<div ng-if="!isPreview">
					<div class="mb-0 mt-0 pl-0 pt-2 font-1_2"  style="border-bottom: 4px solid #85CE36;display: inline-block;padding-bottom: 5px"><b>Report Entry</b></div>
					<form>
						<div class="row">
						<p class="danger-mine pl-1" ng-if=" incomplete && incomplete !== ''">{{incomplete}}</p>
						<div class="form-group col-md-12 col-lg-12 col-sm-12" ng-repeat="report in testReport">
							<label class="font-1_1 pt-1">{{report.name}} Test Report:</label>
							<textarea placeholder="Write..."  class="form-control"  ng-model="report.data" required= "required" style="height: 250px"></textarea>						
						</div>
						<div class="form-group col-md-6 col-md-12 col-lg-12 col-sm-12">
						<label class="font-1_1 mt-2">CONCLUSION:</label>
						<textarea  class="form-control" placeholder="Write..." required ng-model="lab.conclusion" style="height: 200px"></textarea>
						</div>
						
						</div>							
							
					</form>			
					</div>

					<div ng-if="!isPreview" >	
						<div class="mt-2 pl-0 mb-2 font-1_2"  style="border-bottom: 4px solid #85CE36;display: inline-block;padding-bottom: 5px"><b>Add Radiology Imagery</b></div>
						<div class="col-sm-12 col-md-12 col-lg-12">	
							<div>						
								
								<label class="custom-control custom-radio">
				    				<input type="radio" value="jpeg" ng-model="radio.type" class="custom-control-input">
				    				<span class="custom-control-indicator"></span>
				    				<span class="custom-control-description font-1_1"><b> Upload JPEG, PNG, etc images</b> ( Not standard for radiology viewing and reporting ) </span>
		    					</label>
		    					<div></div>
		    					<label class="custom-control custom-radio">
				    				<input type="radio" value="dicom" ng-model="radio.type" class="custom-control-input">
				    				<span class="custom-control-indicator"></span>
				    				<span class="custom-control-description font-1_1"> <b>Upload Standard DICOM Images to Applinic cloud services</b>( Standard for Radiology Viewing and Reporting ) </span>
		    					</label>
								<hr>
							</div>						
							<form enctype="multipart/form-data" ng-if="radio.type === 'jpeg'">
								<input type="file" name="file" id="file" file-model = "radio.scanImage" multiple="multiple">
								<!--<button class="btn btn-simple" ng-click="upload()">Upload image</button>-->
								<div style="display: inline-block;" ng-if ="progressVisible == true">
							        <div class="percent">{{progress || '100'}}%</div>
						            <div class="progress-bar">
						                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
						            </div>
							    </div>
							  	<p ng-if="progress && progress !== 100" class="danger-mine">{{uploadStatus}}</p>
								
							</form>
							<div ng-if="radio.type === 'dicom'" style="background-color: rgba(0,0,0,0.3);padding: 10px;color: #fff">							
								<p> From Network Settings on MODALITY or DICOM VIEWER, Enter the following under <br><b>PACS Destinations:</b> <em style="display: block;">AE Title = APPLINIC</em> <em style="display:block"> IP address = 192.234.646.78</em>						
								Save settings then select study from Worklist and send to APPLINIC cloud services. Viewing by your radiologist, physician and other third party require OTP.

								<em style="display:block;padding-top: 20px">Set <b>Accession Number</b> for these investigations to <b>{{dicomPath}}</b> before sending to APPLINIC cloud services.</em>
								</p>
							</div>
							
						</div>
						
						<div class="clearfix"></div>
						<div class="form-group col-md-12 col-sm-12" ng-if="isFilled === true" style="margin-top:30px">
	                 		<button class="btn btn-info" style="float: right;" ng-click="previewTestResult(refInfo)">Preview</button>
	                 	</div>		
					</div>

					
				</div>
            </div>


				
				<div ng-if="isPreview">
					<div class="card pb-2">
					<div ng-if="!otpMsg" style="padding: 10px">
						<!--<h5 class="p-1" style="font-weight:200; border-bottom:1px solid #ccc;">Preview</h5>-->
						<div class="row p-2" id="print-section">
							<div class="col-sm-12 col-md-8 col-lg-8 pl-0">
								<img src="{{checkLogIn.profile_pic_url}}" style="width:82px;height:82px; float:left">
								<div style="display: inline-block;width: 300px;padding-left: 10px">
									<span style="font-size:16px;font-weight: bolder">{{checkLogIn.name}}</span>
									<span style="display: block;">{{checkLogIn.address}} {{checkLogIn.city}} {{checkLogIn.country}}</span>
									<span style="display: block;">{{checkLogIn.email}}</span>
									<span style="display: block;">{{checkLogIn.phone}}</span>									
								</div>							
							</div>
							<aside class="col-sm-12 col-md-4 col-lg-4 pl-0">	
								<div id="patientInfo">
									<b>Name:</b> {{refInfo.radiology.patient_firstname}} {{refInfo.radiology.patient_lastname}}<br>
									<b>Age:</b> {{refInfo.radiology.patient_age}} <br>
									<b>Gender:</b> {{refInfo.radiology.patient_gender}}<br>
									<b>Date: </b>{{reportDate | date: "mediumDate"}}<br>
									<b>Ref NO:</b> {{refInfo.ref_id}} <br>
								</div>
							</aside>
							<div class="clearfix"></div>				
							<hr class="bg-simple">
							<h6>Clinical Summary</h6>
							<p style="padding:10px 20px">{{refInfo.radiology.clinical_summary}}</p>
							<h6>Indication</h6>
							<p style="padding:10px 20px">{{refInfo.radiology.indication}}</p>
							<hr class="bg-simple">
							<h6>Investigation:</h6>
							<ul>
								<li ng-repeat = "test in refInfo.radiology.test_to_run"">{{test.name}}</li>
							</ul>
							<!--<hr class="bg-warning">
							<h6>Specimen collected:</h6>
							<ul>
								<li ng-repeat="sample in specimen" ng-if="sample.status == true">{{sample.name}}</li>
							</ul>-->
							<hr class="bg-simple">
							<h6 class="pb-2">Findings: </h6>
							
							<div class="text-success pl-1 font-1_1 m-0 pt-1" ng-repeat="picked in preTest"><b class="text-danger">{{picked.name}}: </b> <span style="display: block;padding: 20px;background-color: #d7dde;">{{picked.data}}</span></div>
							<div class="text-success pl-1 font-1_1 pt-1"><b class="text-danger">Conclusion: </b> <span style="display: block;padding: 20px;background-color: #d7dde;">{{lab.conclusion}}</span></div>
							<div ng-if="files.length > 0">{{files.length}}files attached</div>
							<hr class="bg-simple">
							<div class="text-info pt-1 pl-1 pb-0" style="text-transform:uppercase;" id="noFooter"><b>Total cost of service(s): </b> {{paymentDetail.amount || str}}</div>
						</div>

						<div class="pl-1 pb-1">
						<!--<small class="text-muted" ng-if="grabRawAmount > 0">
                        <i class="fa fa-warning"></i> Please confirm total cost of service before sending OTP</small>-->
                        </div>
						<button class="btn btn-simple text-danger ml-1" ng-click="edit()"> Edit </button>
						<i class="btn btn-warning mr-1 ml-1 fa fa-print" ng-print  print-element-id="print-section"></i>
						<button class="btn btn-primary" ng-click="sendTestResult(refInfo)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>{{(loading) ? "" : 'Ok,send' }}</button>
						
					</div>
					 <hr class="bg-warning">
					 
							
					<p class="pl-2">{{message}}</p>	
				</div>
				</div>
			</div>
		</div>
		<div class = "row" ng-if="isToForward">
			<div class="card p-2">
				<div class="col-sm-12 col-md-12">					
					<div class="p-0">
					<!--<button  ng-click="customGetLab()" style="cursor:pointer" class="btn btn-simple">Modify search criteria</button> &nbsp;&nbsp;&nbsp;-->
					 <a href="" ng-click="cancel()" class="btn btn-btn-neutral">Back</a>
					</div>

					<div class="p-0 pt-1 pb-1">
						<label>Search result for: <span ng-repeat="test in unRanTest" style="display:inline-block;font-weight: 100;font-style: italic;">{{test.name}},&nbsp; </span> 
                        </label>
                       
                    </div>                        
					<!--<h5  style="padding;4px; font-size:1em; color:#555; font-weight:300; ">Test <b>Not</b> ran by your center</h5>
					<span ng-repeat="test in unRanTest" style="color:blue;color:rgba(255,100,19,0.9)">{{test.name}}</span>-->
					<form style="margin-top: 20px;" >   <!--ng-if="isCriteria === true"-->						
						<input type="text" name="" placeholder="Enter city name" ng-model="user.city" class="form-control" style="width: 50%;display: inline-block;" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:20">

						<button class="btn btn btn-success" ng-click="find()">Find</button>
					</form>


					<hr>
					<div class="drug-search-result" style="max-width: 800px;overflow-y: auto">
						 <input type="text" class="form-control" style="width: 70%" placeholder="Filter by center name or address" ng-model="testFilter.name" ng-if="testResult.full.length > 1 || testResult.less.length > 1">

						<div  class="p-1" ng-repeat ="center in testResult.full | filter : testFilter.name" style="padding: 10px;position: relative;" ng-if="checkLogIn.user_id !== center.id">
							<small>{{getStr(center.str)}}</small>
							<span  style="display: block;font-weight: bold;font-size: 14px;color: green">{{center.name}}</span>
							<span>{{center.address}}</span>
							<span>{{center.city}}</span>
							<span>{{center.country}}</span>							
							<span style="display: block;"><i class="fa fa-phone"></i> {{center.phone}}</span>
							<button  class="btn btn-warning btn-sm" ng-click="toForwardToCenter(center)" style="position: absolute;right: 10px;bottom: 15px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="center.loading"></i>{{(center.status) ? "sent!" : ''}}<i class="fa fa-share" title="Forward {{getStr(center.str)}} to {{center.name}}" ng-if="!center.status && !center.loading" ></i></button>  
						</div>
						<div style="width: 70%;margin: 0 auto;padding-top: 30px" ng-if="loading">
							<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 18px" ng-if="loading"></i>
						</div>
						<div class="p-1" ng-repeat="center in testResult.less | filter : testFilter.name" style="padding: 10px;position: relative;" ng-if="checkLogIn.user_id !== center.id">

							<small>{{getStr(center.str)}}</small> 
							<span style="text-decoration:line-through">{{notStr(center.notFound)}}</span>
							<span  style="display: block;font-weight: bold;color: green">{{center.name}}</span>
							<span>{{center.address}}</span>
							<span>{{center.city}}</span>
							<span>{{center.country}}</span>
							<span style="display: block"><i class="fa fa-phone"></i> {{center.phone}}</span>
							<button  class="btn btn-warning btn-sm" ng-click="toForwardToCenter(center)" style="position: absolute;right: 10px;bottom: 15px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="center.loading"></i>{{(center.status) ? "sent!" : ''}}<i class="fa fa-share" title="Forward {{getStr(center.str)}} to {{center.name}}" ng-if="!center.status && !center.loading" ></i></button>  
						</div>
						<div class="clearfix"></div>
						<div ng-if="testResult.less.length === 0 && testResult.full.length === 0">
							<p style="text-indent:20px;color: red">No result found!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	
</div>

<div ng-if="refInfo.radiology.test_to_run.length === 0" class="col-sm-12 col-md-9 clo-lg-9">
	<div ng-if="!reportSuccess">
		<div class="row">			
			<div class="col-sm-12 col-md-12 clo-lg-12 card">
				<h5 class="bg-info mb-1" style="padding:10px; color: #fff">HISTORY</h5>
				<textarea ng-model="refInfo.history"  class="form-control" style="height:90px; padding:7px;" placeholder="Write...">
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 clo-lg-12 card">
				<h5 class="bg-info mb-1" style="padding:10px; color: #fff">TEST TO RUN</h5>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right" style="padding-left: 20px;max-height: 300px;overflow-y:auto">
						<ol>
							<li ng-repeat="i in testList" style="position: relative;padding-bottom:20px" ng-if="i.name">{{i.name}} 
							<i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey;position: absolute;right:20px;top:5px" ng-click="remove(i.sn)" ng-if="i.name"></i>						
							</li>
						</ol>

						<div style="padding-top: 30px" ng-if="testList.length > 1">
							<input type="button" value="Ok,continue" class="btn btn-primary" ng-click="testToRunFilled()">
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6" >
						<div ng-repeat="j in inputctrl">				
							<input name="states" id="states" type="text" placeholder="Choose test name" ng-model="test.name" uib-typeahead="test.name for test in tests | filter:$viewValue | limitTo:20" class="form-control"  ng-class="{'disabled': i.name}" style="width: 100%;font-weight:bold">
							{{getTest(test.name)}}

							<i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey;position: absolute;right:20px;top:5px" ng-click="remove(i.sn)" ng-if="i.name"></i>
						</div>
						<div style="padding: 20px 0">
							<button class="fa fa-plus btn-simple"  ng-click="add(test.name)">&nbsp; Add</button> 
						</div>				
					</div>
					
				</div>

				
			</div>
		</div>
		
		
	</div>
	</div>
</div>
<div ng-if="reportSuccess">
	<p style="text-align:center;font-size:18px;color:green;padding-top:80px;height: 120px" class="card">Test report sent succesfully!</p>
</div>

<div style="height: 100px">
	
</div>




