

<div>
    <div class="card card-center-1 p-2">
<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="row">		
		<div class="col-sm-6 col-md-4 col-lg-4 pull-right">
			<button class="pl-1 btn btn-info" style="margin-top: 20px;background-color: orange" ng-click="showOption()">toggle options</button>	
		</div>
		<div class="col-sm-6 col-md-8 col-lg-8">
			<h3 class="p-0">Find Patient Tests</h3>
		</div>
	</div>	
	<form ng-if="isNotOption">
		<div>
			<label style="padding: 20px 5px">Test reference Number</label>	
		</div>
        <div class="form-group">
            <div class="col-md-8 p-0">                
				<input type="text" class="form-control" placeholder="Enter reference number" ng-model="patient.ref_id" />	
        	</div>
        	<div class="col-md-4 pl-0" style="padding-top: 3px">
				<button type="submit" class="btn btn-info" ng-click="findTest()">Find</button>
			</div>
        </div>
	</form>

	<form ng-if="isOption">
         <div class="form-group">
         	<div>
         		<label style="padding: 20px 5px">Patient phone number</label>
         	</div>
            <div class="col-md-8 p-0">                
				<input type="number"  class="form-control" placeholder="Enter patient phone number" ng-model="patient.phone" />				
			</div>
			<div class="col-md-4 pl-0" style="padding-top: 3px">
				<button type="submit" class="btn btn-info" ng-click="findTest()">Find</button>
			</div>
        </div>
</form>

	<div ng-repeat="test in tests | orderBy : '-date'" class="col-sm-12 pl-0 pt-1" style="cursor:pointer;position: relative;">
		<!--<img ng-src="{{test.radiology.patient_profile_pic_url}}" style="width:82px; height: 82px">
		<span class="font-1_1">{{test.radiology.patient_firstname}} {{test.radiology.patient_lastname}}</span></br>
		<span>{{test.ref_id}}</span>-->
			<div class="p-0" style="display: inline-block;float: left;">
	        	<img  ng-src="{{test.radiology.patient_profile_pic_url}}" style="max-width:120px; max-height: 120px">
	        </div>
			<div class="pl-1 ellipsis" style="display: inline-block;float: left;width: 60%;position: relative;padding-bottom: 15px"> 
				<strong class="">{{test.radiology.patient_firstname}} {{test.radiology.patient_lastname}}</strong><br>				
				<span class="">Ref No: {{test.ref_id}}</span><br>
				<span am-Time-Ago = "test.date"></span>
				<button class="btn btn-danger" style="position: absolute;right: 5px;bottom: 10px;padding: 5px 7px;" ng-click="viewRadioTest(test)">view test</button>
			</div>  
			<div class="clearfix"></div>
	</div>
    
	<div class="alert alert-danger mt-1 text-white" ng-if="error">{{error}}</div>
	<div ng-if="loading"  style="width: 70%;text-align: center;padding-top: 20px">
		<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 20px" ng-if="loading"></i>
	</div>
</div>
    </div>
</div>