
<div class="container">
    <div class="card">

<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-9">
    <h4 style="padding-left: 30px">Update services</h4>
    <p style="padding-left: 30px">Please unmark any test not run by your center below.</p>
  </div>
  <div class="col-sm-12 col-md-3 col-lg-3" style="padding-top:30px">
	 <a href="#/radio/off-service" class="btn btn-success" style="background-color: orane;padding:15px">Tests not ran by me</a>
  </div>
</div>

<div id="accordion" class="p-2" role="tablist" aria-multiselectable="true">

   <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of X-Ray Investigation
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests1">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>


	 <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of Ultrasonography
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests2">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>

	 <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of Computerized Tomography Scan (C.T. SCAN)
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests4">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>


	 <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
        Listing of MRI
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests5">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>


	 <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
        Listing of MAMMOGRAM
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests6">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>


	 <div class="card mmine">
    <div class="card-header">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
        Others...
        </a>
    </div>
    <div>
      <div ng-repeat="test in tests7">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input" ng-model="test.val">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label>
		  </div>
    </div>
      <div style="text-align:right;">
      <button class="btn btn-success" ng-click="saveSelection()">SAVE</button>
    </div>
	</div>
















   <!--<div class="card mmine">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of Ultrasonography
        </a>
    </div>
    <div id="Ultrasonography" class="collapse" role="tabpanel" aria-labelledby="headingThree">
       <div ng-repeat="test in tests2">	
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label> 		
      </div>
    </div>
  </div>

    <div class="card mmine">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of Computerized Tomography Scan (C.T. SCAN)
        </a>
    </div>
    <div id="Tomography" class="collapse" role="tabpanel" aria-labelledby="headingThree">
       <div ng-repeat="test in tests4">	
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label> 		
      </div>
    </div>
  </div>

   <div class="card mmine">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of MRI
        </a>
    </div>
    <div id="MRI" class="collapse" role="tabpanel" aria-labelledby="headingThree">
       	<div ng-repeat="test in tests5">	
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label> 		
      </div>
    </div>
  </div>

  <div class="card mmine">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapseThree">
         Listing of MAMMOGRAM
        </a>
    </div>
    <div id="MAMMOGRAM" class="collapse" role="tabpanel" aria-labelledby="headingThree">
       	<div ng-repeat="test in tests6">
			<label class="custom-control custom-checkbox">   <input type="checkbox" class="custom-control-input">   <span class="custom-control-indicator"></span>   <span class="custom-control-description font-1_1">{{test.name}}</span> </label> 		
      </div>
    </div>
  </div>
   
</div>


	<div style="text-align:center">
		<button class="btn btn-success pull-right" ng-click="saveSelection()">SAVE</button>
	</div>-->
</div>

    </div>
